Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

Value: use std::span, change use of const
  src/libexpr/value.hh
Owners: @edolstra

Value: extract Value::StringWithContext
  src/libexpr/value.hh
Owners: @edolstra

Value: extract Value::FunctionApplicationThunk
  src/libexpr/value.hh
Owners: @edolstra

Value: extract Value::Lambda
  src/libexpr/value.hh
Owners: @edolstra

Value: extract Value::ClosureThunk
  src/libexpr/value.hh
Owners: @edolstra

Value: extract Value::Path
  src/libexpr/value.hh
Owners: @edolstra

nix-env: Use state.mkList, required for correct stats
  src/nix-env/nix-env.cc
Owners: @edolstra

Apply suggestions from code review
  doc/manual/src/language/constructs.md
Owners: @fricklerhandwerk

Release notes
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/release-notes/rl-2.19.md
  doc/manual/src/release-notes/rl-next.md
Owners: @fricklerhandwerk

Fix `make check`
  src/libutil/tests/local.mk
Owners: @edolstra

Fix buildNoGc
  src/libexpr/eval.cc
Owners: @edolstra, @inclyc

Update install-multi-user.sh
  scripts/install-multi-user.sh
Owners: @edolstra

fetchGit/fetchTree: add shallowRev option
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
  tests/functional/fetchGit-shallowRev.sh
  tests/functional/fetchGit.sh
  tests/functional/local.mk
Owners: @edolstra

Shebang parser: add virtual destructor
  src/libutil/args.cc
Owners: @edolstra

Extract SourcePath::followSymlinks()
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
Owners: @edolstra

nit: Change symlink limits from 1024 to 1000
  src/libfetchers/input-accessor.cc
Owners: @edolstra

doc: Add link to filterSource from path
  src/libexpr/primops.cc
Owners: @edolstra

followSymlinks: Improve error message
  .gitignore
  Makefile
  src/libfetchers/input-accessor.cc
  src/libfetchers/memory-input-accessor.cc
  src/libfetchers/memory-input-accessor.hh
  src/libfetchers/tests/input-accessor.cc
  src/libfetchers/tests/local.mk
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
Owners: @edolstra

flake.nix: Update nixpkgs: release-23.05 -> nixos-23.05-small
  flake.lock
  flake.nix
Owners: @edolstra

fetchTree: clarify docs for shallow flag
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

Put `canonicaliseTimestampAndPermissions` in its own header/file
  src/libstore/build/local-derivation-goal.cc
  src/libstore/local-fs-canonicalise.cc
  src/libstore/local-fs-canonicalise.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/optimise-store.cc
  src/nix-store/nix-store.cc
Owners: @thufschmitt, @edolstra

Make building only require a `LocalFSStore`
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/local-derivation-goal.hh
  src/libstore/build/worker.cc
  src/libstore/local-fs-store.hh
  src/libstore/local-store.hh
Owners: @thufschmitt

builtins.concatMap: Fix typo in error message
  src/libexpr/primops.cc
  src/libexpr/tests/error_traces.cc
Owners: @edolstra

flakes: check for flake.nix before complaining that lstat on it fails
  src/libexpr/flake/flake.cc
Owners: @edolstra

Revert use of boost::container::small_vector in the evaluator
  src/libexpr/eval.cc
  src/libexpr/primops.cc
Owners: @edolstra, @inclyc

refactor Store::buildPaths: convert to string earlier
  src/libstore/build/entry-points.cc
Owners: @thufschmitt

refactor Worker::childStarted/Terminated: use switch
  src/libstore/build/worker.cc
Owners: @thufschmitt

Mark official release
  doc/manual/src/SUMMARY.md.in
  flake.nix
Owners: @fricklerhandwerk, @edolstra

Bump version
  .version
Owners: @edolstra

Bump version
  .version
Owners: @edolstra

fetchTree: clarify docs for shallow flag
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

fetchTree: clarify docs for shallow flag
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

fetchTree: clarify docs for shallow flag
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

fetchTree: clarify docs for shallow flag
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

fetchTree: clarify docs for shallow flag
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

Fix bad_format_string error when builder stdout contains %
  src/libutil/serialise.cc
Owners: @edolstra

Fix bad_format_string error when builder stdout contains %
  src/libutil/serialise.cc
Owners: @edolstra

Don't do shallow fetches over ssh
  src/libfetchers/git-utils.cc
Owners: @edolstra

Fetch specific Git revisions
  src/libfetchers/git.cc
  tests/functional/fetchGit.sh
Owners: @edolstra

Improve SourceAccessor path display
  src/libexpr/eval.cc
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/git.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
Owners: @edolstra, @inclyc
