Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

Add deprecation notice for old nix hash conversion subcommands.
  src/nix/hash.cc
Owners: @edolstra

Further HashType renaming + using mkHashAlgoOptFlag for new conversion
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/hash.cc
  src/nix/prefetch.cc
Owners: @edolstra

Add docs/rl-notes for `nix hash convert` / `builtins.convertHash`
  doc/manual/rl-next/hash-format-nix32.md
  doc/manual/rl-next/nix-hash-convert.md
  src/libexpr/primops.cc
  src/nix/hash.cc
Owners: @fricklerhandwerk, @roberth, @edolstra

Store.xs: fix references to HashFormat::Nix32
  perl/lib/Nix/Store.xs
Owners: @edolstra

Refactor concurrently added tests to use HashAlgorithm.
  tests/unit/libutil-support/tests/hash.cc
Owners: @edolstra

Update src/libexpr/primops.cc
  src/libexpr/primops.cc
Owners: @fricklerhandwerk, @roberth

hash.sh: Make failure tests more tolerant of additional output
  tests/functional/hash.sh
Owners: @edolstra

Renamed HashFormat::Base32 to HashFormat::Nix32
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
  src/libfetchers/mercurial.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/content-address.cc
  src/libstore/derivations.cc
  src/libstore/downstream-placeholder.cc
  src/libstore/export-import.cc
  src/libstore/gc.cc
  src/libstore/local-store.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/nar-info.cc
  src/libstore/optimise-store.cc
  src/libstore/parsed-derivations.cc
  src/libstore/path-info.cc
  src/libstore/path.cc
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/references.cc
  src/nix-store/nix-store.cc
  src/nix/hash.cc
  src/nix/verify.cc
  tests/functional/hash.sh
  tests/functional/lang/eval-okay-convertHash.err.exp
  tests/functional/lang/eval-okay-convertHash.exp
  tests/functional/lang/eval-okay-convertHash.nix
  tests/unit/libutil/hash.cc
Owners: @edolstra, @thufschmitt

fix(libutil/tarfile): add option to libarchive so it behaves correctly with AppleDouble files
  src/libutil/tarfile.cc
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Documentation of built-in functions
src/libexpr/primops.cc @fricklerhandwerk @roberth
# Documentation on experimental features
src/libutil/experimental-features.cc @fricklerhandwerk
# Documentation on configuration settings
src/libstore/globals.hh @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt
