Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt

Fix BuildResult.toString() for NoSubstituters
  src/libstore/build-result.hh
Owners: @thufschmitt

Add explicit case statements where -Wswitch-enum would report them
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libstore/nar-accessor.cc
  src/libutil/logging.cc
  src/nix-store/nix-store.cc
Owners: @edolstra, @thufschmitt

Fix systemd logging for lvlNotice: eqv to lvlInfo, not lvlVomit
  src/libutil/logging.cc
Owners: @edolstra

Allow open switch-enum in 5 places
  src/libexpr/eval.cc
  src/libexpr/flake/flake.cc
  src/libexpr/primops.cc
  src/libstore/filetransfer.cc
Owners: @edolstra, @thufschmitt

nix-store.cc: Refactor, remove qDefault
  src/nix-store/nix-store.cc
Owners: @edolstra

Enable -Werror=switch-enum
  local.mk
  mk/patterns.mk
  src/libexpr/local.mk
  src/libutil/logging.cc
Owners: @edolstra

Fix the flaky `nix-profile` test
  tests/nix-profile.sh
Owners: @edolstra

Apply suggestions from code review
  src/libutil/experimental-features.cc
Owners: @edolstra

only triage non-trivial pull requests
  maintainers/README.md
Owners: @fricklerhandwerk

Raise EvalError if remote is missing. Unpack archive before adding to nix store
  src/libexpr/primops/fetchGitArchive.cc
Owners: @edolstra

Assemble experimental feature docs outside of Nix itself
  .gitignore
  doc/manual/generate-xp-features.nix
  doc/manual/local.mk
  doc/manual/utils.nix
  src/libutil/config.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/nix/main.cc
Owners: @edolstra, @fricklerhandwerk

Update doc/manual/src/glossary.md
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

Update doc/manual/src/glossary.md
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

add anchor to 'local store'
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

add a definition of the nix database to the glossary
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

docs: fix nix-shell commands
  doc/manual/src/command-ref/nix-shell.md
Owners: @fricklerhandwerk

xp-flag -> xp-feature
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

Apply suggestions from code review
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

Document “experimental flags” in the manual
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

reword conditions for using experimental features
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

incorporate review comments
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

rename file
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

Live review with @fricklerhandwerk
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

remove the bugs example
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

Fix a typo in a link anchor
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

reword conditions for removing experimental guards
  doc/manual/src/contributing/experimental-flags.md
Owners: @fricklerhandwerk

Say what experimental features are, de-emphasize their origins
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

Don't forget experimental features docs in the TOC!
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

Fix 2 typos in experimental feature docs
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

experimental-features: More description
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

More cleanups to the new material I added
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

Update doc/manual/src/contributing/experimental-features.md
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

Put experimental features in glossary, link in few places
  doc/manual/src/glossary.md
  src/nix/nix.md
Owners: @fricklerhandwerk

result of pairing with @Ericson2314
  doc/manual/src/contributing/experimental-features.md
  doc/manual/src/glossary.md
  src/nix/nix.md
Owners: @fricklerhandwerk

fix link
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

remove incorrect reference
  doc/manual/src/command-ref/opt-common.md
Owners: @fricklerhandwerk

Explicitely define `LockFile::operator!=`
  src/libexpr/flake/lockfile.cc
  src/libexpr/flake/lockfile.hh
Owners: @edolstra

convert diagram to ASCII
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

Fix tests
  src/libexpr/tests/json.cc
  src/libexpr/tests/libexpr.hh
Owners: @edolstra

Backport SourcePath from the lazy-trees branch
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
  src/libcmd/editor-for.cc
  src/libcmd/editor-for.hh
  src/libcmd/installable-flake.cc
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr/attr-path.cc
  src/libexpr/attr-path.hh
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/parser.y
  src/libexpr/paths.cc
  src/libexpr/primops.cc
  src/libexpr/tests/libexpr.hh
  src/libexpr/tests/local.mk
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-xml.cc
  src/libexpr/value.hh
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix/eval.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/prefetch.cc
  src/nix/upgrade-nix.cc
  tests/plugins/local.mk
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt
