Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

make flake-registry optional
  docker.nix
Owners: @edolstra

nix help-stores: Don't include anchors
  doc/manual/utils.nix
Owners: @fricklerhandwerk

Improve store setting descriptions / Markdown formatting
  doc/manual/src/package-management/s3-substituter.md
  src/libstore/binary-cache-store.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-fs-store.hh
  src/libstore/local-store.hh
  src/libstore/remote-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
  src/libstore/store-api.hh
  src/nix/help-stores.md
Owners: @fricklerhandwerk, @thufschmitt

docker.nix: add an option to include flake-registry inside docker image (#6750)
  docker.nix
Owners: @edolstra

doc: force line breaks where needed
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

add links
  doc/manual/src/command-ref/env-common.md
Owners: @fricklerhandwerk

Fix clang build
  src/libstore/legacy-ssh-store.cc
  src/libstore/ssh-store.cc
Owners: @thufschmitt

Fix SSHStore
  src/libstore/legacy-ssh-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
Owners: @thufschmitt

Make useAnchors a named argument
  doc/manual/generate-manpage.nix
  doc/manual/local.mk
  doc/manual/utils.nix
Owners: @fricklerhandwerk

showSetting: Drop ...
  doc/manual/utils.nix
Owners: @fricklerhandwerk

Update src/libstore/local-store.md
  src/libstore/local-store.md
Owners: @thufschmitt

Update doc/manual/src/release-notes/rl-next.md
  doc/manual/src/release-notes/rl-next.md
Owners: @fricklerhandwerk

nix-channel: Restore the old root channels directory
  src/nix-channel/nix-channel.cc
Owners: @edolstra

ci: Try to install something with Nix in the installer test
  .github/workflows/ci.yml
Owners: @edolstra

ci: Update the install-nix-action
  .github/workflows/ci.yml
Owners: @edolstra

Factor out the generation of the profile/channel directory
  src/libexpr/eval.cc
  src/libstore/profiles.cc
  src/libstore/profiles.hh
  src/nix-channel/nix-channel.cc
  src/nix-env/nix-env.cc
Owners: @edolstra, @thufschmitt

Document store URLs
  src/libcmd/common-eval-args.cc
  src/libstore/globals.hh
  src/nix/help-stores.md
Owners: @edolstra, @thufschmitt, @fricklerhandwerk

Register LocalStore to ensure it's included in the manual
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/uds-remote-store.cc
Owners: @thufschmitt

Update release notes
  doc/manual/src/release-notes/rl-next.md
Owners: @fricklerhandwerk

Tweaks
  src/libstore/local-store.md
  src/nix/help-stores.md
Owners: @thufschmitt, @fricklerhandwerk

error.cc: Only suggest show-trace when truncated trace items would be printed
  src/libutil/error.cc
Owners: @edolstra

Test the installation of a simple package in the install tests
  tests/installer/default.nix
Owners: @edolstra

Filter tests/nixos from source
  flake.nix
Owners: @edolstra

Stratify `ExtraPathInfo` along `Installable` hierarchy
  src/libcmd/command.hh
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-derived-path.cc
  src/libcmd/installable-flake.cc
  src/libcmd/installable-flake.hh
  src/libcmd/installable-value.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/nix/build.cc
  src/nix/bundle.cc
  src/nix/develop.cc
  src/nix/profile.cc
Owners: @edolstra

nix-store: Use `long` for `narSize` in graphml output
  src/nix-store/graphml.cc
Owners: @edolstra

Add enable-store-path-references option
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/primops/fetchClosure.cc
Owners: @edolstra

Allow builtins.storePath in pure mode
  src/libexpr/primops.cc
  src/libexpr/tests/error_traces.cc
Owners: @edolstra

libstore+nix-build: add load-limit setting and use its value for NIX_LOAD_LIMIT env var Aimed at solving issue https://github.com/NixOS/nix/issues/7091
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/globals.hh
  src/nix-build/nix-build.cc
Owners: @thufschmitt, @edolstra

Catch eval errors in `hasContent`
  src/nix/flake.cc
  tests/flakes/show.sh
Owners: @edolstra

tests/flakes/show.sh: Broaden requirement comment
  tests/flakes/show.sh
Owners: @edolstra

Make some comments in profiles.hh doxygen-enabled
  src/libstore/profiles.hh
Owners: @thufschmitt

ssl-cert-file: Use lists
  src/libstore/globals.hh
Owners: @thufschmitt

Punt on improper global flags for now
  src/nix/main.cc
  tests/experimental-features.sh
Owners: @edolstra

Fix more profile dirs in docs
  doc/manual/src/command-ref/nix-channel.md
  doc/manual/src/command-ref/nix-store.md
  src/nix/upgrade-nix.md
Owners: @fricklerhandwerk

tests/flakes/show.sh: Broaden requirement comment
  tests/flakes/show.sh
Owners: @edolstra

Catch eval errors in `hasContent`
  src/nix/flake.cc
  tests/flakes/show.sh
Owners: @edolstra

Fix `nix profile --help`
  src/nix/profile.md
Owners: @fricklerhandwerk

Fix more profile dirs in docs
  doc/manual/src/command-ref/nix-channel.md
  doc/manual/src/command-ref/nix-store.md
  src/nix/upgrade-nix.md
Owners: @fricklerhandwerk

Documentation: list experimental features in manual
  src/libutil/config.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
Owners: @edolstra

Docs: Explain why `import nixpkgs` works in flakes
  src/libexpr/primops.cc
  src/nix/flake.md
Owners: @edolstra, @fricklerhandwerk
