Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Documentation of built-in functions
src/libexpr/primops.cc @fricklerhandwerk @roberth
# Documentation on experimental features
src/libutil/experimental-features.cc @fricklerhandwerk
# Documentation on configuration settings
src/libstore/globals.hh @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

Don't indent namespace
  src/libutil/tests/json-utils.cc
Owners: @edolstra

Slight formatting
  src/libutil/tests/json-utils.cc
Owners: @edolstra

fix: `nlohmann::adl_serializer` for `std::optional` (#9147)
  src/libutil/json-utils.hh
  src/libutil/tests/json-utils.cc
Owners: @edolstra

Improve ACL clearing support (fixing FreeBSD build)
  configure.ac
  src/libstore/local-store.cc
  src/libstore/posix-fs-canonicalise.cc
Owners: @edolstra, @thufschmitt

Add support for clearing ACLs on FreeBSD
  configure.ac
  src/libstore/posix-fs-canonicalise.cc
Owners: @edolstra, @thufschmitt

Docs build: depend on locally built nix executable and not installed one
  Makefile
  doc/manual/local.mk
Owners: @edolstra, @fricklerhandwerk

Guard uses of lutimes, for portability
  src/libfetchers/git.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
Owners: @edolstra, @thufschmitt

Don’t use `execvp` when we know the path
  src/nix/develop.cc
  src/nix/fmt.cc
  src/nix/run.cc
  src/nix/run.hh
Owners: @edolstra

Cleanup
  src/libexpr/primops.cc
Owners: @fricklerhandwerk, @roberth

Avoid `<name>/<name>` in documentation URLs
  doc/manual/_redirects
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/advanced-topics/index.md
  doc/manual/src/architecture/architecture.md
  doc/manual/src/command-ref/index.md
  doc/manual/src/contributing/hacking.md
  doc/manual/src/contributing/index.md
  doc/manual/src/installation/index.md
  doc/manual/src/package-management/index.md
  doc/manual/src/protocols/index.md
  doc/manual/src/quick-start.md
  doc/manual/src/release-notes/index.md
Owners: @fricklerhandwerk

Move restricted/pure-eval access control out of the evaluator and into the accessor
  src/libcmd/installables.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/nix-build/nix-build.cc
  src/nix-instantiate/nix-instantiate.cc
  tests/functional/restricted.sh
Owners: @edolstra, @fricklerhandwerk, @roberth

Remove superfluous use of hasAccessControl()
  src/libexpr/primops.cc
Owners: @fricklerhandwerk, @roberth

add instructions to wipe the substituter lookup cache
  src/libstore/globals.hh
Owners: @thufschmitt

Remove InputAccessor::root()
  src/libexpr/value.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
Owners: @edolstra

Add json() to AccessStatus
  src/libstore/access-status.hh
  src/nix/store-access-info.cc
Owners: @thufschmitt, @edolstra

Add protectByDefault setting
  src/libstore/build/derivation-goal.cc
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/libstore/nar-info.cc
Owners: @thufschmitt

Add runtime closure invariant
  src/libstore/build/local-derivation-goal.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libutil/acl.cc
  src/libutil/acl.hh
  tests/repl.sh
Owners: @thufschmitt, @edolstra

Run acls.sh test properly
  tests/acls.sh
  tests/init.sh
  tests/local.mk
  tests/nixos/acls.nix
Owners: @edolstra

Don't attempt to `git add` ignored files
  src/libfetchers/git.cc
Owners: @edolstra

flakeref: follow symlinks
  src/libexpr/flake/flakeref.cc
Owners: @edolstra

keep generated documentation in a separate directory
  .gitignore
  doc/manual/src/store/types/index.md.in
  src/nix/local.mk
  src/nix/main.cc
  src/nix/profile.md
Owners: @edolstra, @fricklerhandwerk

use lookup paths in helper expressions consistently
  doc/manual/generate-builtin-constants.nix
  doc/manual/generate-builtins.nix
  doc/manual/generate-manpage.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  doc/manual/generate-xp-features-shortlist.nix
  doc/manual/generate-xp-features.nix
Owners: @fricklerhandwerk

Move access control from FSInputAccessor to FilteringInputAccessor
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/fs-input-accessor.hh
  src/libfetchers/git.cc
Owners: @edolstra

Document each store type on its own page
  .gitignore
  doc/manual/generate-manpage.nix
  doc/manual/generate-store-info.nix
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/cli-guideline.md
  doc/manual/src/release-notes/rl-2.15.md
  doc/manual/src/store/types/index.md
  src/libcmd/common-eval-args.cc
  src/libexpr/primops.cc
  src/libstore/globals.hh
  src/libstore/remote-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/store-api.hh
  src/libutil/experimental-features.cc
  src/nix/local.mk
  src/nix/nix.md
Owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

reword the experimental feature notice
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
Owners: @fricklerhandwerk

mention renaming of `nix doctor`
  doc/manual/rl-next/nix-config-show.md
Owners: @fricklerhandwerk

rename debugging helper environment variable
  src/libutil/error.cc
Owners: @edolstra

reword the experimental feature notice
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
Owners: @fricklerhandwerk

First step
  binary-tarball.nix
  flake.nix
  lowdown.nix
  package.nix
Owners: @edolstra

Run statix
  flake.nix
  package.nix
Owners: @edolstra

little refactoring
  flake.nix
Owners: @edolstra

shorten the quick start chapter
  doc/manual/src/quick-start.md
Owners: @fricklerhandwerk

Revert "Switch from std::regex to boost::regex"
  flake.nix
  src/libexpr/local.mk
  src/libexpr/primops.cc
Owners: @edolstra, @fricklerhandwerk, @roberth

Document each store type on its own page
  .gitignore
  doc/manual/generate-manpage.nix
  doc/manual/generate-store-info.nix
  doc/manual/generate-store-types.nix
  doc/manual/generate-xp-features.nix
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/cli-guideline.md
  doc/manual/src/store/index.md
  doc/manual/src/store/types/index.md.in
  doc/manual/utils.nix
  src/libcmd/common-eval-args.cc
  src/libexpr/primops.cc
  src/libstore/globals.hh
  src/libstore/remote-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/store-api.hh
  src/libutil/experimental-features.cc
  src/nix/nix.md
Owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

Document each store type on its own page
  .gitignore
  doc/manual/generate-manpage.nix
  doc/manual/generate-store-info.nix
  doc/manual/generate-store-types.nix
  doc/manual/generate-xp-features.nix
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/cli-guideline.md
  doc/manual/src/store/index.md
  doc/manual/src/store/types/index.md.in
  doc/manual/utils.nix
  src/libcmd/common-eval-args.cc
  src/libexpr/primops.cc
  src/libstore/globals.hh
  src/libstore/remote-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/store-api.hh
  src/libutil/experimental-features.cc
  src/nix/nix.md
Owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

Add boost::regex regression test
  src/libexpr/tests/primops.cc
Owners: @edolstra

add redirect to new store page
  doc/manual/_redirects
Owners: @fricklerhandwerk

deduplicate installation instructions
  doc/manual/src/installation/installing-binary.md
  doc/manual/src/quick-start.md
Owners: @fricklerhandwerk

also wipe root's cache
  src/libstore/globals.hh
Owners: @thufschmitt

installing-binary.md aktualisieren
  doc/manual/src/installation/installing-binary.md
Owners: @fricklerhandwerk
