Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

Experiment with refactoring fetchGit
  src/libfetchers/git.cc
  tests/fetchGit.sh
Owners: @edolstra

Improve git cache in git fetcher
  src/libfetchers/git.cc
Owners: @edolstra

Update documentation
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
Owners: @edolstra

Revert to git archive for file copying contents.
  src/libfetchers/git.cc
Owners: @edolstra

Implement shallow git fetching
  src/libfetchers/git.cc
  tests/fetchGit.sh
Owners: @edolstra

Unify all fetchGit paths
  src/libfetchers/git.cc
Owners: @edolstra

Adjust comment
  src/libfetchers/git.cc
Owners: @edolstra

Update documentation for git fetcher
  src/libexpr/primops/fetchTree.cc
  src/nix/flake.md
Owners: @edolstra, @fricklerhandwerk

doc/hacking: fix `make` target to build the docs
  doc/manual/src/contributing/hacking.md
Owners: @fricklerhandwerk

doc/hacking: fix `make` target to build the docs (#9033)
  doc/manual/src/contributing/hacking.md
Owners: @fricklerhandwerk

Apply suggestions from code review
  src/nix/flake.md
Owners: @fricklerhandwerk

flake: complete update to 23.05
  flake.lock
  flake.nix
Owners: @edolstra

Allow fetching abbreviated git references
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
  src/nix/flake.md
Owners: @edolstra, @fricklerhandwerk

generate-manpage.nix: Add comment explaining one bit
  doc/manual/generate-manpage.nix
Owners: @fricklerhandwerk

fix docstring
  src/libexpr/primops.cc
Owners: @edolstra

src/libstore/profiles.cc: fix comparison of sign difference
  src/libstore/profiles.cc
Owners: @thufschmitt

libexpr/nixexpr.hh: Remove redundant inline
  src/libexpr/nixexpr.hh
Owners: @edolstra, @inclyc

reformat for readability
  doc/manual/src/command-ref/nix-store/realise.md
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

make separate section for builder execution
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

restructure and reword input attributes section on `derivation`
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

add example for store path using the given name
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

clarification on extra attributes
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

reword to avoid saying "build"
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

be more precise about `system` semantics
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

more precise wording
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

example: headers -> dev
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

reword example for clarity
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

add contributing guide for documentation
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/contributing.md
  doc/manual/src/contributing/documentation.md
  doc/manual/src/contributing/hacking.md
Owners: @fricklerhandwerk

fix broken redirects script
  doc/manual/redirects.js
Owners: @fricklerhandwerk

be more precise about sequentiality and parallelism
  doc/manual/src/language/import-from-derivation.md
Owners: @fricklerhandwerk

avoid "output path"
  doc/manual/src/language/import-from-derivation.md
Owners: @fricklerhandwerk

move definition to the beginning
  doc/manual/src/language/import-from-derivation.md
Owners: @fricklerhandwerk

fix broken reference link
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

fix(tests): fix assumption that string.s is a char*
  src/libexpr/tests/libexpr.hh
Owners: @edolstra

Document "Import From Derivation" (#7332)
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/glossary.md
  doc/manual/src/language/import-from-derivation.md
  src/libexpr/eval-settings.hh
Owners: @fricklerhandwerk, @edolstra

expand derivation examples
  doc/manual/src/glossary.md
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

reword for readability
  doc/manual/src/release-notes/release-notes.md
Owners: @fricklerhandwerk

libexpr: construct ExprPath by move ctor, not copy cotr
  src/libexpr/parser.y
Owners: @edolstra, @inclyc

Fix repl.md duplicate typo
  src/nix/repl.md
Owners: @fricklerhandwerk

refactor: use string accessors
  src/libcmd/repl.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/flake/flake.cc
  src/libexpr/get-drvs.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/tests/primops.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-xml.cc
  src/libexpr/value.hh
  src/nix-env/nix-env.cc
  src/nix/eval.cc
Owners: @edolstra, @inclyc
