Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

Release notes updated for #9150 reverted (#9227)
  doc/manual/src/release-notes/rl-2.15.md
  doc/manual/src/release-notes/rl-2.7.md
Owners: @fricklerhandwerk

Document builtins.substring negative length behavior (#9226)
  src/libexpr/primops.cc
Owners: @edolstra

fix: Restore local-independent way to work with characters.
  src/libexpr/print.cc
Owners: @edolstra

Fix warning
  src/libstore/content-address.cc
Owners: @thufschmitt

Fix signed vs. unsigned comparison warning and improve code
  src/libstore/builtins/buildenv.cc
Owners: @thufschmitt

fix: make sure `tar` reproducibility flags are set
  tests/functional/tarball.sh
Owners: @edolstra

document the store concept and its purpose
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/architecture/architecture.md
  doc/manual/src/glossary.md
  doc/manual/src/store/file-system-object.md
  doc/manual/src/store/index.md
Owners: @fricklerhandwerk

One sentence per line
  doc/manual/src/store/index.md
Owners: @fricklerhandwerk

document the store concept (#9206)
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/architecture/architecture.md
  doc/manual/src/glossary.md
  doc/manual/src/store/file-system-object.md
  doc/manual/src/store/index.md
Owners: @fricklerhandwerk

config: add included files into parsedContents before applying
  src/libutil/config.cc
  tests/functional/init.sh
Owners: @edolstra

add notes on comments in code samples
  doc/manual/src/contributing/documentation.md
Owners: @fricklerhandwerk

add note on highlighting examples and syntax definitions
  doc/manual/src/contributing/documentation.md
Owners: @fricklerhandwerk

fix: Make `nix flake show --json` print flake ref
  src/nix/flake.cc
  tests/functional/flakes/show.sh
Owners: @edolstra

docs: clarify flake types and implied defaults
  src/nix/flake.md
Owners: @fricklerhandwerk

chore: Factor out the negation.
  src/libexpr/print.cc
Owners: @edolstra

Improve loop over gid container
  src/libstore/lock.cc
Owners: @thufschmitt

Input: Replace markFileChanged() by putFile()
  src/libexpr/flake/flake.cc
  src/libfetchers/cache.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
Owners: @edolstra

Remove unused LockFile::write()
  src/libexpr/flake/lockfile.cc
  src/libexpr/flake/lockfile.hh
Owners: @edolstra

Revert "Fix hard linking issue causing overlay fs copy-ups"
  src/libstore/build/local-derivation-goal.cc
  src/libstore/local-fs-store.hh
  src/libstore/local-overlay-store.cc
  src/libstore/local-overlay-store.hh
Owners: @thufschmitt

Use `local-overlay://` not `local-overlay` for store URL
  src/libstore/local-overlay-store.hh
  src/libstore/store-api.cc
  tests/functional/local-overlay-store/bad-uris.sh
  tests/functional/local-overlay-store/common.sh
Owners: @thufschmitt, @edolstra

doc: Fix fetchGit default name
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

doc: Fix fetchGit default name (#9241)
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

Provide default value for id to fix warning
  src/libstore/path-info.hh
Owners: @thufschmitt

Use using instead of typedef
  src/libstore/path-info.hh
Owners: @thufschmitt

Create to daemon-socket folder during install
  scripts/install-multi-user.sh
Owners: @edolstra

local-derivation-goal.cc: slightly clarify waiting message
  src/libstore/build/local-derivation-goal.cc
Owners: @thufschmitt

comment withFrame code
  src/libexpr/eval.cc
  src/libexpr/eval.hh
Owners: @edolstra, @inclyc

remove withFrame
  src/libexpr/eval.cc
  src/libexpr/eval.hh
Owners: @edolstra, @inclyc

Turn derivation unit tests into unit characterization tests
  src/libstore/tests/characterization.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/derivation.cc
  src/libstore/tests/protocol.hh
  unit-test-data/libstore/derivation/bad-old-version-dyn-deps.drv
  unit-test-data/libstore/derivation/bad-version.drv
  unit-test-data/libstore/derivation/dynDerivationDeps.drv
  unit-test-data/libstore/derivation/dynDerivationDeps.json
  unit-test-data/libstore/derivation/output-caFixedFlat.json
  unit-test-data/libstore/derivation/output-caFixedNAR.json
  unit-test-data/libstore/derivation/output-caFixedText.json
  unit-test-data/libstore/derivation/output-caFloating.json
  unit-test-data/libstore/derivation/output-deferred.json
  unit-test-data/libstore/derivation/output-impure.json
  unit-test-data/libstore/derivation/output-inputAddressed.json
  unit-test-data/libstore/derivation/simple.drv
  unit-test-data/libstore/derivation/simple.json
Owners: @thufschmitt, @edolstra

cleanup
  src/libexpr/eval.hh
Owners: @edolstra, @inclyc

remove extra fn declaration
  src/libutil/error.cc
Owners: @edolstra

extra location output
  tests/functional/lang/eval-fail-addDrvOutputDependencies-empty-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-multi-elem-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-wrong-element-kind.err.exp
Owners: @edolstra

move tests
  tests/functional/debugger-backtrace.sh
  tests/functional/debugger/debugger-attr-bad.exp
  tests/functional/debugger/debugger-attr-bad.nix
  tests/functional/debugger/debugger-attr-deep.exp
  tests/functional/debugger/debugger-attr-deep.nix
  tests/functional/debugger/debugger-bool-expected.exp
  tests/functional/debugger/debugger-bool-expected.nix
  tests/functional/debugger/debugger-break.exp
  tests/functional/debugger/debugger-break.nix
Owners: @edolstra

nix-profile*.sh.in: append PATHs idempotently
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.sh.in
Owners: @edolstra

install-darwin: work around zshrc overwrites
  scripts/install-darwin-multi-user.sh
  scripts/install-multi-user.sh
  scripts/install-systemd-multi-user.sh
Owners: @edolstra

ingore moved *out files
  .gitignore
Owners: @edolstra

fix anchor in conf-file
  doc/manual/local.mk
Owners: @fricklerhandwerk

count partially applied for simple lambdas
  examples.nix
  src/libexpr/comment.cc
  src/libexpr/comment.hh
  src/libexpr/primops.cc
Owners: @edolstra

adding test
  tests/functional/flakes/show.sh
Owners: @edolstra

Systematize fetcher input attribute validation
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/tarball.cc
Owners: @edolstra
