Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

Document the concept of “experimental feature” (#5930)
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/experimental-features.md
Owners: @fricklerhandwerk

Origin: Use SourcePath
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/value-to-xml.cc
Owners: @edolstra

improved help command listing.
  src/libcmd/repl.cc
Owners: @edolstra

Expand documentation for `experimental-features`
  src/libutil/experimental-features.cc
Owners: @edolstra

Fix typo in `no-url-literals` experimental feature docs
  src/libutil/experimental-features.cc
Owners: @edolstra

Link the new general documentation on xp features on the setting
  src/libutil/config.hh
Owners: @edolstra

Describe active experimental features in the contributing guide
  .gitignore
  doc/manual/generate-xp-features-shortlist.nix
  doc/manual/generate-xp-features.nix
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/utils.nix
  src/libutil/config.hh
  src/libutil/experimental-features.cc
Owners: @edolstra, @fricklerhandwerk

Add `Store::isTrustedClient()`
  doc/manual/src/release-notes/rl-next.md
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/daemon.hh
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/store-api.hh
  src/libstore/worker-protocol.hh
  src/nix/doctor.cc
  src/nix/ping-store.cc
  tests/legacy-ssh-store.sh
  tests/local-store.sh
  tests/local.mk
  tests/remote-store.sh
Owners: @fricklerhandwerk, @thufschmitt, @edolstra

Add FOD hash-mismatch errors to the build log
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  tests/fixed.sh
Owners: @thufschmitt, @edolstra

Rename and protect `BufferedSink::write`
  src/libutil/compression.cc
  src/libutil/compression.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Owners: @edolstra

Typo
  src/libexpr/flake/lockfile.hh
Owners: @edolstra

Rename files to reflect new `nix derivation show` name
  src/nix/derivation-show.cc
  src/nix/derivation-show.md
Owners: @edolstra, @fricklerhandwerk

`nix show-derivation` -> `nix derivation show`
  doc/manual/src/glossary.md
  src/nix/derivation.cc
  src/nix/main.cc
  src/nix/show-derivation.cc
  src/nix/show-derivation.md
  tests/ca/build.sh
  tests/impure-derivations.sh
Owners: @fricklerhandwerk, @edolstra

Liberate `checkDerivationOutputs` from `LocalStore`
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
Owners: @thufschmitt

Create `nix derivation add` command
  src/nix/derivation-add.cc
  src/nix/derivation-add.md
  src/nix/derivation-show.md
  tests/ca/derivation-json.sh
  tests/derivation-json.sh
  tests/local.mk
Owners: @edolstra, @fricklerhandwerk

Include the name in the JSON for derivations
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/tests/derivation.cc
  src/nix/show-derivation.md
Owners: @thufschmitt, @fricklerhandwerk

Create `Derivation::fromJSON`
  src/libstore/content-address.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/tests/derivation.cc
  src/libutil/comparator.hh
Owners: @thufschmitt, @edolstra

Add release notes for `nix derivation {add,show}`
  doc/manual/src/release-notes/rl-next.md
Owners: @fricklerhandwerk

Disable GC inside coroutines on mac OS
  src/libexpr/eval.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Owners: @edolstra

DisableGC: replace by CoroutineContext, std::shared_ptr<void>
  src/libexpr/eval.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Owners: @edolstra

Always disable GC in a coroutine unless the patch is applied
  boehmgc-coroutine-sp-fallback.diff
  src/libexpr/eval.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Owners: @edolstra

Add talkative msg for coro gc debug
  src/libexpr/eval.cc
Owners: @edolstra

Fix two things from comments
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.hh
Owners: @thufschmitt

Use triple-backtick not indent for `dumpPath`
  src/libutil/archive.hh
Owners: @edolstra

Convert GNU-style `\`..'` quotes to markdown style in API docs
  src/libexpr/eval.hh
  src/libexpr/get-drvs.hh
  src/libexpr/nixexpr.hh
  src/libexpr/value.hh
  src/libstore/build/worker.hh
  src/libstore/derivations.hh
  src/libstore/gc-store.hh
  src/libstore/local-store.hh
  src/libstore/store-api.hh
  src/libutil/archive.hh
  src/libutil/util.hh
Owners: @edolstra, @thufschmitt
