Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

always show anchors on setting listings
  doc/manual/generate-manpage.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  doc/manual/local.mk
  doc/manual/utils.nix
Owners: @fricklerhandwerk

fix wiring of baked-in Nix expressions
  src/nix/local.mk
  src/nix/main.cc
Owners: @edolstra

StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Owners: @thufschmitt

accommodate inconsistent output from `lowdown`
  doc/manual/generate-manpage.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  doc/manual/local.mk
  src/nix/main.cc
Owners: @fricklerhandwerk, @edolstra

libexpr: split yacc prologue & epilogue (NFC)
  src/libexpr/lexer/lexer.l
  src/libexpr/lexer/prologue.inc
  src/libexpr/local.mk
  src/libexpr/parser.y
  src/libexpr/parser/epilogue.inc
  src/libexpr/parser/parser.y
  src/libexpr/parser/prologue.inc
  src/libexpr/parser/requires.hh
Owners: @edolstra, @inclyc

libexpr: apply static analysis "quick fix" to splitted files
  src/libexpr/lexer/prologue.inc
  src/libexpr/parser/epilogue.inc
  src/libexpr/parser/prologue.inc
  src/libexpr/parser/requires.hh
Owners: @edolstra

more specific links to nix.dev
  README.md
Owners: @fricklerhandwerk

manual: Contributing -> Development, Hacking -> Compiling
  README.md
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/hacking.md
Owners: @fricklerhandwerk

Poison the build on the test derivation
  flake.nix
Owners: @edolstra

Don't run the tests that require building if we're not building
  flake.nix
  tests/local.mk
Owners: @edolstra

eval: Run a full GC before printing stats
  src/libexpr/eval.cc
  src/libexpr/eval.hh
Owners: @edolstra, @inclyc

add links and anchors
  doc/manual/src/command-ref/nix-env/install.md
Owners: @fricklerhandwerk

Define NixOS tests in `tests/nixos/default.nix` rather than `flake.nix`
  flake.nix
  tests/nixos/default.nix
Owners: @edolstra

remove duplicate redirects entry
  doc/manual/redirects.js
Owners: @fricklerhandwerk

nix flake show: name attribute that must be a derivation
  src/nix/flake.cc
Owners: @edolstra

expand on interpolated expressions
  doc/manual/src/language/string-interpolation.md
  doc/manual/src/language/values.md
  src/libexpr/primops.cc
Owners: @fricklerhandwerk, @edolstra

complete example on attribute name interpolation
  doc/manual/src/language/string-interpolation.md
Owners: @fricklerhandwerk

document that pure-eval also disables `builtins.nixPath`
  src/libexpr/eval-settings.hh
Owners: @edolstra

describe the effect of `restrict-eval` in a more focused manner
  src/libexpr/eval-settings.hh
Owners: @edolstra

reword and reformat description of `builtins.import`
  src/libexpr/primops.cc
Owners: @edolstra

introduce lookup paths as a distinct language construct
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/language/constructs/lookup-path.md
  doc/manual/src/language/values.md
  src/libexpr/primops.cc
Owners: @fricklerhandwerk, @edolstra

make fetchClosure non-experimental
  src/libexpr/primops/fetchClosure.cc
  src/nix/main.cc
  tests/functional/fetchClosure.sh
Owners: @edolstra

libexpr: diagnostics framework & error recovery basics
  src/libexpr/diagnostic.hh
  src/libexpr/diagnostics/kinds.inc
  src/libexpr/diagnostics/merge.inc
  src/libexpr/lexer/lexer.l
  src/libexpr/parser/epilogue.inc
  src/libexpr/parser/parser.y
  src/libexpr/parser/prologue.inc
  src/libexpr/parser/requires.hh
Owners: @edolstra

StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Owners: @thufschmitt

StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Owners: @thufschmitt

StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Owners: @thufschmitt

AE -> BE; fix redirects
  doc/manual/redirects.js
  doc/manual/src/contributing/testing.md
Owners: @fricklerhandwerk

remove unnecessary indentation from markdown list
  doc/manual/src/command-ref/env-common.md
Owners: @fricklerhandwerk

command alias implementation
  src/nix/main.cc
Owners: @edolstra

alias prefixing fix
  src/nix/main.cc
Owners: @edolstra

info comment changes
  src/nix/main.cc
Owners: @edolstra

Use positive source filtering for the standalone functional tests job
  Makefile
  Makefile.config.in
  configure.ac
  flake.nix
  local.mk
  tests/functional/local.mk
Owners: @edolstra

Use positive source filtering for the Perl bindings
  flake.nix
  perl/Makefile
Owners: @edolstra

rename debugging helper environment variable
  src/libutil/error.cc
Owners: @edolstra

doc: Slight reword of "interpolated expression" in paragraph
  doc/manual/src/language/string-interpolation.md
Owners: @fricklerhandwerk

printStats -> maybePrintStats
  src/libcmd/command.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
Owners: @edolstra, @inclyc

remove how-to section on S3 buckets
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/advanced-topics/post-build-hook.md
  doc/manual/src/package-management/s3-substituter.md
Owners: @fricklerhandwerk

Add back info about S3 store
  src/libstore/s3-binary-cache-store.md
Owners: @thufschmitt

Get rid of `bootstrap.sh`
  bootstrap.sh
  doc/manual/src/contributing/hacking.md
  doc/manual/src/installation/building-source.md
Owners: @edolstra, @fricklerhandwerk

Factor out bits of the worker protocol to use elsewhere
  doc/internal-api/doxygen.cfg.in
  src/libstore/build/derivation-goal.cc
  src/libstore/common-protocol-impl.hh
  src/libstore/common-protocol.cc
  src/libstore/common-protocol.hh
  src/libstore/derivations.cc
  src/libstore/export-import.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/length-prefixed-protocol-helper.hh
  src/libstore/worker-protocol-impl.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
Owners: @fricklerhandwerk, @thufschmitt, @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc
