Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @roberth, @thufschmitt, @ericson2314

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Documentation of built-in functions
src/libexpr/primops.cc @roberth

# Libstore layer
/src/libstore @thufschmitt @ericson2314

doc/values: Refer to base directory definition
  doc/manual/src/language/values.md
Owners: @edolstra

doc: Edit
  doc/manual/src/language/values.md
Owners: @edolstra

Use SourcePath in more places
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/unix/mercurial.cc
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/legacy-ssh-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/worker.cc
  src/libstore/unix/local-store.cc
  src/libstore/unix/optimise-store.cc
  src/libutil/archive.cc
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/libutil/git.cc
  src/libutil/git.hh
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-path.hh
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/hash.cc
  src/nix/prefetch.cc
  tests/unit/libutil/git.cc
Owners: @edolstra, @thufschmitt, @ericson2314

Rename makeFSSourceAccessor -> getFSSourceAccessor()
  src/libcmd/installables.cc
  src/libexpr/eval.cc
  src/libfetchers/unix/mercurial.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/local-store.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/source-accessor.hh
Owners: @edolstra, @thufschmitt, @ericson2314

use PathNG and std::filesystem::path in more places
  src/libstore/ssh.cc
  src/libstore/unix/local-store.cc
  src/libstore/unix/local-store.hh
  src/libutil/file-path.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/nix-build/nix-build.cc
  src/nix/develop.cc
  src/nix/prefetch.cc
Owners: @thufschmitt, @ericson2314, @edolstra

Fix build failure with clang
  src/libfetchers/fetchers.hh
  tests/unit/libfetchers/public-key.cc
Owners: @edolstra

Fix perl build
  perl/lib/Nix/Store.xs
Owners: @edolstra

Update src/libfetchers/cache.hh
  src/libfetchers/cache.hh
Owners: @edolstra

Honor the same set of proxy environment variables (#10611)
  doc/manual/src/installation/env-variables.md
  scripts/install-systemd-multi-user.sh
  src/libcmd/network-proxy.cc
  src/libcmd/network-proxy.hh
  src/libexpr/fetchurl.nix
  src/nix-build/nix-build.cc
  src/nix/main.cc
  tests/nixos/nss-preload.nix
Owners: @edolstra

Use `std::filesystem` functions in more places
  configure.ac
  src/libcmd/repl.cc
  src/libstore/builtins/buildenv.cc
  src/libstore/globals.cc
  src/libstore/profiles.cc
  src/libstore/unix/gc.cc
  src/libstore/unix/local-store.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/linux/cgroup.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/unix/file-descriptor.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/config-check.cc
Owners: @edolstra, @thufschmitt, @ericson2314

builtin:fetchurl: Revert impureEnvVars attribute
  src/libexpr/fetchurl.nix
Owners: @edolstra

Try to fix macOS Nixpkgs lib test failure
  src/libstore/unix/gc.cc
  src/libutil/posix-source-accessor.cc
Owners: @thufschmitt, @ericson2314, @edolstra

Replace our `DirEntry` with `std::filesystem`'s
  src/libcmd/repl.cc
  src/libstore/builtins/buildenv.cc
  src/libstore/globals.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/profiles.cc
  src/libstore/unix/builtins/unpack-channel.cc
  src/libstore/unix/gc.cc
  src/libstore/unix/local-store.cc
  src/libstore/unix/posix-fs-canonicalise.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/linux/cgroup.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/unix/file-descriptor.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/flake.cc
  src/nix/prefetch.cc
  src/nix/run.cc
Owners: @edolstra, @thufschmitt, @ericson2314

Get rid of `PathNG`, just use `std::filesystem::path`
  src/libstore/ssh-store.cc
  src/libstore/ssh.cc
  src/libutil/experimental-features.cc
  src/libutil/file-path.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/unix/file-path.cc
  src/libutil/windows/file-path.cc
  src/nix/develop.cc
  src/nix/prefetch.cc
Owners: @thufschmitt, @ericson2314, @edolstra

Use `std::filesystem::path` in more places (#10657)
  src/libstore/ssh-store.cc
  src/libstore/ssh.cc
  src/libstore/unix/local-store.cc
  src/libstore/unix/local-store.hh
  src/libutil/experimental-features.cc
  src/libutil/file-path.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/unix/file-path.cc
  src/libutil/windows/file-path.cc
  src/nix-build/nix-build.cc
  src/nix/develop.cc
  src/nix/prefetch.cc
Owners: @thufschmitt, @ericson2314, @edolstra

fix(doc/manual/src/command-ref/nix-env/install): fix typo
  doc/manual/src/command-ref/nix-env/install.md
Owners: @edolstra

maintainers: update information on team meetings
  maintainers/README.md
Owners: @edolstra

maintainers: update information on team meetings (#10663)
  maintainers/README.md
Owners: @edolstra

Add uninstallation hint for MacOS regarding key chain entries
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

rm isLink
  src/libstore/indirect-root-store.cc
  src/libstore/store-api.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/nix/config-check.cc
  src/nix/upgrade-nix.cc
Owners: @thufschmitt, @ericson2314, @edolstra

doc: Reword scoping section
  doc/manual/src/language/constructs.md
Owners: @edolstra

Forbid drvPath in strictDerivation outputs attribute
  src/libexpr/primops.cc
  tests/unit/libexpr/error_traces.cc
Owners: @roberth, @edolstra

Support unit prefixes in configuration settings
  doc/manual/src/command-ref/conf-file-prefix.md
  src/libutil/config-impl.hh
  tests/functional/config.sh
  tests/functional/gc-auto.sh
Owners: @edolstra

Fix warning
  src/libutil/util.hh
Owners: @edolstra

review pass
  doc/manual/src/glossary.md
  doc/manual/src/language/string-context.md
Owners: @edolstra

review pass, reorder sections
  doc/manual/src/language/string-context.md
  src/libexpr/primops/context.cc
Owners: @edolstra
