Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @roberth, @thufschmitt, @ericson2314

C API: add check_value_[in,out] helper functions
  src/libexpr-c/nix_api_value.cc
  tests/unit/libexpr/nix_api_value.cc
Owners: @edolstra

C API: add (un)initialized value checks
  src/libexpr-c/nix_api_value.cc
  tests/unit/libexpr/nix_api_value.cc
  tests/unit/libutil-support/tests/nix_api_util.hh
Owners: @edolstra

C API: fix test, nix float is a double internally
  tests/unit/libexpr/nix_api_value.cc
Owners: @edolstra

C API: source argument to nix_copy_value should be const
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  tests/unit/libexpr/nix_api_value.cc
Owners: @edolstra

Use Descriptor and not HANDLE or int
  src/build-remote/build-remote.cc
  src/libstore/pathlocks.hh
  src/libstore/unix/lock.cc
  src/libstore/unix/pathlocks-impl.hh
  src/libstore/unix/pathlocks.cc
  src/libstore/windows/pathlocks-impl.hh
  src/libstore/windows/pathlocks.cc
Owners: @edolstra, @thufschmitt, @ericson2314

Update doc/manual/src/installation/uninstall.md
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

Revert "libstore/local-derivation-goal: prohibit creating setuid/setgid binaries"
  src/libstore/linux/fchmodat2-compat.hh
  src/libstore/unix/build/local-derivation-goal.cc
Owners: @thufschmitt, @ericson2314

Formatting, and more cleanup
  src/libstore/windows/pathlocks.cc
  src/libutil/file-descriptor.cc
  src/libutil/file-descriptor.hh
Owners: @thufschmitt, @ericson2314, @edolstra

Add a test for the user sandboxing
  tests/nixos/default.nix
  tests/nixos/user-sandboxing/attacker.c
  tests/nixos/user-sandboxing/default.nix
Owners: @edolstra

Run the builds in a daemon-controled directory
  src/libstore/build/local-derivation-goal.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  tests/nixos/user-sandboxing/default.nix
Owners: @thufschmitt, @ericson2314, @edolstra

Add a release note for the build-dir hardening
  doc/manual/rl-next/harden-user-sandboxing.md
Owners: @edolstra

Run the builds in a daemon-controled directory
  src/libstore/build/local-derivation-goal.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  tests/nixos/user-sandboxing/default.nix
Owners: @thufschmitt, @ericson2314, @edolstra

Add a release note for the build-dir hardening
  doc/manual/rl-next/harden-user-sandboxing.md
Owners: @edolstra

Add a test for the user sandboxing
  tests/nixos/default.nix
  tests/nixos/user-sandboxing/attacker.c
  tests/nixos/user-sandboxing/default.nix
Owners: @edolstra

Add a test for the user sandboxing
  tests/nixos/default.nix
  tests/nixos/user-sandboxing/attacker.c
  tests/nixos/user-sandboxing/default.nix
Owners: @edolstra

Add a release note for the build-dir hardening
  doc/manual/rl-next/harden-user-sandboxing.md
Owners: @edolstra

Run the builds in a daemon-controled directory
  src/libstore/build/local-derivation-goal.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  tests/nixos/user-sandboxing/default.nix
Owners: @thufschmitt, @ericson2314, @edolstra

Add a test for the user sandboxing
  flake.nix
  tests/nixos/user-sandboxing/attacker.c
  tests/nixos/user-sandboxing/default.nix
Owners: @edolstra

Put definitions back in old order
  src/libstore/pathlocks.hh
Owners: @thufschmitt, @ericson2314

Fix fetchGit nested submodules
  src/libfetchers/unix/git.cc
  tests/functional/fetchGitSubmodules.sh
Owners: @edolstra

move single-user uninstall to the end
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

move the backup restore instructions to the first step
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

provide more detailed instructions for using `sudo vifs`
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

express instructions as a script
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

one sentence per line
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

Enable the Cirrus builders for the CI
  .github/workflows/ci.yml
Owners: @edolstra

Pathlocks Implementation for Windows (#10586)
  src/build-remote/build-remote.cc
  src/libstore/pathlocks.hh
  src/libstore/unix/lock.cc
  src/libstore/unix/pathlocks-impl.hh
  src/libstore/unix/pathlocks.cc
  src/libstore/windows/pathlocks-impl.hh
  src/libstore/windows/pathlocks.cc
Owners: @edolstra, @thufschmitt, @ericson2314

Dynamically set the runners
  .github/workflows/ci.yml
Owners: @edolstra

Fix test
  tests/functional/flakes/tree-operators.sh
Owners: @edolstra

Fix pre-commit check
  maintainers/flake-module.nix
Owners: @edolstra

Reuse eval caches and related values when possible
  src/libcmd/installables.cc
  src/libexpr/eval.hh
Owners: @edolstra

Improve eval cache support for parallelism
  src/libexpr/eval-cache.cc
  src/libstore/sqlite.cc
  src/libutil/util.cc
  src/libutil/util.hh
Owners: @edolstra, @thufschmitt, @ericson2314

Fixup issue with encoding of cached attrset fields
  src/libexpr/eval-cache.cc
Owners: @edolstra

Require at least libseccomp 2.5.5
  configure.ac
  package.nix
Owners: @edolstra

Run the builds in a daemon-controled directory
  src/libstore/build/local-derivation-goal.cc
  src/libutil/util.cc
  src/libutil/util.hh
  tests/nixos/user-sandboxing/default.nix
Owners: @thufschmitt, @ericson2314, @edolstra

Add a release note for the build-dir hardening
  doc/manual/rl-next/harden-user-sandboxing.md
Owners: @edolstra

release notes: 2.22.0
  doc/manual/rl-next/nix-eval-derivations.md
  doc/manual/rl-next/remove-repl-flake.md
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/release-notes/rl-2.22.md
Owners: @edolstra

Typo
  doc/manual/src/release-notes/rl-2.22.md
Owners: @edolstra

Mark official release
  flake.nix
Owners: @edolstra

Add builtins.warn
  src/libexpr/eval-settings.cc
  src/libexpr/eval-settings.hh
  src/libexpr/primops.cc
  tests/functional/lang.sh
Owners: @edolstra, @roberth

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Documentation of built-in functions
src/libexpr/primops.cc @roberth

# Libstore layer
/src/libstore @thufschmitt @ericson2314
