Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

Unit test the "common protocol" too
  src/libstore/tests/characterization.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/protocol.hh
  src/libstore/tests/worker-protocol.cc
  unit-test-data/libstore/common-protocol/content-address.bin
  unit-test-data/libstore/common-protocol/drv-output.bin
  unit-test-data/libstore/common-protocol/optional-content-address.bin
  unit-test-data/libstore/common-protocol/optional-store-path.bin
  unit-test-data/libstore/common-protocol/realisation.bin
  unit-test-data/libstore/common-protocol/set.bin
  unit-test-data/libstore/common-protocol/store-path.bin
  unit-test-data/libstore/common-protocol/string.bin
  unit-test-data/libstore/common-protocol/vector.bin
Owners: @thufschmitt, @edolstra

be more explicit about the symbolic name part
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

annotate admonitions showing syntax
  doc/manual/src/language/constructs/lookup-path.md
  doc/manual/src/language/operators.md
  doc/manual/src/language/values.md
Owners: @fricklerhandwerk

reword documentation on lookup path resolution
  src/libexpr/primops.cc
Owners: @edolstra

add support for repl pos.origin
  src/libexpr/comment.cc
  src/libexpr/comment.hh
  src/libexpr/primops.cc
  test.nix
Owners: @edolstra

rename examples
  examples.nix
Owners: @edolstra

Introduce separate Serve protocol serialisers
  src/libstore/legacy-ssh-store.cc
  src/libstore/serve-protocol-impl.hh
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/libstore/tests/serve-protocol.cc
  src/nix-store/nix-store.cc
  unit-test-data/libstore/serve-protocol/content-address.bin
  unit-test-data/libstore/serve-protocol/drv-output.bin
  unit-test-data/libstore/serve-protocol/optional-content-address.bin
  unit-test-data/libstore/serve-protocol/optional-store-path.bin
  unit-test-data/libstore/serve-protocol/realisation.bin
  unit-test-data/libstore/serve-protocol/set.bin
  unit-test-data/libstore/serve-protocol/store-path.bin
  unit-test-data/libstore/serve-protocol/string.bin
  unit-test-data/libstore/serve-protocol/vector.bin
Owners: @thufschmitt, @edolstra

Apply environment setting on `impureEnvVar` only
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.cc
  src/libstore/globals.hh
  tests/environment.sh
Owners: @thufschmitt, @edolstra

Refactor 'environment' test
  tests/environment.nix
Owners: @edolstra

Refactor getenv -> getEnv
  src/libstore/globals.cc
Owners: @thufschmitt

Clarification on docs of environment config
  src/libstore/globals.hh
Owners: @thufschmitt

Add tests for environment config
  tests/environment.nix
  tests/environment.sh
  tests/functional/local.mk
Owners: @edolstra

Add environment config
  src/libstore/globals.cc
  src/libstore/globals.hh
Owners: @thufschmitt

Add comment about EnvironmentSetting::hasInherited
  src/libstore/globals.cc
Owners: @thufschmitt

refactor and rename
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.cc
  src/libstore/globals.hh
  tests/environment.sh
  tests/functional/local.mk
  tests/impure-env-var-overrides.nix
  tests/impure-env-var-overrides.sh
Owners: @thufschmitt, @edolstra

Mention the `impure-env` setting in the `impureEnvVars` documentation
  doc/manual/src/language/advanced-attributes.md
Owners: @fricklerhandwerk

Rename impure-env-var-overrides to impure-env
  src/libstore/globals.hh
  src/libutil/experimental-features.cc
  tests/functional/local.mk
  tests/impure-env-var-overrides.sh
  tests/impure-env.nix
  tests/impure-env.sh
Owners: @thufschmitt, @edolstra

Make the `ImpureEnv` overriding mechanism experimental
  src/libstore/globals.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/impure-env-var-overrides.sh
Owners: @thufschmitt, @edolstra

fixup! Rename impure-env-var-overrides to impure-env
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.hh
Owners: @thufschmitt

Move the tests to their final location
  tests/functional/impure-env.nix
  tests/functional/impure-env.sh
Owners: @edolstra

fixup! Make the `ImpureEnv` overriding mechanism experimental
  src/libstore/build/local-derivation-goal.cc
Owners: @thufschmitt

fixup! Move the tests to their final location
  tests/functional/impure-env.sh
Owners: @edolstra

Allow CLI to pass environment variables to FOD builder (#8830)
  doc/manual/src/language/advanced-attributes.md
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/functional/impure-env.nix
  tests/functional/impure-env.sh
  tests/functional/local.mk
Owners: @fricklerhandwerk, @thufschmitt, @edolstra

Support access-tokens setting for fetching tarballs from private sources.
  src/libfetchers/tarball.cc
Owners: @edolstra

Tarball fetcher: Use the tarball cache
  src/libfetchers/attrs.cc
  src/libfetchers/attrs.hh
  src/libfetchers/cache.cc
  src/libfetchers/cache.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/tarball.cc
  src/libstore/filetransfer.cc
  src/libstore/filetransfer.hh
Owners: @edolstra, @thufschmitt

Tarball cache: Add cache entries for all URLs in the redirect chain
  src/libfetchers/tarball.cc
  src/libstore/filetransfer.cc
  src/libstore/filetransfer.hh
Owners: @edolstra, @thufschmitt

Remove the "facts" cache
  src/libfetchers/attrs.cc
  src/libfetchers/attrs.hh
  src/libfetchers/cache.cc
  src/libfetchers/cache.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/input-accessor.cc
  src/libfetchers/tarball.cc
Owners: @edolstra

Remove debug statement
  src/libstore/filetransfer.cc
Owners: @thufschmitt

fix: adl_serializer for std::optional
  src/libutil/json-utils.hh
Owners: @edolstra

Stop hard-linking non-directory inputs
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/local-derivation-goal.hh
Owners: @thufschmitt

store info alias created
  src/nix/ping-store.cc
Owners: @edolstra

info store alias added to store-ping
  src/nix/ping-store.cc
Owners: @edolstra

Fix lastModified handling
  src/libfetchers/tarball.cc
Owners: @edolstra

Fix file:// URLs
  tests/tarball.sh
Owners: @edolstra

Remove bad.tar.xz check, since libarchive doesn't care
  tests/bad.tar.xz
  tests/tarball.sh
Owners: @edolstra

Eliminate old downloadTarball()
  src/libcmd/common-eval-args.cc
  src/libexpr/parser.y
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
Owners: @edolstra, @inclyc

Document builtins.fetchTree
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

fetchTree cleanup
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
  src/libutil/url.cc
  src/libutil/url.hh
  src/nix/flake.md
  tests/functional/fetchGit.sh
  tests/nixos/github-flakes.nix
Owners: @edolstra, @fricklerhandwerk

Update fetchTree docs
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

fetchTree: Only use the registry if flakes are enabled
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc
