Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

Mark fetchTree as stable
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops/fetchTree.cc
Owners: @fricklerhandwerk, @edolstra

Revert cache version
  src/libfetchers/cache.cc
Owners: @edolstra

Factor out Perl bindings Nix package
  flake.nix
  perl/default.nix
Owners: @edolstra

Fix error handling for open(2) on gc.lock
  src/libstore/local-store.cc
Owners: @thufschmitt

explicitly set meta.mainProgram
  flake.nix
Owners: @edolstra

Add two more completions tests
  tests/functional/completions.sh
Owners: @edolstra

Add API docs to some args-related functionality
  src/libcmd/command.hh
  src/libutil/args.hh
Owners: @edolstra

Overhaul completions, redo #6693
  src/libcmd/command.hh
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libmain/common-args.cc
  src/libmain/shared.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/args/root.hh
  src/libutil/local.mk
  src/nix/bundle.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/registry.cc
  src/nix/why-depends.cc
Owners: @edolstra

Fix language tests a bit
  tests/functional/lang.sh
  tests/functional/lang/eval-fail-antiquoted-path.err.exp
  tests/functional/lang/eval-fail-bad-antiquote-1.err.exp
  tests/functional/lang/eval-fail-bad-antiquote-2.err.exp
  tests/functional/lang/eval-fail-bad-antiquote-3.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-2.err.exp
  tests/functional/lang/eval-fail-dup-dynamic-attrs.err.exp
  tests/functional/lang/eval-fail-nonexist-path.err.exp
  tests/functional/lang/parse-fail-dup-attrs-6.err.exp
Owners: @edolstra

Detect cycles in flake follows.
  src/libexpr/flake/lockfile.cc
  tests/functional/flakes/follow-paths.sh
Owners: @edolstra

Fix broken move
  src/libutil/config.cc
Owners: @edolstra

Don't convert InputPaths to strings prematurely.
  src/libexpr/flake/lockfile.cc
Owners: @edolstra

Drop some moves that would happen anyway but forbid NRVO where appicable
  src/libexpr/eval.cc
  src/libexpr/paths.cc
  src/libstore/content-address.cc
Owners: @edolstra, @inclyc, @thufschmitt

Fix moves that accidentally copy anyway
  src/libexpr/eval.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/outputs-spec.cc
Owners: @edolstra, @inclyc, @thufschmitt

factor out doBind from runChild
  src/libstore/build/local-derivation-goal.cc
Owners: @thufschmitt

Bindmount files instead of hardlinking or copying to chroot
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/local-derivation-goal.hh
Owners: @thufschmitt

remove linkOrCopy and use bindmounts for files in addDependency
  src/libstore/build/local-derivation-goal.cc
Owners: @thufschmitt

use doBind in addDependency
  src/libstore/build/local-derivation-goal.cc
Owners: @thufschmitt

Store info command help updates
  src/nix/store-info.cc
  src/nix/store-info.md
  tests/functional/store-info.sh
Owners: @edolstra, @fricklerhandwerk

fetchTree: Require the flakes experimental feature for the URL syntax
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

Mark some fetchers as experimental
  src/libfetchers/github.cc
  src/libfetchers/path.cc
Owners: @edolstra

Name the protocol version types
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/remote-store-connection.hh
  src/libstore/serve-protocol.hh
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
Owners: @thufschmitt, @edolstra

Add protocol versions to `{Worker,Serve}Proto::*Conn`
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/path-info.cc
  src/libstore/remote-store-connection.hh
  src/libstore/serve-protocol.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/protocol.hh
  src/libstore/tests/serve-protocol.cc
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
Owners: @thufschmitt, @edolstra

store info sh renamed
  tests/functional/local.mk
Owners: @edolstra

updated store ping to store info in files
  doc/manual/src/advanced-topics/distributed-builds.md
  doc/manual/src/release-notes/rl-2.15.md
  doc/manual/src/release-notes/rl-2.7.md
  tests/functional/legacy-ssh-store.sh
  tests/functional/local-store.sh
  tests/functional/nix-copy-ssh-ng.sh
  tests/functional/remote-store.sh
  tests/installer/default.nix
Owners: @fricklerhandwerk, @edolstra

Fix transitive input locking.
  src/libexpr/flake/flake.cc
Owners: @edolstra

Address review comments
  src/libexpr/flake/flake.cc
  tests/functional/flakes/follow-paths.sh
Owners: @edolstra

Tarball trees: Propagate lastModified
  src/libfetchers/tarball.cc
  tests/tarball.sh
Owners: @edolstra

Document that redirected tarball flakerefs can specify lastModified
  doc/manual/src/protocols/tarball-fetcher.md
Owners: @fricklerhandwerk

Introduce FSInputAccessor and use it
  src/libexpr/attr-path.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser.y
  src/libexpr/paths.cc
  src/libexpr/primops.cc
  src/libexpr/tests/json.cc
  src/libexpr/tests/libexpr.hh
  src/libexpr/value.hh
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/fs-input-accessor.hh
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/nix/main.cc
Owners: @edolstra, @inclyc, @thufschmitt

Introduce MemoryInputAccessor and use it for corepkgs
  doc/manual/generate-manpage.nix
  doc/manual/local.mk
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/tests/error_traces.cc
  src/libfetchers/memory-input-accessor.cc
  src/libfetchers/memory-input-accessor.hh
  src/nix/main.cc
Owners: @fricklerhandwerk, @edolstra, @inclyc

Document HashFormat
  src/libutil/hash.hh
Owners: @edolstra

treewide: Rename hashBase to hashFormat
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/tests/hash.cc
  src/nix/hash.cc
Owners: @thufschmitt, @edolstra

Elaborate the "unknown hash algorithm" error
  src/libexpr/tests/error_traces.cc
  src/libutil/hash.cc
Owners: @edolstra

Simplify parseHashTypeOpt
  src/libutil/hash.cc
Owners: @edolstra

treewide: Reference HashFormat members with scope
  perl/lib/Nix/Store.xs
  src/libexpr/eval-cache.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/tarball.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/builtins/fetchurl.cc
  src/libstore/content-address.cc
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/downstream-placeholder.cc
  src/libstore/export-import.cc
  src/libstore/gc.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-store.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/nar-info.cc
  src/libstore/optimise-store.cc
  src/libstore/path-info.cc
  src/libstore/path.cc
  src/libstore/realisation.hh
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/nix-store/nix-store.cc
  src/nix/flake.cc
  src/nix/hash.cc
  src/nix/path-info.cc
  src/nix/prefetch.cc
  src/nix/verify.cc
Owners: @edolstra, @thufschmitt

Migrate HashFormat to scoped enumeration (enum struct)
  src/libutil/hash.hh
Owners: @edolstra

Add helper function parseHashFormat[Opt] printHashFormat
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/tests/hash.cc
Owners: @edolstra

primops: add builtins.convertHash
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops.cc
  tests/functional/lang/eval-okay-convertHash.exp
  tests/functional/lang/eval-okay-convertHash.nix
Owners: @fricklerhandwerk, @edolstra

Fix C++17 build
  src/libfetchers/tarball.cc
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc
