Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

review process: all PRs must be triaged
  maintainers/README.md
Owners: @fricklerhandwerk

Update src/libexpr/primops.cc
  src/libexpr/primops.cc
Owners: @edolstra

Handle patches that have a timestamp after the filename
  src/libfetchers/patching-input-accessor.cc
Owners: @edolstra

Avoid a string copy during Hash::to_string
  src/libutil/hash.cc
Owners: @edolstra

Don't recommend 'nix log' unless experimental feature is enabled
  src/libstore/build/derivation-goal.cc
Owners: @thufschmitt

return string_view from printHashType rather than string
  src/libutil/hash.cc
  src/libutil/hash.hh
Owners: @edolstra

avoid a string copy in printHash16
  src/libutil/hash.cc
Owners: @edolstra

Update src/libexpr/primops.cc
  src/libexpr/primops.cc
Owners: @edolstra

Allow `@` in git refs
  src/libutil/url-parts.hh
Owners: @edolstra

Convert a bunch of comments in headers to Doxygen documentation
  src/libstore/content-address.hh
  src/libstore/derivations.hh
  src/libstore/derived-path.hh
  src/libstore/outputs-spec.hh
  src/libstore/path.hh
  src/libstore/store-api.hh
Owners: @thufschmitt

Manual: fail when #include-d file does not exist
  doc/manual/local.mk
Owners: @fricklerhandwerk

More precise wording
  src/libexpr/primops.cc
Owners: @edolstra

Typo
  src/libexpr/primops.cc
Owners: @edolstra

process includes first
  doc/manual/local.mk
Owners: @fricklerhandwerk

Fix root/overriden flakes with dir attribute
  src/libexpr/flake/call-flake.nix
  src/libexpr/flake/flake.cc
Owners: @edolstra

Indentation
  src/libutil/tests/canon-path.cc
Owners: @edolstra

Allow patches to be applied to flake inputs
  src/libexpr/flake/call-flake.nix
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  src/libexpr/flake/lockfile.cc
  src/libexpr/flake/lockfile.hh
  src/libfetchers/path.cc
  src/nix/flake.md
  tests/flakes/patch.sh
  tests/local.mk
Owners: @edolstra, @fricklerhandwerk

Add CanonPath::makeRelative()
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
  src/libutil/tests/canon-path.cc
Owners: @edolstra

Fix warning
  src/libstore/binary-cache-store.cc
Owners: @thufschmitt

Use "raw pattern" for content address types
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/content-address.cc
  src/libstore/content-address.hh
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-store.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/nar-info.cc
  src/libstore/path-info.cc
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/nix-store/nix-store.cc
  src/nix/prefetch.cc
Owners: @thufschmitt, @edolstra

Fix data race in copyPaths
  src/libstore/store-api.cc
Owners: @thufschmitt

Only lock once
  src/libstore/store-api.cc
Owners: @thufschmitt

test: Don't add a channel for the force-no-daemon installer variant
  tests/installer/default.nix
Owners: @edolstra

test: Make the installer work on old rhel versions
  tests/installer/default.nix
Owners: @edolstra

Remove nixpkgsFor flake output
  flake.nix
Owners: @edolstra

Add CanonPath::makeRelative()
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
  src/libutil/tests/canon-path.cc
Owners: @edolstra

Indentation
  src/libutil/tests/canon-path.cc
Owners: @edolstra

Replace unnecessary Sync<uint64_t> with std::atomic<uint64_t>
  src/libstore/store-api.cc
Owners: @thufschmitt

Extend internal API docs, part 2
  src/libcmd/command-installable-value.hh
  src/libstore/filetransfer.hh
  src/libstore/store-cast.hh
  src/libstore/worker-protocol.hh
  src/libutil/archive.hh
  src/libutil/args.hh
  src/libutil/callback.hh
  src/libutil/canon-path.hh
  src/libutil/cgroup.hh
  src/libutil/chunked-vector.hh
  src/libutil/comparator.hh
  src/libutil/config.hh
  src/libutil/error.hh
  src/libutil/experimental-features.hh
  src/libutil/finally.hh
  src/libutil/fmt.hh
  src/libutil/git.hh
  src/libutil/hash.hh
  src/libutil/hilite.hh
  src/libutil/logging.hh
  src/libutil/lru-cache.hh
  src/libutil/pool.hh
  src/libutil/ref.hh
  src/libutil/serialise.hh
  src/libutil/split.hh
  src/libutil/suggestions.hh
  src/libutil/sync.hh
  src/libutil/tarfile.hh
  src/libutil/thread-pool.hh
  src/libutil/types.hh
  src/libutil/url-parts.hh
  src/libutil/url.hh
Owners: @edolstra, @thufschmitt

Add comparison methods for content addresses
  src/libstore/content-address.hh
Owners: @thufschmitt

Add builtins.fetchGitArchive
  src/libexpr/primops/fetchGitArchive.cc
Owners: @edolstra

Rework a few things with the experimental features list
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/libutil/util.hh
Owners: @edolstra

Add more API docs to `experimental-features.hh`
  src/libutil/experimental-features.hh
Owners: @edolstra

Mention internal API docs in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @fricklerhandwerk

Move `querySubstitutablePathInfos` from `LocalStore` to `Store`
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
Owners: @thufschmitt

Try auto-labeling a few more things
  .github/labeler.yml
Owners: @edolstra

EvalState::rootPath(): Take a CanonPath
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/parser.y
  src/libexpr/paths.cc
  src/libexpr/primops.cc
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix/eval.cc
  src/nix/main.cc
  src/nix/prefetch.cc
  src/nix/upgrade-nix.cc
Owners: @edolstra

eval: Fix crash on missing printValue tBlackhole case
  src/libexpr/eval.cc
  tests/lang.sh
Owners: @edolstra

Enable -Werror=switch and exploit it for exhaustiveness checking
  local.mk
  src/libexpr/eval.cc
Owners: @edolstra

Stuctured command stability
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/doctor.cc
  src/nix/main.cc
  src/nix/repl.cc
  src/nix/upgrade-nix.cc
  tests/experimental-features.sh
Owners: @edolstra
