Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

simplify long sentence
  src/libstore/s3-binary-cache-store.md
Owners: @thufschmitt

add link to command documentation
  src/libstore/s3-binary-cache-store.md
Owners: @thufschmitt

raise heading level
  src/libstore/s3-binary-cache-store.md
Owners: @thufschmitt

uniform capitalisation
  src/libstore/s3-binary-cache-store.md
Owners: @thufschmitt

fix broken link
  doc/manual/src/package-management/profiles.md
Owners: @fricklerhandwerk

remove profiles explanation section
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/command-ref/nix-env/opt-common.md
  doc/manual/src/command-ref/nix-env/switch-profile.md
  doc/manual/src/figures/user-environments.png
  doc/manual/src/figures/user-environments.sxd
  doc/manual/src/package-management/profiles.md
  src/libstore/globals.hh
Owners: @fricklerhandwerk, @thufschmitt

Move PosixSourceAccessor into its own file
  src/libfetchers/fs-input-accessor.cc
  src/libutil/archive.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
Owners: @edolstra

Overhaul completions, redo #6693 (#8131)
  src/libcmd/command.hh
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libmain/common-args.cc
  src/libmain/shared.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/args/root.hh
  src/libutil/local.mk
  src/nix/bundle.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/registry.cc
  src/nix/why-depends.cc
Owners: @edolstra

ci: bump install-nix-action, don't fail fast
  .github/workflows/ci.yml
Owners: @edolstra

nix-shell: support single quotes in shebangs
  doc/manual/src/command-ref/nix-shell.md
  doc/manual/src/release-notes/rl-next.md
  src/nix-build/nix-build.cc
Owners: @fricklerhandwerk, @edolstra

nix-shell: fix shebang whitespace parsing
  src/nix-build/nix-build.cc
Owners: @edolstra

fix: Declare constructor as default
  src/libutil/args.hh
Owners: @edolstra

fix: Explicitly pass lambda scope variables.
  src/libutil/args.hh
Owners: @edolstra

fix: Use `using` instead of `typedef` for type aliasing.
  src/libutil/args.hh
Owners: @edolstra

fix: Use default destructor.
  src/libutil/args.hh
Owners: @edolstra

fix: Remove extra to from README.md
  README.md
Owners: @fricklerhandwerk

ci: bump install-nix-action, don't fail fast
  .github/workflows/ci.yml
Owners: @edolstra

tests: test nix-shell shebang quoting
  tests/functional/nix-shell.sh
  tests/functional/shell.shebang.nix
Owners: @edolstra

Fix typo in error message of too long store path
  src/libstore/path.cc
Owners: @thufschmitt

StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Owners: @thufschmitt

Add `builtins.addDrvOutputDependencies`
  src/libexpr/primops/context.cc
  tests/functional/lang/eval-fail-addDrvOutputDependencies-empty-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-empty-context.nix
  tests/functional/lang/eval-fail-addDrvOutputDependencies-multi-elem-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-multi-elem-context.nix
  tests/functional/lang/eval-fail-addDrvOutputDependencies-wrong-element-kind.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-wrong-element-kind.nix
  tests/functional/lang/eval-okay-context-introspection.exp
  tests/functional/lang/eval-okay-context-introspection.nix
Owners: @edolstra

ci: Update the install-nix-action
  .github/workflows/ci.yml
Owners: @edolstra

ci: Always run with sandbox, even on Darwin
  .github/workflows/ci.yml
  src/libutil/tests/tests.cc
Owners: @edolstra

ci: bump install-nix-action, don't fail fast
  .github/workflows/ci.yml
Owners: @edolstra

Flip default in testsuite `mkDerivation`
  tests/functional/build.sh
  tests/functional/config.nix.in
  tests/functional/dyn-drv/eval-outputOf.sh
  tests/functional/dyn-drv/recursive-mod-json.nix
  tests/functional/dyn-drv/text-hashed-output.nix
  tests/functional/export-graph.nix
  tests/functional/flakes/build-paths.sh
  tests/functional/multiple-outputs.nix
Owners: @edolstra

Get rid of the `--derivation` flag
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/nix/develop.cc
  src/nix/diff-closures.cc
  src/nix/run.cc
  src/nix/why-depends.cc
  tests/functional/dyn-drv/text-hashed-output.sh
  tests/functional/why-depends.sh
Owners: @edolstra

fix: Remove extra to from README.md (#9213)
  README.md
Owners: @fricklerhandwerk

Merge how-to section on S3 buckets into S3 store docs (#7972)
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/advanced-topics/post-build-hook.md
  doc/manual/src/package-management/s3-substituter.md
  src/libstore/s3-binary-cache-store.md
Owners: @fricklerhandwerk, @thufschmitt

system-features: Typo
  src/libstore/globals.hh
Owners: @thufschmitt

Fix typo in error message of too long store path
  src/libstore/path.cc
Owners: @thufschmitt

StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Owners: @thufschmitt

libutil: add ZstdDecompressionSink
  Makefile.config.in
  configure.ac
  nix.spec.in
  release-common.nix
  src/libutil/compression.cc
  src/libutil/local.mk
Owners: @edolstra

ci: Always run with sandbox, even on Darwin
  .github/workflows/ci.yml
  src/libutil/tests/tests.cc
Owners: @edolstra

ci: bump install-nix-action, don't fail fast
  .github/workflows/ci.yml
Owners: @edolstra

Allow testing `ssh://` and `ssh-ng://` across versions too
  src/libstore/legacy-ssh-store.cc
  src/libstore/ssh-store.cc
Owners: @thufschmitt

fix: Move duplicate code to separated function. Use early returns.
  src/libexpr/print.cc
Owners: @edolstra

Fix typo in error message of too long store path
  src/libstore/path.cc
Owners: @thufschmitt

StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Owners: @thufschmitt

Document builtins.substring negative length behavior
  src/libexpr/primops.cc
Owners: @edolstra

Release notes updated for #9150 reverted
  doc/manual/src/release-notes/rl-2.15.md
  doc/manual/src/release-notes/rl-2.7.md
Owners: @fricklerhandwerk
