Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

Add another configure flag assertion
  package.nix
Owners: @edolstra

Clean up two comments
  package.nix
Owners: @edolstra

tests: avoid a chroot store without sandbox support
  tests/functional/build-remote-trustless-should-fail-0.sh
Owners: @edolstra

Print the multi-command lists as Markdown lists
  src/libcmd/command.cc
Owners: @edolstra

document `fetchTree`
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

display experimental feature note at the top
  doc/manual/generate-builtins.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  src/nix/main.cc
Owners: @fricklerhandwerk, @edolstra

reword description for the `fetch-tree` experimental feature
  src/libutil/experimental-features.cc
Owners: @fricklerhandwerk

fix up release note
  doc/manual/src/release-notes/rl-2.19.md
Owners: @fricklerhandwerk

reword description for the `fetch-tree` experimental feature
  src/libutil/experimental-features.cc
Owners: @fricklerhandwerk

fix up release note
  doc/manual/src/release-notes/rl-2.19.md
Owners: @fricklerhandwerk

fix up release note
  doc/manual/src/release-notes/rl-2.19.md
Owners: @fricklerhandwerk

reword description for the `fetch-tree` experimental feature
  src/libutil/experimental-features.cc
Owners: @fricklerhandwerk

reword description for the `fetch-tree` experimental feature
  src/libutil/experimental-features.cc
Owners: @fricklerhandwerk

fix up release note
  doc/manual/src/release-notes/rl-2.19.md
Owners: @fricklerhandwerk

Handle deleting users with IDs less than 10
  doc/manual/src/installation/uninstall.md
Owners: @fricklerhandwerk

Acls: Add tests where a public output depend on a private one
  tests/nixos/acls.nix
Owners: @edolstra

Acls: explicitely access future or current permissions
  src/libcmd/installables.cc
  src/libexpr/primops.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/granular-access-store.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/worker-protocol.hh
  src/nix/store-access-grant.cc
  src/nix/store-access-info.cc
  src/nix/store-access-protect.cc
  src/nix/store-access-revoke.cc
  src/nix/store-access-unprotect.cc
Owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

Acls: remove some permission adding code which may not be needed anymore
  src/libexpr/primops.cc
Owners: @fricklerhandwerk, @roberth

Acls: Also add future permission to paths of StoreObjectDerivationOutput
  src/libstore/local-store.cc
Owners: @thufschmitt

Acls: Add ShouldSync path status
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
Owners: @thufschmitt

s3 tagging: add doc
  src/libstore/s3-binary-cache-store.md
Owners: @thufschmitt

Check that we can't follow symlinks outside of the allowed paths
  tests/functional/restricted.sh
Owners: @edolstra

Including `config.h` also needs `$(buildprefix)`
  Makefile
Owners: @edolstra

PosixSourceAccessor: Don't follow any symlinks
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  tests/functional/restricted.sh
Owners: @edolstra, @fricklerhandwerk, @roberth

Add missing `-pthread` for test support libraries
  tests/unit/libexpr-support/local.mk
  tests/unit/libstore-support/local.mk
  tests/unit/libutil-support/local.mk
Owners: @edolstra

Add missing `-pthread` for test support libraries
  tests/unit/libexpr-support/local.mk
  tests/unit/libstore-support/local.mk
  tests/unit/libutil-support/local.mk
Owners: @edolstra

Add missing `-pthread` for test support libraries
  tests/unit/libexpr-support/local.mk
  tests/unit/libstore-support/local.mk
  tests/unit/libutil-support/local.mk
Owners: @edolstra

Acls: tests non trusted user with private file
  tests/nixos/acls.nix
Owners: @edolstra

Remove some useless newlines in the multicommand error message
  src/libcmd/command.cc
Owners: @edolstra

CanonPath: Support std::hash
  src/libfetchers/git-utils.cc
  src/libutil/canon-path.hh
Owners: @edolstra

PosixSourceAccessor: Cache lstat() calls
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
Owners: @edolstra

Use expectStderr
  tests/functional/restricted.sh
Owners: @edolstra

Acls: canAccess function, remove default value for use_future parameter
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/granular-access-store.hh
  src/libstore/local-store.cc
Owners: @thufschmitt

Fix the labeler.yml config file
  .github/labeler.yml
Owners: @edolstra

Update src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/filtering-input-accessor.hh
Owners: @edolstra

Improve the error message for “multicommands” commands (#9510)
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/config.cc
  src/nix/derivation.cc
  src/nix/flake.cc
  src/nix/hash.cc
  src/nix/main.cc
  src/nix/nar.cc
  src/nix/profile.cc
  src/nix/realisation.cc
  src/nix/registry.cc
  src/nix/sigs.cc
  src/nix/store.cc
Owners: @edolstra

CmdHashBase: doc comment
  src/nix/hash.cc
Owners: @edolstra

hash.cc/hash.h: Minor C++ improvements
  src/libutil/hash.hh
  src/nix/hash.cc
Owners: @edolstra

nix hash convert: added
  src/nix/hash.cc
  tests/functional/hash.sh
Owners: @edolstra

nix hash convert: s/--type/--algo/ + more functional tests
  src/libutil/hash.hh
  src/nix/hash.cc
  tests/functional/hash.sh
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Documentation of built-in functions
src/libexpr/primops.cc @fricklerhandwerk @roberth
# Documentation on experimental features
src/libutil/experimental-features.cc @fricklerhandwerk
# Documentation on configuration settings
src/libstore/globals.hh @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt
