Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

Bump version
  .version
Owners: @edolstra

Remove obsolete corepkgs references
  doc/manual/local.mk
Owners: @fricklerhandwerk

add a link to all maintainer meeting notes
  maintainers/README.md
Owners: @fricklerhandwerk

update link to label
  CONTRIBUTING.md
Owners: @fricklerhandwerk

link to popular issues from the contributing guide
  CONTRIBUTING.md
Owners: @fricklerhandwerk

doc: complexity for '?' operator
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

doc: add reference to hasAttr in `?` operator
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

doc: generic closure supported key types
  src/libexpr/primops.cc
Owners: @edolstra

fixup
  src/libexpr/primops.cc
Owners: @edolstra

InputAccessor::fetchToStore(): Support arbitrary ingestion methods
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
Owners: @edolstra, @inclyc

Fix macOS compilation
  src/libexpr/eval.cc
Owners: @edolstra, @inclyc

Remove FIXME
  src/libexpr/primops.cc
Owners: @edolstra

doc: generic closure supported key types (#9183)
  src/libexpr/primops.cc
Owners: @edolstra

Move most of InputAccessor into libutil
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
Owners: @edolstra

Unify the two implementations of dumpPath()
  src/libutil/archive.cc
  src/libutil/source-accessor.cc
Owners: @edolstra

Deduplicate FSSourceAccessor and FSInputAccessor
  src/libfetchers/fs-input-accessor.cc
  src/libutil/archive.cc
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
Owners: @edolstra

src/libutil/json.cc: add missing <cstdint> include for gcc-13
  src/libutil/json.cc
Owners: @edolstra

Remove impractical statement about backports
  doc/manual/src/release-notes/release-notes.md
Owners: @fricklerhandwerk

Document that redirected tarball flakerefs can specify lastModified
  doc/manual/src/protocols/tarball-fetcher.md
Owners: @fricklerhandwerk

Tarball trees: Propagate lastModified
  src/libfetchers/tarball.cc
  tests/tarball.sh
Owners: @edolstra

Fix C++17 build
  src/libfetchers/tarball.cc
Owners: @edolstra

Add a generic check for rev attribute mismatches
  src/libfetchers/fetchers.cc
Owners: @edolstra

Allow tarball URLs to redirect to a lockable immutable URL
  flake.nix
  src/libcmd/common-eval-args.cc
  src/libexpr/parser.y
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/attrs.hh
  src/libfetchers/fetchers.hh
  src/libfetchers/github.cc
  src/libfetchers/tarball.cc
  src/libstore/filetransfer.cc
  src/libstore/filetransfer.hh
  tests/nixos/tarball-flakes.nix
Owners: @edolstra, @inclyc, @thufschmitt

Add docs
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/protocols/protocols.md
  doc/manual/src/protocols/tarball-fetcher.md
Owners: @fricklerhandwerk

Document that redirected tarball flakerefs can specify lastModified
  doc/manual/src/protocols/tarball-fetcher.md
Owners: @fricklerhandwerk

Tarball trees: Propagate lastModified
  src/libfetchers/tarball.cc
  tests/tarball.sh
Owners: @edolstra

Fix C++17 build
  src/libfetchers/tarball.cc
Owners: @edolstra

Remove stuff we don't need yet
  src/libexpr/eval.cc
Owners: @edolstra, @inclyc

libutil: Remove non-needed constructor
  src/libutil/config.cc
  src/libutil/config.hh
Owners: @edolstra

libutil: Move some non-template implememntations from config.hh to config.cc
  src/libutil/config.cc
  src/libutil/config.hh
Owners: @edolstra

libutil: Use c++ style cast
  src/libutil/config.hh
Owners: @edolstra

Bump version
  .version
Owners: @edolstra

Bump version
  .version
Owners: @edolstra

Update operators.md
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

doc: complexity for '?' operator (#9184)
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

Update operators.md
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

doc: add reference to hasAttr in `?` operator (#9185)
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

libstore: Add apple-virt to system features when available
  doc/manual/src/release-notes/rl-next.md
  src/libstore/globals.cc
  src/libstore/globals.hh
Owners: @fricklerhandwerk, @thufschmitt

system-features doc: kvm is Linux-only
  src/libstore/globals.hh
Owners: @thufschmitt

Doxygen
  src/libutil/source-accessor.hh
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc
