Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @roberth, @thufschmitt, @ericson2314

Fix exportReferencesGraph when given store subpath
  src/libstore/parsed-derivations.cc
Owners: @thufschmitt, @ericson2314

Make a few commands that were Unix-only no longer
  src/libstore/linux/personality.cc
  src/libstore/linux/personality.hh
  src/libstore/local.mk
  src/libstore/unix/build/local-derivation-goal.cc
  src/nix/fmt.cc
  src/nix/fmt.md
  src/nix/run.cc
  src/nix/run.hh
  src/nix/run.md
  src/nix/upgrade-nix.cc
  src/nix/upgrade-nix.md
Owners: @thufschmitt, @ericson2314, @edolstra

`file-descriptor.hh`: Avoid some Cism for better C++isms
  src/libutil/file-descriptor.hh
Owners: @edolstra

libstore/local-derivation-goal: prohibit creating setuid/setgid binaries
  src/libstore/linux/fchmodat2-compat.hh
  src/libstore/unix/build/local-derivation-goal.cc
Owners: @thufschmitt, @ericson2314

Don't include `linux/` in `#include`
  src/libstore/unix/build/local-derivation-goal.cc
Owners: @thufschmitt, @ericson2314

Allow overlay arguments to be called previous as well as prev
  src/nix/flake.cc
Owners: @edolstra

make list of cross-compilation targets an actual list
  doc/manual/src/contributing/hacking.md
Owners: @edolstra

system: build for riscv64-unknown-linux-gnu (#10228)
  doc/manual/src/contributing/hacking.md
  flake.nix
  maintainers/upload-release.pl
Owners: @edolstra

Reword
  src/libfetchers/filtering-input-accessor.hh
Owners: @edolstra

scripts/upload-release: fix riscv64 call
  maintainers/upload-release.pl
Owners: @edolstra

C API: Add nix_init_apply
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  tests/unit/libexpr/nix_api_value.cc
Owners: @edolstra

Use `rand` not `random` for creating GC root indirect links
  src/libmain/shared.cc
  src/libstore/unix/gc.cc
Owners: @edolstra, @thufschmitt, @ericson2314

Enable the `unix://` store on Windows
  src/libstore/indirect-root-store.cc
  src/libstore/indirect-root-store.hh
  src/libstore/local.mk
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
  src/libstore/uds-remote-store.md
  src/libstore/unix/gc.cc
  src/libutil/unix-domain-socket.cc
  src/libutil/unix-domain-socket.hh
  src/libutil/unix/unix-domain-socket.hh
Owners: @thufschmitt, @ericson2314, @edolstra

doc/glossary: Define output closure
  doc/manual/src/glossary.md
Owners: @edolstra

doc/glossary: Define output closure (#8311)
  doc/manual/src/glossary.md
Owners: @edolstra

fetchToStore(): Avoid duplicate copying if the input is already a store path
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/path.cc
  src/libfetchers/unix/mercurial.cc
  src/libutil/input-accessor.hh
Owners: @edolstra

libfetchers/git: Allow Git Remote Helpers
  src/libfetchers/git-utils.cc
  src/libfetchers/unix/git.cc
Owners: @edolstra

libstore: Enable kerberos negotiation for http binary caches
  src/libstore/filetransfer.cc
  src/libstore/filetransfer.hh
  src/libstore/http-binary-cache-store.cc
Owners: @thufschmitt, @ericson2314

tests/test-libstoreconsumer: Ignore config
  tests/functional/test-libstoreconsumer/main.cc
Owners: @edolstra

Revert "tests/test-libstoreconsumer: Ignore config"
  tests/functional/test-libstoreconsumer/main.cc
Owners: @edolstra

tests/libstore-support: Ignore config
  tests/unit/libstore-support/tests/libstore.hh
Owners: @edolstra

init: Add flag to avoid loading configuration
  src/libmain/shared.cc
  src/libmain/shared.hh
  src/libstore-c/nix_api_store.cc
  src/libstore-c/nix_api_store.h
  src/libstore/globals.cc
  src/libstore/globals.hh
Owners: @edolstra, @thufschmitt, @ericson2314

Remove the 'prev' check
  src/nix/flake.cc
Owners: @edolstra

First pathlocks impl attempt
  src/libstore/windows/pathlocks-impl.hh
  src/libstore/windows/pathlocks.cc
  src/libutil/file-descriptor.cc
  src/libutil/file-descriptor.hh
Owners: @thufschmitt, @ericson2314, @edolstra

Add pre-commit hook and make format target
  .gitignore
  Makefile
  doc/manual/src/contributing/hacking.md
  flake.lock
  flake.nix
  maintainers/flake-module.nix
  maintainers/local.mk
  package.nix
Owners: @edolstra

pre-commit: Remove nixpkgs-fmt
  maintainers/flake-module.nix
Owners: @edolstra

devShells: Prefix shell-for-
  flake.nix
Owners: @edolstra

devShells: null out src to avoid nix develop rebuild
  flake.nix
Owners: @edolstra

Edit docs
  doc/manual/src/contributing/hacking.md
  flake.nix
Owners: @edolstra

doc/glossary: Add base directory
  doc/manual/src/glossary.md
  src/libcmd/common-eval-args.hh
  src/libexpr/flake/flakeref.hh
  src/libutil/args.hh
Owners: @edolstra

doc/values: Refer to base directory
  doc/manual/src/language/values.md
Owners: @edolstra

tests/libexpr: Re-enable C api tests that build
  tests/unit/libexpr/nix_api_expr.cc
Owners: @edolstra

Update installing-binary.md: give TTY to the installer
  doc/manual/src/installation/installing-binary.md
Owners: @edolstra

Update uninstall.md: mention .profile
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

Update uninstall.md: remove ~/.nix-* files also
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

Update uninstall.md
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

Fully featured lock files
  src/libstore/pathlocks.hh
  src/libstore/windows/pathlocks-impl.hh
  src/libstore/windows/pathlocks.cc
Owners: @thufschmitt, @ericson2314

Cleanup
  src/libstore/windows/pathlocks.cc
Owners: @thufschmitt, @ericson2314

Add isInitialized to nix::Value
  src/libexpr/value.hh
  tests/unit/libexpr/value/value.cc
Owners: @edolstra

nix::Value: Use more descriptive names
  src/libexpr/value.hh
  tests/unit/libexpr/value/value.cc
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Documentation of built-in functions
src/libexpr/primops.cc @roberth

# Libstore layer
/src/libstore @thufschmitt @ericson2314
