Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

profile.cc: remove unused include
  src/nix/profile.cc
Owners: @edolstra

flakes: adopt repl-flake behavior as default
  doc/manual/src/release-notes/rl-next.md
  src/libutil/experimental-features.cc
  src/nix/repl.cc
  src/nix/repl.md
  tests/repl.sh
Owners: @fricklerhandwerk, @edolstra

Respect `NOCOLOR`
  src/libutil/util.cc
Owners: @edolstra

Update doc/manual/src/advanced-topics/post-build-hook.md
  doc/manual/src/advanced-topics/post-build-hook.md
Owners: @fricklerhandwerk

flakes: adopt repl-flake behavior as default
  doc/manual/src/release-notes/rl-next.md
  src/libutil/experimental-features.cc
  src/nix/repl.cc
  src/nix/repl.md
  tests/repl.sh
Owners: @fricklerhandwerk, @edolstra

add "out" output to show what it does to the output path
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

fix typo
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @edolstra

libexpr: support :doc for nixpkgs lambdas
  src/libexpr/comment.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/lexer.l
  src/libexpr/parser.y
Owners: @edolstra, @inclyc

libexpr: split yacc prologue & epilogue (NFC)
  src/libexpr/lexer-prologue.cpp
  src/libexpr/lexer.l
  src/libexpr/local.mk
  src/libexpr/parser-epilogue.cpp
  src/libexpr/parser-prologue.cpp
  src/libexpr/parser-requires.hh
  src/libexpr/parser.y
Owners: @edolstra, @inclyc

fetchTree: handle tarballs with multiple top-level files
  src/libfetchers/tarball.cc
  tests/tarball.sh
Owners: @edolstra

libexpr: diagnostics (warning/error), tags framework
  .gitignore
  flake.nix
  src/libexpr/diagnostic.hh
  src/libexpr/diagnostics-gen.nix
  src/libexpr/diagnostics.nix
  src/libexpr/lexer.l
  src/libexpr/local.mk
  src/libexpr/parser-epilogue.cpp
  src/libexpr/parser-prologue.cpp
  src/libexpr/parser-requires.hh
  src/libexpr/parser.y
Owners: @edolstra, @inclyc

Include "original" and "locked" in nix flake prefetch --json
  src/nix/flake.cc
Owners: @edolstra

`builtins.fetchTree`: Mark experimental the new way
  src/libexpr/primops/fetchTree.cc
Owners: @edolstra

Move `flakeIdRegex{,S}` from `libutil` to `flakeref.{cc,hh`
  src/libexpr/flake/flakeref.cc
  src/libexpr/flake/flakeref.hh
  src/libutil/url-parts.hh
  src/libutil/url.cc
Owners: @edolstra

Reword some comments/API docs to reflect `libfetcher`'s multiple users
  src/libfetchers/attrs.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
Owners: @edolstra

Add infra for `InputSchemes` to be experimental
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libutil/args.hh
Owners: @edolstra

Make the indirect fetcher input scheme part of the Flakes XP feature
  src/libfetchers/indirect.cc
Owners: @edolstra

add hint for troubleshooting tests
  doc/manual/src/contributing/testing.md
Owners: @fricklerhandwerk

WIP: test precedence for setting the search path
  tests/nix_path.sh
  tests/restricted.sh
Owners: @edolstra

refine the maintainer's process to unblock discussions more quickly
  maintainers/README.md
Owners: @fricklerhandwerk

contributor guide: emphasize solving a well-specified problem with each pull request
  CONTRIBUTING.md
Owners: @fricklerhandwerk

Tarball trees: Propagate lastModified
  src/libfetchers/tarball.cc
  tests/tarball.sh
Owners: @edolstra

Document that redirected tarball flakerefs can specify lastModified
  doc/manual/src/protocols/tarball-fetcher.md
Owners: @fricklerhandwerk

Bump version
  .version
Owners: @edolstra

pathExists: isDir when endswith /.
  src/libexpr/primops.cc
  tests/lang/eval-okay-pathexists.nix
Owners: @edolstra

structured attrs: improve support / usage of NIX_ATTRS_{SH,JSON}_FILE
  doc/manual/src/language/advanced-attributes.md
  src/nix/develop.cc
  src/nix/get-env.sh
  tests/build-hook-ca-fixed.nix
  tests/build-hook.nix
  tests/config.nix.in
  tests/failing.nix
  tests/hermetic.nix
  tests/structured-attrs.sh
Owners: @fricklerhandwerk, @edolstra

doc: reference NIX_ATTRS_*_FILE vars at the env var reference for drvs
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

tests/structured-attrs.sh: grep -q -> grepQuiet
  tests/structured-attrs.sh
Owners: @edolstra

pathExists: isDir when endswith /.
  src/libexpr/primops.cc
  tests/lang/eval-okay-pathexists.nix
Owners: @edolstra

refine the maintainer's process to unblock discussions more quickly
  maintainers/README.md
Owners: @fricklerhandwerk

Revert "Adapt scheduler to work with dynamic derivations"
  src/libstore/build/create-derivation-and-realise-goal.cc
  src/libstore/build/create-derivation-and-realise-goal.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  tests/dyn-drv/build-built-drv.sh
  tests/dyn-drv/dep-built-drv.sh
Owners: @thufschmitt, @edolstra

pathExists: isDir when endswith /.
  src/libexpr/primops.cc
  tests/lang/eval-okay-pathexists.nix
Owners: @edolstra

pathExists: isDir when endswith /.
  src/libexpr/primops.cc
  tests/lang/eval-okay-pathexists.nix
Owners: @edolstra

Move some code to a new `libnixflake`
  Makefile
  src/libcmd/local.mk
  src/libexpr/flake/config.cc
  src/libexpr/flake/flake.cc
  src/libexpr/local.mk
  src/libfetchers/fetch-settings.hh
  src/libflake/flake-settings.cc
  src/libflake/flake-settings.hh
  src/libflake/indirect.cc
  src/libflake/local.mk
  src/libflake/registry.cc
  src/libflake/registry.hh
  src/nix/local.mk
Owners: @edolstra

WIP: generalize the fetcher registry to not be flake specific
  src/libfetchers/fetch-settings.hh
  src/libfetchers/indirect.cc
  src/libfetchers/registry.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
Owners: @edolstra

Revert "Adapt scheduler to work with dynamic derivations"
  src/libstore/build/create-derivation-and-realise-goal.cc
  src/libstore/build/create-derivation-and-realise-goal.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  tests/dyn-drv/build-built-drv.sh
  tests/dyn-drv/dep-built-drv.sh
Owners: @thufschmitt, @edolstra

Document changes in store path name validity
  doc/manual/src/release-notes/rl-2.4.md
Owners: @fricklerhandwerk

Test the rest of the worker protocol serializers
  src/libstore/build-result.cc
  src/libstore/build-result.hh
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.hh
  unit-test-data/libstore/worker-protocol/build-result.bin
  unit-test-data/libstore/worker-protocol/drv-output.bin
  unit-test-data/libstore/worker-protocol/keyed-build-result.bin
  unit-test-data/libstore/worker-protocol/optional-content-address.bin
  unit-test-data/libstore/worker-protocol/optional-store-path.bin
  unit-test-data/libstore/worker-protocol/optional-trusted-flag.bin
  unit-test-data/libstore/worker-protocol/realisation.bin
  unit-test-data/libstore/worker-protocol/set.bin
  unit-test-data/libstore/worker-protocol/vector.bin
Owners: @thufschmitt, @edolstra

Enable most of the third `BuildResult` worker protocol test
  src/libstore/tests/worker-protocol.cc
  unit-test-data/libstore/worker-protocol/build-result.bin
Owners: @thufschmitt, @edolstra
