Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

Move getLastModified(), remove setPathDisplay()
  src/libfetchers/input-accessor.hh
  src/libutil/source-accessor.hh
Owners: @edolstra

coerceToPath(): Handle __toString, add tests
  src/libexpr/eval.cc
  src/libexpr/tests/error_traces.cc
  tests/functional/lang/eval-okay-pathexists.nix
Owners: @edolstra, @inclyc

fetchToStore(): Handle flat ingestion method and add test
  src/libfetchers/input-accessor.cc
  tests/functional/lang/eval-okay-path.exp
  tests/functional/lang/eval-okay-path.nix
Owners: @edolstra

SourceAccessor::readFile(): Support reading into a sink
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/input-accessor.cc
  src/libutil/archive.cc
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
Owners: @edolstra

Add future FIXME
  src/libexpr/eval.cc
Owners: @edolstra, @inclyc

Input::hasAllInfo(): Remove
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/tarball.cc
Owners: @edolstra

Remove `prevInfos` as its dead code
  src/libstore/build/local-derivation-goal.hh
Owners: @thufschmitt

Remove the `ValidPathInfo` `==` operator
  src/libstore/path-info.hh
Owners: @thufschmitt

Input: Remove 'direct' field
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/indirect.cc
Owners: @edolstra

Update flake.nix
  flake.nix
Owners: @edolstra

docker: publish images to ghcr.io (#8066)
  .github/workflows/ci.yml
  doc/manual/src/installation/installing-docker.md
Owners: @edolstra, @fricklerhandwerk

Remove fetchers::Tree and move tarball-related stuff into its own header
  src/libcmd/common-eval-args.cc
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  src/libexpr/flake/flakeref.cc
  src/libexpr/flake/flakeref.hh
  src/libexpr/parser.y
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/github.cc
  src/libfetchers/registry.cc
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
  src/nix-channel/nix-channel.cc
  src/nix/flake.cc
Owners: @edolstra, @inclyc

docker: publish release images to ghcr.io
  maintainers/upload-release.pl
Owners: @edolstra

Expand derivation examples (#9048)
  doc/manual/src/glossary.md
  doc/manual/src/language/derivations.md
Owners: @fricklerhandwerk

Systematize the worker protocol derived path serialiser
  src/libstore/daemon.cc
  src/libstore/remote-store.cc
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.cc
  unit-test-data/libstore/worker-protocol/derived-path-1.29.bin
  unit-test-data/libstore/worker-protocol/derived-path-1.30.bin
Owners: @thufschmitt, @edolstra

Test more derived paths
  src/libstore/tests/worker-protocol.cc
  unit-test-data/libstore/worker-protocol/derived-path.bin
Owners: @thufschmitt, @edolstra

Factor out serialization for `BuildResult`
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/remote-store.cc
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/libstore/tests/serve-protocol.cc
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.cc
  src/nix-store/nix-store.cc
  unit-test-data/libstore/serve-protocol/build-result-2.2.bin
  unit-test-data/libstore/serve-protocol/build-result-2.3.bin
  unit-test-data/libstore/serve-protocol/build-result-2.6.bin
  unit-test-data/libstore/worker-protocol/build-result-1.27.bin
  unit-test-data/libstore/worker-protocol/build-result-1.28.bin
  unit-test-data/libstore/worker-protocol/build-result-1.29.bin
  unit-test-data/libstore/worker-protocol/keyed-build-result-1.29.bin
Owners: @thufschmitt, @edolstra

Move `ValidPathInfo` serialization code to `worker-protocol.{cc.hh}`
  src/libstore/daemon.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
Owners: @thufschmitt

Factor out `UnkeyedValidPathInfo` and test
  src/libstore/daemon.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/remote-store.cc
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  unit-test-data/libstore/worker-protocol/unkeyed-valid-path-info-1.15.bin
  unit-test-data/libstore/worker-protocol/valid-path-info-1.15.bin
  unit-test-data/libstore/worker-protocol/valid-path-info-1.16.bin
Owners: @thufschmitt, @edolstra

feat: Add .idea folder to gitignore
  .gitignore
Owners: @edolstra

chore: Enhance variable naming and reduce code nesting.
  src/nix/app.cc
Owners: @edolstra

chore: Add const qualifier.
  src/nix/app.cc
Owners: @edolstra

fix: adl_serializer for std::optional
  src/libutil/json-utils.hh
  src/libutil/tests/json-utils.cc
Owners: @edolstra

additional test cases
  src/libutil/json-utils.hh
  src/libutil/tests/json-utils.cc
Owners: @edolstra

restore static_asserts
  src/libutil/json-utils.hh
Owners: @edolstra

add explicit link to AWS store docs
  doc/manual/src/advanced-topics/post-build-hook.md
Owners: @fricklerhandwerk

multi-user installer: support --no-modify-profile
  scripts/install-multi-user.sh
  scripts/install-nix-from-closure.sh
Owners: @edolstra

fix: Restore else statements.
  src/nix/app.cc
Owners: @edolstra

fix: Revert variable name to 'type' and restore missing blank lines.
  src/nix/app.cc
Owners: @edolstra

Clean up `app.cc` (#9201)
  .gitignore
  src/nix/app.cc
Owners: @edolstra

Move files, fix build
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/glossary.md
  doc/manual/src/store/abstract/abstract.md
  doc/manual/src/store/abstract/building.md
  doc/manual/src/store/abstract/closure.md
  doc/manual/src/store/abstract/drv.md
  doc/manual/src/store/abstract/object.md
  doc/manual/src/store/build-system-terminology.md
  doc/manual/src/store/concrete/building.md
  doc/manual/src/store/concrete/building/coherence.md
  doc/manual/src/store/concrete/ca-fso.md
  doc/manual/src/store/concrete/ca-object.md
  doc/manual/src/store/concrete/concrete.md
  doc/manual/src/store/concrete/drv/ca.md
  doc/manual/src/store/concrete/drv/drv.md
  doc/manual/src/store/concrete/drv/ia.md
  doc/manual/src/store/concrete/file-system-object.md
  doc/manual/src/store/concrete/object.md
  doc/manual/src/store/concrete/path.md
  doc/manual/src/store/concrete/reference-scanning.md
  doc/manual/src/store/concrete/relocatability.md
  doc/manual/src/store/related-work.md
  doc/manual/src/store/store.md
Owners: @fricklerhandwerk

remove Basic Package Management section (#7974)
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/package-management/basic-package-mgmt.md
Owners: @fricklerhandwerk

remove superfluous phrase
  doc/manual/src/command-ref/nix-collect-garbage.md
Owners: @fricklerhandwerk

move warning into the list item contents
  doc/manual/src/command-ref/nix-collect-garbage.md
Owners: @fricklerhandwerk

dedent lists
  doc/manual/src/command-ref/nix-store/gc.md
Owners: @fricklerhandwerk

"roots" -> garbage collection roots
  doc/manual/src/command-ref/nix-store/gc.md
Owners: @fricklerhandwerk

use imperative in examples
  doc/manual/src/command-ref/nix-store/gc.md
Owners: @fricklerhandwerk

add links
  doc/manual/src/command-ref/nix-store/gc.md
Owners: @fricklerhandwerk

move all unique information on garbage collection to `nix-store --gc`
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/command-ref/nix-store/gc.md
  doc/manual/src/package-management/garbage-collection.md
  doc/manual/src/package-management/garbage-collector-roots.md
Owners: @fricklerhandwerk

fix typo
  src/libstore/s3-binary-cache-store.md
Owners: @thufschmitt

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc
