Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

flake: Temporarily get Nixpkgs ahead of Hydra
  flake.lock
  flake.nix
Owners: @edolstra

document store objects in terms of their constituent parts
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/architecture/architecture.md
  doc/manual/src/glossary.md
  doc/manual/src/store/index.md
  doc/manual/src/store/store-object.md
Owners: @fricklerhandwerk

document store paths
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/glossary.md
  doc/manual/src/store/store-object.md
  doc/manual/src/store/store-path.md
Owners: @fricklerhandwerk

Remove stray executable permissions on source files
  src/nix-channel/nix-channel.cc
  src/nix-copy-closure/nix-copy-closure.cc
Owners: @edolstra

Use expect
  tests/functional/nar-access.sh
Owners: @edolstra

Add an integration test for ACL functionality
  flake.nix
  src/libstore/local-fs-store.hh
  tests/nixos/acls.nix
Owners: @edolstra, @thufschmitt

Systematize characterization tests a bit more
  src/libstore/tests/characterization.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/derivation.cc
  src/libstore/tests/libstore.hh
  src/libstore/tests/protocol.hh
  src/libutil/tests/characterization.hh
Owners: @thufschmitt, @edolstra

Don't use `std::invocable` C++ concept yet
  src/libstore/tests/derivation.cc
  src/libutil/tests/characterization.hh
Owners: @thufschmitt, @edolstra

Forcibly add files
  src/libfetchers/git.cc
Owners: @edolstra

Fix nar-access test on macOS
  tests/functional/nar-access.sh
Owners: @edolstra

parseDerivation(): Fix warning about uninitialized 'version' variable
  src/libstore/derivations.cc
Owners: @thufschmitt

Fix uninitialized variable warnings on i686-linux
  src/libcmd/command.cc
  src/libcmd/installables.cc
  src/libstore/store-api.cc
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
Owners: @edolstra, @thufschmitt

libstore/ssh-ng: Fix phase reporting in log files.
  src/libstore/build/derivation-goal.cc
  tests/nixos/default.nix
  tests/nixos/remote-builds-ssh-ng.nix
Owners: @thufschmitt, @edolstra

Fix boost::bad_format_string exception in builtins.addErrorContext
  src/libexpr/primops.cc
Owners: @edolstra

Bump version
  .version
Owners: @edolstra

Add git commit verification input attributes
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
Owners: @edolstra

fetchGit and flake: add publicKeys list input
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/flake/flake.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
Owners: @fricklerhandwerk, @edolstra

fetchGit and flake: add commit signature verification tests
  flake.nix
  tests/functional/fetchGitVerification.sh
  tests/functional/local.mk
Owners: @edolstra

Allow specifying `defaultText` for settings
  doc/manual/generate-settings.nix
  src/libfetchers/fetch-settings.hh
  src/libstore/globals.hh
  src/libutil/abstract-setting-to-json.hh
  src/libutil/config.cc
  src/libutil/config.hh
  src/libutil/tests/config.cc
Owners: @fricklerhandwerk, @edolstra, @thufschmitt

Factor out `MemorySourceAccessor`, implement missing features
  src/libfetchers/input-accessor.hh
  src/libfetchers/memory-input-accessor.cc
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
Owners: @edolstra

Restrict some code to `StoreDirConfig`
  perl/lib/Nix/Store.xs
  src/libcmd/built-path.cc
  src/libcmd/built-path.hh
  src/libexpr/eval-cache.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/value.hh
  src/libstore/builtins/buildenv.cc
  src/libstore/builtins/buildenv.hh
  src/libstore/common-protocol-impl.hh
  src/libstore/common-protocol.cc
  src/libstore/common-protocol.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/libstore/length-prefixed-protocol-helper.hh
  src/libstore/local-store.cc
  src/libstore/misc.cc
  src/libstore/path-with-outputs.cc
  src/libstore/path-with-outputs.hh
  src/libstore/serve-protocol-impl.hh
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/worker-protocol-impl.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-build/nix-build.cc
  src/nix-copy-closure/nix-copy-closure.cc
Owners: @edolstra, @thufschmitt

Factor out `StoreDirConfig`
  src/libstore/path.cc
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
Owners: @thufschmitt

Move store path grammar to a seperate file
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/store/concrete/path.md
  doc/manual/src/store/concrete/path/grammar.md
Owners: @fricklerhandwerk

Fix some manual links
  doc/manual/src/glossary.md
  doc/manual/src/store/concrete/object.md
Owners: @fricklerhandwerk

libstore: change `max-jobs` default to `auto`
  doc/manual/src/release-notes/rl-next.md
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libutil/util.cc
  src/libutil/util.hh
Owners: @fricklerhandwerk, @thufschmitt, @edolstra

Narrower scope for `nativeSystem`
  src/libstore/build/local-derivation-goal.cc
  src/libutil/error.cc
  src/libutil/util.hh
Owners: @thufschmitt, @edolstra

ignore comments
  examples.nix
  src/libexpr/comment.cc
Owners: @edolstra

fix(ssh): extraneous master processes
  src/libstore/ssh.cc
Owners: @thufschmitt

fix(ssh): log first line of stdout
  src/libstore/ssh.cc
Owners: @thufschmitt

Add comparison functions for `NarInfo`
  src/libstore/nar-info.cc
  src/libstore/nar-info.hh
Owners: @thufschmitt

Fix moves in appendOrSet
  src/libutil/config-impl.hh
  src/libutil/config.cc
  src/libutil/config.hh
Owners: @edolstra

More const, scope reductions, move fixes
  src/libutil/config.cc
Owners: @edolstra

Minor improvements
  src/libutil/config.hh
Owners: @edolstra

Make toJSONObject const
  src/libutil/abstract-setting-to-json.hh
  src/libutil/config.cc
  src/libutil/config.hh
Owners: @edolstra

nix key: no need for progressBar
  src/nix/sigs.cc
Owners: @edolstra

Shuffle `ValidPathInfo` JSON rendering
  src/libstore/nar-info.cc
  src/libstore/nar-info.hh
  src/libstore/parsed-derivations.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/tests/nar-info.cc
  src/libstore/tests/path-info.cc
  src/libutil/tests/characterization.hh
  src/nix/path-info.cc
  unit-test-data/libstore/nar-info/impure.json
  unit-test-data/libstore/nar-info/pure.json
  unit-test-data/libstore/path-info/impure.json
  unit-test-data/libstore/path-info/pure.json
Owners: @thufschmitt, @edolstra

Include `compression` in the `NarInfo` JSON format
  src/libstore/nar-info.cc
  src/libstore/tests/nar-info.cc
  unit-test-data/libstore/nar-info/impure.json
Owners: @thufschmitt, @edolstra

Make `nix path-info --json` return an object not array
  doc/manual/src/release-notes/rl-next.md
  src/libstore/nar-info.cc
  src/libstore/parsed-derivations.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/tests/path-info.cc
  src/nix/path-info.cc
  src/nix/path-info.md
  tests/functional/local.mk
  tests/functional/path-info.sh
  unit-test-data/libstore/nar-info/impure.json
  unit-test-data/libstore/nar-info/pure.json
  unit-test-data/libstore/path-info/impure.json
  unit-test-data/libstore/path-info/pure.json
Owners: @fricklerhandwerk, @thufschmitt, @edolstra

Read file incrementally
  src/libutil/args.cc
Owners: @edolstra

feat: break out of shebang processing for non-comments
  src/libutil/args.cc
  tests/functional/flakes/flakes.sh
Owners: @edolstra
