Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

src/libutil/util.hh: Formatting
  src/libutil/util.hh
Owners: @edolstra

Shellbang support with flakes
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix/main.cc
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Owners: @edolstra

fix: test to ensure arguments are passed
  tests/functional/flakes/flakes.sh
Owners: @edolstra

fix: refactor parseCmdline interface
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/main.cc
Owners: @edolstra

doc: remove reference to nix-shell
  src/nix/shell.md
Owners: @fricklerhandwerk

doc: shebang release notes, docs, tests
  doc/manual/src/release-notes/rl-next.md
  src/nix/shell.md
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

libcmd: lookupFileArg(): add baseDir
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
Owners: @edolstra

add test
  tests/functional/lang.sh
Owners: @edolstra

Update scripts/nix-profile-daemon.fish.in
  scripts/nix-profile-daemon.fish.in
Owners: @edolstra

nix: Reserve shebang line syntax and only parse double backtick quotes
  doc/manual/src/release-notes/rl-next.md
  src/libutil/args.cc
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix/shell.md
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

nix: Add command baseDir to parse --expr relative to shebang script
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/installables.cc
  src/libutil/args.cc
  src/libutil/args.hh
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

nix: Parse --file relative to shebang script
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/installables.cc
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

parseShebangs: Make strings with backtick sequences representable
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/tests/args.cc
  src/nix/nix.md
Owners: @edolstra, @fricklerhandwerk

Test parseShebangContent round trip
  src/libutil/tests/args.cc
Owners: @edolstra

nix/installables.cc: Use getCommandBaseDir() where possible
  src/libcmd/installables.cc
Owners: @edolstra

Fix nix shebang interaction with #8131 overhaul completions
  src/libcmd/installables.cc
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/args/root.hh
Owners: @edolstra

Move shebang docs from rl-next to nix.md
  doc/manual/src/release-notes/rl-next.md
  src/nix/nix.md
Owners: @fricklerhandwerk

Fix `boost::bad_format_string` exception in `builtins.addErrorContext` (#9291)
  src/libexpr/primops.cc
  tests/functional/lang.sh
Owners: @edolstra

Update scripts/nix-profile-daemon.fish.in
  scripts/nix-profile-daemon.fish.in
Owners: @edolstra

Populate $XDG_DATA_DIRS with appropriate folder from Nix profile
  scripts/nix-profile-daemon.fish.in
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.fish.in
  scripts/nix-profile.sh.in
Owners: @edolstra

Fix bad copy-paste
  scripts/nix-profile-daemon.fish.in
  scripts/nix-profile.fish.in
Owners: @edolstra

Enable using human-readable name in nix profile
  doc/manual/src/release-notes/rl-next.md
  src/libutil/tests/url-name.cc
  src/libutil/url-name.cc
  src/libutil/url-name.hh
  src/nix/profile-list.md
  src/nix/profile-remove.md
  src/nix/profile-upgrade.md
  src/nix/profile.cc
  tests/functional/nix-profile.sh
Owners: @fricklerhandwerk, @edolstra

allow ^ in URLs
  src/libexpr/flake/flakeref.cc
  src/libutil/tests/url-name.cc
  src/libutil/url-name.cc
  src/libutil/url-parts.hh
  src/libutil/url.cc
  tests/functional/nix-profile.sh
Owners: @edolstra

Add release note on XDG_DATA_DIRS change
  doc/manual/src/release-notes/rl-next.md
Owners: @fricklerhandwerk

Fix logic for default XDG_DATA_DIRS value
  scripts/nix-profile-daemon.fish.in
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.fish.in
  scripts/nix-profile.sh.in
Owners: @edolstra

maintainers: refine the mission statement phrasing
  maintainers/README.md
Owners: @fricklerhandwerk

Fix logic for default XDG_DATA_DIRS value
  scripts/nix-profile-daemon.fish.in
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.fish.in
  scripts/nix-profile.sh.in
Owners: @edolstra

Add some docs on strings with context
  doc/manual/src/language/string-interpolation.md
Owners: @fricklerhandwerk

Update string-interpolation.md
  doc/manual/src/language/string-interpolation.md
Owners: @fricklerhandwerk

Read file incrementally
  src/libutil/args.cc
Owners: @edolstra

feat: break out of shebang processing for non-comments
  src/libutil/args.cc
  tests/functional/flakes/flakes.sh
Owners: @edolstra

nix: Add command baseDir to parse --expr relative to shebang script
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/installables.cc
  src/libutil/args.cc
  src/libutil/args.hh
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

nix: Reserve shebang line syntax and only parse double backtick quotes
  doc/manual/src/release-notes/rl-next.md
  src/libutil/args.cc
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix/shell.md
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

nix: Parse --file relative to shebang script
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/installables.cc
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

nix/installables.cc: Use getCommandBaseDir() where possible
  src/libcmd/installables.cc
Owners: @edolstra

parseShebangs: Make strings with backtick sequences representable
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/tests/args.cc
  src/nix/nix.md
Owners: @edolstra, @fricklerhandwerk

src/libutil/util.hh: Formatting
  src/libutil/util.hh
Owners: @edolstra

Shellbang support with flakes
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix/main.cc
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Owners: @edolstra

Test parseShebangContent round trip
  src/libutil/tests/args.cc
Owners: @edolstra

fix: refactor parseCmdline interface
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/main.cc
Owners: @edolstra
