Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @roberth, @thufschmitt, @ericson2314

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Documentation of built-in functions
src/libexpr/primops.cc @roberth

# Libstore layer
/src/libstore @thufschmitt @ericson2314

Bump version
  .version
Owners: @edolstra

Bump version
  .version
Owners: @edolstra

Create name.cpp
  name.cpp
Owners: @edolstra

builtins.warn: Use logWarning
  src/libexpr/primops.cc
Owners: @roberth

WIP pass call position and dedup adjacent equal trace positions
  src/libexpr/eval.cc
  src/libutil/error.cc
  tests/functional/lang/eval-fail-attr-name-type.err.exp
  tests/functional/lang/eval-fail-foldlStrict-strict-op-application.err.exp
  tests/functional/lang/eval-fail-infinite-recursion-lambda.err.exp
  tests/functional/lang/eval-fail-not-throws.err.exp
  tests/functional/lang/eval-fail-toJSON.err.exp
  tests/functional/lang/eval-fail-using-set-as-attr-name.err.exp
Owners: @edolstra

maintainers: Fix work meeting information
  maintainers/README.md
Owners: @edolstra

Add BLAKE3 hashing algorithm (single-threaded C-based implementation)
  flake.nix
  package.nix
  src/libcmd/misc-store-flags.cc
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/local.mk
  tests/unit/libexpr/error_traces.cc
  tests/unit/libutil/hash.cc
Owners: @edolstra

simplify
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

grammar
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

clarity
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

remove redundant sentence
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

streamline macOS uninstall instructions (#10589)
  doc/manual/src/installation/uninstall.md
Owners: @edolstra

refactor `fetchers::PublicKey` tests
  tests/unit/libfetchers/data/public-key/defaultType.json
  tests/unit/libfetchers/data/public-key/simple.json
  tests/unit/libfetchers/public-key.cc
Owners: @edolstra

add unit tests for `getNullable`
  tests/unit/libutil/json-utils.cc
Owners: @edolstra

use default value in `fetchers::PublicKey` json deserialization
  src/libfetchers/fetchers.cc
Owners: @edolstra

Run the flake-regressions test suite
  .github/workflows/ci.yml
  scripts/flake-regressions.sh
Owners: @edolstra

Hack
  .github/workflows/ci.yml
Owners: @edolstra

doc/manual: Add C API to menu
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/c-api.md
  doc/manual/src/contributing/documentation.md
Owners: @edolstra

libstore/local-derivation-goal: prohibit creating setuid/setgid binaries
  src/libstore/build/local-derivation-goal.cc
  src/libstore/linux/fchmodat2-compat.hh
Owners: @thufschmitt, @ericson2314

Require at least libseccomp 2.5.5
  configure.ac
  flake.nix
Owners: @edolstra

add a recommendation for first-time contributors
  CONTRIBUTING.md
Owners: @edolstra

Compute fingerprint only if needed
  src/libcmd/installables.cc
Owners: @edolstra

fixup: Compute fingerprint only if needed
  src/libcmd/installables.cc
Owners: @edolstra

add a recommendation for first-time contributors (#10605)
  CONTRIBUTING.md
Owners: @edolstra

PathInputScheme: Improve path display
  src/libfetchers/path.cc
Owners: @edolstra

BasicDerivation: Add applyRewrites() method
  src/libstore/derivations.cc
  src/libstore/derivations.hh
Owners: @thufschmitt, @ericson2314

Introduce a new string context for representing paths
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/paths.cc
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/primops/filterPath.cc
  src/libexpr/value/context.cc
  src/libexpr/value/context.hh
  src/nix/app.cc
  tests/functional/fetchGit.sh
  tests/functional/toString-path.sh
Owners: @edolstra, @roberth

Re-enable some tests
  tests/functional/flakes/flakes.sh
Owners: @edolstra

perl: Correct nebulous #include within Store.xs
  perl/lib/Nix/Store.xs
Owners: @edolstra

perl: Rewrite build system using Meson
  perl/Makefile
  perl/Makefile.config.in
  perl/configure.ac
  perl/default.nix
  perl/lib/Nix/meson.build
  perl/local.mk
  perl/meson.build
  perl/meson_options.txt
  perl/t/meson.build
Owners: @edolstra

perl: Allow running `yath test` in the build directory
  perl/.yath.rc
  perl/.yath.rc.in
  perl/default.nix
  perl/meson.build
Owners: @edolstra

Move `libseccomp` source override outside `package.nix`
  flake.nix
  package.nix
Owners: @edolstra

Honor the same set of proxy environment variables
  doc/manual/src/installation/env-variables.md
  scripts/install-systemd-multi-user.sh
  src/libexpr/fetchurl.nix
  src/nix-build/nix-build.cc
  src/nix/main.cc
  tests/nixos/nss-preload.nix
Owners: @edolstra

Input::fetchToStore(): Don't try to substitute
  src/libfetchers/fetchers.cc
  tests/functional/tarball.sh
Owners: @edolstra

WIP
  src/libstore/remote-fs-accessor.cc
  src/libstore/ssh.cc
  src/libstore/windows/pathlocks.cc
  src/libutil/file-descriptor.cc
  src/libutil/file-descriptor.hh
  src/libutil/file-system.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/serialise.hh
  src/nix/prefetch.cc
Owners: @thufschmitt, @ericson2314, @edolstra

Factor out proxy var list
  src/nix-build/nix-build.cc
  src/nix/main.cc
  src/nix/network-proxy.hh
Owners: @edolstra

nix repl: hide progress bar during :edit
  src/libcmd/repl.cc
Owners: @edolstra

Debug
  src/libfetchers/fetch-to-store.cc
Owners: @edolstra

callPathFilter(): Pass a lazy store path
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/primops/filterPath.cc
Owners: @edolstra, @roberth

Fix fileset compatibility
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  tests/functional/flakes/flakes.sh
Owners: @edolstra, @roberth
