Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc

Cleanup
  src/libfetchers/mounted-input-accessor.cc
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
Owners: @edolstra

nar dump-path command renamed to nar pack
  src/nix/dump-path.cc
  src/nix/nar-dump-path.md
Owners: @edolstra, @fricklerhandwerk

code cleanup
  src/nix/nar-dump-path.md
Owners: @fricklerhandwerk

Improve git submodule error reporting
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
Owners: @edolstra

Fix relative submodule handling
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  src/libutil/url.cc
  src/libutil/url.hh
Owners: @edolstra

Fix makefile bug confusing `libnixutil-test` exe vs lib
  src/libutil/tests/local.mk
Owners: @edolstra

doc: logical implication is right-associative
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

doc: logical implication is right-associative
  doc/manual/src/language/operators.md
Owners: @fricklerhandwerk

print all metadata from builtins
  examples.nix
  src/libexpr/primops.cc
Owners: @edolstra

Show Git fetch progress
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  src/libmain/progress-bar.cc
  src/libutil/logging.hh
Owners: @edolstra

Remove unused cacheType field
  src/libfetchers/git.cc
Owners: @edolstra

acls grant/revoke: Error if group or user does not exists
  src/nix/store-access-grant.cc
  src/nix/store-access-revoke.cc
Owners: @edolstra

Implement shallow fetching
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
Owners: @edolstra

Add a new `nix store add` command
  doc/manual/src/release-notes/rl-next.md
  src/nix/add-file.md
  src/nix/add-to-store.cc
  src/nix/add.md
  tests/functional/add.sh
Owners: @fricklerhandwerk, @edolstra

Implement --raw for nix-instantiate --eval
  src/nix-instantiate/nix-instantiate.cc
Owners: @edolstra

nix: develop: always force SHELL to chosen shell
  src/nix/develop.cc
Owners: @edolstra

nix: develop: add tests for interactive shell
  tests/functional/flakes/develop.sh
  tests/functional/local.mk
Owners: @edolstra

Document <drvPath>^<outputName> syntax for installables
  doc/manual/src/glossary.md
  src/nix/nix.md
Owners: @fricklerhandwerk

Use boost small vectors instead of VLAs in the primops
  src/libexpr/primops.cc
Owners: @edolstra

Remove all the occurences of VLAs
  src/libexpr/eval.cc
  src/libstore/derivations.cc
  src/libstore/gc.cc
Owners: @edolstra, @inclyc, @thufschmitt

libexpr: Check primop arity earlier
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/tests/value/print.cc
  src/libexpr/value.hh
Owners: @edolstra, @inclyc

Acls test: permission of dependency.
  tests/acls/protect_dep.sh
  tests/local.mk
Owners: @edolstra

fixup! nix: develop: add tests for interactive shell
  tests/functional/common/vars-and-functions.sh.in
  tests/functional/flakes/develop.sh
Owners: @edolstra

maxPrimOpArity: 64 -> 8
  src/libexpr/eval.hh
Owners: @edolstra, @inclyc

primops: Name stack reservation limits
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libexpr/primops.hh
Owners: @edolstra, @inclyc

builtins.{any,all}: Use constant errorCtx
  src/libexpr/primops.cc
Owners: @edolstra

libexpr: Reduce nonRecursiveStackReservation
  src/libexpr/primops.hh
Owners: @edolstra

primops: Err on the side of less stack usage
  src/libexpr/eval.cc
  src/libexpr/primops.cc
Owners: @edolstra, @inclyc

ExprCall::eval: Heap allocate at arity 5+
  src/libexpr/eval.cc
Owners: @edolstra, @inclyc

readProcLink: Replace unnecessary value judgement by actual info
  src/libstore/gc.cc
Owners: @thufschmitt

removeAttrs: increase stack reservation to 64
  src/libexpr/primops.cc
Owners: @edolstra

Allow installing unit tests
  Makefile.config.in
  configure.ac
  flake.nix
  src/libexpr/tests/local.mk
  src/libstore/tests/local.mk
  src/libutil/tests/local.mk
Owners: @edolstra, @thufschmitt

Fix symlink handling
  src/libexpr/eval.hh
  src/libexpr/parser.y
  tests/functional/lang/eval-okay-symlink-resolution.exp
  tests/functional/lang/eval-okay-symlink-resolution.nix
  tests/functional/lang/symlink-resolution/foo/lib/default.nix
  tests/functional/lang/symlink-resolution/foo/overlays
  tests/functional/lang/symlink-resolution/overlays/overlay.nix
Owners: @edolstra, @inclyc

Fix a broken generated header file dependency
  src/libexpr/local.mk
Owners: @edolstra

libstore: Add apple-virt to system features when available
  src/libstore/globals.cc
  src/libstore/globals.hh
Owners: @thufschmitt

Update src/nix/nix.md
  src/nix/nix.md
Owners: @fricklerhandwerk

Update doc/manual/src/glossary.md
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

Update doc/manual/src/glossary.md
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

Update doc/manual/src/glossary.md
  doc/manual/src/glossary.md
Owners: @fricklerhandwerk

doc: Add example of inherit in a let expression
  doc/manual/src/language/constructs.md
Owners: @fricklerhandwerk
