Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

Include fetcher input scheme info in the CLI dump
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/nix/main.cc
Owners: @edolstra

Cleanup
  src/libexpr/flake/flake.cc
Owners: @edolstra

Allow `diff-closures` to output `json`
  src/libcmd/command.hh
  src/nix/diff-closures.cc
  src/nix/profile.cc
Owners: @edolstra

Document `--json` in `diff-closures`
  src/nix/diff-closures.md
Owners: @fricklerhandwerk

Escape `${` in strings when printing Nix expressions
  src/libexpr/eval.cc
  tests/lang/eval-okay-ind-string.exp
  tests/user-envs.nix
Owners: @edolstra, @inclyc

Mention build users in the 'waiting for' message
  src/libstore/build.cc
Owners: @thufschmitt

Don't block while waiting for build users
  src/libstore/build.cc
Owners: @thufschmitt

Wait for build users when none are available
  src/libstore/build.cc
Owners: @thufschmitt

Address removal of pkgconfig alias
  release-common.nix
Owners: @edolstra

Convert stringly-typed configureFlags to lists of strings
  release.nix
Owners: @edolstra

Fetcher cache: Add support for caching facts not related to store paths
  src/libfetchers/cache.cc
  src/libfetchers/cache.hh
Owners: @edolstra

Provide a InputScheme::fetch() built on top of InputScheme::getAccessor()
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
Owners: @edolstra

Cleanup
  src/libfetchers/git.cc
Owners: @edolstra

Git fetcher: Improve submodule handling
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  src/libfetchers/union-input-accessor.cc
  src/libfetchers/union-input-accessor.hh
  tests/functional/fetchGitSubmodules.sh
Owners: @edolstra

GitInputScheme: Use libgit2
  flake.nix
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  src/libfetchers/local.mk
  tests/functional/fetchGit.sh
  tests/functional/flakes/flake-in-submodule.sh
Owners: @edolstra

Fix missing output when creating lockfile
  src/libexpr/flake/flake.cc
Owners: @edolstra

Fix documentation of flake command output
  src/nix/flake-lock.md
  src/nix/flake-update.md
Owners: @fricklerhandwerk

Overhaul nix flake update and lock commands
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/libexpr/flake/flake.cc
  src/nix/flake-lock.md
  src/nix/flake-update.md
  src/nix/flake.cc
  tests/functional/completions.sh
  tests/functional/flakes/circular.sh
  tests/functional/flakes/flakes.sh
  tests/functional/flakes/follow-paths.sh
Owners: @fricklerhandwerk, @edolstra

fix: segfault in positional arg completion
  src/libutil/args.cc
  src/libutil/args.hh
  tests/functional/completions.sh
Owners: @edolstra

Git fetcher: Handle submodules for workdirs
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  tests/functional/flakes/flake-in-submodule.sh
Owners: @edolstra

Add configure test to ensure GCC bug is fixed
  configure.ac
  m4/gcc_bug_80431.m4
Owners: @edolstra

Remove bug-avoiding `StoreConfig *` casts for settings
  src/libstore/binary-cache-store.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-fs-store.hh
  src/libstore/local-store.hh
  src/libstore/remote-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
Owners: @thufschmitt

Make `ParseSink` a bit better
  src/libstore/daemon.cc
  src/libstore/export-import.cc
  src/libstore/local-store.cc
  src/libstore/store-api.cc
  src/libutil/archive.cc
  src/libutil/archive.hh
  src/libutil/fs-sink.cc
  src/libutil/fs-sink.hh
Owners: @thufschmitt, @edolstra

doc/hacking: Fix clangd for tests
  doc/manual/src/contributing/hacking.md
Owners: @fricklerhandwerk

Add a library for ACL manipulation
  flake.nix
  src/libutil/acl.cc
  src/libutil/acl.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/libutil/local.mk
  src/libutil/util.cc
  src/libutil/util.hh
Owners: @edolstra

Remove FSAccessor::Type::tMissing
  src/libstore/binary-cache-store.cc
  src/libstore/fs-accessor.hh
  src/libstore/local-fs-store.cc
  src/libstore/nar-accessor.cc
  src/libstore/remote-fs-accessor.cc
  src/libstore/remote-fs-accessor.hh
  src/nix/cat.cc
  src/nix/ls.cc
  src/nix/run.cc
  src/nix/why-depends.cc
Owners: @thufschmitt, @edolstra

Unify FSAccessor::Type and SourceAccessor::Type
  src/libstore/binary-cache-store.cc
  src/libstore/fs-accessor.hh
  src/libstore/nar-accessor.cc
  src/nix/run.cc
Owners: @thufschmitt, @edolstra

SourceAccessor: Change the main interface from lstat() to maybeLstat()
  src/libexpr/primops.cc
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/memory-input-accessor.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
  tests/functional/lang/eval-fail-bad-string-interpolation-2.err.exp
  tests/functional/lang/eval-fail-nonexist-path.err.exp
Owners: @edolstra

Unify DirEntries types
  src/libstore/binary-cache-store.cc
  src/libstore/fs-accessor.hh
  src/libstore/local-fs-store.cc
  src/libstore/nar-accessor.cc
  src/libstore/remote-fs-accessor.cc
  src/libstore/remote-fs-accessor.hh
  src/nix/ls.cc
  src/nix/why-depends.cc
Owners: @thufschmitt, @edolstra

FSAccessor: Make the fileSize and narOffset fields optional
  src/libstore/fs-accessor.hh
  src/libstore/nar-accessor.cc
  src/nix/ls.cc
Owners: @thufschmitt, @edolstra

Add a granular store interface
  src/libstore/access-status.hh
  src/libstore/granular-access-store.hh
Owners: @thufschmitt

Implement granular access store
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/daemon.hh
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/local.mk
  src/libstore/lock.cc
  src/libstore/lock.hh
  src/libstore/misc.cc
  src/libstore/nar-info.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/realisation.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/worker-protocol-impl.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/libutil/archive.cc
  src/libutil/archive.hh
  src/nix/daemon.cc
Owners: @thufschmitt, @edolstra

Add CLI commands to manipulate ACLs
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/libmain/common-args.hh
  src/nix/add-to-store.cc
  src/nix/build.cc
  src/nix/store-access-grant.cc
  src/nix/store-access-grant.md
  src/nix/store-access-info.cc
  src/nix/store-access-info.md
  src/nix/store-access-protect.cc
  src/nix/store-access-protect.md
  src/nix/store-access-revoke.cc
  src/nix/store-access-revoke.md
  src/nix/store-access-unprotect.cc
  src/nix/store-access-unprotect.md
  src/nix/store-access.cc
  src/nix/store-access.md
Owners: @edolstra, @fricklerhandwerk

Add __permissions to builtins.derivation and builtins.path
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
Owners: @edolstra, @inclyc

fmt(): Handle std::string_view
  src/libutil/fmt.hh
Owners: @edolstra

Merge FSAccessor into SourceAccessor
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/derivations.cc
  src/libstore/dummy-store.cc
  src/libstore/fs-accessor.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-fs-store.cc
  src/libstore/local-fs-store.hh
  src/libstore/nar-accessor.cc
  src/libstore/nar-accessor.hh
  src/libstore/remote-fs-accessor.cc
  src/libstore/remote-fs-accessor.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/uds-remote-store.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
  src/nix/bundle.cc
  src/nix/cat.cc
  src/nix/ls.cc
  src/nix/run.cc
  src/nix/why-depends.cc
  tests/functional/nar-access.sh
Owners: @thufschmitt, @edolstra

LocalStoreAccessor: Reuse PosixSourceAccessor
  src/libstore/local-fs-store.cc
  src/libutil/posix-source-accessor.cc
Owners: @thufschmitt, @edolstra

Don't assume uid/gid 0 is invalid
  src/libstore/lock.cc
Owners: @thufschmitt

fix: gcc complains about if which doesn't guard the indented statement
  src/libstore/build/local-derivation-goal.cc
Owners: @thufschmitt

Fix whitespace
  src/libstore/binary-cache-store.cc
Owners: @thufschmitt

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc
