Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @thufschmitt, @inclyc

doc: shebang release notes, docs, tests
  doc/manual/src/release-notes/rl-next.md
  src/nix/shell.md
  tests/functional/flakes/flakes.sh
Owners: @fricklerhandwerk, @edolstra

libcmd: lookupFileArg(): add baseDir
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
Owners: @edolstra

doc: remove reference to nix-shell
  src/nix/shell.md
Owners: @fricklerhandwerk

Move shebang docs from rl-next to nix.md
  doc/manual/src/release-notes/rl-next.md
  src/nix/nix.md
Owners: @fricklerhandwerk

fix: test to ensure arguments are passed
  tests/functional/flakes/flakes.sh
Owners: @edolstra

Fix nix shebang interaction with #8131 overhaul completions
  src/libcmd/installables.cc
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/args/root.hh
Owners: @edolstra

Link to shebang interpreter docs from release notes
  doc/manual/src/release-notes/rl-next.md
Owners: @fricklerhandwerk

Link to shebang interpreter docs from release notes
  doc/manual/src/release-notes/rl-next.md
Owners: @fricklerhandwerk

Fix initialization of struct members (wrong order)
  src/libstore/nar-accessor.cc
Owners: @thufschmitt

Drop obsolete assert and cast
  src/libstore/nar-accessor.cc
Owners: @thufschmitt

Use structured binding for json iteration
  src/libstore/nar-accessor.cc
Owners: @thufschmitt

Fix consts and casts
  src/libstore/nar-accessor.cc
  src/libstore/nar-accessor.hh
  src/libstore/nar-info.cc
  src/libstore/nar-info.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
Owners: @thufschmitt

Specify the size of the experimental feature array in a more robust way
  src/libutil/experimental-features.cc
Owners: @edolstra

Mark `fetchTree` as unstable again
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops/fetchTree.cc
  src/libutil/config.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/functional/config.sh
Owners: @fricklerhandwerk, @edolstra

Fixup docs
  doc/manual/src/release-notes/rl-next.md
  src/libutil/config.cc
  src/libutil/experimental-features.cc
Owners: @fricklerhandwerk, @edolstra

nix-profile*.sh.in: append PATHs idempotently
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.sh.in
Owners: @edolstra

`nix-env --query`: fix `--json` ignoring `--drv-path`
  doc/manual/src/release-notes/rl-next.md
  src/nix-env/nix-env.cc
  tests/functional/user-envs.sh
Owners: @fricklerhandwerk, @edolstra

`.editorconfig`: Also affect Perl FFI `xs` file
  .editorconfig
Owners: @edolstra

configure: Check for libgit2
  Makefile.config.in
  configure.ac
  src/libfetchers/local.mk
Owners: @edolstra

Create `MemorySink`
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
Owners: @edolstra

Refactor bash test build system a bit
  doc/manual/src/contributing/testing.md
  mk/common-test.sh
  mk/debug-test.sh
  mk/lib.mk
  mk/run-test.sh
  mk/tests.mk
  tests/functional/common/vars-and-functions.sh.in
Owners: @fricklerhandwerk, @edolstra

Git object hashing in libutil
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/libutil/git.cc
  src/libutil/git.hh
  src/libutil/serialise.cc
  src/libutil/serialise.hh
  src/libutil/tests/git.cc
  src/libutil/tests/local.mk
  unit-test-data/libutil/git/check-data.sh
  unit-test-data/libutil/git/hello-world-blob.bin
  unit-test-data/libutil/git/hello-world.bin
  unit-test-data/libutil/git/tree.bin
  unit-test-data/libutil/git/tree.txt
Owners: @edolstra

nix upgrade-nix: make the source URL an option
  src/libstore/globals.hh
  src/nix/upgrade-nix.cc
  src/nix/upgrade-nix.md
Owners: @thufschmitt, @edolstra, @fricklerhandwerk

backport fix for the `--help` output
  doc/manual/generate-manpage.nix
  doc/manual/local.mk
  doc/manual/utils.nix
  src/nix/main.cc
Owners: @fricklerhandwerk, @edolstra

doc: add note about trusted users
  doc/manual/src/advanced-topics/distributed-builds.md
Owners: @fricklerhandwerk

libexpr: Memoize partial let and apply results for retries
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libutil/error.hh
  tests/functional/lang.sh
  tests/functional/lang/memoize-despite-exception.sh
Owners: @edolstra, @inclyc

tests/vars-and-functions: Add spy() because no tee stderr on mac
  tests/functional/common/vars-and-functions.sh.in
  tests/functional/lang/memoize-despite-exception.sh
Owners: @edolstra

doc: primops: add more info for foldl
  src/libexpr/primops.cc
Owners: @edolstra

key and cat: no need for progressBar
  src/nix/cat.cc
  src/nix/sigs.cc
Owners: @edolstra

Add TODO comment for include try/catch
  src/libutil/config.cc
Owners: @edolstra

Move applyConfigFile to lambda inside libstore
  src/libstore/globals.cc
  src/libutil/config.cc
  src/libutil/config.hh
Owners: @thufschmitt, @edolstra

Update comment to reflect bind mounts are now used for store in chroot
  src/libstore/build/local-derivation-goal.cc
Owners: @thufschmitt

Add tests/acls.sh
  tests/acls.sh
  tests/init.sh
  tests/local.mk
Owners: @edolstra

Use libgit2 with ssh-exec support
  flake.lock
  flake.nix
  src/libfetchers/git-utils.cc
Owners: @edolstra

Move statusCallbackTrampoline
  src/libfetchers/git-utils.cc
Owners: @edolstra

src/libfetchers/git.cc: Apply suggestion
  src/libfetchers/git.cc
Owners: @edolstra

src/libfetchers/union-input-accessor.cc: Apply suggestion
  src/libfetchers/union-input-accessor.cc
Owners: @edolstra

Fix doxygen comments
  src/libfetchers/cache.hh
Owners: @edolstra

Move comment
  src/libfetchers/cache.hh
Owners: @edolstra

Rename UnionInputAccessor to MountedInputAccessor
  src/libfetchers/git.cc
  src/libfetchers/mounted-input-accessor.cc
  src/libfetchers/mounted-input-accessor.hh
  src/libfetchers/union-input-accessor.hh
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

# Libexpr, nix language
/src/libexpr/parser.y @edolstra @inclyc
/src/libexpr/lexer.l @edolstra @inclyc
/src/libexpr/nixexpr.hh @edolstra @inclyc
/src/libexpr/nixexpr.cc @edolstra @inclyc
/src/libexpr/symbol-table.hh @edolstra @inclyc
/src/libexpr/eval.cc @edolstra @inclyc
/src/libexpr/eval.hh @edolstra @inclyc
/src/libexpr/eval-inline.hh @edolstra @inclyc
