Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @roberth, @thufschmitt, @ericson2314

Whitespace
  src/libfetchers/path.cc
Owners: @edolstra

Test dirOf behaviour on the root of a flake
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Owners: @edolstra

Test baseNameOf behaviour on the root of a flake
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Owners: @edolstra

Test baseNameOf behaviour on the root of a flake
  src/libexpr/primops.cc
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Owners: @roberth, @edolstra

Cleanup
  src/libfetchers/fetch-to-store.cc
Owners: @edolstra

Debug
  src/libexpr/primops.cc
Owners: @roberth

Copy roots to the store as /nix/store/<hash1>-<hash2>-source
  src/libexpr/eval.cc
Owners: @edolstra

Update distibuted-builds.md not to use nix-store info
  doc/manual/src/advanced-topics/distributed-builds.md
Owners: @edolstra

Test that the root of a tree produces /nix/store/<hash1>-<hash2>-source
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Owners: @edolstra

Update tests/functional/flakes/flakes.sh
  tests/functional/flakes/flakes.sh
Owners: @edolstra

filterPath: Ensure /nix/store/<hash>-<hash>-source
  src/libexpr/primops.cc
Owners: @roberth

Disable some GitHub narHash related tests for now
  tests/nixos/github-flakes.nix
Owners: @edolstra

Run more flake regression tests
  scripts/flake-regressions.sh
Owners: @edolstra

Revert "Factor out proxy var list"
  src/nix-build/nix-build.cc
  src/nix/main.cc
  src/nix/network-proxy.hh
Owners: @edolstra

Unify proxy environment variables in C++ section
  src/libcmd/network-proxy.cc
  src/libcmd/network-proxy.hh
  src/nix-build/nix-build.cc
  src/nix/main.cc
Owners: @edolstra

libexpr: Add missing GC root for baseEnv
  src/libexpr/eval.cc
  src/libexpr/eval.hh
Owners: @edolstra

Make `network-proxy.*` clang-format compliant
  src/libcmd/network-proxy.cc
  src/libcmd/network-proxy.hh
Owners: @edolstra

Ajust variable name to naming convention
  src/libcmd/network-proxy.cc
Owners: @edolstra

feat: add yml for pull bot
  .github/pull.yml
Owners: @edolstra

Add trailing comma. Remove _WIN32 section.
  src/nix-build/nix-build.cc
  src/nix/main.cc
Owners: @edolstra

Fix format errors
  maintainers/flake-module.nix
  src/libstore/indirect-root-store.cc
  src/libutil/unix-domain-socket.hh
Owners: @edolstra, @thufschmitt, @ericson2314

_not_ round-trip tests for `fetchers::PublicKey` default `type`
  tests/unit/libfetchers/data/public-key/noRoundTrip.json
  tests/unit/libfetchers/public-key.cc
Owners: @edolstra

Merge InputAccessor into SourceAccessor
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/nixexpr.hh
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/value.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/fs-input-accessor.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/memory-input-accessor.cc
  src/libfetchers/memory-input-accessor.hh
  src/libfetchers/mounted-input-accessor.cc
  src/libfetchers/mounted-input-accessor.hh
  src/libfetchers/path.cc
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
  src/libfetchers/unix/git.cc
  src/libfetchers/unix/mercurial.cc
  src/libutil/input-accessor.hh
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
  src/libutil/source-accessor.hh
  src/libutil/source-path.cc
  src/libutil/source-path.hh
  src/nix-env/nix-env.cc
  src/nix/main.cc
  tests/unit/libexpr/primops.cc
Owners: @edolstra, @roberth

Remove FSInputAccessor
  src/libcmd/installables.cc
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/path.cc
  src/libfetchers/store-path-accessor.cc
  src/libfetchers/store-path-accessor.hh
  src/libfetchers/tarball.cc
  src/libfetchers/unix/git.cc
  src/libfetchers/unix/mercurial.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/source-accessor.hh
  tests/unit/libexpr/primops.cc
Owners: @edolstra, @roberth

Formatting
  src/libfetchers/store-path-accessor.cc
  src/libfetchers/store-path-accessor.hh
Owners: @edolstra

TarballInputScheme: Fix fetchToStore() caching
  src/libfetchers/fetchers.cc
  src/libfetchers/tarball.cc
Owners: @edolstra

language: Link examples to detail explanations.
  doc/manual/src/language/constructs.md
  doc/manual/src/language/index.md
Owners: @edolstra

document store url `trusted=true` option behavior
  src/libstore/globals.hh
Owners: @thufschmitt, @ericson2314

Fix failing test (due to conversion)
  tests/unit/libfetchers/public-key.cc
Owners: @edolstra

EvalState: Rename decodePaths() -> prettyPrintPaths()
  src/libexpr/eval.hh
  src/libexpr/paths.cc
  src/libexpr/primops.cc
Owners: @edolstra, @roberth

Pretty-print virtual paths in more contexts
  src/libexpr/primops.cc
Owners: @roberth

Add tests for tree laziness
  tests/functional/flakes/build-paths.sh
  tests/functional/flakes/lazy-trees.sh
  tests/functional/local.mk
Owners: @edolstra

Warn against use of `toString ./path` as a derivation attribute
  src/libexpr/eval.hh
  src/libexpr/paths.cc
  src/libexpr/primops.cc
  tests/functional/flakes/lazy-trees.sh
Owners: @edolstra, @roberth

Remove unused
  .github/workflows/ci.yml
Owners: @edolstra

_not_ round-trip tests for `fetchers::PublicKey` default `type` (#10637)
  tests/unit/libfetchers/data/public-key/noRoundTrip.json
  tests/unit/libfetchers/public-key.cc
Owners: @edolstra

tests: remove unneeded indirection
  mk/common-test.sh
  mk/debug-test.sh
  mk/run-test.sh
Owners: @edolstra

Fix concatenating to an attrset
  src/libexpr/eval.cc
Owners: @edolstra

Rename remaining instances of "InputAccessor" to "SourceAccessor"
  maintainers/flake-module.nix
  src/libexpr/eval.cc
  src/libexpr/flake/call-flake.nix
  src/libfetchers/filtering-source-accessor.cc
  src/libfetchers/filtering-source-accessor.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/mounted-input-accessor.hh
  src/libfetchers/mounted-source-accessor.cc
  src/libfetchers/mounted-source-accessor.hh
  src/libfetchers/unix/git.cc
  src/libutil/source-accessor.hh
Owners: @edolstra

libstore: check additionalSandboxProfile
  src/libstore/unix/build/local-derivation-goal.cc
  tests/functional/extra-sandbox-profile.nix
  tests/functional/extra-sandbox-profile.sh
  tests/functional/local.mk
Owners: @thufschmitt, @ericson2314, @edolstra

doc/values: Improve Path
  doc/manual/src/language/values.md
Owners: @edolstra

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Documentation of built-in functions
src/libexpr/primops.cc @roberth

# Libstore layer
/src/libstore @thufschmitt @ericson2314
