Repository NixOS/nix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @edolstra, @fricklerhandwerk, @roberth, @thufschmitt

.github/CODEOWNERS:

# Pull requests concerning the listed files will automatically invite the respective maintainers as reviewers.
# This file is not used for denoting any kind of ownership, but is merely a tool for handling notifications.
#
# Merge permissions are required for maintaining an entry in this file.
# For documentation on this mechanism, see https://help.github.com/articles/about-codeowners/

# Default reviewers if nothing else matches
* @edolstra

# This file
.github/CODEOWNERS @edolstra

# Public documentation
/doc @fricklerhandwerk
*.md @fricklerhandwerk

# Documentation of built-in functions
src/libexpr/primops.cc @fricklerhandwerk @roberth
# Documentation on experimental features
src/libutil/experimental-features.cc @fricklerhandwerk
# Documentation on configuration settings
src/libstore/globals.hh @fricklerhandwerk

# Libstore layer
/src/libstore @thufschmitt

installing-binary.md aktualisieren
  doc/manual/src/installation/installing-binary.md
Owners: @fricklerhandwerk

installing-binary.md aktualisieren
  doc/manual/src/installation/installing-binary.md
Owners: @fricklerhandwerk

installing-binary.md aktualisieren
  doc/manual/src/installation/installing-binary.md
Owners: @fricklerhandwerk

installing-binary.md aktualisieren
  doc/manual/src/installation/installing-binary.md
Owners: @fricklerhandwerk

Factor out the default `MultiCommand` behavior
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/config.cc
  src/nix/derivation.cc
  src/nix/flake.cc
  src/nix/hash.cc
  src/nix/main.cc
  src/nix/nar.cc
  src/nix/profile.cc
  src/nix/realisation.cc
  src/nix/registry.cc
  src/nix/sigs.cc
  src/nix/store.cc
Owners: @edolstra

Display the list of available subcommands when none is specified
  src/libcmd/command.cc
Owners: @edolstra

Further changes
  binary-tarball.nix
  coverage.nix
  flake.nix
  package.nix
Owners: @edolstra

Use a proper enum rather than a boolean in runProgramInStore
  src/nix/develop.cc
  src/nix/fmt.cc
  src/nix/run.cc
  src/nix/run.hh
Owners: @edolstra

Add two missing `#include "nar-info.hh"`
  src/libstore/tests/nar-info.cc
  src/nix/path-info.cc
Owners: @thufschmitt, @edolstra

flake.nix: Update nixpkgs: release-23.05 -> nixos-23.05-small
  flake.lock
  flake.nix
Owners: @edolstra

flake.lock: Update
  flake.lock
Owners: @edolstra

flake.lock: Update
  flake.lock
Owners: @edolstra

flakeref: readLink --> canonPath
  src/libexpr/flake/flakeref.cc
Owners: @edolstra

flake.lock: Update Nixpkgs to fix static build
  flake.lock
  flake.nix
Owners: @edolstra

fix links in stores overview
  doc/manual/generate-manpage.nix
  doc/manual/src/store/types/index.md.in
Owners: @fricklerhandwerk

reword documentation on settings and attributes related to substitution
  doc/manual/src/language/advanced-attributes.md
  src/libstore/globals.hh
Owners: @fricklerhandwerk, @thufschmitt

fix random docs errors
  src/libexpr/primops.cc
  src/libstore/globals.hh
Owners: @fricklerhandwerk, @roberth, @thufschmitt

reword description of the `builders-use-substitutes` setting
  src/libstore/globals.hh
Owners: @thufschmitt

reword description of the `cores` setting
  src/libstore/globals.hh
Owners: @thufschmitt

reword description of the `max-jobs` setting
  src/libstore/globals.hh
Owners: @thufschmitt

Apply suggestions from code review
  doc/manual/src/installation/installing-binary.md
Owners: @fricklerhandwerk

Fix cross builds
  package.nix
Owners: @edolstra

Set parent more nicely
  src/libutil/args.cc
Owners: @edolstra

Copy files to prepare for big refactor
  src/libstore-cmd/store-command.cc
  src/libstore-cmd/store-command.hh
  src/libstore-cmd/store-installables.cc
  src/libstore-cmd/store-installables.hh
  src/nix/store/main.cc
Owners: @edolstra

Fix coverage.nix
  coverage.nix
Owners: @edolstra

Create internal-api-docs.nix
  flake.nix
  internal-api-docs.nix
Owners: @edolstra

Fix stuff
  flake.nix
  package.nix
  test-nix-versions.nix
Owners: @edolstra

Add installing unit test flags
  package.nix
Owners: @edolstra

WIP
  coverage.nix
  flake.nix
  internal-api-docs.nix
  package.nix
  test-nix-versions.nix
Owners: @edolstra

WIP
  flake.nix
  package.nix
Owners: @edolstra

Fix incorrect flag name
  package.nix
Owners: @edolstra

More fixes
  coverage.nix
  flake.nix
  package.nix
Owners: @edolstra

Fix underlying build system so `--disable-build` works better
  Makefile
  configure.ac
Owners: @edolstra

Remove uneeded file
  test-nix-versions.nix
Owners: @edolstra

Move `binary-tarball.nix` to scripts dir
  flake.nix
  scripts/binary-tarball.nix
Owners: @edolstra

Expose `boehmgc-nix` in overlay
  flake.nix
Owners: @edolstra

Factor out the installer script
  flake.nix
  scripts/installer.nix
Owners: @edolstra

Add documenting comments to `package.nix`
  package.nix
Owners: @edolstra

Don't expose file sets anymore
  package.nix
Owners: @edolstra

Slap on `perl-bindings` in the caller
  flake.nix
  package.nix
Owners: @edolstra
