Repository NixOS/nix, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, store, fetching, repl, new-cli, with-tests

Factor out `ServeProto::Serialiser<UnkeyedValidPathInfo>` and test
  src/libstore/legacy-ssh-store.cc
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/nix-store/nix-store.cc
  tests/unit/libstore/data/serve-protocol/unkeyed-valid-path-info-2.3.bin
  tests/unit/libstore/data/serve-protocol/unkeyed-valid-path-info-2.4.bin
  tests/unit/libstore/serve-protocol.cc
Labels: store

Pass positions when evaluating
  doc/manual/rl-next/source-positions-in-errors.md
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/nixexpr.hh
  tests/functional/lang/eval-fail-attr-name-type.err.exp
  tests/functional/lang/eval-fail-attr-name-type.nix
  tests/functional/lang/eval-fail-call-primop.err.exp
  tests/functional/lang/eval-fail-call-primop.nix
  tests/functional/lang/eval-fail-not-throws.err.exp
  tests/functional/lang/eval-fail-not-throws.nix
  tests/functional/lang/eval-fail-using-set-as-attr-name.err.exp
  tests/functional/lang/eval-fail-using-set-as-attr-name.nix
Labels: with-tests

Print value on type error
  doc/manual/rl-next/print-value-in-type-error.md
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  tests/functional/lang/eval-fail-list.err.exp
  tests/functional/lang/eval-fail-set-override.err.exp
  tests/unit/libexpr/error_traces.cc
Labels: with-tests

Print the value in `error: cannot coerce` messages
  doc/manual/rl-next/print-value-in-coercion-error.md
  doc/manual/src/language/string-interpolation.md
  src/libexpr/eval.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-1.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-3.err.exp
  tests/unit/libexpr/error_traces.cc
Labels: with-tests

Factor out `StoreDirConfig`
  src/libstore/path.cc
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
Labels: store

Restrict some code to `StoreDirConfig`
  perl/lib/Nix/Store.xs
  src/libcmd/built-path.cc
  src/libcmd/built-path.hh
  src/libexpr/eval-cache.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/value.hh
  src/libstore/builtins/buildenv.cc
  src/libstore/builtins/buildenv.hh
  src/libstore/common-protocol-impl.hh
  src/libstore/common-protocol.cc
  src/libstore/common-protocol.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/libstore/length-prefixed-protocol-helper.hh
  src/libstore/local-store.cc
  src/libstore/misc.cc
  src/libstore/path-with-outputs.cc
  src/libstore/path-with-outputs.hh
  src/libstore/serve-protocol-impl.hh
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/worker-protocol-impl.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-build/nix-build.cc
  src/nix-copy-closure/nix-copy-closure.cc
Labels: store

Factor out `StoreDirConfig`
  src/libstore/path.cc
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
Labels: store

Restrict some code to `StoreDirConfig`
  perl/lib/Nix/Store.xs
  src/libcmd/built-path.cc
  src/libcmd/built-path.hh
  src/libexpr/eval-cache.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/value.hh
  src/libstore/builtins/buildenv.cc
  src/libstore/builtins/buildenv.hh
  src/libstore/common-protocol-impl.hh
  src/libstore/common-protocol.cc
  src/libstore/common-protocol.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/libstore/length-prefixed-protocol-helper.hh
  src/libstore/local-store.cc
  src/libstore/misc.cc
  src/libstore/path-with-outputs.cc
  src/libstore/path-with-outputs.hh
  src/libstore/serve-protocol-impl.hh
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/worker-protocol-impl.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-build/nix-build.cc
  src/nix-copy-closure/nix-copy-closure.cc
  src/nix/path-info.cc
  tests/unit/libstore/nar-info.cc
Labels: store, new-cli

ACL tests
  tests/functional/init.sh
  tests/nixos/acls.nix
Labels: with-tests

Add the ability to cache user's groups
  src/libexpr/primops.cc
  src/libstore/globals.hh
  src/libstore/granular-access-store.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  tests/nixos/acls.nix
Labels: store

Give `Derivation::tryResolve` an `evalStore` argument
  src/libstore/build/derivation-goal.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
Labels: none

fix typo
  src/libexpr/primops/fetchTree.cc
Labels: none

fix typo
  src/libexpr/primops/fetchTree.cc
Labels: none

simplify example
  doc/manual/rl-next/print-value-in-coercion-error.md
Labels: none

Print the value in `error: cannot coerce` messages (#9553)
  doc/manual/rl-next/print-value-in-coercion-error.md
  doc/manual/src/language/string-interpolation.md
  src/libexpr/eval.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-1.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-3.err.exp
  tests/unit/libexpr/error_traces.cc
Labels: with-tests

Avoid `std::strstream`, fix the clang build
  src/libexpr/eval.cc
Labels: none

doc/prerequisites-source: Add bdwgc-traceable-allocator patch
  doc/manual/src/installation/prerequisites-source.md
Labels: none

maintainers/add-release-note: init
  maintainers/add-release-note
Labels: none

Clarify `SourceAccessor` methods should never implicitly follow symlinks
  src/libutil/source-accessor.hh
Labels: none

Revert "Print the value in `error: cannot coerce` messages (#9553)"
  doc/manual/rl-next/print-value-in-coercion-error.md
  doc/manual/src/language/string-interpolation.md
  src/libexpr/eval.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-1.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-3.err.exp
  tests/unit/libexpr/error_traces.cc
Labels: with-tests

Update rl-next/source-positions-in-errors for Nix 2.19+
  doc/manual/rl-next/source-positions-in-errors.md
Labels: none

tests/lang/eval-fail-bad-string-interpolation-4: init
  tests/functional/lang/eval-fail-bad-string-interpolation-4.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-4.nix
Labels: with-tests

Give `Derivation::tryResolve` an `evalStore` argument
  src/libstore/build/derivation-goal.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
Labels: none

Create `ServeProto::BuildOptions` and a serializer for it
  src/libstore/legacy-ssh-store.cc
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/nix-store/nix-store.cc
  tests/unit/libstore/data/serve-protocol/build-options-2.1.bin
  tests/unit/libstore/data/serve-protocol/build-options-2.2.bin
  tests/unit/libstore/data/serve-protocol/build-options-2.3.bin
  tests/unit/libstore/data/serve-protocol/build-options-2.7.bin
  tests/unit/libstore/serve-protocol.cc
Labels: store

changelog-d: Use roberth fork with markdown frontmatter support
  flake.nix
  misc/changelog-d.cabal.nix
  misc/changelog-d.nix
Labels: none

rl-next: Use markdown frontmatter syntax
  doc/manual/rl-next/hash-format-nix32.md
  doc/manual/rl-next/mounted-ssh-store.md
  doc/manual/rl-next/nix-config-show.md
  doc/manual/rl-next/nix-env-json-drv-path.md
  doc/manual/rl-next/nix-hash-convert.md
  doc/manual/rl-next/source-positions-in-errors.md
  doc/manual/src/contributing/hacking.md
Labels: none

Add checks.rl-next
  flake.nix
Labels: none

flake.nix: Cache shell inputs through hydra
  flake.nix
Labels: none

doc/hacking.md: Add Branches section
  doc/manual/src/contributing/hacking.md
Labels: none

doc/hacking.md: Add Reverting section
  doc/manual/src/contributing/hacking.md
Labels: none

fix typos
  src/libexpr/primops/fetchTree.cc
Labels: none

clarify git revision
  src/libexpr/primops/fetchTree.cc
Labels: none

document `fetchTree` (#9258)
  doc/manual/generate-builtins.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  src/libexpr/primops/fetchTree.cc
  src/nix/main.cc
Labels: documentation, new-cli

Add Store.addTempRoots
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/gc-store.hh
  src/libstore/gc.cc
  src/libstore/local-store.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.hh
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
Labels: store

Create header for `LegacySSHStore`
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
Labels: store

libstore/daemon.cc: note trust model difference in readDerivation()s
  src/libstore/daemon.cc
Labels: none

doc/hacking.md: Apply suggestions
  doc/manual/src/contributing/hacking.md
Labels: none

hacking.md: Add branch links
  doc/manual/src/contributing/hacking.md
Labels: none

isAllowedURI: Extract function and test
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  tests/unit/libexpr/eval.cc
Labels: none

isAllowedURI: Format
  src/libexpr/eval.cc
Labels: none

.github/labeler.yml:

"documentation":
  - doc/manual/*
  - src/nix/**/*.md

"store":
  - src/libstore/store-api.*
  - src/libstore/*-store.*

"fetching":
  - src/libfetchers/**/*

"repl":
  - src/libcmd/repl.*
  - src/nix/repl.*

"new-cli":
  - src/nix/**/*

"with-tests":
  # Unit tests
  - src/*/tests/**/*
  # Functional and integration tests
  - tests/functional/**/*
