Repository NixOS/nix, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests

.github/labeler.yml:

"documentation":
  - doc/manual/*
  - src/nix/**/*.md

"tests":
  - tests/**/*

make flake-registry optional
  docker.nix
Labels: none

nix help-stores: Don't include anchors
  doc/manual/utils.nix
Labels: documentation

Improve store setting descriptions / Markdown formatting
  doc/manual/src/package-management/s3-substituter.md
  src/libstore/binary-cache-store.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-fs-store.hh
  src/libstore/local-store.hh
  src/libstore/remote-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
  src/libstore/store-api.hh
  src/nix/help-stores.md
Labels: documentation

docker.nix: add an option to include flake-registry inside docker image (#6750)
  docker.nix
Labels: none

doc: force line breaks where needed
  doc/manual/src/language/operators.md
Labels: none

add links
  doc/manual/src/command-ref/env-common.md
Labels: none

Fix clang build
  src/libstore/legacy-ssh-store.cc
  src/libstore/ssh-store.cc
Labels: none

Fix SSHStore
  src/libstore/legacy-ssh-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
Labels: none

Make useAnchors a named argument
  doc/manual/generate-manpage.nix
  doc/manual/local.mk
  doc/manual/utils.nix
Labels: documentation

showSetting: Drop ...
  doc/manual/utils.nix
Labels: documentation

Update src/libstore/local-store.md
  src/libstore/local-store.md
Labels: none

Update doc/manual/src/release-notes/rl-next.md
  doc/manual/src/release-notes/rl-next.md
Labels: none

nix-channel: Restore the old root channels directory
  src/nix-channel/nix-channel.cc
Labels: none

ci: Try to install something with Nix in the installer test
  .github/workflows/ci.yml
Labels: none

ci: Update the install-nix-action
  .github/workflows/ci.yml
Labels: none

Factor out the generation of the profile/channel directory
  src/libexpr/eval.cc
  src/libstore/profiles.cc
  src/libstore/profiles.hh
  src/nix-channel/nix-channel.cc
  src/nix-env/nix-env.cc
Labels: none

Document store URLs
  src/libcmd/common-eval-args.cc
  src/libstore/globals.hh
  src/nix/help-stores.md
Labels: documentation

Register LocalStore to ensure it's included in the manual
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/uds-remote-store.cc
Labels: none

Update release notes
  doc/manual/src/release-notes/rl-next.md
Labels: none

Tweaks
  src/libstore/local-store.md
  src/nix/help-stores.md
Labels: documentation

error.cc: Only suggest show-trace when truncated trace items would be printed
  src/libutil/error.cc
Labels: none

Test the installation of a simple package in the install tests
  tests/installer/default.nix
Labels: tests

Filter tests/nixos from source
  flake.nix
Labels: none

Stratify `ExtraPathInfo` along `Installable` hierarchy
  src/libcmd/command.hh
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-derived-path.cc
  src/libcmd/installable-flake.cc
  src/libcmd/installable-flake.hh
  src/libcmd/installable-value.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/nix/build.cc
  src/nix/bundle.cc
  src/nix/develop.cc
  src/nix/profile.cc
Labels: none

nix-store: Use `long` for `narSize` in graphml output
  src/nix-store/graphml.cc
Labels: none

Add enable-store-path-references option
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/primops/fetchClosure.cc
Labels: none

Allow builtins.storePath in pure mode
  src/libexpr/primops.cc
  src/libexpr/tests/error_traces.cc
Labels: none

libstore+nix-build: add load-limit setting and use its value for NIX_LOAD_LIMIT env var Aimed at solving issue https://github.com/NixOS/nix/issues/7091
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/globals.hh
  src/nix-build/nix-build.cc
Labels: none

Catch eval errors in `hasContent`
  src/nix/flake.cc
  tests/flakes/show.sh
Labels: tests

tests/flakes/show.sh: Broaden requirement comment
  tests/flakes/show.sh
Labels: tests

Make some comments in profiles.hh doxygen-enabled
  src/libstore/profiles.hh
Labels: none

ssl-cert-file: Use lists
  src/libstore/globals.hh
Labels: none

Punt on improper global flags for now
  src/nix/main.cc
  tests/experimental-features.sh
Labels: tests

Fix more profile dirs in docs
  doc/manual/src/command-ref/nix-channel.md
  doc/manual/src/command-ref/nix-store.md
  src/nix/upgrade-nix.md
Labels: documentation

tests/flakes/show.sh: Broaden requirement comment
  tests/flakes/show.sh
Labels: tests

Catch eval errors in `hasContent`
  src/nix/flake.cc
  tests/flakes/show.sh
Labels: tests

Fix `nix profile --help`
  src/nix/profile.md
Labels: documentation

Fix more profile dirs in docs
  doc/manual/src/command-ref/nix-channel.md
  doc/manual/src/command-ref/nix-store.md
  src/nix/upgrade-nix.md
Labels: documentation

Documentation: list experimental features in manual
  src/libutil/config.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
Labels: none

Docs: Explain why `import nixpkgs` works in flakes
  src/libexpr/primops.cc
  src/nix/flake.md
Labels: documentation
