Repository NixOS/nix, changes with the labels that .github/labeler.yml gives for each.
All labels: c api, contributor-experience, documentation, store, fetching, repl, new-cli, with-tests

.github/labeler.yml:

"c api":
  - changed-files:
    - any-glob-to-any-file: "src/lib*-c/**/*"
    - any-glob-to-any-file: "test/unit/**/nix_api_*"
    - any-glob-to-any-file: "doc/external-api/**/*"

"contributor-experience":
  - changed-files:
    - any-glob-to-any-file: "CONTRIBUTING.md"
    - any-glob-to-any-file: ".github/ISSUE_TEMPLATE/*"
    - any-glob-to-any-file: ".github/PULL_REQUEST_TEMPLATE.md"
    - any-glob-to-any-file: "doc/manual/src/contributing/**"

"documentation":
  - changed-files:
    - any-glob-to-any-file: "doc/manual/*"
    - any-glob-to-any-file: "src/nix/**/*.md"

"store":
  - changed-files:
    - any-glob-to-any-file: "src/libstore/store-api.*"
    - any-glob-to-any-file: "src/libstore/*-store.*"

"fetching":
  - changed-files:
    - any-glob-to-any-file: "src/libfetchers/**/*"

"repl":
  - changed-files:
    - any-glob-to-any-file: "src/libcmd/repl.*"
    - any-glob-to-any-file: "src/nix/repl.*"

"new-cli":
  - changed-files:
    - any-glob-to-any-file: "src/nix/**/*"

"with-tests":
  - changed-files:
    # Unit tests
    - any-glob-to-any-file: "src/*/tests/**/*"
    # Functional and integration tests
    - any-glob-to-any-file: "tests/functional/**/*"

Fix exportReferencesGraph when given store subpath
  src/libstore/parsed-derivations.cc
Labels: none

Make a few commands that were Unix-only no longer
  src/libstore/linux/personality.cc
  src/libstore/linux/personality.hh
  src/libstore/local.mk
  src/libstore/unix/build/local-derivation-goal.cc
  src/nix/fmt.cc
  src/nix/fmt.md
  src/nix/run.cc
  src/nix/run.hh
  src/nix/run.md
  src/nix/upgrade-nix.cc
  src/nix/upgrade-nix.md
Labels: documentation, new-cli

`file-descriptor.hh`: Avoid some Cism for better C++isms
  src/libutil/file-descriptor.hh
Labels: none

libstore/local-derivation-goal: prohibit creating setuid/setgid binaries
  src/libstore/linux/fchmodat2-compat.hh
  src/libstore/unix/build/local-derivation-goal.cc
Labels: none

Don't include `linux/` in `#include`
  src/libstore/unix/build/local-derivation-goal.cc
Labels: none

Allow overlay arguments to be called previous as well as prev
  src/nix/flake.cc
Labels: new-cli

make list of cross-compilation targets an actual list
  doc/manual/src/contributing/hacking.md
Labels: contributor-experience

system: build for riscv64-unknown-linux-gnu (#10228)
  doc/manual/src/contributing/hacking.md
  flake.nix
  maintainers/upload-release.pl
Labels: contributor-experience

Reword
  src/libfetchers/filtering-input-accessor.hh
Labels: fetching

scripts/upload-release: fix riscv64 call
  maintainers/upload-release.pl
Labels: none

C API: Add nix_init_apply
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  tests/unit/libexpr/nix_api_value.cc
Labels: c api

Use `rand` not `random` for creating GC root indirect links
  src/libmain/shared.cc
  src/libstore/unix/gc.cc
Labels: none

Enable the `unix://` store on Windows
  src/libstore/indirect-root-store.cc
  src/libstore/indirect-root-store.hh
  src/libstore/local.mk
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
  src/libstore/uds-remote-store.md
  src/libstore/unix/gc.cc
  src/libutil/unix-domain-socket.cc
  src/libutil/unix-domain-socket.hh
  src/libutil/unix/unix-domain-socket.hh
Labels: store

doc/glossary: Define output closure
  doc/manual/src/glossary.md
Labels: none

doc/glossary: Define output closure (#8311)
  doc/manual/src/glossary.md
Labels: none
