Repository NixOS/nix, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests

.github/labeler.yml:

"documentation":
  - doc/manual/*
  - src/nix/**/*.md

"tests":
  - tests/**/*

review process: all PRs must be triaged
  maintainers/README.md
Labels: none

Update src/libexpr/primops.cc
  src/libexpr/primops.cc
Labels: none

Handle patches that have a timestamp after the filename
  src/libfetchers/patching-input-accessor.cc
Labels: none

Avoid a string copy during Hash::to_string
  src/libutil/hash.cc
Labels: none

Don't recommend 'nix log' unless experimental feature is enabled
  src/libstore/build/derivation-goal.cc
Labels: none

return string_view from printHashType rather than string
  src/libutil/hash.cc
  src/libutil/hash.hh
Labels: none

avoid a string copy in printHash16
  src/libutil/hash.cc
Labels: none

Update src/libexpr/primops.cc
  src/libexpr/primops.cc
Labels: none

Allow `@` in git refs
  src/libutil/url-parts.hh
Labels: none

Convert a bunch of comments in headers to Doxygen documentation
  src/libstore/content-address.hh
  src/libstore/derivations.hh
  src/libstore/derived-path.hh
  src/libstore/outputs-spec.hh
  src/libstore/path.hh
  src/libstore/store-api.hh
Labels: none

Manual: fail when #include-d file does not exist
  doc/manual/local.mk
Labels: documentation

More precise wording
  src/libexpr/primops.cc
Labels: none

Typo
  src/libexpr/primops.cc
Labels: none

process includes first
  doc/manual/local.mk
Labels: documentation

Fix root/overriden flakes with dir attribute
  src/libexpr/flake/call-flake.nix
  src/libexpr/flake/flake.cc
Labels: none

Indentation
  src/libutil/tests/canon-path.cc
Labels: none

Allow patches to be applied to flake inputs
  src/libexpr/flake/call-flake.nix
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  src/libexpr/flake/lockfile.cc
  src/libexpr/flake/lockfile.hh
  src/libfetchers/path.cc
  src/nix/flake.md
  tests/flakes/patch.sh
  tests/local.mk
Labels: documentation, tests

Add CanonPath::makeRelative()
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
  src/libutil/tests/canon-path.cc
Labels: none
