Repository NixOS/nix, pull requests merged in 2018-04, with the labels that each got.

#2036 Make the TTL for disk cache configurable
  doc/manual/command-ref/conf-file.xml
  src/libstore/globals.hh
  src/libstore/nar-info-disk-cache.cc
Labels: triaged

#2049 Add missing eval-okay-regex-split.exp test file
  tests/lang/eval-okay-regex-split.exp
Labels: triaged

#2060 Add all dependencies to source prerequisites
  doc/manual/installation/prerequisites-source.xml
Labels: Install bug, documentation, triaged

#1707 ignore "interrupted" exception in progress callback
  src/libstore/download.cc
Labels: backlog

#2028 Add test eval-okay-nested-with
  tests/lang/eval-okay-nested-with.exp
  tests/lang/eval-okay-nested-with.nix
Labels: backlog

#2010 libexpr: Make unsafeGetAttrPos not crash on noPos
  src/libexpr/eval.cc
  tests/lang/eval-okay-getattrpos-undefined.exp
  tests/lang/eval-okay-getattrpos-undefined.nix
Labels: bug, triaged
