Repository NixOS/nix, pull requests merged in 2020-05, with the labels that each got.

#3562 Use fragment size for autoGC capacity calculation
  src/libstore/gc.cc
Labels: bug, darwin

#3568 libstore/build.cc: more explicit error about form of output
  src/libstore/build.cc
Labels: Error Messages

#3588 Introduce NIX_INSTALLER_NO_CHANNEL_ADD which skips nix-channel --add
  scripts/install-nix-from-closure.sh
Labels: improvement

#3607 Handle circular flake dependencies in list-inputs
  src/nix/flake.cc
  tests/flakes.sh
Labels: bug, flakes

#3636 add gitlab libfetcher
  src/libfetchers/gitlab.cc
Labels: flakes
