Repository NixOS/nix, pull requests merged in 2021-12, with the labels that each got.

#5737 Update manual links
  scripts/install-nix-from-closure.sh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/worker.cc
Labels: backport 2.4-maintenance

#5735 Fallback when the daemon is too old for CA derivations
  src/libstore/remote-store.cc
Labels: ca-derivations

#5287 Better eval error locations for interpolation and +
  src/libexpr/eval.cc
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser.y
Labels: error-messages

#5366 ca-specific-schema.sql: add index on RealisationsRefs(referrer)
  src/libstore/ca-specific-schema.sql
  src/libstore/local-store.cc
Labels: ca-derivations

#5769 Add a crude tracing mechansim for the build results
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/store-api.hh
Labels: ca-derivations

#5787 Ignore EPERM when unsharing FS state
  src/libstore/filetransfer.cc
  src/libutil/util.cc
  src/libutil/util.hh
Labels: backport 2.4-maintenance, backport 2.5-maintenance

#5807 Fix IFD with CA derivations
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  tests/ca/import-derivation.sh
  tests/local.mk
Labels: ca-derivations
