Repository NixOS/nix, pull requests merged in 2021-11, with the labels that each got.

#5476 Fix `nix repl`’s building of CA derivations
  src/nix/repl.cc
  tests/ca/repl.sh
  tests/local.mk
  tests/repl.sh
Labels: ca-derivations

#5580 Fix detection of scp-style URIs to support non-standard SSH ports
  src/libexpr/primops/fetchTree.cc
Labels: backport-2.4-maintenance

#5634 Add missing Nix::Store import to fix nix-serve StoreDir.
  perl/lib/Nix/Config.pm.in
Labels: backport 2.4-maintenance

#5662 Make `nix-shell` work when nixpkgs is content-addressed
  src/nix-build/nix-build.cc
  tests/ca-shell.nix
  tests/nix-shell.sh
  tests/shell.nix
Labels: ca-derivations

#5667 Don’t try to complete flakes is the feature isn’t enabled
  src/libcmd/installables.cc
Labels: flakes
