Repository NixOS/nix, pull requests merged in 2022-01, with the labels that each got.

#5749 Better diagnostics if no valid signature found
  src/libstore/build/substitution-goal.cc
Labels: UX, error-messages

#5903 Release Notes 2.4: add `--indirect` no-op change
  doc/manual/src/release-notes/rl-2.4.md
Labels: backport 2.4-maintenance, backport 2.5-maintenance

#5916 Add git to the docker image
  docker.nix
Labels: docker

#5914 Start the pager early-enough in `nix why-depends`
  src/nix/why-depends.cc
Labels: bug, UX

#5984 Fix parsing of variable names that are a suffix of '__curPos'
  src/libexpr/parser.y
  tests/lang/eval-okay-regression-20220125.exp
  tests/lang/eval-okay-regression-20220125.nix
Labels: bug, backport 2.6-maintenance

#5951 install-darwin: dodge bash 3.2 command bug
  scripts/install-multi-user.sh
Labels: installer, macos
