Repository NixOS/nix, pull requests merged in 2022-04, with the labels that each got.

#6384 installer: ask for confirmation on multi-user install without systemd
  scripts/install-multi-user.sh
Labels: installer

#5479 Fix the removal of ca-induced self-references
  src/libstore/ca-specific-schema.sql
  src/libstore/local-store.cc
  tests/build-remote-content-addressed-floating.sh
  tests/ca/common.sh
  tests/ca/selfref-gc.sh
  tests/local.mk
  tests/nix-profile.sh
  tests/selfref-gc.sh
Labels: ca-derivations

#6459 Fix passing $OUT_PATHS to the post-build hook
  src/libstore/build/derivation-goal.cc
  tests/post-hook.sh
  tests/push-to-store.sh
Labels: backport 2.8-maintenance
