Repository NixOS/nix, pull requests merged in 2022-10, with the labels that each got.

#6969 refactor rendering command documentation to markdown
  doc/manual/generate-manpage.nix
  doc/manual/utils.nix
Labels: documentation, developer-experience

#6870 doc/manual: define {local,remote} store, binary cache, substituter
  doc/manual/src/glossary.md
  src/libstore/globals.hh
Labels: documentation

#6652 doc: add install test info to hacking.md
  doc/manual/src/contributing/hacking.md
Labels: documentation, installer

#7168 Improve Rosetta detection
  src/libcmd/repl.cc
  src/libmain/progress-bar.cc
  src/libstore/globals.cc
Labels: macos
