Repository NixOS/nix, pull requests merged in 2022-09, with the labels that each got.

#6934 Revert #6420 "Document what Nix *is*"
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/architecture/architecture.md
  doc/manual/src/architecture/store/fso.md
  doc/manual/src/architecture/store/path.md
  doc/manual/src/architecture/store/store.md
  doc/manual/src/architecture/store/store/build-system-terminology.md
  doc/manual/src/architecture/store/store/closure.md
Labels: documentation

#6825 nix shell: document how to invoke multiple commands from the command …
  src/nix/shell.md
Labels: documentation

#4918 installer: Jeeze -> Oh no
  scripts/install-multi-user.sh
Labels: documentation, UX, stale

#7032 RunPager: Stop the progress bar
  src/libmain/shared.cc
Labels: regression, backport 2.11-maintenance

#7014 Add Fish suport to the Nix installer
  .github/workflows/ci.yml
  .gitignore
  scripts/install-multi-user.sh
  scripts/install-nix-from-closure.sh
  scripts/local.mk
  scripts/nix-profile-daemon.fish.in
  scripts/nix-profile.fish.in
  scripts/nix-profile.sh.in
Labels: installer, UX, backport 2.11-maintenance

#7078 "valid signature" -> "signature by a trusted key"
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/nix/make-content-addressed.md
  src/nix/verify.cc
  tests/signing.sh
Labels: documentation

#7046 dockerImage: fix root shell
  docker.nix
Labels: docker
