Repository NixOS/nix, pull requests merged in 2022-11, with the labels that each got.

#7218 Add `--yes` option for Nix installation script
  scripts/install-multi-user.sh
  scripts/install-nix-from-closure.sh
Labels: installer

#6906 add syntax overview from NixOS manual
  doc/manual/src/language/index.md
Labels: documentation

#7006 manual: generalize anchor redirects
  doc/manual/redirects.js
Labels: documentation, UX, developer-experience

#7229 Auto-assign reviewers by file
  .github/assign-by-files.yml
  .github/workflows/assign-reviewer.yml
Labels: process

#7279 add removing users to uninstall instructions
  doc/manual/src/installation/installing-binary.md
Labels: installer

#7333 fix error in language overview
  doc/manual/src/language/index.md
Labels: documentation
