Repository NixOS/nix, pull requests merged in 2022-12, with the labels that each got.

#7251 docs: drop shell prompt character for consistency
  doc/manual/src/installation/installing-binary.md
Labels: documentation

#7401 getMaxCPU: fix cgroup path
  src/libutil/util.cc
Labels: bug

#7382 move documentation on `auto-allocate-uids` to options docs
  doc/manual/src/release-notes/rl-next.md
  src/libstore/globals.hh
Labels: documentation

#7379 refactor rendering documentation of options
  doc/manual/generate-options.nix
  doc/manual/local.mk
  doc/manual/src/command-ref/nix-build.md
  doc/manual/src/command-ref/nix-store.md
Labels: documentation

#6645 systemd,launchd match nixos open files limit
  misc/launchd/org.nixos.nix-daemon.plist.in
  misc/systemd/nix-daemon.service.in
Labels: backport 2.11-maintenance

#7324 Update uninstall guide involving systemd
  doc/manual/src/installation/installing-binary.md
Labels: documentation

#7455 Add anchors and links to definition
  src/libcmd/common-eval-args.cc
  src/nix/flake.md
Labels: documentation

#7300 doc/book.toml: Improve config
  doc/manual/book.toml
Labels: documentation
