Repository NixOS/nix, pull requests merged in 2023-02, with the labels that each got.

#7736 Don't send plugin-files to the daemon.
  src/libstore/daemon.cc
  src/libstore/remote-store.cc
Labels: bug, security, backport 2.13-maintenance

#7705 perl: run `initLibStore()` on `openStore()`
  perl/lib/Nix/Store.xs
Labels: backport 2.13-maintenance

#7318 add "instantiate" to glossary
  doc/manual/src/glossary.md
Labels: documentation

#7767 Backport PR title: Bot-based -> Automatic
  .github/workflows/backport.yml
Labels: documentation

#7706 Documentation: builtins.fetchGit when used on a local path
  src/libexpr/primops/fetchTree.cc
Labels: documentation

#7403 disallow selecting shell prompt in code samples
  doc/manual/custom.css
Labels: documentation

#7775 Add a basic daemon authorization test
  flake.nix
  tests/nixos/authorization.nix
Labels: tests

#5588 Follow XDG Base Directory standard
  doc/manual/src/command-ref/env-common.md
  scripts/install-multi-user.sh
  scripts/install-nix-from-closure.sh
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.sh.in
  src/libexpr/eval.cc
  src/libstore/globals.hh
  src/libstore/profiles.cc
  src/libstore/profiles.hh
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix-channel/nix-channel.cc
  src/nix-env/nix-env.cc
  tests/common.sh.in
  tests/nix-channel.sh
  tests/nix-profile.sh
Labels: feature, UX

#7835 Fix static build
  mk/libraries.mk
  mk/programs.mk
Labels: critical

#7831 Backport 7616 to 2.11 maintenance
  src/libstore/http-binary-cache-store.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/nar-info-disk-cache.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/sqlite.cc
  src/libstore/tests/nar-info-disk-cache.cc
Labels: backport 2.12-maintenance

#7158 primops: make nature of foldl' strictness clearer
  src/libexpr/primops.cc
  tests/lang/eval-fail-foldlStrict-strict-op-application.nix
  tests/lang/eval-okay-foldlStrict-lazy-elements.exp
  tests/lang/eval-okay-foldlStrict-lazy-elements.nix
  tests/lang/eval-okay-foldlStrict-lazy-initial-accumulator.exp
  tests/lang/eval-okay-foldlStrict-lazy-initial-accumulator.nix
Labels: documentation

#7748 Keep splitting libcmd headers & files
  .gitignore
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libcmd/editor-for.cc
  src/libcmd/editor-for.hh
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-attr-path.hh
  src/libcmd/installable-flake.cc
  src/libcmd/installable-flake.hh
  src/libcmd/installable-value.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/libcmd/local.mk
  src/libcmd/repl.cc
  src/libcmd/repl.hh
  src/nix/bundle.cc
  src/nix/develop.cc
  src/nix/edit.cc
  src/nix/flake.cc
  src/nix/profile.cc
  src/nix/repl.cc
Labels: RFC

#7867 doc/hacking.md: Corrections and additions for cross
  doc/manual/src/contributing/hacking.md
Labels: documentation

#7872 `Derivation::toJSON`: fix bug!
  src/libstore/derivations.cc
  src/libstore/tests/derivation.cc
Labels: bug, tests

#5753 Clean up daemon handling in the tests
  .gitignore
  tests/common.sh
  tests/common/vars-and-functions.sh.in
  tests/db-migration.sh
  tests/init.sh
  tests/local.mk
Labels: tests

#7796 Ensure that `self.outPath == ./.`
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/flake/call-flake.nix
  tests/flakes/inputs.sh
  tests/local.mk
Labels: bug, flakes, idea approved

#7920 nix-profile{,-daemon}.sh.in: Allow XDG_STATE_HOME to be unset
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.sh.in
Labels: backport 2.14-maintenance
