Repository NixOS/nix, pull requests merged in 2023-03, with the labels that each got.

#7788 Improve error on conflict for nix profile install
  src/libstore/builtins/buildenv.cc
  src/libstore/builtins/buildenv.hh
  src/nix/profile.cc
  tests/nix-profile.sh
Labels: error-messages

#7854 Document `hasAllInfo`
  src/libfetchers/fetchers.hh
Labels: documentation

#7925 Check if NIX_LINK_NEW exists instead of checking that NIX_LINK doesn't exist
  .github/workflows/ci.yml
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.sh.in
Labels: regression

#7901 Add ./configure --disable-tests option
  Makefile
  Makefile.config.in
  configure.ac
  doc/manual/src/installation/prerequisites-source.md
  flake.nix
  mk/disable-tests.mk
Labels: developer-experience

#7594 feat: read installable paths from stdin
  doc/manual/src/command-ref/nix-store.md
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/nix-store/nix-store.cc
Labels: feature

#7605 add comments
  src/nix-store/nix-store.cc
Labels: documentation

#7376 clarify definition of "installable"
  doc/manual/src/glossary.md
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/nix/build.md
  src/nix/bundle.md
  src/nix/develop.md
  src/nix/eval.md
  src/nix/flake.md
  src/nix/log.md
  src/nix/make-content-addressed.md
  src/nix/nix.md
  src/nix/path-info.md
  src/nix/print-dev-env.md
  src/nix/profile-install.md
  src/nix/run.md
  src/nix/search.md
  src/nix/shell.md
  src/nix/show-derivation.md
  src/nix/store-delete.md
  src/nix/store-dump-path.md
  src/nix/store-repair.md
  src/nix/verify.md
Labels: documentation

#7975 remove indentation in `fetchGit` attribute listing
  src/libexpr/primops/fetchTree.cc
Labels: documentation

#7957 Switch to cachix/install-nix-action@v20
  .github/workflows/ci.yml
Labels: backport 2.11-maintenance, backport 2.14-maintenance

#7580 add @Ericson2314 to the Nix team
  maintainers/README.md
Labels: process

#7993 Fix `nix-collect-garbage -d` with the new profile location
  src/nix-collect-garbage/nix-collect-garbage.cc
  tests/gc.sh
Labels: backport 2.14-maintenance

#5754 Harden tests' bash
  mk/debug-test.sh
  mk/run-test.sh
  tests/binary-cache.sh
  tests/build-delete.sh
  tests/build-dry.sh
  tests/build-remote.sh
  tests/build.sh
  tests/ca/build.sh
  tests/check-refs.sh
  tests/check-reqs.sh
  tests/check.sh
  tests/common.sh
  tests/common/vars-and-functions.sh.in
  tests/compute-levels.sh
  tests/db-migration.sh
  tests/dependencies.sh
  tests/eval-store.sh
  tests/export-graph.sh
  tests/fetchClosure.sh
  tests/fetchGitRefs.sh
  tests/fetchTree-file.sh
  tests/fetchurl.sh
  tests/flakes/build-paths.sh
  tests/flakes/check.sh
  tests/flakes/common.sh
  tests/flakes/flakes.sh
  tests/flakes/follow-paths.sh
  tests/fmt.sh
  tests/function-trace.sh
  tests/hash.sh
  tests/impure-derivations.sh
  tests/init.sh
  tests/install-darwin.sh
  tests/lang.sh
  tests/linux-sandbox.sh
  tests/local.mk
  tests/misc.sh
  tests/multiple-outputs.sh
  tests/nar-access.sh
  tests/nix-channel.sh
  tests/nix-shell.sh
  tests/plugins.sh
  tests/pure-eval.sh
  tests/repl.sh
  tests/restricted.sh
  tests/search.sh
  tests/tarball.sh
  tests/test-infra.sh
  tests/timeout.sh
  tests/user-envs.sh
  tests/why-depends.sh
Labels: tests

#7928 Documentation: process `#include` directives
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
Labels: documentation

#7896 Generate API docs with Doxygen
  Makefile
  Makefile.config.in
  configure.ac
  doc/internal-api/.gitignore
  doc/internal-api/doxygen.cfg.in
  doc/internal-api/local.mk
  doc/manual/local.mk
  flake.nix
Labels: documentation, developer-experience

#7534 add objectives and tasks for Nix team
  maintainers/README.md
Labels: process

#7486 reword definition of "reference"
  doc/manual/src/glossary.md
Labels: documentation

#6338 add labeler workflow
  .github/labeler.yml
  .github/workflows/labels.yml
Labels: documentation, developer-experience, idea approved

#8033 `print-dev-env`: stop inadvertently adding `.` to `PATH`
  src/nix/develop.cc
  tests/nix-shell.sh
Labels: backport 2.11-maintenance

#7690 nix-hash: support base-64 and SRI format
  doc/manual/src/command-ref/nix-hash.md
  doc/manual/src/release-notes/rl-next.md
  src/nix/hash.cc
  tests/hash.sh
Labels: cli, tests, idea approved

#7750 Make command infra less stateful and more regular
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/libutil/args.hh
  src/nix/app.cc
  src/nix/build.cc
  src/nix/bundle.cc
  src/nix/copy.cc
  src/nix/develop.cc
  src/nix/edit.cc
  src/nix/eval.cc
  src/nix/flake.cc
  src/nix/hash.cc
  src/nix/log.cc
  src/nix/main.cc
  src/nix/make-content-addressed.cc
  src/nix/nar.cc
  src/nix/profile.cc
  src/nix/realisation.cc
  src/nix/registry.cc
  src/nix/repl.cc
  src/nix/run.cc
  src/nix/search.cc
  src/nix/show-derivation.cc
  src/nix/sigs.cc
  src/nix/store-copy-log.cc
  src/nix/store-delete.cc
  src/nix/store-repair.cc
  src/nix/store.cc
Labels: developer-experience

#8057 Cleanup test skipping
  tests/build-remote.sh
  tests/common/vars-and-functions.sh.in
  tests/db-migration.sh
  tests/fetchGit.sh
  tests/fetchGitRefs.sh
  tests/fetchGitSubmodules.sh
  tests/fetchMercurial.sh
  tests/flakes/common.sh
  tests/flakes/mercurial.sh
  tests/gc-runtime.sh
  tests/linux-sandbox.sh
  tests/plugins.sh
  tests/recursive.sh
  tests/shell.sh
  tests/user-envs-migration.sh
Labels: tests

#8064 Add a test with flake.nix in a git submodule
  tests/flakes/flake-in-submodule.sh
  tests/local.mk
Labels: tests

#8070 docs: quote URL literals
  src/nix/flake.md
Labels: documentation

#7968 Add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, developer-experience

#8031 Build and test fixes for OpenBSD
  src/libexpr/primops/fetchGit.cc
  src/nix-daemon/nix-daemon.cc
  tests/tarball.sh
Labels: build-problem, portabilty

#8083 Fix misrendering of 'nix store --help'
  doc/manual/generate-manpage.nix
  src/nix/store-copy-log.cc
Labels: documentation

#8085 Fix rendering of fetchGit documentation
  src/libexpr/primops/fetchTree.cc
Labels: bug, backport 2.14-maintenance

#8078 Fix `nix profile --help`
  src/nix/profile.md
Labels: documentation

#7757 Move value-only methods to `InstallableValue`
  src/libcmd/command-installable-value.cc
  src/libcmd/command-installable-value.hh
  src/libcmd/installable-value.cc
  src/libcmd/installable-value.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/nix/app.cc
  src/nix/bundle.cc
  src/nix/edit.cc
  src/nix/eval.cc
  src/nix/fmt.cc
  src/nix/repl.cc
  src/nix/run.cc
  src/nix/search.cc
Labels: RFC

#8109 Catch eval errors in `hasContent`
  src/nix/flake.cc
  tests/flakes/show.sh
Labels: tests

#7609 Hide experimental settings
  src/build-remote/build-remote.cc
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libexpr/flake/flake.cc
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetch-settings.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/derived-path.cc
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/libstore/lock.cc
  src/libstore/misc.cc
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/config.cc
  src/libutil/config.hh
  src/libutil/util.hh
  src/nix-build/nix-build.cc
  src/nix/develop.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/realisation.cc
  src/nix/registry.cc
  src/nix/repl.cc
  tests/experimental-features.sh
  tests/local.mk
Labels: UX, tests, idea approved

#8084 Auto-generate store documentation
  doc/manual/generate-manpage.nix
  doc/manual/generate-options.nix
  doc/manual/local.mk
  doc/manual/src/package-management/s3-substituter.md
  doc/manual/src/release-notes/rl-next.md
  doc/manual/utils.nix
  src/libcmd/command.hh
  src/libcmd/common-eval-args.cc
  src/libstore/binary-cache-store.hh
  src/libstore/dummy-store.cc
  src/libstore/dummy-store.md
  src/libstore/globals.hh
  src/libstore/http-binary-cache-store.cc
  src/libstore/http-binary-cache-store.md
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.md
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-binary-cache-store.md
  src/libstore/local-fs-store.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/local-store.md
  src/libstore/remote-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/s3-binary-cache-store.md
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
  src/libstore/ssh-store.md
  src/libstore/store-api.hh
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
  src/libstore/uds-remote-store.md
  src/nix/describe-stores.cc
  src/nix/help-stores.md
  src/nix/main.cc
  src/nix/nix.md
  tests/describe-stores.sh
  tests/local.mk
Labels: documentation, tests, idea approved

#7763 Stratify `ExtraPathInfo` along `Installable` hierarchy
  src/libcmd/command.hh
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-derived-path.cc
  src/libcmd/installable-flake.cc
  src/libcmd/installable-flake.hh
  src/libcmd/installable-value.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/nix/build.cc
  src/nix/bundle.cc
  src/nix/develop.cc
  src/nix/profile.cc
Labels: RFC

#8114 Fix more profile dirs in docs
  doc/manual/src/command-ref/nix-channel.md
  doc/manual/src/command-ref/nix-store.md
  src/nix/upgrade-nix.md
Labels: bug, documentation, backport 2.14-maintenance

#8123 Docs: Explain why `import nixpkgs` works in flakes
  src/libexpr/primops.cc
  src/nix/flake.md
Labels: documentation

#8018 SSH: don't erase password prompt if it is displayed
  flake.nix
  src/libmain/progress-bar.cc
  src/libstore/ssh.cc
  src/libutil/logging.hh
  tests/nixos/nix-copy.nix
Labels: tests

#7406 Document `gitlab` input scheme
  src/nix/flake.md
Labels: documentation

#8138 Fix the installer VM tests
  tests/installer/default.nix
Labels: tests
