Repository NixOS/nix, pull requests merged in 2023-12, with the labels that each got.

#9504 Document each store type on its own page
  .gitignore
  doc/manual/generate-manpage.nix
  doc/manual/generate-store-info.nix
  doc/manual/generate-store-types.nix
  doc/manual/generate-xp-features.nix
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/cli-guideline.md
  doc/manual/src/store/index.md
  doc/manual/src/store/types/index.md.in
  doc/manual/utils.nix
  src/libcmd/common-eval-args.cc
  src/libexpr/primops.cc
  src/libstore/globals.hh
  src/libstore/remote-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/store-api.hh
  src/libutil/experimental-features.cc
  src/nix/nix.md
Labels: documentation, new-cli, store

#9233 config: add included files into parsedContents before applying
  src/libstore/globals.cc
  src/libutil/config.cc
  src/libutil/config.hh
  tests/functional/init.sh
Labels: with-tests

#9494 Don’t use `execvp` when we know the path
  src/nix/develop.cc
  src/nix/fmt.cc
  src/nix/run.cc
  src/nix/run.hh
Labels: new-cli

#9478 Rename `nix doctor` to `nix config check`
  doc/manual/rl-next/nix-config-show.md
  doc/manual/src/contributing/cli-guideline.md
  src/nix/config-check.cc
  src/nix/main.cc
Labels: new-cli

#9511 Add two missing `#include "nar-info.hh"`
  src/libstore/tests/nar-info.cc
  src/nix/path-info.cc
Labels: new-cli, with-tests

#9524 fix random docs errors
  src/libexpr/primops.cc
  src/libstore/globals.hh
Labels: documentation

#9529 tests: avoid a chroot store without sandbox support
  tests/functional/build-remote-trustless-should-fail-0.sh
Labels: with-tests

#9520 fix links in stores overview
  doc/manual/generate-manpage.nix
  doc/manual/src/store/types/index.md.in
Labels: documentation

#9542 Add missing `-pthread` for test support libraries
  tests/unit/libexpr-support/local.mk
  tests/unit/libstore-support/local.mk
  tests/unit/libutil-support/local.mk
Labels: backport 2.18-maintenance, backport 2.19-maintenance

#9510 Improve the error message for “multicommands” commands
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/config.cc
  src/nix/derivation.cc
  src/nix/flake.cc
  src/nix/hash.cc
  src/nix/main.cc
  src/nix/nar.cc
  src/nix/profile.cc
  src/nix/realisation.cc
  src/nix/registry.cc
  src/nix/sigs.cc
  src/nix/store.cc
Labels: new-cli

#9509 add redirect to new store page
  doc/manual/_redirects
Labels: documentation

#9553 Print the value in `error: cannot coerce` messages
  doc/manual/rl-next/print-value-in-coercion-error.md
  doc/manual/src/language/string-interpolation.md
  src/libexpr/eval.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-1.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-3.err.exp
  tests/unit/libexpr/error_traces.cc
Labels: with-tests

#9563 Give `Derivation::tryResolve` an `evalStore` argument
  src/libstore/build/derivation-goal.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
Labels: store

#9497 Move restricted/pure-eval access control out of the evaluator and into the accessor
  src/libcmd/installables.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/value.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/fs-input-accessor.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libutil/canon-path.hh
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  src/nix-instantiate/nix-instantiate.cc
  tests/functional/restricted.sh
Labels: with-tests, fetching

#9568 Revert 9553
  doc/manual/rl-next/print-value-in-coercion-error.md
  doc/manual/src/language/string-interpolation.md
  src/libexpr/eval.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-1.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-3.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-4.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-4.nix
  tests/unit/libexpr/error_traces.cc
Labels: with-tests

#9555 Pass positions when evaluating
  doc/manual/rl-next/source-positions-in-errors.md
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/nixexpr.hh
  tests/functional/lang/eval-fail-attr-name-type.err.exp
  tests/functional/lang/eval-fail-attr-name-type.nix
  tests/functional/lang/eval-fail-call-primop.err.exp
  tests/functional/lang/eval-fail-call-primop.nix
  tests/functional/lang/eval-fail-not-throws.err.exp
  tests/functional/lang/eval-fail-not-throws.nix
  tests/functional/lang/eval-fail-using-set-as-attr-name.err.exp
  tests/functional/lang/eval-fail-using-set-as-attr-name.nix
Labels: with-tests

#9573 rl-next: Fix and support markdown frontmatter syntax
  doc/manual/rl-next/hash-format-nix32.md
  doc/manual/rl-next/mounted-ssh-store.md
  doc/manual/rl-next/nix-config-show.md
  doc/manual/rl-next/nix-env-json-drv-path.md
  doc/manual/rl-next/nix-hash-convert.md
  doc/manual/rl-next/source-positions-in-errors.md
  doc/manual/src/contributing/hacking.md
  flake.nix
  misc/changelog-d.cabal.nix
  misc/changelog-d.nix
Labels: bug

#9258 document `fetchTree`
  doc/manual/generate-builtins.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  src/libexpr/primops/fetchTree.cc
  src/nix/main.cc
Labels: documentation, new-cli

#9572 Create `ServeProto::BuildOptions` and a serializer for it
  src/libstore/legacy-ssh-store.cc
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/nix-store/nix-store.cc
  tests/unit/libstore/data/serve-protocol/build-options-2.1.bin
  tests/unit/libstore/data/serve-protocol/build-options-2.2.bin
  tests/unit/libstore/data/serve-protocol/build-options-2.3.bin
  tests/unit/libstore/data/serve-protocol/build-options-2.7.bin
  tests/unit/libstore/serve-protocol.cc
Labels: store

#9586 Create header for `LegacySSHStore`
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
Labels: store

#9588 Give `Store::queryDerivationOutputMap` and `evalStore` argument
  src/libstore/store-api.cc
  src/libstore/store-api.hh
Labels: store, backport 2.19-maintenance

#9519 Allow getting in a MinGW dev shell
  flake.nix
  maintainers/upload-release.pl
Labels: documentation, new-cli, with-tests, windows, idea approved, store, repl, fetching

#9589 Fix building CA derivations with and eval store
  src/libstore/build/derivation-goal.cc
  src/libstore/misc.cc
  src/libstore/store-api.hh
  src/nix-build/nix-build.cc
  tests/functional/ca/eval-store.sh
  tests/functional/ca/local.mk
  tests/functional/eval-store.sh
Labels: with-tests, idea approved, store

#9593 Fix query parsing for path-like flakes
  src/libexpr/flake/flakeref.cc
  tests/functional/flakes/flakes.sh
Labels: with-tests

#9525 reword description of the `builders-use-substitutes` setting
  src/libstore/globals.hh
Labels: documentation

#9523 reword documentation on settings and attributes related to substitution
  doc/manual/src/language/advanced-attributes.md
  src/libstore/globals.hh
Labels: documentation

#9601 Lazy trees backports
  src/libexpr/eval.hh
  src/libfetchers/input-accessor.hh
  tests/unit/libexpr-support/tests/libexpr.hh
Labels: fetching

#9600 fix: nix copy ssh-ng:// not respecting --substitute-on-destination
  src/libstore/remote-store.cc
Labels: store

#9604 Test `nix copy --substitute-on-destination`
  tests/functional/nix-copy-ssh-common.sh
  tests/functional/nix-copy-ssh-ng.sh
  tests/functional/nix-copy-ssh.sh
Labels: with-tests

#9535 Simplify flake.nix by creating generic callPackage-able package.nix
  Makefile
  configure.ac
  flake.nix
  misc/lowdown.nix
  package.nix
  scripts/binary-tarball.nix
  scripts/installer.nix
Labels: idea approved

#4093 Add eval-system option
  doc/manual/rl-next/eval-system.md
  src/libexpr/eval-settings.cc
  src/libexpr/eval-settings.hh
  src/libexpr/primops.cc
  src/libstore/globals.hh
  tests/functional/impure-eval.sh
  tests/functional/local.mk
  tests/unit/libexpr/primops.cc
Labels: language, with-tests, scheduling, settings

#9619 Remove some blank lines from stack traces
  src/libutil/error.cc
  tests/functional/lang/eval-fail-abort.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-empty-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-multi-elem-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-wrong-element-kind.err.exp
  tests/functional/lang/eval-fail-assert.err.exp
  tests/functional/lang/eval-fail-attr-name-type.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-1.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-3.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-4.err.exp
  tests/functional/lang/eval-fail-blackhole.err.exp
  tests/functional/lang/eval-fail-call-primop.err.exp
  tests/functional/lang/eval-fail-deepseq.err.exp
  tests/functional/lang/eval-fail-dup-dynamic-attrs.err.exp
  tests/functional/lang/eval-fail-foldlStrict-strict-op-application.err.exp
  tests/functional/lang/eval-fail-fromTOML-timestamps.err.exp
  tests/functional/lang/eval-fail-hashfile-missing.err.exp
  tests/functional/lang/eval-fail-list.err.exp
  tests/functional/lang/eval-fail-missing-arg.err.exp
  tests/functional/lang/eval-fail-not-throws.err.exp
  tests/functional/lang/eval-fail-path-slash.err.exp
  tests/functional/lang/eval-fail-recursion.err.exp
  tests/functional/lang/eval-fail-remove.err.exp
  tests/functional/lang/eval-fail-scope-5.err.exp
  tests/functional/lang/eval-fail-seq.err.exp
  tests/functional/lang/eval-fail-set.err.exp
  tests/functional/lang/eval-fail-substring.err.exp
  tests/functional/lang/eval-fail-to-path.err.exp
  tests/functional/lang/eval-fail-toJSON.err.exp
  tests/functional/lang/eval-fail-undeclared-arg.err.exp
  tests/functional/lang/eval-fail-using-set-as-attr-name.err.exp
  tests/functional/lang/parse-fail-dup-attrs-1.err.exp
  tests/functional/lang/parse-fail-dup-attrs-2.err.exp
  tests/functional/lang/parse-fail-dup-attrs-3.err.exp
  tests/functional/lang/parse-fail-dup-attrs-4.err.exp
  tests/functional/lang/parse-fail-dup-attrs-7.err.exp
  tests/functional/lang/parse-fail-dup-formals.err.exp
  tests/functional/lang/parse-fail-eof-in-string.err.exp
  tests/functional/lang/parse-fail-mixed-nested-attrs1.err.exp
  tests/functional/lang/parse-fail-mixed-nested-attrs2.err.exp
  tests/functional/lang/parse-fail-patterns-1.err.exp
  tests/functional/lang/parse-fail-regression-20060610.err.exp
  tests/functional/lang/parse-fail-undef-var-2.err.exp
  tests/functional/lang/parse-fail-undef-var.err.exp
  tests/functional/lang/parse-fail-utf8.err.exp
Labels: with-tests

#9637 Fix `logging.sh` test on macOS
  tests/functional/logging.sh
Labels: with-tests

#9325 Content addressing and adding to store cleanup
  perl/lib/Nix/Store.xs
  src/libcmd/installable-value.cc
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libfetchers/cache.cc
  src/libfetchers/cache.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libfetchers/mercurial.cc
  src/libfetchers/tarball.cc
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/worker.cc
  src/libstore/content-address.cc
  src/libstore/content-address.hh
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/dummy-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/optimise-store.cc
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/nix-env/user-env.cc
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/develop.cc
  src/nix/hash.cc
  src/nix/prefetch.cc
  tests/unit/libexpr/primops.cc
Labels: new-cli, store, fetching

#8678 `nix profile`: Allow referring to elements by human-readable name
  doc/manual/rl-next/nix-profile-names.md
  src/libexpr/flake/flakeref.cc
  src/libutil/url-name.cc
  src/libutil/url-name.hh
  src/libutil/url-parts.hh
  src/libutil/url.cc
  src/nix/profile-list.md
  src/nix/profile-remove.md
  src/nix/profile-upgrade.md
  src/nix/profile.cc
  tests/functional/nix-profile.sh
  tests/unit/libutil/url-name.cc
Labels: documentation, new-cli, with-tests

#9621 fix: valid branch name
  src/libutil/url-parts.hh
Labels: bug, fetching

#9655 Move url-name utility to libexpr/flake
  src/libexpr/flake/url-name.cc
  src/libexpr/flake/url-name.hh
  src/nix/profile.cc
  tests/unit/libexpr/flake/flakeref.cc
  tests/unit/libexpr/flake/url-name.cc
  tests/unit/libexpr/local.mk
Labels: new-cli

#9582 a packet of small optimizations
  src/libcmd/built-path.cc
  src/libcmd/installable-flake.cc
  src/libcmd/repl.cc
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/get-drvs.cc
  src/libexpr/lexer.l
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/value.hh
  src/libstore/derived-path.cc
  src/libstore/local-store.cc
  src/libutil/comparator.hh
  src/libutil/posix-source-accessor.cc
  src/nix-build/nix-build.cc
  src/nix-env/user-env.cc
  src/nix-instantiate/nix-instantiate.cc
Labels: language, performance, idea approved, store, repl

#9661 Build IFD in the build store when using eval-store.
  doc/manual/rl-next/ifd-eval-store.md
  src/libexpr/primops.cc
  tests/functional/eval-store.sh
  tests/functional/ifd.nix
  tests/functional/remote-store.sh
Labels: with-tests

#9666 Fix "dervation" typo
  doc/manual/src/language/derivations.md
  src/libstore/remote-store.cc
Labels: store

#9617 Fix segfault on infinite recursion in some cases
  doc/manual/rl-next/stack-overflow-segfaults.md
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libutil/error.cc
  src/libutil/error.hh
  tests/functional/lang/eval-fail-duplicate-traces.err.exp
  tests/functional/lang/eval-fail-duplicate-traces.nix
  tests/functional/lang/eval-fail-infinite-recursion-lambda.err.exp
  tests/functional/lang/eval-fail-infinite-recursion-lambda.nix
  tests/functional/lang/eval-fail-mutual-recursion.err.exp
  tests/functional/lang/eval-fail-mutual-recursion.nix
Labels: bug, error-messages, language, with-tests

#9658 reduce the size of Env by one pointer
  doc/manual/rl-next/env-size-reduction.md
  doc/manual/rl-next/with-error-reporting.md
  src/libcmd/repl.cc
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/primops.cc
Labels: repl
