Repository NixOS/nix, pull requests merged in 2023-01, with the labels that each got.

#7351 cleanup eval.hh/eval.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
Labels: bug

#7485 define "store derivation"
  doc/manual/src/command-ref/nix-build.md
  doc/manual/src/command-ref/nix-copy-closure.md
  doc/manual/src/command-ref/nix-env.md
  doc/manual/src/command-ref/nix-instantiate.md
  doc/manual/src/command-ref/nix-store.md
  doc/manual/src/glossary.md
  src/libcmd/installables.cc
  src/nix/nix.md
  src/nix/path-info.md
  src/nix/show-derivation.md
  src/nix/store-copy-log.md
Labels: documentation

#7470 Make `./mk/run-test.sh` work by itself; add `mk/debug-test.sh`
  doc/manual/src/contributing/hacking.md
  mk/common-test.sh
  mk/debug-test.sh
  mk/run-test.sh
  mk/tests.mk
  tests/local.mk
Labels: developer-experience, tests

#7066 manual: architecture overview
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/architecture/architecture.md
Labels: documentation

#7278 antiquotation -> string interpolation
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/glossary.md
  doc/manual/src/language/string-interpolation.md
  doc/manual/src/language/values.md
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops.cc
  tests/lang/eval-okay-ind-string.nix
Labels: documentation

#7426 Avoid poly_user_note_set twice
  scripts/install-multi-user.sh
Labels: installer

#6204 Add context to better locate runtime coercions
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr/attr-path.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/get-drvs.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/primops/fromTOML.cc
  src/libexpr/tests/error_traces.cc
  src/libexpr/tests/primops.cc
  src/libexpr/value.hh
  src/libmain/shared.cc
  src/libutil/error.cc
  src/libutil/error.hh
  src/nix-env/user-env.cc
  src/nix/bundle.cc
  src/nix/eval.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/prefetch.cc
  src/nix/upgrade-nix.cc
Labels: error-messages

#7551 Include macOS sandbox files in the Nix binary
  src/libmain/shared.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/sandbox-defaults.sb
  src/libstore/build/sandbox-minimal.sb
  src/libstore/build/sandbox-network.sb
  src/libstore/local.mk
Labels: macos

#7539 Fix `nix why-depends --derivation`
  src/libcmd/installables.cc
  src/libstore/realisation.hh
  src/libstore/remote-store.cc
  src/nix/why-depends.cc
  tests/local.mk
  tests/why-depends.sh
Labels: bug, ca-derivations

#7498 refactor documentation of operators, document `+` for strings and paths
  doc/manual/src/language/operators.md
  doc/manual/src/language/values.md
Labels: documentation

#4876 Add a pointer from "realising" to `nix log`.
  doc/manual/src/command-ref/nix-store.md
Labels: documentation

#7484 InstallableFlake::toDerivedPaths(): Support paths and store paths
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/value-to-json.cc
  src/nix/app.cc
  src/nix/build.cc
  src/nix/log.cc
  src/nix/profile.cc
  src/nix/store-copy-log.cc
  tests/flakes/build-paths.sh
  tests/local.mk
Labels: feature

#7541 Check links in the manual
  doc/manual/book.toml
  doc/manual/local.mk
  doc/manual/src/architecture/architecture.md
  doc/manual/src/command-ref/env-common.md
  doc/manual/src/command-ref/nix-copy-closure.md
  doc/manual/src/contributing/hacking.md
  flake.nix
  src/libcmd/common-eval-args.cc
  src/libexpr/primops.cc
  src/libstore/globals.hh
Labels: documentation, developer-experience

#7585 MonitorFdHup: Make it work on macOS again
  src/libutil/monitor-fd.hh
Labels: macos

#7627 Restore support for channel: URLs in fetchTarball
  src/libexpr/primops/fetchTree.cc
Labels: backport 2.13-maintenance

#7636 Relase notes: add empty flake registry
  doc/manual/src/release-notes/rl-2.13.md
Labels: backport 2.13-maintenance

#7490 define the terms "realise" and "valid" for store paths
  doc/manual/src/command-ref/nix-store.md
  doc/manual/src/glossary.md
Labels: documentation

#7639 Test store paths, with property tests, fix bug
  configure.ac
  doc/manual/src/contributing/hacking.md
  flake.nix
  src/libstore/derivations.hh
  src/libstore/outputs-spec.cc
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/path.hh
  src/libstore/realisation.hh
  src/libstore/tests/libstoretests.hh
  src/libstore/tests/local.mk
  src/libstore/tests/outputs-spec.cc
  src/libstore/tests/path.cc
  src/libutil/regex-combinators.hh
Labels: backport 2.13-maintenance

#7657 Fix #7655
  src/libexpr/primops/context.cc
  tests/lang/eval-okay-context-introspection.exp
  tests/lang/eval-okay-context-introspection.nix
Labels: bug, backport 2.13-maintenance

#7670 Try to fix #7669
  flake.nix
Labels: backport 2.13-maintenance

#7679 Revert "fixup: remove boehmgc patch"
  boehmgc-coroutine-sp-fallback.diff
  flake.nix
Labels: backport 2.13-maintenance

#7685 Fix the 2.13 changelog
  doc/manual/src/release-notes/rl-2.13.md
Labels: bug, documentation, backport 2.13-maintenance

#7461 Improve warning when an untrusted user is using an untrusted substituter
  src/libstore/daemon.cc
  src/libstore/globals.hh
Labels: error-messages

#5226 Move the default profiles to the user’s home
  src/libstore/build/local-derivation-goal.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/profiles.cc
  src/libstore/profiles.hh
  src/libstore/store-api.hh
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix-channel/nix-channel.cc
  src/nix/daemon.cc
  tests/common.sh.in
  tests/local.mk
  tests/remote-store.sh
  tests/user-envs-migration.sh
Labels: UX
