Repository NixOS/nix, pull requests merged in 2023-05, with the labels that each got.

#8270 nix: Support the --repair flag
  src/libcmd/command.cc
  src/libcmd/common-eval-args.hh
  src/libmain/common-args.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix/build.cc
Labels: new-cli

#7378 doc rendering: add functions to scope explicitly
  doc/manual/generate-builtins.nix
  doc/manual/generate-manpage.nix
Labels: documentation

#8286 add redirect to track moved uninstall section
  doc/manual/redirects.js
Labels: documentation

#6953 Update install-systemd-multi-user.sh
  scripts/install-systemd-multi-user.sh
Labels: installer, developer-experience

#8288 Fix hostRegex to accept hosts with a `-`
  src/libfetchers/github.cc
Labels: fetching

#8263 Documentation: Improve builtins.genericClosure
  src/libexpr/primops.cc
Labels: documentation, language

#3921 Trustless remote building for input-addressed drvs
  src/build-remote/build-remote.cc
  tests/build-remote-trustless-should-fail-0.sh
  tests/build-remote-trustless-should-pass-2.sh
  tests/local.mk
Labels: feature, tests

#8110 Quote reserved keywords when printing expressions
  src/libexpr/eval.cc
  src/libexpr/print.cc
  src/libexpr/print.hh
  tests/eval.sh
Labels: bug, language, tests, idea approved

#7721 Also pass unwanted outputs to post-build-hook
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/realisation.cc
  src/libstore/realisation.hh
  tests/post-hook.sh
  tests/push-to-store-old.sh
  tests/push-to-store.sh
Labels: tests

#8310 Fix `nix print-dev-env` & `nix develop` with drv paths
  src/libcmd/installable-flake.cc
  src/libcmd/installable-flake.hh
  src/libcmd/installable-value.hh
  src/nix/develop.cc
  tests/nix-shell.sh
Labels: new-cli, tests

#8299 `max-substitution-jobs` setting
  src/libstore/build/derivation-goal.hh
  src/libstore/build/drv-output-substitution-goal.hh
  src/libstore/build/goal.hh
  src/libstore/build/substitution-goal.cc
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/globals.hh
Labels: feature

#8314 reword documentation on `builtins`
  doc/manual/src/language/builtin-constants.md
Labels: documentation

#8319 reword introduction to built-in functions
  doc/manual/src/language/builtins-prefix.md
Labels: language

#7601 Make more string values work as installables
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-flake.cc
  src/libcmd/installable-value.cc
  src/libcmd/installable-value.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/tests/derived-path.cc
  tests/build.sh
  tests/flakes/build-paths.sh
Labels: tests, RFC

#8339 Fix some bounds in rapid check instances
  src/libexpr/tests/value/context.cc
  src/libstore/tests/derived-path.cc
  src/libstore/tests/outputs-spec.cc
Labels: tests

#8341 Dedup some markdown -> C++ big literal stuff in build system
  mk/cxx-big-literal.mk
  mk/lib.mk
  src/libstore/local.mk
  src/nix/local.mk
  src/nix/profile.md
Labels: documentation, new-cli

#8154 Make `nix-collect-garbage -d` look into more places
  src/nix-collect-garbage/nix-collect-garbage.cc
  tests/gc.sh
Labels: bug, tests, backport 2.15-maintenance

#8346 Fix the segfault on `nix profile install` with conflict
  src/nix/profile.cc
  tests/nix-profile.sh
Labels: new-cli, tests

#8360 Move `worker_proto` defs out of `remote-store.cc` to own file
  src/libstore/remote-store.cc
  src/libstore/worker-protocol.cc
Labels: store

#8349 Fix ControlMaster behaviour
  src/libstore/ssh.cc
  src/libstore/ssh.hh
  tests/nixos/nix-copy.nix
Labels: tests

#8353 Upgrade `downstreamPlaceholder` to a type with methods
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/downstream-placeholder.cc
  src/libstore/downstream-placeholder.hh
  src/libstore/tests/downstream-placeholder.cc
  src/libutil/experimental-features.cc
  src/nix/app.cc
Labels: new-cli, tests, RFC

#8366 Don't use `store-api.hh` in `worker-protocol.hh`
  src/libstore/path-info.cc
  src/libstore/worker-protocol.hh
Labels: protocol

#7312 Allow system certs access to fixed-output derivations
  src/libstore/build/local-derivation-goal.cc
Labels: feature, idea approved

#8215 Support `repairPath` on most stores.
  src/libstore/build/entry-points.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-store.hh
  src/libstore/remote-store.hh
  src/libstore/store-api.hh
Labels: store

#8354 Ask for git credentials in fetcher
  src/libfetchers/git.cc
  src/libutil/util.cc
  src/libutil/util.hh
Labels: new-cli, fetching

#8377 Make mounting ssl cert file optional
  src/libstore/build/local-derivation-goal.cc
  tests/linux-sandbox-cert-test.nix
  tests/linux-sandbox.sh
Labels: tests

#7759 `nix flake check`: skip derivations for foreign systems
  src/nix/flake.cc
  tests/flakes/check.sh
Labels: new-cli, tests

#8240 ci: Always run with sandbox, even on Darwin
  .github/workflows/ci.yml
  src/libexpr/eval.cc
  src/libstore/globals.cc
  src/libutil/tests/tests.cc
  src/libutil/util.cc
  src/libutil/util.hh
Labels: critical, macos, tests

#8398 primops: lazy evaluation of replaceStrings replacements
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops.cc
  src/libexpr/tests/error_traces.cc
  tests/lang/eval-okay-replacestrings.exp
  tests/lang/eval-okay-replacestrings.nix
Labels: language, tests

#8318 document `builtins.currentTime`
  doc/manual/src/language/builtin-constants.md
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libutil/experimental-features.cc
Labels: documentation, language
