Repository NixOS/nix, pull requests merged in 2023-10, with the labels that each got.

#9072 refine the maintainer's process to unblock discussions more quickly
  maintainers/README.md
Labels: process

#9079 [Backport 2.18-maintenance] pathExists: isDir when endswith /.
  src/libexpr/primops.cc
  tests/lang/eval-okay-pathexists.nix
Labels: with-tests, backport 2.16-maintenance, backport 2.17-maintenance

#9081 Revert "Adapt scheduler to work with dynamic derivations"
  src/libstore/build/create-derivation-and-realise-goal.cc
  src/libstore/build/create-derivation-and-realise-goal.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  tests/dyn-drv/build-built-drv.sh
  tests/dyn-drv/dep-built-drv.sh
Labels: with-tests

#9032 structured attrs: improve support / usage of NIX_ATTRS_{SH,JSON}_FILE
  doc/manual/src/language/advanced-attributes.md
  doc/manual/src/language/derivations.md
  src/nix/develop.cc
  src/nix/get-env.sh
  tests/build-hook-ca-fixed.nix
  tests/build-hook.nix
  tests/config.nix.in
  tests/failing.nix
  tests/hermetic.nix
  tests/structured-attrs.sh
Labels: new-cli, with-tests, nix-shell

#9094 Test the rest of the worker protocol serializers
  src/libstore/build-result.cc
  src/libstore/build-result.hh
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.hh
  unit-test-data/libstore/worker-protocol/build-result.bin
  unit-test-data/libstore/worker-protocol/drv-output.bin
  unit-test-data/libstore/worker-protocol/keyed-build-result.bin
  unit-test-data/libstore/worker-protocol/optional-content-address.bin
  unit-test-data/libstore/worker-protocol/optional-store-path.bin
  unit-test-data/libstore/worker-protocol/optional-trusted-flag.bin
  unit-test-data/libstore/worker-protocol/realisation.bin
  unit-test-data/libstore/worker-protocol/set.bin
  unit-test-data/libstore/worker-protocol/vector.bin
Labels: with-tests

#9098 Enable most of the third `BuildResult` worker protocol test
  src/libstore/tests/worker-protocol.cc
  unit-test-data/libstore/worker-protocol/build-result.bin
Labels: with-tests

#9017 add contributing guide for documentation
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/contributing.md
  doc/manual/src/contributing/documentation.md
  doc/manual/src/contributing/hacking.md
Labels: documentation

#9095 StorePath: reject names starting with '.'
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Labels: with-tests

#8905 Don't print unknown locations unless requested for dev purposes
  src/libutil/error.cc
  src/libutil/error.hh
  tests/lang/eval-fail-fromTOML-timestamps.err.exp
  tests/lang/eval-fail-hashfile-missing.err.exp
  tests/lang/eval-fail-set-override.err.exp
  tests/lang/eval-fail-substring.err.exp
  tests/lang/eval-fail-to-path.err.exp
Labels: error-messages, language, with-tests

#9108 remove duplicate redirects entry
  doc/manual/redirects.js
Labels: documentation

#9116 reword and reformat description of `builtins.import`
  doc/manual/src/language/string-interpolation.md
  doc/manual/src/language/values.md
  src/libexpr/primops.cc
Labels: documentation

#9129 AE -> BE; fix redirects
  doc/manual/redirects.js
  doc/manual/src/contributing/testing.md
Labels: documentation

#9112 describe the effect of `restrict-eval` in a more focused manner
  src/libexpr/eval-settings.hh
Labels: documentation

#8895 eval: Run a full GC before printing stats
  src/libcmd/command.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
Labels: language, performance

#8942 always show anchors on setting listings
  doc/manual/generate-manpage.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  doc/manual/local.mk
  doc/manual/utils.nix
  src/nix/local.mk
  src/nix/main.cc
Labels: documentation, new-cli

#9099 Factor out bits of the worker protocol to use elsewhere
  doc/internal-api/doxygen.cfg.in
  src/libstore/build/derivation-goal.cc
  src/libstore/common-protocol-impl.hh
  src/libstore/common-protocol.cc
  src/libstore/common-protocol.hh
  src/libstore/derivations.cc
  src/libstore/export-import.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/length-prefixed-protocol-helper.hh
  src/libstore/tests/characterization.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/protocol.hh
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol-impl.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
  unit-test-data/libstore/common-protocol/content-address.bin
  unit-test-data/libstore/common-protocol/drv-output.bin
  unit-test-data/libstore/common-protocol/optional-content-address.bin
  unit-test-data/libstore/common-protocol/optional-store-path.bin
  unit-test-data/libstore/common-protocol/realisation.bin
  unit-test-data/libstore/common-protocol/set.bin
  unit-test-data/libstore/common-protocol/store-path.bin
  unit-test-data/libstore/common-protocol/string.bin
  unit-test-data/libstore/common-protocol/vector.bin
Labels: protocol, with-tests, store

#8830 Allow CLI to pass environment variables to FOD builder
  doc/manual/src/language/advanced-attributes.md
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/functional/impure-env.nix
  tests/functional/impure-env.sh
  tests/functional/local.mk
Labels: with-tests

#9061 fetchTree cleanup
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
  src/libutil/url.cc
  src/libutil/url.hh
  src/nix/flake.md
  tests/functional/fetchGit.sh
  tests/nixos/github-flakes.nix
Labels: documentation, new-cli, with-tests, fetching

#8047 feat: add always-allow-substitutes
  doc/manual/src/language/advanced-attributes.md
  src/libstore/globals.hh
  src/libstore/parsed-derivations.cc
Labels: feature, performance

#9137 Introduce separate Serve protocol serialisers
  src/libstore/legacy-ssh-store.cc
  src/libstore/serve-protocol-impl.hh
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/libstore/tests/serve-protocol.cc
  src/nix-store/nix-store.cc
  unit-test-data/libstore/serve-protocol/content-address.bin
  unit-test-data/libstore/serve-protocol/drv-output.bin
  unit-test-data/libstore/serve-protocol/optional-content-address.bin
  unit-test-data/libstore/serve-protocol/optional-store-path.bin
  unit-test-data/libstore/serve-protocol/realisation.bin
  unit-test-data/libstore/serve-protocol/set.bin
  unit-test-data/libstore/serve-protocol/store-path.bin
  unit-test-data/libstore/serve-protocol/string.bin
  unit-test-data/libstore/serve-protocol/vector.bin
Labels: with-tests, store

#8904 nix flakes metadata: Show lastModified timestamp for each input
  src/nix/flake.cc
Labels: new-cli

#9167 Improve tests and docs prior to refactoring completions
  src/libcmd/command.hh
  src/libutil/args.hh
  tests/functional/completions.sh
Labels: with-tests

#9168 Fix language tests a bit
  tests/functional/lang.sh
  tests/functional/lang/eval-fail-antiquoted-path.err.exp
  tests/functional/lang/eval-fail-bad-antiquote-1.err.exp
  tests/functional/lang/eval-fail-bad-antiquote-2.err.exp
  tests/functional/lang/eval-fail-bad-antiquote-3.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-2.err.exp
  tests/functional/lang/eval-fail-dup-dynamic-attrs.err.exp
  tests/functional/lang/eval-fail-nonexist-path.err.exp
  tests/functional/lang/parse-fail-dup-attrs-6.err.exp
Labels: with-tests

#9150 `nix store ping` -> `nix store info`
  doc/manual/src/advanced-topics/distributed-builds.md
  doc/manual/src/release-notes/rl-2.15.md
  doc/manual/src/release-notes/rl-2.7.md
  src/nix/store-info.cc
  src/nix/store-info.md
  tests/functional/legacy-ssh-store.sh
  tests/functional/local-store.sh
  tests/functional/local.mk
  tests/functional/nix-copy-ssh-ng.sh
  tests/functional/remote-store.sh
  tests/functional/store-info.sh
  tests/installer/default.nix
Labels: documentation, new-cli, with-tests

#9169 Detect cycles in flake follows.
  src/libexpr/flake/lockfile.cc
  tests/functional/flakes/follow-paths.sh
Labels: with-tests

#9151 Stabilize fetchTree
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/github.cc
  src/libfetchers/path.cc
Labels: fetching

#7708 primops: add builtins.convertHash
  doc/manual/src/release-notes/rl-next.md
  perl/lib/Nix/Store.xs
  src/libexpr/eval-cache.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/tests/error_traces.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/tarball.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/builtins/fetchurl.cc
  src/libstore/content-address.cc
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/downstream-placeholder.cc
  src/libstore/export-import.cc
  src/libstore/gc.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-store.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/nar-info.cc
  src/libstore/optimise-store.cc
  src/libstore/path-info.cc
  src/libstore/path.cc
  src/libstore/realisation.hh
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/tests/hash.cc
  src/nix-store/nix-store.cc
  src/nix/flake.cc
  src/nix/hash.cc
  src/nix/path-info.cc
  src/nix/prefetch.cc
  src/nix/verify.cc
  tests/functional/lang/eval-okay-convertHash.exp
  tests/functional/lang/eval-okay-convertHash.nix
Labels: feature, new-cli, language, with-tests, idea approved, store, fetching

#9180 add a link to all maintainer meeting notes
  maintainers/README.md
Labels: process

#9187 libstore: Add `apple-virt` to system features when available
  doc/manual/src/release-notes/rl-next.md
  src/libstore/globals.cc
  src/libstore/globals.hh
Labels: macos, backport 2.18-maintenance

#9157 Add protocol versions to `{Worker,Serve}Proto::*Conn`
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/path-info.cc
  src/libstore/remote-store-connection.hh
  src/libstore/serve-protocol.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/protocol.hh
  src/libstore/tests/serve-protocol.cc
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
Labels: with-tests, idea approved, store

#9195 Input::hasAllInfo(): Remove
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/tarball.cc
Labels: fetching

#8066 docker: publish images to ghcr.io
  .github/workflows/ci.yml
  doc/manual/src/installation/installing-docker.md
Labels: docker

#9198 Input: Remove 'direct' field
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/indirect.cc
Labels: fetching

#9199 Remove fetchers::Tree and move tarball-related stuff into its own header
  src/libcmd/common-eval-args.cc
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  src/libexpr/flake/flakeref.cc
  src/libexpr/flake/flakeref.hh
  src/libexpr/parser.y
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/github.cc
  src/libfetchers/registry.cc
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
  src/nix-channel/nix-channel.cc
  src/nix/flake.cc
Labels: new-cli, fetching

#9201 Clean up `app.cc`
  .gitignore
  src/nix/app.cc
Labels: new-cli

#9177 Backport FSInputAccessor and MemoryInputAccessor from lazy-trees
  doc/manual/generate-manpage.nix
  doc/manual/local.mk
  src/libexpr/attr-path.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser.y
  src/libexpr/paths.cc
  src/libexpr/primops.cc
  src/libexpr/tests/error_traces.cc
  src/libexpr/tests/json.cc
  src/libexpr/tests/libexpr.hh
  src/libexpr/value.hh
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/fs-input-accessor.hh
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libfetchers/memory-input-accessor.cc
  src/libfetchers/memory-input-accessor.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libutil/archive.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
  src/nix/main.cc
  tests/functional/lang/eval-okay-path.exp
  tests/functional/lang/eval-okay-path.nix
  tests/functional/lang/eval-okay-pathexists.nix
Labels: documentation, new-cli, with-tests, store, fetching

#8131 Overhaul completions, redo #6693
  src/libcmd/command.hh
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libmain/common-args.cc
  src/libmain/shared.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/args/root.hh
  src/libutil/local.mk
  src/nix/bundle.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/registry.cc
  src/nix/why-depends.cc
Labels: new-cli, flakes, RFC

#6223 Give `nix daemon` and `nix-store --serve` protocols separate serializers with version info
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/remote-store.cc
  src/libstore/serve-protocol.cc
  src/libstore/serve-protocol.hh
  src/libstore/store-api.cc
  src/libstore/tests/serve-protocol.cc
  src/libstore/tests/worker-protocol.cc
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
  unit-test-data/libstore/serve-protocol/build-result-2.2.bin
  unit-test-data/libstore/serve-protocol/build-result-2.3.bin
  unit-test-data/libstore/serve-protocol/build-result-2.6.bin
  unit-test-data/libstore/worker-protocol/build-result-1.27.bin
  unit-test-data/libstore/worker-protocol/build-result-1.28.bin
  unit-test-data/libstore/worker-protocol/build-result-1.29.bin
  unit-test-data/libstore/worker-protocol/derived-path-1.29.bin
  unit-test-data/libstore/worker-protocol/derived-path-1.30.bin
  unit-test-data/libstore/worker-protocol/derived-path.bin
  unit-test-data/libstore/worker-protocol/keyed-build-result-1.29.bin
  unit-test-data/libstore/worker-protocol/unkeyed-valid-path-info-1.15.bin
  unit-test-data/libstore/worker-protocol/valid-path-info-1.15.bin
  unit-test-data/libstore/worker-protocol/valid-path-info-1.16.bin
Labels: protocol, with-tests, store

#8470 nix-shell: support single quotes in shebangs, fix whitespace parsing
  doc/manual/src/command-ref/nix-shell.md
  doc/manual/src/release-notes/rl-next.md
  src/nix-build/nix-build.cc
  tests/functional/nix-shell.sh
  tests/functional/shell.shebang.nix
Labels: bug, with-tests

#7972 Merge how-to section on S3 buckets into S3 store docs
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/advanced-topics/post-build-hook.md
  doc/manual/src/package-management/s3-substituter.md
  src/libstore/s3-binary-cache-store.md
Labels: store

#9216 Add `builtins.addDrvOutputDependencies`
  src/libexpr/primops/context.cc
  tests/functional/lang/eval-fail-addDrvOutputDependencies-empty-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-empty-context.nix
  tests/functional/lang/eval-fail-addDrvOutputDependencies-multi-elem-context.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-multi-elem-context.nix
  tests/functional/lang/eval-fail-addDrvOutputDependencies-wrong-element-kind.err.exp
  tests/functional/lang/eval-fail-addDrvOutputDependencies-wrong-element-kind.nix
  tests/functional/lang/eval-okay-context-introspection.exp
  tests/functional/lang/eval-okay-context-introspection.nix
Labels: with-tests

#9217 [Backport 2.14-maintenance] CI fixes
  .github/workflows/ci.yml
  src/libutil/tests/tests.cc
Labels: backport 2.13-maintenance

#9130 [Backport 2.15-maintenance] StorePath: reject names starting with '.', Fix typo in error message of too long store path
  src/libstore/path-regex.hh
  src/libstore/path.cc
  src/libstore/tests/path.cc
Labels: backport 2.13-maintenance, backport 2.14-maintenance, tests

#9206 document the store concept
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/architecture/architecture.md
  doc/manual/src/glossary.md
  doc/manual/src/store/file-system-object.md
  doc/manual/src/store/index.md
Labels: RFC

#9247 Turn derivation unit tests into unit characterization tests
  src/libstore/tests/characterization.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/derivation.cc
  src/libstore/tests/protocol.hh
  unit-test-data/libstore/derivation/bad-old-version-dyn-deps.drv
  unit-test-data/libstore/derivation/bad-version.drv
  unit-test-data/libstore/derivation/dynDerivationDeps.drv
  unit-test-data/libstore/derivation/dynDerivationDeps.json
  unit-test-data/libstore/derivation/output-caFixedFlat.json
  unit-test-data/libstore/derivation/output-caFixedNAR.json
  unit-test-data/libstore/derivation/output-caFixedText.json
  unit-test-data/libstore/derivation/output-caFloating.json
  unit-test-data/libstore/derivation/output-deferred.json
  unit-test-data/libstore/derivation/output-impure.json
  unit-test-data/libstore/derivation/output-inputAddressed.json
  unit-test-data/libstore/derivation/simple.drv
  unit-test-data/libstore/derivation/simple.json
Labels: with-tests

#9239 Input: Replace markFileChanged() by putFile()
  src/libexpr/flake/flake.cc
  src/libexpr/flake/lockfile.cc
  src/libexpr/flake/lockfile.hh
  src/libfetchers/cache.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
Labels: fetching

#8817 Overhaul `nix flake update` and `nix flake lock` UX
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/libexpr/flake/flake.cc
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/flake-lock.md
  src/nix/flake-update.md
  src/nix/flake.cc
  tests/functional/completions.sh
  tests/functional/flakes/circular.sh
  tests/functional/flakes/flakes.sh
  tests/functional/flakes/follow-paths.sh
Labels: documentation, new-cli, flakes, with-tests

#6258 Remove bug-avoiding `StoreConfig *` casts for settings
  configure.ac
  m4/gcc_bug_80431.m4
  src/libstore/binary-cache-store.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-fs-store.hh
  src/libstore/local-store.hh
  src/libstore/remote-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
Labels: contributor-experience, store
