Repository NixOS/nix, pull requests merged in 2023-08, with the labels that each got.

#8762 Move evaluator settings (type and global) to separate file/header
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr/eval-settings.cc
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/repl.cc
  src/nix/search.cc
  src/nix/upgrade-nix.cc
Labels: new-cli, repl

#8765 More cleanups for `LocalStore::verifyPath`
  src/libstore/local-store.cc
  src/libstore/local-store.hh
Labels: store

#8774 Add infra for experimental store implementations
  doc/manual/generate-manpage.nix
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/nix/main.cc
Labels: documentation, new-cli, store

#8760 Fix derivation load assertion errors
  doc/manual/src/release-notes/rl-next.md
  src/libstore/derivations.cc
  src/libutil/json-utils.cc
  src/libutil/json-utils.hh
Labels: error-messages, idea approved

#8692 Feature gate `DownstreamPlaceholder::unknownCaOutput`
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/tests/derived-path.cc
  src/libstore/derivations.cc
  src/libstore/downstream-placeholder.cc
  src/libstore/downstream-placeholder.hh
  src/libstore/tests/downstream-placeholder.cc
  src/nix/app.cc
Labels: new-cli, ca-derivations, with-tests

#8769 Don't require .tar/.zip extension for tarball flakerefs
  src/libexpr/flake/flakeref.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/tarball.cc
  tests/fetchTree-file.sh
Labels: with-tests, fetching

#8786 nix/why-depends: fix output of `--precise`
  src/nix/why-depends.cc
  tests/why-depends.sh
Labels: new-cli, with-tests

#8622 Try to realise CA derivations during queryMissing
  src/libstore/misc.cc
  tests/ca/build-cache.sh
  tests/ca/build.sh
  tests/ca/content-addressed.nix
  tests/ca/local.mk
Labels: ca-derivations, with-tests, tests

#8369 Make the Derived Path family of types inductive for dynamic derivations
  doc/manual/src/release-notes/rl-next.md
  src/build-remote/build-remote.cc
  src/libcmd/built-path.cc
  src/libcmd/built-path.hh
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-derived-path.cc
  src/libcmd/installable-flake.cc
  src/libcmd/installable-value.cc
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/tests/derived-path.cc
  src/libexpr/tests/value/context.cc
  src/libexpr/value/context.cc
  src/libexpr/value/context.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/entry-points.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/worker.cc
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/libstore/downstream-placeholder.cc
  src/libstore/downstream-placeholder.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/misc.cc
  src/libstore/path-with-outputs.cc
  src/libstore/path-with-outputs.hh
  src/libstore/remote-store.cc
  src/libstore/store-api.hh
  src/libstore/tests/derived-path.cc
  src/libstore/tests/derived-path.hh
  src/libutil/comparator.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix/app.cc
  src/nix/build.cc
  src/nix/bundle.cc
  src/nix/develop.cc
  src/nix/flake.cc
  src/nix/log.cc
  tests/build.sh
  tests/dyn-drv/build-built-drv.sh
  tests/dyn-drv/local.mk
  tests/test-libstoreconsumer/main.cc
Labels: new-cli, with-tests, RFC, store, repl

#8813 Create (experimental) `outputOf` primop.
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/tests/derived-path.cc
  src/libstore/downstream-placeholder.cc
  src/libstore/downstream-placeholder.hh
  src/nix/main.cc
  tests/dyn-drv/dep-built-drv.sh
  tests/dyn-drv/eval-outputOf.sh
  tests/dyn-drv/local.mk
  tests/dyn-drv/recursive-mod-json.sh
  tests/dyn-drv/text-hashed-output.nix
Labels: new-cli, with-tests, RFC

#8840 Add tests for repl formatting with and without :p
  tests/repl.sh
Labels: with-tests

#8845 libutil: fix double-encoding of URLs
  src/libexpr/tests/flakeref.cc
  src/libutil/url.cc
Labels: with-tests

#8839 Refactor Raw pattern, part of #7479
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-derived-path.cc
  src/libcmd/installable-flake.cc
  src/libcmd/installables.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/flake/flakeref.cc
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/tests/value/context.cc
  src/libexpr/value/context.cc
  src/libexpr/value/context.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/worker.cc
  src/libstore/content-address.cc
  src/libstore/content-address.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/misc.cc
  src/libstore/outputs-spec.cc
  src/libstore/outputs-spec.hh
  src/libstore/path-with-outputs.cc
  src/libutil/variant-wrapper.hh
  src/nix/app.cc
  src/nix/bundle.cc
  src/nix/develop.cc
  src/nix/flake.cc
Labels: new-cli, with-tests

#8814 initLibUtil: Add exception handling self-check
  src/libutil/error.cc
  src/libutil/error.hh
  src/libutil/util.cc
Labels: bug

#8661 tests: Reformat exit code error message
  tests/common/vars-and-functions.sh.in
Labels: tests

#8819 Fix follow path checking at depths greater than 2
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/flake/lockfile.cc
  tests/flakes/follow-paths.sh
Labels: with-tests

#8829 Adapt scheduler to work with dynamic derivations
  src/libexpr/primops.cc
  src/libstore/build/create-derivation-and-realise-goal.cc
  src/libstore/build/create-derivation-and-realise-goal.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/drv-output-substitution-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.cc
  src/libstore/build/goal.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/local-derivation-goal.hh
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/libstore/downstream-placeholder.cc
  src/libstore/downstream-placeholder.hh
  src/libstore/misc.cc
  src/libstore/outputs-spec.hh
  src/libstore/realisation.hh
  tests/dyn-drv/build-built-drv.sh
Labels: with-tests, RFC

#8788 Port the flags of nix-daemon to nix daemon
  src/nix/daemon.cc
  src/nix/daemon.md
Labels: documentation, new-cli

#8859 Tarball trees: Propagate lastModified
  doc/manual/src/protocols/tarball-fetcher.md
  src/libfetchers/tarball.cc
  tests/tarball.sh
Labels: with-tests, fetching
