Repository NixOS/nix, pull requests merged in 2023-11, with the labels that each got.

#9255 libfetcher doc automation
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/tarball.cc
  src/nix/main.cc
Labels: new-cli, fetching

#9250 fix anchor in conf-file
  doc/manual/local.mk
Labels: bug, documentation

#9269 Unify `FSAccessor` and `SourceAccessor`
  flake.lock
  flake.nix
  src/libexpr/primops.cc
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/memory-input-accessor.cc
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/derivations.cc
  src/libstore/dummy-store.cc
  src/libstore/fs-accessor.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-fs-store.cc
  src/libstore/local-fs-store.hh
  src/libstore/nar-accessor.cc
  src/libstore/nar-accessor.hh
  src/libstore/remote-fs-accessor.cc
  src/libstore/remote-fs-accessor.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/uds-remote-store.hh
  src/libutil/fmt.hh
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
  src/nix/bundle.cc
  src/nix/cat.cc
  src/nix/ls.cc
  src/nix/run.cc
  src/nix/why-depends.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-2.err.exp
  tests/functional/lang/eval-fail-nonexist-path.err.exp
  tests/functional/nar-access.sh
Labels: new-cli, with-tests, store, fetching

#9265 Make `ParseSink` a bit better
  src/libstore/daemon.cc
  src/libstore/export-import.cc
  src/libstore/local-store.cc
  src/libstore/store-api.cc
  src/libutil/archive.cc
  src/libutil/archive.hh
  src/libutil/fs-sink.cc
  src/libutil/fs-sink.hh
Labels: store

#9232 document store objects in terms of their constituent parts
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/architecture/architecture.md
  doc/manual/src/glossary.md
  doc/manual/src/store/index.md
  doc/manual/src/store/store-object.md
Labels: idea approved, RFC

#9207 document store paths
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/glossary.md
  doc/manual/src/store/store-object.md
  doc/manual/src/store/store-path.md
Labels: RFC

#9234 styleguide: add note on highlighting examples and syntax definitions
  doc/manual/src/contributing/documentation.md
Labels: documentation, contributor-experience

#9268 Systematize characterization tests a bit more
  src/libstore/tests/characterization.hh
  src/libstore/tests/common-protocol.cc
  src/libstore/tests/derivation.cc
  src/libstore/tests/libstore.hh
  src/libstore/tests/protocol.hh
  src/libutil/tests/characterization.hh
Labels: with-tests

#9288 Fix nar-access test on macOS
  tests/functional/nar-access.sh
Labels: with-tests

#9289 Fix gcc warnings
  src/libcmd/command.cc
  src/libcmd/installables.cc
  src/libstore/derivations.cc
  src/libstore/store-api.cc
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
Labels: store

#8848 Commit Signature Verification
  doc/manual/src/release-notes/rl-next.md
  flake.nix
  src/libexpr/flake/flake.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/functional/fetchGitVerification.sh
  tests/functional/local.mk
Labels: feature, with-tests, idea approved, fetching

#9242 Make `nix path-info --json` return an object not array
  doc/manual/src/release-notes/rl-next.md
  src/libstore/nar-info.cc
  src/libstore/nar-info.hh
  src/libstore/parsed-derivations.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/tests/nar-info.cc
  src/libstore/tests/path-info.cc
  src/libutil/tests/characterization.hh
  src/nix/path-info.cc
  src/nix/path-info.md
  tests/functional/local.mk
  tests/functional/path-info.sh
  unit-test-data/libstore/nar-info/impure.json
  unit-test-data/libstore/nar-info/pure.json
  unit-test-data/libstore/path-info/impure.json
  unit-test-data/libstore/path-info/pure.json
Labels: documentation, new-cli, with-tests, store

#9283 Factor out `MemorySourceAccessor`, implement missing features
  src/libfetchers/input-accessor.hh
  src/libfetchers/memory-input-accessor.cc
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
Labels: fetching

#9291 Fix `boost::bad_format_string` exception in `builtins.addErrorContext`
  src/libexpr/primops.cc
  tests/functional/lang.sh
Labels: bug, language, with-tests

#9313 maintainers: refine the mission statement phrasing
  maintainers/README.md
Labels: process

#9326 Mark `fetchTree` as unstable again
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops/fetchTree.cc
  src/libutil/config.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/functional/config.sh
Labels: with-tests

#9294 Git object hashing in libutil
  doc/manual/src/contributing/testing.md
  mk/common-test.sh
  mk/debug-test.sh
  mk/lib.mk
  mk/run-test.sh
  mk/tests.mk
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/libutil/git.cc
  src/libutil/git.hh
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
  src/libutil/serialise.cc
  src/libutil/serialise.hh
  src/libutil/tests/git.cc
  src/libutil/tests/local.mk
  tests/functional/common/vars-and-functions.sh.in
  unit-test-data/libutil/git/check-data.sh
  unit-test-data/libutil/git/hello-world-blob.bin
  unit-test-data/libutil/git/hello-world.bin
  unit-test-data/libutil/git/tree.bin
  unit-test-data/libutil/git/tree.txt
Labels: with-tests, RFC

#9333 nix upgrade-nix: make the source URL an option
  src/libstore/globals.hh
  src/nix/upgrade-nix.cc
  src/nix/upgrade-nix.md
Labels: documentation, new-cli

#9355 Fix makefile bug confusing `libnixutil-test` exe vs lib
  src/libutil/tests/local.mk
Labels: with-tests

#9357 Add a new `nix store add` command
  doc/manual/src/release-notes/rl-next.md
  src/nix/add-file.md
  src/nix/add-to-store.cc
  src/nix/add.md
  tests/functional/add.sh
Labels: documentation, new-cli, with-tests

#9307 nix key: no need for progressBar
  src/nix/cat.cc
  src/nix/sigs.cc
Labels: new-cli

#9354 Renamed nix nar dump-path to nix nar pack
  src/nix/dump-path.cc
  src/nix/nar-dump-path.md
Labels: documentation, new-cli

#7348 Remove the usage of VLAs in the code
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/primops.hh
  src/libexpr/tests/value/print.cc
  src/libexpr/value.hh
  src/libstore/derivations.cc
  src/libstore/gc.cc
Labels: bug, contributor-experience, with-tests

#9360 Allow installing unit tests
  Makefile.config.in
  configure.ac
  flake.nix
  src/libexpr/tests/local.mk
  src/libstore/tests/local.mk
  src/libutil/tests/local.mk
Labels: with-tests

#6469 Unlock output paths when a derivation is already built
  src/libstore/build/derivation-goal.cc
Labels: bug

#9363 Fix symlink handling
  src/libexpr/eval.hh
  src/libexpr/parser.y
  tests/functional/lang/eval-okay-symlink-resolution.exp
  tests/functional/lang/eval-okay-symlink-resolution.nix
  tests/functional/lang/symlink-resolution/foo/lib/default.nix
  tests/functional/lang/symlink-resolution/foo/overlays
  tests/functional/lang/symlink-resolution/overlays/overlay.nix
Labels: regression, with-tests, backport 2.16-maintenance, backport 2.17-maintenance, backport 2.18-maintenance

#9373 Fix `make check`
  src/libutil/tests/local.mk
Labels: with-tests

#9395 builtins.concatMap: Fix typo in error message
  src/libexpr/primops.cc
  src/libexpr/tests/error_traces.cc
Labels: with-tests

#9370 refactor: Add `Value` types, use `std::span` for list iteration
  src/libexpr/value.hh
  src/nix-env/nix-env.cc
Labels: language

#9240 Introduce libgit2
  Makefile.config.in
  configure.ac
  flake.lock
  flake.nix
  src/libfetchers/cache.cc
  src/libfetchers/cache.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  src/libfetchers/local.mk
  src/libfetchers/mounted-input-accessor.cc
  src/libfetchers/mounted-input-accessor.hh
  src/libmain/progress-bar.cc
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
  src/libutil/logging.hh
  src/libutil/url.cc
  src/libutil/url.hh
  tests/functional/fetchGit.sh
  tests/functional/fetchGitSubmodules.sh
  tests/functional/fetchGitVerification.sh
  tests/functional/flakes/flake-in-submodule.sh
Labels: with-tests, fetching

#9408 Fix bad_format_string error when builder stdout contains %
  src/libutil/serialise.cc
Labels: backport 2.19-maintenance

#9257 `nix-env --query`: fix `--json` ignoring `--drv-path`
  doc/manual/src/release-notes/rl-next.md
  src/nix-env/nix-env.cc
  tests/functional/user-envs.sh
Labels: bug, cli, with-tests

#9410 Some shallow git fetching improvements
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  tests/functional/fetchGit.sh
Labels: with-tests, fetching

#9425 Fix "unbound variable" errors in bash
  scripts/nix-profile-daemon.sh.in
  scripts/nix-profile.sh.in
Labels: backport 2.19-maintenance

#9420 doc: fix number of template attributes
  src/nix/flake-init.md
Labels: documentation, new-cli

#9411 Improve SourceAccessor path display
  src/libexpr/eval.cc
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/git.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
Labels: fetching

#7912 Mounted SSH Store
  doc/manual/src/release-notes/rl-next.md
  src/libstore/daemon.cc
  src/libstore/indirect-root-store.hh
  src/libstore/mounted-ssh-store.md
  src/libstore/ssh-store.cc
  src/libstore/worker-protocol.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/nix/daemon.cc
  tests/functional/build-remote-with-mounted-ssh-ng.sh
  tests/functional/local.mk
Labels: feature, new-cli, protocol, with-tests, idea approved, store

#9431 Add missing `-lrapidcheck` fixing build with shared lib
  src/libexpr/tests/local.mk
Labels: with-tests, backport 2.14-maintenance, backport 2.15-maintenance, backport 2.16-maintenance, backport 2.17-maintenance, backport 2.18-maintenance, backport 2.19-maintenance

#9438 Fix compile warning due to unused variable binding.
  src/nix/path-info.cc
Labels: new-cli

#9413 Persistently cache `InputAccessor::fetchToStore()`
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libfetchers/mercurial.cc
  src/libstore/content-address.hh
Labels: fetching

#9394 Put `canonicaliseTimestampAndPermissions` in its own header/file
  src/libstore/build/local-derivation-goal.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/optimise-store.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libstore/posix-fs-canonicalise.hh
  src/nix-store/nix-store.cc
Labels: store

#9173 Fix transitive input locking.
  src/libexpr/flake/flake.cc
  tests/functional/flakes/follow-paths.sh
Labels: with-tests

#9445 Allow user input in `git commit`
  src/libfetchers/git.cc
Labels: fetching

#9443 doc: fix machine-specific capabilities leaking
  src/libstore/globals.hh
  src/libstore/store-api.hh
Labels: store

#9449 `nix flake update` add deprecation warnings.
  src/libcmd/installables.cc
  src/nix/flake.cc
Labels: new-cli, error-messages, backport 2.19-maintenance

#7762 Switch from std::regex to boost::regex
  flake.nix
  src/libexpr/local.mk
  src/libexpr/primops.cc
Labels: bug

#9461 add deprecation warnings in documentation
  src/libcmd/installables.cc
Labels: documentation, backport 2.19-maintenance

#9459 add path based redirects
  doc/manual/_redirects
  doc/manual/redirects.js
Labels: documentation, backport 2.13-maintenance, backport 2.14-maintenance, backport 2.15-maintenance, backport 2.16-maintenance, backport 2.17-maintenance, backport 2.18-maintenance, backport 2.19-maintenance

#9462 libexpr: add missing dependency on 'flake/call-flake.nix.gen.hh'
  src/libexpr/local.mk
Labels: backport 2.19-maintenance

#9147 fix: `nlohmann::adl_serializer` for `std::optional`
  src/libutil/json-utils.hh
  src/libutil/tests/json-utils.cc
Labels: with-tests

#5145 Docs build: depend on locally built nix executable and not installed one
  Makefile
  doc/manual/local.mk
Labels: documentation, contributor-experience

#9491 Improve ACL clearing support (fixing FreeBSD build)
  configure.ac
  src/libstore/local-store.cc
  src/libstore/posix-fs-canonicalise.cc
Labels: store

#9465 Use `buildprefix` in a few more places
  Makefile
  doc/manual/src/contributing/hacking.md
  mk/build-dir.mk
  mk/install-dirs.mk
  mk/lib.mk
  mk/templates.mk
  src/libcmd/local.mk
  src/libexpr/local.mk
  src/libmain/local.mk
  src/libstore/local.mk
  tests/functional/local.mk
Labels: with-tests

#9476 nix repl: Only hide the progress bar while waiting for user input
  src/libcmd/repl.cc
Labels: repl

#9489 Avoid `<name>/<name>` in documentation URLs
  doc/manual/_redirects
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/advanced-topics/index.md
  doc/manual/src/architecture/architecture.md
  doc/manual/src/command-ref/index.md
  doc/manual/src/contributing/hacking.md
  doc/manual/src/contributing/index.md
  doc/manual/src/installation/index.md
  doc/manual/src/package-management/index.md
  doc/manual/src/protocols/index.md
  doc/manual/src/quick-start.md
  doc/manual/src/release-notes/index.md
Labels: documentation

#9502 use lookup paths in helper expressions consistently
  doc/manual/generate-builtin-constants.nix
  doc/manual/generate-builtins.nix
  doc/manual/generate-manpage.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  doc/manual/generate-xp-features-shortlist.nix
  doc/manual/generate-xp-features.nix
Labels: documentation

#9503 reword the experimental feature notice
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
Labels: documentation
