Repository NixOS/nix, pull requests merged in 2023-07, with the labels that each got.

#8566 libexpr: extend `Value::print` to allow limited depth
  src/libexpr/eval.cc
  src/libexpr/tests/value/print.cc
  src/libexpr/value.hh
Labels: with-tests, tests

#8640 Document the path flakeref format
  src/nix/flake.md
Labels: documentation, new-cli

#8631 Profile list improvements
  src/libcmd/installable-flake.cc
  src/libcmd/installable-flake.hh
  src/nix/profile-list.md
  src/nix/profile.cc
  tests/nix-profile.sh
Labels: documentation, new-cli, tests

#8612 labeler.yml: tests -> with-tests
  .github/labeler.yml
Labels: developer-experience

#8370 `fetchClosure`: input addressed and pure
  doc/manual/src/language/builtins-prefix.md
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/primops.cc
  src/libexpr/primops/fetchClosure.cc
  src/libstore/make-content-addressed.cc
  src/libstore/make-content-addressed.hh
  tests/fetchClosure.sh
  tests/signing.sh
Labels: with-tests, idea approved, tests

#8682 Fix some grammar in installables doc
  src/nix/nix.md
Labels: documentation, new-cli

#8579 Further search path cleanups
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
  src/libcmd/repl.cc
  src/libcmd/repl.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/search-path.cc
  src/libexpr/search-path.hh
  src/libexpr/tests/search-path.cc
  src/nix/upgrade-nix.cc
Labels: new-cli, with-tests, repl, tests

#8694 Fix race condition in the language tests
  tests/lang.sh
  tests/lang/framework.sh
Labels: language, with-tests, tests

#8696 Test nested sandboxing, and make nicer error
  src/libstore/build/local-derivation-goal.cc
  tests/local.mk
  tests/nested-sandboxing.sh
  tests/nested-sandboxing/command.sh
  tests/nested-sandboxing/runner.nix
Labels: with-tests

#8342 Best effort supplementary groups
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.hh
  tests/build-remote.sh
  tests/common.sh
  tests/common/vars-and-functions.sh.in
  tests/hermetic.nix
  tests/local.mk
  tests/supplementary-groups.sh
Labels: with-tests, idea approved

#8506 Pass NIX_SSHOPTS when checking for an ssh master connection.
  src/libstore/ssh.cc
  tests/nixos/nix-copy.nix
Labels: with-tests

#8315 add information on the system type string
  configure.ac
  doc/manual/src/contributing/hacking.md
  src/libstore/globals.hh
Labels: portability

#7973 remove the Channels section
  doc/manual/redirects.js
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/command-ref/nix-channel.md
  doc/manual/src/package-management/basic-package-mgmt.md
  doc/manual/src/package-management/channels.md
  src/libstore/globals.hh
Labels: documentation

#8596 clarify wording on args@ default handling
  doc/manual/src/language/constructs.md
Labels: language

#8680 Introduce notion of a test group, use for CA tests
  Makefile
  doc/manual/src/contributing/testing.md
  mk/lib.mk
  mk/tests.mk
  tests/ca/local.mk
  tests/dyn-drv/local.mk
  tests/local.mk
Labels: developer-experience, with-tests, idea approved, tests

#8723 revert anchor prefix for builtin constants
  doc/manual/generate-builtin-constants.nix
  src/libexpr/eval.hh
Labels: documentation

#8650 Simplify `ContentAddress`
  perl/lib/Nix/Store.xs
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/tarball.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/content-address.cc
  src/libstore/content-address.hh
  src/libstore/derivations.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/make-content-addressed.cc
  src/libstore/path-info.cc
  src/libstore/store-api.cc
  src/libstore/tests/derivation.cc
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/prefetch.cc
  src/nix/profile.cc
Labels: new-cli, developer-experience, store, fetching, tests

#8724 Give `queryPartialDerivationOutputMap` an `evalStore` parameter
  src/libcmd/built-path.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/derived-path.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/misc.cc
  src/libstore/realisation.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
Labels: store

#8664 parser: merge nested dynamic attributes
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/parser.y
  tests/lang/eval-fail-dup-dynamic-attrs.err.exp
  tests/lang/eval-fail-dup-dynamic-attrs.nix
  tests/lang/eval-okay-merge-dynamic-attrs.exp
  tests/lang/eval-okay-merge-dynamic-attrs.nix
Labels: bug, language, with-tests, tests

#8243 Refactor `Store` hierarchy with a new `IndirectRootStore` interface
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/gc-store.hh
  src/libstore/gc.cc
  src/libstore/indirect-root-store.hh
  src/libstore/local-fs-store.hh
  src/libstore/local-store.hh
  src/libstore/remote-store-connection.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/ssh-store.cc
  src/libstore/store-api.hh
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
Labels: store

#8670 Add `parseFlakeRef` and `flakeRefToString` builtins
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/flake/flake.cc
  tests/lang/eval-okay-flake-ref-to-string.exp
  tests/lang/eval-okay-flake-ref-to-string.nix
  tests/lang/eval-okay-parse-flake-ref.exp
  tests/lang/eval-okay-parse-flake-ref.nix
Labels: with-tests, idea approved

#8607 toJSON: Add attribute path to trace
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/value-to-json.cc
  tests/lang/eval-fail-toJSON.err.exp
  tests/lang/eval-fail-toJSON.nix
Labels: error-messages, language, with-tests, tests

#8754 Refactor `verifyPath` to take `StorePath` instead of `Path`
  src/libstore/local-store.cc
  src/libstore/local-store.hh
Labels: store
