Repository NixOS/nix, pull requests merged in 2023-04, with the labels that each got.

#8039 Prioritize testing in the maintainers process docs
  maintainers/README.md
Labels: process

#8148 eval: Fix crash on missing printValue tBlackhole case
  src/libexpr/eval.cc
  tests/lang.sh
Labels: bug, language, tests

#7611 Stuctured command stability
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/doctor.cc
  src/nix/main.cc
  src/nix/repl.cc
  src/nix/upgrade-nix.cc
  tests/experimental-features.sh
Labels: tests

#8042 Allow specifying alternative paths for reading/writing flake locks
  src/libcmd/installables.cc
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  tests/flakes/flakes.sh
Labels: tests

#7579 review process: all PRs must be triaged
  maintainers/README.md
Labels: process

#8167 glossary: Nix database
  doc/manual/src/glossary.md
Labels: documentation

#5930 Document the concept of “experimental feature”
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/experimental-features.md
Labels: process

#7515 Add Store::isTrustedClient()
  doc/manual/src/release-notes/rl-next.md
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/daemon.hh
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/store-api.hh
  src/libstore/worker-protocol.hh
  src/nix/doctor.cc
  src/nix/ping-store.cc
  tests/legacy-ssh-store.sh
  tests/local-store.sh
  tests/local.mk
  tests/remote-store.sh
Labels: feature, UX, tests, idea approved, store

#7887 `nix derivation add`, `show-derivation` -> `derivation show`
  doc/manual/src/glossary.md
  doc/manual/src/release-notes/rl-next.md
  src/libstore/content-address.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/tests/derivation.cc
  src/libutil/comparator.hh
  src/nix/derivation-add.cc
  src/nix/derivation-add.md
  src/nix/derivation-show.cc
  src/nix/derivation-show.md
  src/nix/derivation.cc
  src/nix/main.cc
  tests/ca/build.sh
  tests/ca/derivation-json.sh
  tests/derivation-json.sh
  tests/impure-derivations.sh
  tests/local.mk
Labels: feature, documentation, new-cli, tests, idea approved

#8146 Finish converting existing comments for internal API docs
  src/libcmd/command-installable-value.cc
  src/libcmd/editor-for.hh
  src/libcmd/installable-value.cc
  src/libexpr/attr-path.hh
  src/libexpr/attr-set.hh
  src/libexpr/eval-cache.hh
  src/libexpr/eval-inline.hh
  src/libexpr/eval.hh
  src/libexpr/flake/flake.hh
  src/libexpr/flake/flakeref.hh
  src/libexpr/flake/lockfile.hh
  src/libexpr/get-drvs.hh
  src/libexpr/nixexpr.hh
  src/libexpr/primops.hh
  src/libexpr/symbol-table.hh
  src/libexpr/value.hh
  src/libexpr/value/context.hh
  src/libfetchers/fetchers.hh
  src/libmain/shared.hh
  src/libstore/binary-cache-store.hh
  src/libstore/build-result.hh
  src/libstore/build/derivation-goal.hh
  src/libstore/build/drv-output-substitution-goal.hh
  src/libstore/build/goal.hh
  src/libstore/build/hook-instance.hh
  src/libstore/build/local-derivation-goal.hh
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.hh
  src/libstore/crypto.hh
  src/libstore/derivations.hh
  src/libstore/fs-accessor.hh
  src/libstore/gc-store.hh
  src/libstore/globals.hh
  src/libstore/local-fs-store.hh
  src/libstore/local-store.hh
  src/libstore/lock.hh
  src/libstore/log-store.hh
  src/libstore/nar-accessor.hh
  src/libstore/nar-info-disk-cache.hh
  src/libstore/path-info.hh
  src/libstore/path-with-outputs.hh
  src/libstore/pathlocks.hh
  src/libstore/profiles.hh
  src/libstore/remote-store.hh
  src/libstore/sqlite.hh
  src/libstore/store-api.hh
  src/libutil/ansicolor.hh
  src/libutil/archive.hh
  src/libutil/canon-path.hh
  src/libutil/error.hh
  src/libutil/logging.hh
  src/libutil/thread-pool.hh
  src/libutil/util.hh
Labels: developer-experience

#8179 disable gc on coroutine
  boehmgc-coroutine-sp-fallback.diff
  src/libexpr/eval.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Labels: bug, macos, backport 2.13-maintenance, backport 2.14-maintenance

#7798 Documentation: list experimental features in manual
  .gitignore
  doc/manual/generate-xp-features-shortlist.nix
  doc/manual/generate-xp-features.nix
  doc/manual/local.mk
  doc/manual/src/contributing/experimental-features.md
  doc/manual/utils.nix
  src/libutil/config.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/libutil/util.hh
  src/nix/main.cc
Labels: documentation, idea approved

#8153 Try auto-labeling a few more things
  .github/labeler.yml
Labels: developer-experience, process

#8158 Fix the flaky `nix-profile` test
  tests/nix-profile.sh
Labels: tests

#8201 Do not gate or hide experimental settings
  src/libutil/config.cc
  tests/experimental-features.sh
Labels: bug, documentation, tests, backport 2.15-maintenance

#8217 Push `getFSAccessor` `unsupported(...)` down `Store` class hierarchy
  src/libstore/dummy-store.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/store-api.hh
Labels: store

#8174 Start cross-referencing experimental features
  doc/manual/generate-manpage.nix
  doc/manual/src/command-ref/experimental-commands.md
  doc/manual/src/glossary.md
  doc/manual/src/language/advanced-attributes.md
  src/nix/nix.md
Labels: documentation, new-cli

#7864 Use long options instead of short ones in the "quick start"
  doc/manual/src/quick-start.md
Labels: documentation

#8214 Display valid installable in `InstallableDerivedPath::parse` warning
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/libstore/remote-store.cc
  src/libstore/tests/derived-path.cc
Labels: tests, store, backport 2.15-maintenance

#8196 Mark experimental configuration settings programmatically
  doc/manual/generate-manpage.nix
  doc/manual/utils.nix
  src/libstore/globals.hh
  src/libutil/config.cc
  src/libutil/tests/config.cc
Labels: documentation, tests

#8193 Deduplicate string literal rendering, fix 4909
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/nixexpr.cc
  src/libexpr/print.cc
  src/libexpr/print.hh
  src/libstore/derivations.cc
  tests/repl.sh
Labels: tests, repl

#7732 Make `initLibStore` a viable alternative
  configure.ac
  perl/lib/Nix/Store.xs
  src/libmain/shared.cc
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libutil/hash.cc
  src/libutil/util.cc
  src/libutil/util.hh
Labels: RFC

#3746 Introduce `StoreReferences` and `ContentAddressWithReferences`
  perl/lib/Nix/Store.xs
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/tarball.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/content-address.cc
  src/libstore/content-address.hh
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-store.cc
  src/libstore/make-content-addressed.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/nar-info.cc
  src/libstore/nar-info.hh
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/prefetch.cc
  src/nix/profile.cc
Labels: new-cli, developer-experience, RFC, store, fetching

#6312 Shuffle `BuildResult` data definition, make state machine clearer, introduce `SingleDrvOutputs`
  src/build-remote/build-remote.cc
  src/libcmd/installables.cc
  src/libstore/build-result.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.cc
  src/libstore/build/goal.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/local-derivation-goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/realisation.hh
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.hh
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
Labels: store

#8194 Fix some issues with experimental config settings
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libutil/config-impl.hh
  src/libutil/config.cc
  src/libutil/config.hh
  src/libutil/tests/config.cc
  tests/experimental-features.sh
Labels: tests

#8230 Experimentally allow forcing `nix-daemon` trust; use this to test
  src/libstore/daemon.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/nix/daemon.cc
  tests/build-remote-trustless-after.sh
  tests/build-remote-trustless-should-fail-0.sh
  tests/build-remote-trustless-should-pass-0.sh
  tests/build-remote-trustless-should-pass-1.sh
  tests/build-remote-trustless-should-pass-3.sh
  tests/build-remote-trustless.sh
  tests/local.mk
  tests/nix-daemon-untrusting.sh
Labels: new-cli, tests

#8236 Update installing-binary.md
  doc/manual/src/installation/installing-binary.md
Labels: documentation

#8231 Gate experimental features in `DerivationOutput::fromJSON`
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/tests/derivation.cc
  tests/ca/derivation-json.sh
  tests/impure-derivations.sh
Labels: tests, backport 2.15-maintenance

#8242 Move `test/recursive.sh` nix expr to file
  tests/recursive.nix
  tests/recursive.sh
Labels: tests

#7710 Use `std::set<StringContextElem>` not `PathSet` for string contexts
  src/libcmd/installable-flake.cc
  src/libcmd/repl.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/get-drvs.cc
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/tests/json.cc
  src/libexpr/tests/value/context.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-json.hh
  src/libexpr/value-to-xml.cc
  src/libexpr/value-to-xml.hh
  src/libexpr/value.hh
  src/libexpr/value/context.cc
  src/libexpr/value/context.hh
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix/bundle.cc
  src/nix/eval.cc
  src/nix/flake.cc
Labels: new-cli, tests, repl
