Repository NixOS/nix, pull requests merged in 2023-09, with the labels that each got.

#8869 Fix #8838, pathExists: isDir when ends with `/ `
  src/libexpr/primops.cc
  tests/lang/eval-okay-pathexists.nix
Labels: bug, language, with-tests, backport 2.16-maintenance, backport 2.17-maintenance

#8863 add nix-store --query --valid-derivers command
  doc/manual/src/command-ref/nix-store/query.md
  doc/manual/src/release-notes/rl-next.md
  src/nix-store/nix-store.cc
  tests/check-refs.nix
  tests/dependencies.nix
  tests/dependencies.sh
  tests/dyn-drv/eval-outputOf.sh
  tests/export-graph.nix
  tests/remote-store.sh
Labels: with-tests

#8927 Test and begin documentation of the ATerm format for derivations
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/protocols/derivation-aterm.md
  src/libstore/tests/derivation.cc
Labels: with-tests

#8933 Add anchors to option listings
  doc/manual/generate-manpage.nix
Labels: documentation

#4628 Dynamic derivations RFC 92
  doc/manual/src/protocols/derivation-aterm.md
  perl/lib/Nix/Store.xs
  src/build-remote/build-remote.cc
  src/libcmd/built-path.cc
  src/libcmd/built-path.hh
  src/libexpr/primops.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  src/libstore/misc.cc
  src/libstore/remote-store.cc
  src/libstore/tests/derivation.cc
  src/libutil/comparator.hh
  src/nix-build/nix-build.cc
  src/nix/app.cc
  tests/dyn-drv/dep-built-drv.sh
  tests/dyn-drv/local.mk
  tests/dyn-drv/old-daemon-error-hack.nix
  tests/dyn-drv/old-daemon-error-hack.sh
Labels: new-cli, with-tests, RFC, store

#8950 fix: `nix shell` multiple commands example
  src/nix/shell.md
Labels: documentation, new-cli

#8945 docs: fixed the default priority of nix-env --install
  doc/manual/src/command-ref/nix-env/install.md
Labels: documentation

#9008 Re-enable systemd-nspawn test
  tests/nixos/containers/containers.nix
  tests/nixos/containers/systemd-nspawn.nix
Labels: with-tests, backport 2.18-maintenance

#9013 Move test coverage section to testing page
  doc/manual/src/contributing/hacking.md
  doc/manual/src/contributing/testing.md
Labels: documentation

#9012 fix rendering error for consecutive spaces
  doc/manual/src/language/index.md
Labels: documentation

#8990 add clarifying example to `nix-env` output selection
  doc/manual/src/command-ref/nix-env/install.md
Labels: documentation

#9016 README: link to CONTRIBUTING
  README.md
Labels: documentation

#8931 do not show configuration override flags for each command
  doc/manual/generate-manpage.nix
  doc/manual/src/command-ref/opt-common.md
  src/libutil/args.cc
Labels: documentation

#9028 Misc options rendering adjustments
  doc/manual/generate-manpage.nix
  src/libutil/args.cc
Labels: documentation

#9024 Shuffle `ParseSink` code in preparation for git hashing support
  src/libutil/archive.cc
  src/libutil/archive.hh
  src/libutil/fs-sink.cc
  src/libutil/fs-sink.hh
  src/libutil/hash.hh
Labels: RFC

#8887 Support cross compiling to BSD and CI it
  boehmgc-coroutine-sp-fallback.diff
  flake.nix
  src/libmain/shared.cc
  src/libmain/shared.hh
Labels: idea approved

#6614 Implement support for percent encoded filepaths for flakerefs
  doc/manual/src/release-notes/rl-next.md
  src/libexpr/flake/flakeref.cc
  src/libutil/tests/url.cc
  src/libutil/url.cc
  src/nix/flake.md
  tests/flakes/common.sh
  tests/flakes/flakes.sh
Labels: documentation, new-cli, flakes, language, with-tests, tests

#8706 document system features
  doc/manual/src/language/advanced-attributes.md
  doc/manual/src/release-notes/rl-2.12.md
  src/libstore/globals.hh
  src/libstore/store-api.hh
Labels: store

#9045 fix broken redirects script
  doc/manual/redirects.js
Labels: documentation

#9051 Fix repl.md duplicate typo
  src/nix/repl.md
Labels: documentation, new-cli, repl

#7003 Improve experimental-features error wording
  src/libutil/experimental-features.cc
Labels: documentation

#9043 flakes: adopt repl-flake behavior as default
  doc/manual/src/release-notes/rl-next.md
  src/libutil/experimental-features.cc
  src/nix/repl.cc
  src/nix/repl.md
  tests/repl.sh
Labels: documentation, new-cli, with-tests, repl

#9047 string Value refactor
  src/libcmd/repl.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/flake/flake.cc
  src/libexpr/get-drvs.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/tests/libexpr.hh
  src/libexpr/tests/primops.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-xml.cc
  src/libexpr/value.hh
  src/nix-env/nix-env.cc
  src/nix/eval.cc
Labels: new-cli, with-tests, repl

#8852 Absolute attrPath notation ("flakeref#.attrPath")
  doc/manual/src/release-notes/rl-next.md
  src/libcmd/installable-flake.cc
  src/libcmd/installables.cc
  src/nix/nix.md
  tests/flakes/absolute-attr-paths.sh
  tests/local.mk
Labels: documentation, new-cli, flakes, with-tests

#8994 Include "original" and "locked" in nix flake prefetch --json
  src/nix/flake.cc
Labels: new-cli

#9069 `libfetchers` improvements without `libflake`
  src/libexpr/flake/flakeref.cc
  src/libexpr/flake/flakeref.hh
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/attrs.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/indirect.cc
  src/libutil/args.hh
  src/libutil/url-parts.hh
  src/libutil/url.cc
Labels: fetching

#9022 pathExists: isDir when endswith /.
  src/libexpr/primops.cc
  tests/lang/eval-okay-pathexists.nix
Labels: with-tests
