Repository NixOS/nix, pull requests merged in 2023-06, with the labels that each got.

#8317 document identifier syntax for attribute sets
  doc/manual/src/language/constructs.md
  doc/manual/src/language/operators.md
  doc/manual/src/language/values.md
Labels: documentation, language

#8044 Document manual migration for use-xdg-base-directories
  src/libstore/globals.hh
Labels: documentation

#8448 Fix code block formatting in man page
  src/nix/nix.md
Labels: documentation, new-cli

#8452 SourcePath::resolveSymlinks(): Fix handling of symlinks that start with '..'
  src/libfetchers/input-accessor.cc
  tests/eval.sh
Labels: bug, tests, fetching, backport 2.16-maintenance

#8456 Add missing <sys/select.h> include
  src/nix/daemon.cc
Labels: new-cli

#8391 Remove old default from docs for `hashed-mirrors`
  src/libstore/globals.hh
Labels: backport 2.16-maintenance

#8120 Parse TOML timestamps as strings
  src/libexpr/primops/fromTOML.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/lang/eval-fail-fromTOML-timestamps.nix
  tests/lang/eval-okay-fromTOML-timestamps.exp
  tests/lang/eval-okay-fromTOML-timestamps.flags
  tests/lang/eval-okay-fromTOML-timestamps.nix
Labels: tests, idea approved

#8168 macOS: fix recursive nix
  src/libstore/build/local-derivation-goal.cc
  tests/recursive.sh
Labels: macos, tests, idea approved, sandbox

#8493 Don't include uds-remote-store.md from a header file
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
Labels: store

#4282 fix the hash rewriting for ca-derivations
  src/libexpr/primops.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/path-references.cc
  src/libstore/path-references.hh
  src/libutil/references.cc
  src/libutil/references.hh
  src/libutil/tests/references.cc
  tests/fetchClosure.sh
Labels: bug, ca-derivations, tests

#3532 darwin installer: remove the file before installing new one
  scripts/install-darwin-multi-user.sh
Labels: installer, macos

#8490 fix: Do not apply default installables when using --stdin
  src/libcmd/installables.cc
  tests/build.sh
Labels: tests

#8516 Remove RegisterPrimOp constructor without support for documentation
  src/libexpr/primops.cc
  src/libexpr/primops.hh
  tests/plugins/plugintest.cc
Labels: tests

#8351 Expanding tests and docs relating to deleting profiles
  doc/manual/src/command-ref/nix-collect-garbage.md
  doc/manual/src/command-ref/nix-env/delete-generations.md
  tests/gc.sh
  tests/local.mk
  tests/nix-collect-garbage-d.sh
Labels: tests

#8512 build: show UID and GID in welcome message
  scripts/install-multi-user.sh
Labels: installer

#8517 Fix build hook error for libstore library users
  .gitignore
  Makefile
  src/libstore/globals.cc
  tests/local.mk
  tests/test-libstoreconsumer.sh
  tests/test-libstoreconsumer/README.md
  tests/test-libstoreconsumer/local.mk
  tests/test-libstoreconsumer/main.cc
Labels: bug, tests

#8526 Clean up a few things related to profiles
  src/libcmd/command.cc
  src/libstore/profiles.cc
  src/libstore/profiles.hh
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  src/nix/profile.cc
Labels: new-cli

#8535 [Backport 2.15-maintenance] ci: Always run with sandbox, even on Darwin
  .github/workflows/ci.yml
  src/libexpr/eval.cc
  src/libstore/globals.cc
  src/libutil/tests/tests.cc
  src/libutil/util.cc
  src/libutil/util.hh
Labels: tests

#8542 maintainers: add note on marking PRs as draft
  maintainers/README.md
Labels: process

#8356 Support opening local store with database on read-only filesystem
  src/libstore/gc.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/sqlite.cc
  src/libstore/sqlite.hh
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/local.mk
  tests/read-only-store.sh
Labels: feature, tests, idea approved, store

#8548 redirect old platform uninstall instruction links
  doc/manual/redirects.js
Labels: documentation, backport 2.16-maintenance

#8552 GC server: Clear O_NONBLOCK on the right file descriptor
  src/libstore/gc.cc
Labels: backport 2.15-maintenance, backport 2.16-maintenance

#8374 Split `OptionalPathSetting` from `PathSetting`
  src/libstore/build/hook-instance.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libstore/local-fs-store.hh
  src/libstore/store-api.hh
  src/libutil/abstract-setting-to-json.hh
  src/libutil/args.cc
  src/libutil/config-impl.hh
  src/libutil/config.cc
  src/libutil/config.hh
  src/libutil/experimental-features.hh
  src/libutil/json-utils.cc
  src/libutil/json-utils.hh
Labels: store

#8556 hacking guide: use more self-descriptive section headings
  doc/manual/redirects.js
  doc/manual/src/contributing/hacking.md
Labels: documentation

#8387 Check exact error codes in linux-sandbox.sh
  tests/linux-sandbox-cert-test.nix
  tests/linux-sandbox.sh
Labels: tests, idea approved

#8572 Better document build failure exit codes
  doc/manual/src/command-ref/nix-build.md
  doc/manual/src/command-ref/nix-store/realise.md
  doc/manual/src/command-ref/status-build-failure.md
  src/libstore/build/entry-points.cc
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  tests/check.sh
  tests/linux-sandbox.sh
Labels: documentation, tests

#8519 reword documentation on trusted users and substituters
  src/libstore/globals.hh
  src/nix/daemon.cc
Labels: documentation

#5385 Add `dirtyRev` and `dirtyShortRev` to `fetchGit`
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
  src/nix/flake.cc
  tests/fetchGit.sh
  tests/flakes/flakes.sh
Labels: feature, new-cli, flakes, with-tests, idea approved, fetching, tests

#8582 nix flake check: improve error message if overlay is not a lambda
  src/nix/flake.cc
  tests/flakes/check.sh
Labels: new-cli, tests

#8330 Automatically document builtin constants
  .gitignore
  doc/manual/generate-builtin-constants.nix
  doc/manual/generate-builtins.nix
  doc/manual/local.mk
  doc/manual/src/language/builtin-constants-prefix.md
  doc/manual/src/language/builtin-constants-suffix.md
  doc/manual/src/language/builtin-constants.md
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/primops.cc
  src/libexpr/primops.hh
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/value.hh
  src/nix/main.cc
Labels: documentation, new-cli

#8571 Split testing into its own page in the contribution guide
  doc/manual/redirects.js
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/hacking.md
  doc/manual/src/contributing/testing.md
Labels: documentation

#8600 libexpr: fix leaking `es2` in stripIndentation (parser.y)
  src/libexpr/parser.y
Labels: language, performance

#8589 Allow to sign path as unprivileged user
  doc/manual/src/release-notes/rl-next.md
  src/libstore/daemon.cc
  tests/nixos/authorization.nix
Labels: store, tests

#8619 tests: Don't install test-libstoreconsumer program
  tests/test-libstoreconsumer/local.mk
Labels: tests
