Repository NixOS/nix, pull requests merged in 2024-01, with the labels that each got.

#9688 Signer infrastructure: Prep for #9076
  perl/lib/Nix/Store.xs
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/globals.cc
  src/libstore/keys.cc
  src/libstore/keys.hh
  src/libstore/local-store.cc
  src/libstore/local.mk
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/path.cc
  src/libstore/realisation.cc
  src/libstore/realisation.hh
  src/libstore/store-api.cc
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/local.mk
  src/libutil/signature/local-keys.cc
  src/libutil/signature/local-keys.hh
  src/libutil/signature/signer.cc
  src/libutil/signature/signer.hh
  src/libutil/util.cc
  src/nix/sigs.cc
  src/nix/verify.cc
Labels: new-cli, store

#9687 withFramedSink(): Receive interrupts on the stderr thread
  src/libstore/build/substitution-goal.cc
  src/libstore/remote-store.cc
  src/libutil/thread-pool.cc
Labels: store

#9507 deduplicate installation instructions
  doc/manual/src/installation/installing-binary.md
  doc/manual/src/quick-start.md
Labels: installer

#9662 Improve error message for fixed-outputs with references.
  src/libstore/store-api.cc
  tests/functional/fixed.nix
  tests/functional/fixed.sh
Labels: with-tests, store

#9458 fix an old lost direct
  doc/manual/redirects.js
Labels: documentation, backport 2.13-maintenance, backport 2.14-maintenance, backport 2.15-maintenance, backport 2.16-maintenance, backport 2.17-maintenance, backport 2.18-maintenance, backport 2.19-maintenance

#9648 nix shell: reflect command line order in PATH order
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/nix/develop.cc
  src/nix/run.cc
  tests/functional/shell-hello.nix
  tests/functional/shell.sh
Labels: new-cli, with-tests

#9728 Improve build sytem support for readline instead of editline
  configure.ac
  flake.nix
  package.nix
  src/libcmd/repl.cc
Labels: windows, repl

#9739 (Backport #9661) Build IFD in the build store when using eval-store.
  src/libexpr/primops.cc
  tests/functional/eval-store.sh
  tests/functional/ifd.nix
  tests/functional/remote-store.sh
Labels: with-tests

#9634 Combine `AbstractPos`, `PosAdapter`, and `Pos`
  src/libcmd/editor-for.cc
  src/libcmd/editor-for.hh
  src/libcmd/installable-value.cc
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/primops.cc
  src/libexpr/value.hh
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/fetch-to-store.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/fs-input-accessor.hh
  src/libfetchers/input-accessor.cc
  src/libfetchers/input-accessor.hh
  src/libfetchers/memory-input-accessor.cc
  src/libfetchers/memory-input-accessor.hh
  src/libstore/store-api.hh
  src/libutil/error.cc
  src/libutil/error.hh
  src/libutil/input-accessor.hh
  src/libutil/logging.cc
  src/libutil/position.cc
  src/libutil/position.hh
  src/libutil/ref.hh
  src/libutil/repair-flag.hh
  src/libutil/source-path.cc
  src/libutil/source-path.hh
Labels: idea approved, store, repl, fetching

#9742 More makefile preparations for Windows
  Makefile
  mk/lib.mk
  mk/libraries.mk
  mk/platform.mk
  mk/programs.mk
Labels: build-problem, windows

#9606 Support limiting attributes and list items in value printing to support detailed errors
  doc/manual/src/command-ref/nix-instantiate.md
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/print-ambiguous.cc
  src/libexpr/print-ambiguous.hh
  src/libexpr/print-options.hh
  src/libexpr/print.cc
  src/libexpr/print.hh
  src/libexpr/value.hh
  src/libutil/english.cc
  src/libutil/english.hh
  src/nix-env/user-env.cc
  src/nix-instantiate/nix-instantiate.cc
  tests/functional/lang/eval-okay-print.err.exp
  tests/functional/lang/eval-okay-repeated-empty-attrs.exp
  tests/functional/lang/eval-okay-repeated-empty-attrs.nix
  tests/functional/lang/eval-okay-repeated-empty-list.exp
  tests/functional/lang/eval-okay-repeated-empty-list.nix
  tests/unit/libexpr/value/print.cc
Labels: with-tests, repl

#8043 nix: develop: use SHELL from rc script
  src/nix/develop.cc
  tests/functional/common/vars-and-functions.sh.in
  tests/functional/flakes/develop.sh
  tests/functional/local.mk
Labels: new-cli, with-tests, nix-shell

#9656 Make profile element names stable
  doc/manual/rl-next/nix-profile-names.md
  src/nix/profile-list.md
  src/nix/profile-remove.md
  src/nix/profile-upgrade.md
  src/nix/profile.cc
  tests/functional/nix-profile.sh
Labels: documentation, new-cli, with-tests

#9737 Separate `SystemError` from `SysError`
  src/libcmd/repl.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/gc.cc
  src/libstore/globals.cc
  src/libstore/keys.cc
  src/libstore/local-store.cc
  src/libstore/optimise-store.cc
  src/libstore/remote-fs-accessor.cc
  src/libutil/args.cc
  src/libutil/cgroup.cc
  src/libutil/config.cc
  src/libutil/error.hh
  src/libutil/file-descriptor.cc
  src/libutil/logging.cc
  src/libutil/serialise.cc
  src/libutil/util.cc
  src/nix-build/nix-build.cc
  src/nix/config-check.cc
  tests/unit/libutil/logging.cc
Labels: new-cli, windows, store, repl

#9756 Newer Nixpkgs, get `readline` on Windows
  flake.lock
  package.nix
Labels: windows

#9378 doc: provide context in glossary definitions
  doc/manual/src/glossary.md
Labels: documentation

#9757 Avoid Windows macros in the parser and lexer
  src/libexpr/lexer.l
  src/libexpr/parser.y
Labels: windows

#9768 `tests/functional/nix-profile.sh`: Add missing `--no-link`
  tests/functional/nix-profile.sh
Labels: with-tests

#9748 Simplify RapidCheck configure
  Makefile.config.in
  configure.ac
  doc/internal-api/doxygen.cfg.in
  flake.lock
  package.nix
Labels: build-problem

#9747 Fix performance of builtins.substring for empty substrings
  src/libexpr/primops.cc
  tests/functional/lang/eval-okay-substring-context.exp
  tests/functional/lang/eval-okay-substring-context.nix
Labels: new-cli, language, with-tests, performance, fetching

#9785 tests/functional/lang: Test substring with negative length
  tests/functional/lang/eval-okay-substring.exp
  tests/functional/lang/eval-okay-substring.nix
Labels: with-tests

#8544 LocalStore::addTempRoot(): Handle ENOENT
  src/libstore/gc.cc
  src/libutil/unix-domain-socket.cc
  tests/functional/gc-non-blocking.sh
Labels: with-tests, backport 2.15-maintenance, backport 2.16-maintenance

#9279 Util improvements
  src/libutil/file-descriptor.cc
  src/libutil/file-system.cc
  src/libutil/processes.cc
  src/libutil/signals.cc
  src/libutil/unix-domain-socket.cc
  src/libutil/util.cc
  src/libutil/util.hh
Labels: new-cli

#9786 DerivationInfo -> PackageInfo
  src/libcmd/installable-attr-path.cc
  src/libcmd/installable-value.hh
  src/libcmd/installables.hh
  src/libcmd/repl.cc
  src/libexpr/get-drvs.cc
  src/libexpr/get-drvs.hh
  src/libstore/builtins/buildenv.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  src/nix-env/user-env.hh
  src/nix-instantiate/nix-instantiate.cc
  src/nix/flake.cc
  src/nix/profile.cc
Labels: new-cli, repl, backport 2.19-maintenance

#9480 libfetchers/git: Support export-ignore
  doc/manual/rl-next/git-fetcher.md
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  src/libutil/canon-path.hh
  tests/functional/fetchGit.sh
  tests/functional/fetchGitSubmodules.sh
Labels: bug, regression, with-tests, fetching

#9798 Print a more helpful message if the daemon crashes
  src/libstore/remote-store.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Labels: store

#9792 move section on make variables
  doc/manual/src/contributing/hacking.md
Labels: documentation

#9804 Fix crash when NAR is missing from binary cache
  src/libstore/build/worker.cc
  src/libstore/local-store.cc
  src/libstore/store-api.cc
Labels: store, backport 2.19-maintenance

#9806 Fix git auth
  src/libfetchers/git-utils.cc
  tests/nixos/fetch-git/test-cases/http-auth/default.nix
  tests/nixos/fetch-git/testsupport/gitea-repo.nix
Labels: bug, regression, fetching

#9812 Remove a nonsensical shorthand flag in `nix store add`
  src/nix/add-to-store.cc
Labels: new-cli

#9811 fetchTree/fetchGit: re-enable shallow fetching
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  tests/nixos/fetch-git/test-cases/shallow-cache-separation/default.nix
  tests/nixos/fetch-git/test-cases/shallow-ignore-ref/default.nix
  tests/nixos/fetch-git/test-cases/ssh-shallow/default.nix
  tests/nixos/fetch-git/testsupport/gitea-repo.nix
Labels: fetching

#9632 Use `nix daemon` in the test suite
  tests/functional/common/vars-and-functions.sh.in
  tests/functional/store-info.sh
Labels: with-tests

#9794 refactor: Extract `Store::queryPathInfoFromClientCache`
  src/libstore/store-api.cc
  src/libstore/store-api.hh
Labels: performance, store

#9809 Add missing `--hash-algo` flag to `nix store add`
  doc/manual/rl-next/nix-store-add.md
  src/nix/add-to-store.cc
  tests/functional/add.sh
Labels: new-cli, with-tests

#9348 Document JSON formats
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/glossary.md
  doc/manual/src/json/derivation.md
  doc/manual/src/json/store-object-info.md
  src/libstore/globals.hh
  src/nix/derivation-add.md
  src/nix/derivation-show.md
Labels: documentation, new-cli

#9805 Add --unpack to nix store prefetch-file
  src/nix/prefetch.cc
Labels: new-cli

#9822 Start standardizing hash algo flags
  doc/manual/rl-next/nix-hash-convert.md
  src/libutil/args.hh
  src/nix/add-to-store.cc
  src/nix/hash.cc
  tests/functional/hash.sh
Labels: new-cli, with-tests

#9521 reword description of the `max-jobs` setting
  src/libstore/globals.hh
Labels: documentation

#9512 prerequisites-source: Add bdwgc-traceable-allocator-patch
  doc/manual/src/installation/prerequisites-source.md
Labels: documentation

#6134 Factoring out parts of the serve protocol for Hydra to share
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/serve-protocol-impl.cc
  src/libstore/serve-protocol-impl.hh
  src/libstore/serve-protocol.hh
  src/nix-store/nix-store.cc
  tests/unit/libstore/data/serve-protocol/handshake-to-client.bin
  tests/unit/libstore/serve-protocol.cc
Labels: documentation, idea approved, store, fetching

#9830 tests/nixos: Test remote build against older versions
  tests/nixos/default.nix
  tests/nixos/remote-builds-ssh-ng.nix
  tests/nixos/remote-builds.nix
Labels: protocol, tests

#9753 Print the value in `value is X while a Y is expected` error
  doc/manual/rl-next/print-value-in-type-error.md
  doc/manual/rl-next/source-positions-in-errors.md
  doc/manual/rl-next/with-error-reporting.md
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libexpr/print-ambiguous.cc
  src/libexpr/print-options.hh
  src/libexpr/print.cc
  src/libexpr/print.hh
  src/libutil/error.cc
  src/nix/eval.cc
  tests/functional/dyn-drv/eval-outputOf.sh
  tests/functional/lang/eval-fail-attr-name-type.err.exp
  tests/functional/lang/eval-fail-call-primop.err.exp
  tests/functional/lang/eval-fail-list.err.exp
  tests/functional/lang/eval-fail-set-override.err.exp
  tests/functional/lang/eval-fail-using-set-as-attr-name.err.exp
  tests/unit/libexpr/error_traces.cc
Labels: new-cli, with-tests

#9818 libexpr: print value of what is attempted to be called as function
  src/libexpr/eval.cc
  tests/unit/libexpr/error_traces.cc
Labels: new-cli, with-tests

#9653 Improve the `ParseSink` interface
  src/libstore/daemon.cc
  src/libstore/export-import.cc
  src/libstore/local-store.cc
  src/libstore/nar-accessor.cc
  src/libstore/store-api.cc
  src/libutil/archive.cc
  src/libutil/archive.hh
  src/libutil/file-content-address.hh
  src/libutil/fs-sink.cc
  src/libutil/fs-sink.hh
  src/libutil/git.cc
  src/libutil/git.hh
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
  tests/unit/libutil/git.cc
Labels: store

#8893 Log what `nix flake check` does
  doc/manual/rl-next/nix-flake-check-logs-actions.md
  src/nix/flake.cc
Labels: new-cli

#9481 nix search: Disallow empty regex
  doc/manual/rl-next/empty-search-regex.md
  src/nix/search.cc
  src/nix/search.md
  tests/functional/search.sh
Labels: documentation, new-cli, with-tests

#9754 Print the value in `error: cannot coerce` messages
  doc/manual/rl-next/print-value-in-coercion-error.md
  doc/manual/src/language/string-interpolation.md
  src/libexpr/eval.cc
  src/libexpr/print-options.hh
  src/libexpr/print.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-1.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-3.err.exp
  tests/functional/lang/eval-fail-bad-string-interpolation-4.err.exp
  tests/unit/libexpr/error_traces.cc
  tests/unit/libexpr/value/print.cc
Labels: with-tests

#9771 [2.3] Add flake for testing purposes
  flake.lock
  flake.nix
  tests/add.sh
  tests/check.nix
  tests/check.sh
Labels: contributor-experience

#9861 Color `diff` output in `tests/functional/lang` tests
  tests/functional/lang/framework.sh
Labels: with-tests

#9770 Refactor rename derivation type `isPure`
  doc/manual/src/glossary.md
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
Labels: documentation, idea approved

#9876 Don't include store docs in every manpage
  doc/manual/generate-manpage.nix
  tests/unit/libstore/serve-protocol.cc
Labels: documentation

#9877 Nix 2.20 release notes
  doc/manual/rl-next/allowed-uris-can-now-match-whole-schemes.md
  doc/manual/rl-next/cgroup-stats.md
  doc/manual/rl-next/drv-string-parse-hang.md
  doc/manual/rl-next/empty-search-regex.md
  doc/manual/rl-next/env-size-reduction.md
  doc/manual/rl-next/eval-system.md
  doc/manual/rl-next/git-fetcher.md
  doc/manual/rl-next/hash-format-nix32.md
  doc/manual/rl-next/ifd-eval-store.md
  doc/manual/rl-next/mounted-ssh-store.md
  doc/manual/rl-next/nix-config-show.md
  doc/manual/rl-next/nix-env-json-drv-path.md
  doc/manual/rl-next/nix-flake-check-logs-actions.md
  doc/manual/rl-next/nix-hash-convert.md
  doc/manual/rl-next/nix-profile-names.md
  doc/manual/rl-next/nix-store-add.md
  doc/manual/rl-next/print-value-in-coercion-error.md
  doc/manual/rl-next/print-value-in-type-error.md
  doc/manual/rl-next/source-positions-in-errors.md
  doc/manual/rl-next/stack-overflow-segfaults.md
  doc/manual/rl-next/with-error-reporting.md
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/hacking.md
  doc/manual/src/release-notes/rl-2.20.md
  flake.nix
  maintainers/release-notes
  maintainers/release-process.md
  package.nix
  src/libutil/args.cc
  src/nix/hash-convert.md
  src/nix/hash.cc
Labels: documentation, new-cli

#9884 Resolve symlinks in a few more places
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  tests/functional/nix-channel.sh
Labels: with-tests

#9867 #912 allow leading period
  doc/manual/rl-next/leading-period.md
  src/libstore/path-regex.hh
  src/libstore/path.cc
  tests/unit/libstore-support/tests/path.cc
  tests/unit/libstore/path.cc
  tests/unit/libutil-support/tests/hash.cc
Labels: bug, feature, backport 2.19-maintenance, backport 2.20-maintenance
