Repository NixOS/nix, pull requests merged in 2024-04, with the labels that each got.

#10340 Add trust-tarballs-from-git-forges setting
  src/libfetchers/fetch-settings.hh
  src/libfetchers/github.cc
  tests/nixos/github-flakes.nix
Labels: fetching

#10345 Fix flake evaluation in chroot stores
  src/libexpr/flake/flake.cc
  tests/functional/chroot-store.sh
  tests/functional/local-store.sh
  tests/functional/local.mk
Labels: with-tests

#10364 Start factoring out Unix-assuming code
  local.mk
  src/libcmd/local.mk
  src/libexpr/local.mk
  src/libfetchers/local.mk
  src/libfetchers/unix/git.cc
  src/libfetchers/unix/mercurial.cc
  src/libmain/local.mk
  src/libstore/build/local-derivation-goal.cc
  src/libstore/filetransfer.cc
  src/libstore/local.mk
  src/libutil/current-process.cc
  src/libutil/environment-variables.cc
  src/libutil/file-descriptor.cc
  src/libutil/file-descriptor.hh
  src/libutil/linux/namespaces.cc
  src/libutil/linux/namespaces.hh
  src/libutil/local.mk
  src/libutil/logging.cc
  src/libutil/serialise.hh
  src/libutil/unix/environment-variables.cc
  src/libutil/unix/file-descriptor.cc
  src/libutil/unix/monitor-fd.hh
  src/libutil/unix/processes.cc
  src/libutil/unix/processes.hh
  src/libutil/unix/signals.cc
  src/libutil/unix/signals.hh
  src/libutil/unix/unix-domain-socket.cc
  src/libutil/unix/unix-domain-socket.hh
  src/libutil/unix/users.cc
  src/libutil/users.cc
  src/libutil/util.cc
  src/nix/local.mk
  src/nix/main.cc
  src/nix/unix/daemon.cc
  src/nix/unix/daemon.md
  src/nix/unix/fmt.cc
  src/nix/unix/fmt.md
  src/nix/unix/run.cc
  src/nix/unix/run.hh
  src/nix/unix/run.md
  src/nix/unix/upgrade-nix.cc
  src/nix/unix/upgrade-nix.md
  src/resolve-system-dependencies/local.mk
Labels: documentation, new-cli, windows, fetching

#10386 Add functional tests for include directives in nix config file
  tests/functional/config.sh
  tests/functional/config/extra-config.conf
  tests/functional/config/nix-with-bang-include.conf
  tests/functional/config/nix-with-include.conf
Labels: with-tests

#10390 backport `src` definition from 2.16
  flake.nix
Labels: build-problem

#9870 show Nix logo in the manual
  doc/manual/custom.css
  doc/manual/local.mk
  doc/manual/src/favicon.png
  doc/manual/src/favicon.svg
Labels: documentation, backport 2.13-maintenance, backport 2.14-maintenance, backport 2.15-maintenance, backport 2.16-maintenance, backport 2.17-maintenance, backport 2.18-maintenance, backport 2.19-maintenance

#10316 test: for derivation output selection with `.`
  tests/functional/flakes/build-paths.sh
Labels: with-tests

#10391 Handle the case where a parent of ~/.nix-defexpr is a symlink
  src/nix-env/nix-env.cc
  tests/functional/user-envs.sh
Labels: with-tests, backport 2.21-maintenance

#10087 Improve checked json casting
  .gitignore
  Makefile
  src/libfetchers/unix/git.cc
  src/libstore/derivations.cc
  src/libstore/nar-info.cc
  src/libstore/path-info.cc
  src/libutil/json-utils.cc
  src/libutil/json-utils.hh
  tests/unit/libfetchers/local.mk
  tests/unit/libfetchers/public-key.cc
  tests/unit/libutil/json-utils.cc
Labels: fetching

#8699 (Towards) stable C bindings for libutil, libexpr
  Makefile
  Makefile.config.in
  configure.ac
  doc/external-api/.gitignore
  doc/external-api/README.md
  doc/external-api/doxygen.cfg.in
  doc/external-api/local.mk
  flake.nix
  local.mk
  package.nix
  src/libexpr-c/local.mk
  src/libexpr-c/nix-expr-c.pc.in
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_expr_internal.h
  src/libexpr-c/nix_api_external.cc
  src/libexpr-c/nix_api_external.h
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/search-path.cc
  src/libexpr/value.hh
  src/libstore-c/local.mk
  src/libstore-c/nix-store-c.pc.in
  src/libstore-c/nix_api_store.cc
  src/libstore-c/nix_api_store.h
  src/libstore-c/nix_api_store_internal.h
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libutil-c/local.mk
  src/libutil-c/nix_api_util.cc
  src/libutil-c/nix_api_util.h
  src/libutil-c/nix_api_util_internal.h
  src/libutil/error.hh
  tests/unit/libexpr-support/tests/nix_api_expr.hh
  tests/unit/libexpr/local.mk
  tests/unit/libexpr/nix_api_expr.cc
  tests/unit/libexpr/nix_api_external.cc
  tests/unit/libexpr/nix_api_value.cc
  tests/unit/libstore-support/tests/nix_api_store.hh
  tests/unit/libstore/local.mk
  tests/unit/libstore/nix_api_store.cc
  tests/unit/libutil-support/tests/nix_api_util.hh
  tests/unit/libutil/local.mk
  tests/unit/libutil/nix_api_util.cc
Labels: with-tests, idea approved

#10399 Make SQLite busy back-off logic portable
  src/libstore/sqlite.cc
Labels: windows, portability

#10400 Clean up env var logic in preparation for Windows
  src/libmain/shared.cc
  src/libutil/environment-variables.cc
  src/libutil/environment-variables.hh
  src/libutil/unix/environment-variables.cc
  src/nix-build/nix-build.cc
  src/nix/develop.cc
  src/nix/unix/run.cc
  tests/unit/libexpr/primops.cc
Labels: new-cli, windows

#10401 Better signals interface
  src/libcmd/repl.cc
  src/libfetchers/git-utils.cc
  src/libmain/shared.cc
  src/libstore/daemon.cc
  src/libstore/filetransfer.cc
  src/libutil/current-process.cc
  src/libutil/signals.hh
  src/libutil/thread-pool.cc
  src/libutil/unix/monitor-fd.hh
  src/libutil/unix/signals-impl.hh
  src/libutil/unix/signals.cc
Labels: repl, fetching

#10288 Update the release cycle
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/release-notes/index.md
Labels: process

#10418 Delete dead `openFile` in `binary-cache-store.cc`
  src/libstore/binary-cache-store.cc
Labels: store

#8397 Local Overlay Store
  Makefile
  src/libstore/gc.cc
  src/libstore/local-overlay-store.cc
  src/libstore/local-overlay-store.hh
  src/libstore/local-overlay-store.md
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/store-api.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/functional/hermetic.nix
  tests/functional/init.sh
  tests/functional/local-overlay-store/add-lower-inner.sh
  tests/functional/local-overlay-store/add-lower.sh
  tests/functional/local-overlay-store/bad-uris.sh
  tests/functional/local-overlay-store/build-inner.sh
  tests/functional/local-overlay-store/build.sh
  tests/functional/local-overlay-store/check-post-init-inner.sh
  tests/functional/local-overlay-store/check-post-init.sh
  tests/functional/local-overlay-store/common.sh
  tests/functional/local-overlay-store/delete-duplicate-inner.sh
  tests/functional/local-overlay-store/delete-duplicate.sh
  tests/functional/local-overlay-store/delete-refs-inner.sh
  tests/functional/local-overlay-store/delete-refs.sh
  tests/functional/local-overlay-store/gc-inner.sh
  tests/functional/local-overlay-store/gc.sh
  tests/functional/local-overlay-store/local.mk
  tests/functional/local-overlay-store/optimise-inner.sh
  tests/functional/local-overlay-store/optimise.sh
  tests/functional/local-overlay-store/redundant-add-inner.sh
  tests/functional/local-overlay-store/redundant-add.sh
  tests/functional/local-overlay-store/remount.sh
  tests/functional/local-overlay-store/stale-file-handle-inner.sh
  tests/functional/local-overlay-store/stale-file-handle.sh
  tests/functional/local-overlay-store/verify-inner.sh
  tests/functional/local-overlay-store/verify.sh
Labels: with-tests, store

#10433 Actually run the Mercurial tests
  tests/functional/fetchMercurial.sh
  tests/functional/flakes/mercurial.sh
Labels: with-tests

#10442 backport: show Nix logo in the manual
  doc/manual/custom.css
  doc/manual/local.mk
  doc/manual/src/favicon.png
  doc/manual/src/favicon.svg
Labels: documentation

#10443 backport: show Nix logo in the manual
  doc/manual/custom.css
  doc/manual/local.mk
  doc/manual/src/favicon.png
  doc/manual/src/favicon.svg
Labels: documentation

#10444 backport: show Nix logo in the manual
  doc/manual/custom.css
  doc/manual/local.mk
  doc/manual/src/favicon.png
  doc/manual/src/favicon.svg
Labels: documentation

#10445 backport: show Nix logo in the manual
  doc/manual/custom.css
  doc/manual/local.mk
  doc/manual/src/favicon.png
  doc/manual/src/favicon.svg
Labels: documentation

#10446 backport: show Nix logo in the manual
  doc/manual/custom.css
  doc/manual/local.mk
  doc/manual/src/favicon.png
  doc/manual/src/favicon.svg
Labels: documentation

#10021 Make `outputHashAlgo` accept `"nar"`, stay in sync
  doc/manual/src/language/advanced-attributes.md
  src/libexpr/primops.cc
  tests/functional/fixed.nix
  tests/functional/fixed.sh
Labels: with-tests, idea approved

#10449 doc/rl-2.20: add missing entry about `nix copy --to ssh-ng://...`
  doc/manual/src/release-notes/rl-2.20.md
Labels: backport 2.20-maintenance, backport 2.21-maintenance

#10413 path-info: print correct path when using `nix path-info --store file://... --all --json`
  src/nix/path-info.cc
  tests/functional/binary-cache.sh
Labels: bug, new-cli, regression, with-tests, backport 2.18-maintenance

#10464 Document the Nix Archive format
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/protocols/nix-archive.md
Labels: documentation

#10455 Do not rely on $stdenv/setup to set output variables
  src/nix/develop.cc
  src/nix/get-env.sh
  tests/functional/shell.nix
  tests/functional/structured-attrs.sh
Labels: new-cli, with-tests

#10244 git fetcher: fix resolveSubmoduleUrl to work with all repo URLs
  .github/workflows/ci.yml
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/unix/git.cc
  tests/nixos/default.nix
  tests/nixos/git-submodules.nix
Labels: fetching

#10475 Backport #10244 to 2.21 maintenance
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  tests/nixos/default.nix
  tests/nixos/git-submodules.nix
Labels: fetching

#9274 add intermediate variables and clarifying comments
  src/libstore/build/local-derivation-goal.cc
  src/libstore/store-api.cc
Labels: store

#10483 docs: Refer to the glossary with `@docroot@` instead of `..`
  doc/manual/src/architecture/architecture.md
  doc/manual/src/command-ref/nix-build.md
  doc/manual/src/command-ref/nix-copy-closure.md
  doc/manual/src/command-ref/nix-instantiate.md
  doc/manual/src/command-ref/nix-store/query.md
  doc/manual/src/language/advanced-attributes.md
  doc/manual/src/language/operators.md
  doc/manual/src/language/string-interpolation.md
  doc/manual/src/language/values.md
  doc/manual/src/release-notes/rl-2.15.md
  src/libcmd/command.cc
  src/nix/nix.md
  src/nix/path-info.md
  src/nix/store-copy-log.md
Labels: documentation, new-cli

#10414 downloadFile(): Remove the "locked" (aka "immutable") flag
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/github.cc
  src/libfetchers/registry.cc
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
  src/nix-channel/nix-channel.cc
Labels: fetching

#10503 `fetchers::PublicKey` json impl
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libutil/json-utils.cc
  src/libutil/json-utils.hh
  tests/unit/libutil/json-utils.cc
Labels: fetching

#10482 Fix the access of symlinks to host files in the sandbox
  src/libstore/build/local-derivation-goal.cc
  tests/functional/linux-sandbox.sh
  tests/functional/symlink-derivation.nix
Labels: with-tests

#10467 nix shell: Handle output paths that are symlinks
  src/libstore/local-fs-store.cc
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
  src/libutil/source-path.cc
  src/libutil/source-path.hh
  src/nix/unix/run.cc
  tests/functional/shell-hello.nix
  tests/functional/shell.sh
Labels: new-cli, with-tests, store

#10519 C API: Add section in Nix manual
  doc/manual/src/contributing/documentation.md
Labels: documentation, c api

#10517 Add missing setPathDisplay() calls
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/mounted-input-accessor.cc
  src/libfetchers/unix/git.cc
  src/libfetchers/unix/mercurial.cc
Labels: fetching

#10322 Ensure immutability of non-thunk values
  src/libcmd/installable-flake.cc
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr-c/nix_api_value.cc
  src/libexpr/attr-path.cc
  src/libexpr/attr-set.cc
  src/libexpr/attr-set.hh
  src/libexpr/eval-cache.cc
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/get-drvs.cc
  src/libexpr/get-drvs.hh
  src/libexpr/nixexpr.cc
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/print-ambiguous.cc
  src/libexpr/print.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-xml.cc
  src/libexpr/value.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-env/user-env.cc
  src/nix/bundle.cc
  src/nix/eval.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/prefetch.cc
  tests/unit/libexpr-support/tests/libexpr.hh
  tests/unit/libexpr/primops.cc
  tests/unit/libexpr/trivial.cc
Labels: new-cli, repl

#10548 docs: fix wiki link
  src/nix/flake-init.md
Labels: documentation, new-cli

#10502 Improve `local-overlay` docs in a few ways
  src/libstore/unix/local-overlay-store.md
Labels: documentation, store

#10550 Make a few commands that were Unix-only no longer
  src/libstore/linux/personality.cc
  src/libstore/linux/personality.hh
  src/libstore/local.mk
  src/libstore/unix/build/local-derivation-goal.cc
  src/nix/fmt.cc
  src/nix/fmt.md
  src/nix/run.cc
  src/nix/run.hh
  src/nix/run.md
  src/nix/upgrade-nix.cc
  src/nix/upgrade-nix.md
Labels: documentation, new-cli

#10228 system: build for riscv64-unknown-linux-gnu
  doc/manual/src/contributing/hacking.md
  flake.nix
  maintainers/upload-release.pl
Labels: feature, contributor-experience, idea approved

#10501 libstore/local-derivation-goal: prohibit creating setuid/setgid binaries
  src/libstore/linux/fchmodat2-compat.hh
  src/libstore/unix/build/local-derivation-goal.cc
Labels: backport 2.21-maintenance

#10537 C API: Add nix_init_apply
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  tests/unit/libexpr/nix_api_value.cc
Labels: c api

#8311 doc/glossary: Define output closure and runtime closure
  doc/manual/src/glossary.md
Labels: documentation

#10562 Run unit tests with clean config
  src/libmain/shared.cc
  src/libmain/shared.hh
  src/libstore-c/nix_api_store.cc
  src/libstore-c/nix_api_store.h
  src/libstore/globals.cc
  src/libstore/globals.hh
  tests/unit/libstore-support/tests/libstore.hh
Labels: bug, with-tests, tests, c api

#7745 Add pre-commit hook and CI check, excluding currently unformatted files
  .gitignore
  Makefile
  doc/manual/src/contributing/hacking.md
  flake.lock
  flake.nix
  maintainers/flake-module.nix
  maintainers/local.mk
  package.nix
Labels: contributor-experience, idea approved

#10563 doc/glossary: Add base directory
  doc/manual/src/glossary.md
  doc/manual/src/language/values.md
  src/libcmd/common-eval-args.hh
  src/libexpr/flake/flakeref.hh
  src/libutil/args.hh
Labels: documentation

#10573 Rename SearchPath to LookupPath and searchPath to lookupPath
  src/libcmd/command.cc
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
  src/libcmd/repl.cc
  src/libcmd/repl.hh
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_expr.h
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/search-path.cc
  src/libexpr/search-path.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/unix/mercurial.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil/processes.hh
  src/libutil/unix/processes.cc
  src/libutil/windows/processes.cc
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix/develop.cc
  src/nix/fmt.cc
  src/nix/prefetch.cc
  src/nix/repl.cc
  src/nix/run.cc
  src/nix/run.hh
  src/nix/upgrade-nix.cc
  tests/unit/libexpr/search-path.cc
Labels: new-cli, repl, fetching, c api

#10572 Remove the 'prev' check entirely.
  src/nix/flake.cc
Labels: new-cli

#10586 Pathlocks Implementation for Windows
  src/build-remote/build-remote.cc
  src/libstore/pathlocks.hh
  src/libstore/unix/lock.cc
  src/libstore/unix/pathlocks-impl.hh
  src/libstore/unix/pathlocks.cc
  src/libstore/windows/pathlocks-impl.hh
  src/libstore/windows/pathlocks.cc
Labels: windows

#10589 streamline macOS uninstall instructions
  doc/manual/src/installation/uninstall.md
Labels: documentation, installer

#10604 doc/manual: Add C API to menu
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/c-api.md
  doc/manual/src/contributing/documentation.md
Labels: contributor-experience, c api

#10605 add a recommendation for first-time contributors
  CONTRIBUTING.md
Labels: contributor-experience

#10378 Port Nix-Perl to Meson
  perl/.yath.rc
  perl/.yath.rc.in
  perl/Makefile
  perl/Makefile.config.in
  perl/configure.ac
  perl/default.nix
  perl/lib/Nix/Store.xs
  perl/lib/Nix/meson.build
  perl/local.mk
  perl/meson.build
  perl/meson_options.txt
  perl/t/meson.build
Labels: build-problem

#10588 Fix fetchGit/fetchTree for nested submodules
  src/libfetchers/unix/git.cc
  tests/functional/fetchGitSubmodules.sh
Labels: bug, with-tests, fetching

#10602 Json infra tests misc
  src/libfetchers/fetchers.cc
  tests/unit/libfetchers/data/public-key/defaultType.json
  tests/unit/libfetchers/data/public-key/simple.json
  tests/unit/libfetchers/public-key.cc
  tests/unit/libutil/json-utils.cc
Labels: fetching

#10570 Share evaluation caches across installables
  src/libcmd/installables.cc
  src/libexpr/eval.hh
Labels: new-cli, performance

#10536 Rebuild doxygen docs when headers change
  doc/external-api/local.mk
  doc/internal-api/local.mk
Labels: documentation, contributor-experience, c api

#10618 nix repl: hide progress bar during :edit
  src/libcmd/repl.cc
Labels: repl

#10624 Add tests for dirOf/baseNameOf on the root of a flake
  src/libfetchers/path.cc
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Labels: with-tests, fetching
