Repository NixOS/nix, pull requests merged in 2024-11, with the labels that each got.

#11759 fix: make sure directory exists before using `ln`
  scripts/install-systemd-multi-user.sh
Labels: backport 2.24-maintenance

#11775 doc/rl-2.19: add entry for always-allow-substitutes option
  doc/manual/source/release-notes/rl-2.19.md
Labels: documentation, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance, backport 2.24-maintenance

#11637 doc/manual: Add 'Debugging Nix' section
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/development/debugging.md
Labels: documentation, idea approved

#11793 docs: add links to string context documentation
  doc/manual/source/language/operators.md
Labels: documentation

#11794 Rename nul.nar because nul is a special name in Windows
  tests/functional/nars.sh
  tests/functional/nul-character.nar
Labels: with-tests

#11494 Add flag `set-env-var` to `MixEnvironment`, and rename old ones
  maintainers/flake-module.nix
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libutil/environment-variables.hh
  tests/functional/flakes/develop.sh
Labels: with-tests, idea approved

#11798 Meson for nixos functional tests
  doc/manual/source/development/testing.md
  tests/functional/common/init.sh
  tests/functional/common/subst-vars.sh.in
  tests/functional/meson.build
  tests/nixos/default.nix
  tests/nixos/functional/common.nix
Labels: documentation, with-tests

#11800 Test against tests using Meson-built Nix
  packaging/hydra.nix
  tests/functional/package.nix
Labels: with-tests

#11809 Meson fixes for msys2 builds
  meson.build
  meson.options
  src/libstore/meson.build
  src/nix/meson.build
  tests/functional/meson.build
Labels: new-cli, with-tests

#11814 fix(libutil-tests/nix_api_util): get rid of unnecessary memory leaks
  src/libutil-tests/nix_api_util.cc
Labels: c api

#11816 `ProgressBar::ask`: accept EOF, as a no
  src/libmain/progress-bar.cc
  src/libutil/file-descriptor.hh
  src/libutil/unix/file-descriptor.cc
  tests/functional/flakes/config.sh
  tests/functional/package.nix
Labels: with-tests

#11825 Fix arm libatomic
  build-utils-meson/libatomic/meson.build
  src/libstore/meson.build
  src/libutil/meson.build
Labels: build-problem

#11829 Revert "Merge pull request #10980 from kjeremy/flake-show-description"
  doc/manual/rl-next/nix-flake-show-description.md
  src/nix/flake.cc
  tests/functional/flakes/show.sh
Labels: documentation, new-cli, with-tests

#11833 Fix #11830
  src/libmain/progress-bar.cc
  src/libutil/file-descriptor.hh
  src/libutil/logging.cc
  src/libutil/windows/file-descriptor.cc
  src/nix-store/nix-store.cc
  src/nix/cat.cc
  src/nix/dump-path.cc
  src/nix/eval.cc
  src/nix/log.cc
  src/nix/sigs.cc
Labels: new-cli

#11847 refactor(treewide): reserve vector capacity when final size is known
  src/libcmd/installables.cc
  src/libexpr/primops.cc
  src/libstore/build/entry-points.cc
  src/libstore/path-with-outputs.cc
  src/libutil/executable-path.cc
  src/nix/develop.cc
Labels: new-cli

#11701 Restore input substitution
  doc/manual/source/release-notes/rl-2.25.md
  src/libexpr/call-flake.nix
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/path.cc
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/libflake/flake/lockfile.cc
  src/libflake/flake/lockfile.hh
  src/nix/flake.md
Labels: documentation, new-cli, fetching

#11878 Remove warning that interpretation of .drv has changed
  src/libcmd/installable-derived-path.cc
Labels: new-cli, backport 2.24-maintenance

#11876 Filter OSC 8 correctly
  src/libutil-tests/terminal.cc
  src/libutil/terminal.cc
Labels: backport 2.25-maintenance

#11870 Make the default stdenv phases do the right thing
  doc/manual/source/development/building.md
  doc/manual/source/development/documentation.md
  doc/manual/source/development/testing.md
  packaging/dev-shell.nix
Labels: documentation

#11860 Fix most Doxygen warnings
  src/external-api-docs/doxygen.cfg.in
  src/internal-api-docs/doxygen.cfg.in
  src/internal-api-docs/meson.build
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_value.h
  src/libexpr/eval.hh
  src/libexpr/nixexpr.hh
  src/libexpr/value/context.hh
  src/libfetchers/fetchers.cc
  src/libstore-c/nix_api_store.h
  src/libstore-test-support/tests/derived-path.cc
  src/libstore-tests/serve-protocol.cc
  src/libstore-tests/worker-protocol.cc
  src/libstore/build/goal.hh
  src/libstore/build/worker.hh
  src/libstore/content-address.hh
  src/libstore/length-prefixed-protocol-helper.hh
  src/libstore/machines.hh
  src/libstore/outputs-spec.cc
  src/libstore/path.hh
  src/libstore/profiles.hh
  src/libstore/serve-protocol-impl.hh
  src/libstore/ssh.hh
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
  src/libstore/store-reference.hh
  src/libstore/worker-protocol-connection.hh
  src/libstore/worker-protocol-impl.hh
  src/libutil-c/nix_api_util.h
  src/libutil-test-support/tests/gtest-with-params.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/checked-arithmetic.hh
  src/libutil/file-content-address.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/git.hh
  src/libutil/json-utils.hh
  src/libutil/std-hash.hh
  src/libutil/tarfile.cc
Labels: new-cli, with-tests, store, fetching, c api

#11882 Fix typo in nix-collect-garbage.md
  doc/manual/source/command-ref/nix-collect-garbage.md
Labels: documentation

#11894 doc/nix fmt: Mention nixfmt-rfc-style instead of nixfmt(-classic)
  src/nix/fmt.md
Labels: documentation, new-cli

#9854 docker: Allow building for non-root user
  .github/workflows/ci.yml
  doc/manual/source/installation/installing-docker.md
  docker.nix
  tests/nixos/default.nix
  tests/nixos/nix-docker-test.sh
  tests/nixos/nix-docker.nix
Labels: documentation

#11866 callFunction: Use std::span
  src/libexpr-c/nix_api_expr.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libflake/flake/flake.cc
Labels: c api

#11901 tests/functional/flakes/develop.sh: Don't hang
  tests/functional/flakes/develop.sh
Labels: with-tests, backport 2.25-maintenance

#11902 Fix issue #11892
  src/nix-build/nix-build.cc
  tests/functional/nix-shell.sh
  tests/functional/shell.nix
Labels: regression, with-tests, backport 2.24-maintenance, backport 2.25-maintenance

#11911 Trivial changes from lazy-trees
  src/libexpr/primops.cc
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/meson.build
Labels: fetching

#11910 nix flake init: Operate on a SourcePath
  src/nix/flake.cc
Labels: new-cli

#11913 resolveLookupPathPath(): Return a SourcePath instead of a string
  src/libcmd/common-eval-args.cc
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  tests/functional/restricted.sh
Labels: with-tests

#11914 EvalState::getBuiltins
  src/libexpr-test-support/tests/libexpr.hh
  src/libexpr-tests/eval.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/nix/main.cc
Labels: new-cli, with-tests

#11657 nix copy: Add --profile and --out-link flags
  doc/manual/rl-next/nix-copy-flags.md
  src/libcmd/command.cc
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/libcmd/installables.hh
  src/nix/build.cc
  src/nix/copy.cc
  src/nix/copy.md
  src/nix/realisation.cc
  tests/functional/zstd.sh
Labels: documentation, new-cli, with-tests

#11668 Support fine-grained database schema migrations
  src/libstore/local-store.cc
  src/libstore/local-store.hh
Labels: store

#11926 Break up tests/functional/flakes/flakes.sh
  .github/workflows/ci.yml
  tests/functional/flakes/commit-lock-file-summary.sh
  tests/functional/flakes/common.sh
  tests/functional/flakes/dubious-query.sh
  tests/functional/flakes/edit.sh
  tests/functional/flakes/flakes.sh
  tests/functional/flakes/meson.build
  tests/functional/flakes/non-flake-inputs.sh
  tests/functional/flakes/shebang.sh
Labels: with-tests

#11917 Update issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/installer.md
  .github/ISSUE_TEMPLATE/missing_documentation.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: contributor-experience

#11915 Bump fetcher cache version
  src/libfetchers/cache.cc
Labels: bug, fetching, backport 2.24-maintenance, backport 2.25-maintenance

#8809 doc: Clarify that nix-shell still uses shell from host environment
  doc/manual/source/command-ref/nix-shell.md
Labels: documentation

#11934 Use -O3 again
  build-utils-meson/common/meson.build
  build-utils-meson/diagnostics/meson.build
  build-utils-meson/threads/meson.build
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libexpr-test-support/meson.build
  src/libexpr-tests/meson.build
  src/libexpr/meson.build
  src/libfetchers-tests/meson.build
  src/libfetchers/meson.build
  src/libflake-tests/meson.build
  src/libflake/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libstore-test-support/meson.build
  src/libstore-tests/meson.build
  src/libstore/meson.build
  src/libutil-c/meson.build
  src/libutil-test-support/meson.build
  src/libutil-tests/meson.build
  src/libutil/meson.build
  src/nix/meson.build
Labels: new-cli, fetching, c api

#11908 document shallow clone options in git fetchers
  src/nix/flake.md
Labels: documentation, new-cli

#11943 refactor(libfetchers/registry): use standard remove_if + erase
  src/libfetchers/registry.cc
Labels: fetching

#11937 chore: get rid of dead code and unused variables where appropriate
  src/libexpr/attr-path.cc
  src/libexpr/primops.cc
  src/libfetchers/git.cc
  src/libflake/flake/flakeref.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/export-import.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil-tests/nix_api_util.cc
  src/libutil/serialise.cc
  src/libutil/terminal.cc
  src/nix/search.cc
  src/nix/sigs.cc
Labels: new-cli, fetching, c api

#11953 Work around gcc warning
  src/nix/flake.cc
Labels: new-cli

#11944 fix(treewide): remove unnecessary copying in range for loops
  src/libcmd/installables.cc
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchClosure.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/keys.cc
  src/libstore/local-overlay-store.cc
  src/libstore/nar-info.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/store-api.cc
  src/libutil-tests/hilite.cc
  src/libutil/args.cc
  src/libutil/url.cc
  src/nix-store/nix-store.cc
  src/nix/develop.cc
  src/nix/flake.cc
  src/nix/hash.cc
  src/nix/run.cc
  src/nix/verify.cc
Labels: new-cli, store

#11959 more readable errors if symlinks cannot be created
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/nix/flake.cc
Labels: new-cli, backport 2.25-maintenance

#11976 tests/functional/meson.build: always look up `ls` as a `coreutils` proxy
  tests/functional/meson.build
Labels: with-tests
