Repository NixOS/nix, pull requests merged in 2024-03, with the labels that each got.

#10111 Support symlinks properly with `git-hashing` experimental feature
  src/libutil/git.cc
  src/libutil/git.hh
  tests/functional/git-hashing/simple.sh
  tests/unit/libutil/data/git/tree.bin
  tests/unit/libutil/data/git/tree.txt
  tests/unit/libutil/git.cc
Labels: with-tests, RFC

#10129 Fix the docker push job
  .github/workflows/ci.yml
Labels: docker

#10126 Ban building Nix with NDEBUG
  src/libutil/util.cc
  tests/unit/libstore/outputs-spec.cc
Labels: new-cli

#10073 Accept multiple inputs in `nix flake update`
  src/nix/flake.cc
  tests/functional/flakes/flakes.sh
Labels: new-cli, with-tests

#10122 Add --arg-from-file and --arg-from-stdin
  doc/manual/rl-next/arg-from-file.md
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
  tests/functional/eval.sh
Labels: with-tests

#10088 Use SourcePath for reading flake.{nix,lock}
  src/libcmd/installables.cc
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  src/libexpr/flake/lockfile.cc
  src/libexpr/flake/lockfile.hh
  src/nix/flake.cc
Labels: new-cli

#10143 add tests for showing help
  package.nix
  tests/functional/help.sh
  tests/functional/local.mk
Labels: with-tests, tests

#9920 Forbid nested debuggers
  doc/manual/rl-next/forbid-nested-debuggers.md
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libutil/fmt.hh
Labels: repl

#10137 fix `nix help-stores` for 2.19
  doc/manual/generate-manpage.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  flake.nix
  tests/functional/help.sh
  tests/functional/local.mk
Labels: bug, documentation, with-tests

#10151 PosixSourceAccessor::cachedLstat(): Use absolute path
  src/libutil/posix-source-accessor.cc
Labels: bug, backport 2.20-maintenance

#10154 libfetchers/git: fix UB due to invalid usage of unique_ptr
  src/libfetchers/git-utils.cc
Labels: fetching

#10155 Add a warning against carelessly changing the profile version number
  src/nix/profile.cc
Labels: new-cli

#10159 feat: show status bar with 'store copy-sigs'
  src/nix/sigs.cc
Labels: new-cli

#10107 Properly fail on flakerefs that don't point to a directory
  src/libexpr/flake/flakeref.cc
  tests/functional/flakes/search-root.sh
Labels: with-tests

#10149 LockedFlake::getFingerprint(): Use Input::getFingerprint()
  src/libcmd/installables.cc
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  src/libfetchers/path.cc
Labels: fetching

#10150 nix profile upgrade: Always upgrade unlocked flakerefs
  src/nix/flake.cc
  src/nix/profile.cc
Labels: new-cli

#10180 Restore "checking Hydra job" message in `nix flake check`
  src/nix/flake.cc
Labels: new-cli

#10197 GitHub fetcher: Don't emit treeHash yet
  src/libfetchers/github.cc
Labels: fetching, backport 2.20-maintenance

#10166 profile: introduce --regex and --all
  doc/manual/rl-next/profile-regex-all.md
  src/nix/profile-remove.md
  src/nix/profile-upgrade.md
  src/nix/profile.cc
  tests/functional/common/vars-and-functions.sh.in
  tests/functional/nix-profile.sh
Labels: documentation, new-cli, with-tests

#9113 document where the value of `builtins.nixPath` comes from
  src/libexpr/eval-settings.hh
  src/libexpr/primops.cc
Labels: documentation

#10216 Fix GitHub test
  src/libfetchers/github.cc
  tests/nixos/github-flakes.nix
Labels: fetching

#10208 `:print` strings directly in `nix repl`
  src/libcmd/repl.cc
Labels: repl

#10220 [backport] fix debugger crashing while printing envs
  .gitignore
  src/libexpr/eval.cc
  tests/functional/debugger.sh
  tests/functional/local.mk
Labels: with-tests

#10200 Fix `nix eval nixpkgs#bash` segfault
  doc/manual/rl-next/nix-eval-derivations.md
  src/nix/eval.cc
Labels: new-cli, idea approved

#10209 Print top-level errors normally in `nix repl`
  src/libcmd/repl.cc
  src/libexpr/print-options.hh
  src/libexpr/print.cc
Labels: repl

#10227 nix-copy: document --all --from local binary cache example
  src/nix/copy.md
Labels: documentation, new-cli

#10205 Make `Matcher` subclasses `final`
  src/nix/profile.cc
Labels: new-cli

#10242 adjust anchor redirects to point to new pages
  doc/manual/redirects.js
Labels: documentation

#10243 docs: update registry examples
  src/nix/registry-pin.md
Labels: documentation, new-cli

#10233 Manual backport of f8170ce9f119e5e6724eb81ff1b5a2d4c0024000 to fix CVE-2024-27297
  flake.nix
  src/libstore/build/local-derivation-goal.cc
  src/libutil/filesystem.cc
  src/libutil/util.hh
  tests/nixos/ca-fd-leak/default.nix
  tests/nixos/ca-fd-leak/sender.c
  tests/nixos/ca-fd-leak/smuggler.c
Labels: with-tests, backport 2.16-maintenance

#10241 git fetcher: use resolveRef for getting revision of reference
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  tests/functional/fetchGit.sh
Labels: with-tests, fetching

#10083 refactor: move the repl input code to its own file
  src/libcmd/repl-interacter.cc
  src/libcmd/repl-interacter.hh
  src/libcmd/repl.cc
  src/libcmd/repl.hh
  src/libutil/finally.hh
Labels: repl

#10271 Document how to build many outputs of a flake package
  src/nix/build.md
Labels: documentation, new-cli

#10293 EvalCache: Fix missing format string argument
  src/libexpr/eval-cache.cc
Labels: bug, flakes, language, backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance

#10310 Improve `git-hashing/simple.sh` test
  tests/functional/git-hashing/simple.sh
Labels: with-tests

#10303 fix: Treat empty TMPDIR as unset
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.cc
  src/libstore/http-binary-cache-store.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/git.cc
  src/nix-build/nix-build.cc
Labels: store

#10306 Test and document `builtins.baseNameOf`, improve internal `baseNameOf()`
  src/libexpr/primops.cc
  src/libutil/file-system.cc
  tests/functional/lang/eval-okay-baseNameOf.exp
  tests/functional/lang/eval-okay-baseNameOf.nix
  tests/unit/libutil/tests.cc
Labels: with-tests

#10312 Add build-dir setting
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.hh
  tests/functional/check.sh
  tests/functional/common/vars-and-functions.sh.in
Labels: with-tests, derivation-build

#10329 Build system changes for MinGW support
  local.mk
  package.nix
  src/libcmd/local.mk
  src/libexpr/local.mk
  src/libfetchers/local.mk
  src/libmain/local.mk
  src/libstore/local.mk
  src/libutil/local.mk
  src/nix/local.mk
  src/resolve-system-dependencies/local.mk
  tests/functional/plugins/local.mk
  tests/functional/test-libstoreconsumer/local.mk
  tests/unit/libexpr/local.mk
  tests/unit/libstore/local.mk
  tests/unit/libutil/local.mk
Labels: new-cli, with-tests, windows, fetching

#10237 docs: add cacert in macos multi-user upgrade
  doc/manual/src/installation/upgrading.md
Labels: documentation

#10308 doc/local.mk: Add manual-html-open phony target for opening browser
  doc/manual/local.mk
  doc/manual/src/contributing/documentation.md
Labels: documentation, contributor-experience

#10337 `nix shell` shebang: support O'Caml comments
  src/libutil/args.cc
  tests/functional/flakes/flakes.sh
Labels: with-tests

#10305 Always print addErrorContext
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libutil/error.cc
  src/libutil/error.hh
  tests/functional/lang.sh
  tests/functional/lang/eval-fail-addErrorContext-example.err.exp
  tests/functional/lang/eval-fail-addErrorContext-example.flags
  tests/functional/lang/eval-fail-addErrorContext-example.nix
Labels: with-tests

#10131 `TERM=dumb` fixes
  src/libcmd/markdown.cc
  src/libmain/progress-bar.cc
  src/libutil/logging.cc
  src/libutil/terminal.cc
  src/libutil/terminal.hh
  src/nix-env/nix-env.cc
  src/nix/main.cc
  src/nix/prefetch.cc
Labels: new-cli

#10299 flakes: remove experimental repl-flake
  doc/manual/rl-next/remove-repl-flake.md
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/nix/repl.cc
  tests/functional/repl.sh
Labels: new-cli, with-tests, repl

#10361 `throwExceptionSelfCheck` throw `Error`
  src/libutil/error.cc
Labels: windows

#10363 Factor out `isRootUser` function
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/libstore/lock.cc
  src/libstore/profiles.cc
  src/libstore/store-api.cc
  src/libutil/users.cc
  src/libutil/users.hh
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix/main.cc
Labels: new-cli, windows, store

#10362 Factor out `nix::maybeLstat`
  src/libstore/build/local-derivation-goal.cc
  src/libstore/builtins/buildenv.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/posix-source-accessor.cc
Labels: windows
