Repository NixOS/nix, pull requests merged in 2024-09, with the labels that each got.

#11407 add removal of ~root/.cache/nix to uninstall instructions
  doc/manual/src/installation/uninstall.md
Labels: documentation

#11402 Respect max-substitution-jobs again
  src/libstore/build/substitution-goal.cc
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
Labels: regression, backport 2.24-maintenance

#10919 install-darwin: fix _nixbld uids for macOS sequoia
  scripts/bigsur-nixbld-user-migration.sh
  scripts/install-darwin-multi-user.sh
  scripts/install-multi-user.sh
  scripts/install-systemd-multi-user.sh
Labels: backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance, backport 2.24-maintenance

#11424 Pull fut.get() out of the lock
  src/libstore/store-api.cc
Labels: store

#11435 fix broken link
  doc/manual/src/glossary.md
Labels: documentation

#11440 update instructions to build the manual
  doc/manual/src/development/documentation.md
Labels: documentation

#11437 docs: explain provenance of default `nix-path` values
  src/libexpr/eval-settings.hh
Labels: documentation

#11436 docs: reword glossary entry on Nix expression
  doc/manual/src/glossary.md
Labels: documentation

#11432 docs: small fixups on the default expression
  doc/manual/src/command-ref/files/default-nix-expression.md
Labels: documentation

#11412 Move daemon process into sub-cgroup
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil/current-process.cc
  src/libutil/linux/cgroup.cc
  src/libutil/linux/cgroup.hh
  src/nix/unix/daemon.cc
  tests/nixos/cgroups/default.nix
  tests/nixos/cgroups/hang.nix
  tests/nixos/default.nix
Labels: new-cli

#11449 [Backport 2.22-maintenance] installerScriptForGHA: aarch64-darwin
  flake.nix
Labels: backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance

#11445 [backport 2.18-maintenance] AttrCursor: Remove forceErrors
  src/libexpr/eval-cache.cc
  src/libexpr/eval-cache.hh
  src/nix/flake.cc
  src/nix/main.cc
  tests/functional/flakes/eval-cache.sh
  tests/functional/local.mk
Labels: new-cli, with-tests

#11438 fix(nix fmt): remove the default "." argument
  doc/manual/rl-next/nix-fmt-default-argument.md
  src/nix/fmt.cc
  tests/functional/fmt.sh
  tests/functional/fmt.simple.sh
Labels: documentation, new-cli, with-tests

#11351 Use envvars NIX_CACHE_HOME, NIX_CONFIG_HOME, NIX_DATA_HOME, NIX_STATE_HOME if defined
  doc/manual/rl-next/add-nix-state-home.md
  doc/manual/src/command-ref/env-common.md
  scripts/nix-profile.sh.in
  src/libcmd/repl.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval-settings.cc
  src/libfetchers/cache.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/registry.cc
  src/libflake/flake/config.cc
  src/libstore/globals.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/store-api.cc
  src/libutil/users.cc
  src/libutil/users.hh
Labels: documentation, idea approved, store, repl, fetching

#11473 Fix making the build directory kept by `keep-failed` readable
  src/libstore/unix/build/local-derivation-goal.cc
Labels: backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance, backport 2.24-maintenance

#11466 Git fetcher: Don't update mtime of ref file if fetching by rev
  src/libfetchers/git.cc
Labels: fetching, backport 2.24-maintenance

#11378 builtins.readDir: fix nix error trace on filesystem errors
  doc/manual/rl-next/filesystem-errors.md
  src/libcmd/repl.cc
  src/libstore/builtins/unpack-channel.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/tarfile.cc
  src/libutil/tarfile.hh
Labels: documentation, repl

#11487 doc: add admonitions for macOS 15 Sequoia update
  doc/manual/src/installation/index.md
  doc/manual/src/installation/installing-binary.md
  doc/manual/src/installation/uninstall.md
Labels: documentation

#11492 Make the NAR parser stricter and add some tests
  src/libutil/archive.cc
  tests/functional/dot.nar
  tests/functional/dotdot.nar
  tests/functional/empty.nar
  tests/functional/executable-after-contents.nar
  tests/functional/name-after-node.nar
  tests/functional/nars.sh
  tests/functional/nul.nar
  tests/functional/slash.nar
Labels: with-tests

#11423 Git fetcher: Ignore .gitmodules entries that are not submodules
  src/libfetchers/git-utils.cc
  tests/functional/fetchGitSubmodules.sh
Labels: with-tests, fetching, backport 2.24-maintenance

#11490 Add MixEnvironment to CmdRun
  src/nix/run.cc
Labels: new-cli

#10612 Input::fetchToStore(): Don't try to substitute
  doc/manual/rl-next/no-flake-substitution.md
  src/libfetchers/fetchers.cc
  src/libflake/flake/lockfile.cc
  tests/functional/flakes/follow-paths.sh
  tests/functional/tarball.sh
  tests/nixos/github-flakes.nix
Labels: documentation, with-tests, fetching

#11330 libgit2, GitRepo: Write (thin) packfiles
  packaging/dependencies.nix
  packaging/patches/libgit2-mempack-thin-packfile.patch
  packaging/patches/libgit2-packbuilder-callback-interruptible.patch
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/github.cc
  src/libfetchers/tarball.cc
  src/libutil/unix/signals-impl.hh
  tests/unit/libfetchers/git-utils.cc
Labels: fetching

#11497 builtins.readDir: fix nix error trace on filesystem errors (backport #11378 to 2.24)
  doc/manual/rl-next/filesystem-errors.md
  src/libstore/builtins/unpack-channel.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/tarfile.cc
  src/libutil/tarfile.hh
Labels: documentation, with-tests, store, fetching, c api

#11527 Fix macOS tests with meson
  flake.nix
  misc/launchd/org.nixos.nix-daemon.plist.in
  package.nix
  src/libstore/globals.cc
  tests/functional/package.nix
  tests/unit/libstore-support/tests/nix_api_store.hh
Labels: with-tests

#11530 add description + example for nix flake archive
  src/nix/flake-archive.md
Labels: documentation, new-cli

#11529 Test IFD/filterSource in chroot stores
  maintainers/flake-module.nix
  tests/functional/ca/import-from-derivation.sh
  tests/functional/ca/local.mk
  tests/functional/ca/meson.build
  tests/functional/import-derivation.nix
  tests/functional/import-derivation.sh
  tests/functional/import-from-derivation.nix
  tests/functional/import-from-derivation.sh
  tests/functional/local.mk
  tests/functional/meson.build
Labels: with-tests

#11534 [backport 2.18] libstore: check additionalSandboxProfile
  src/libstore/build/local-derivation-goal.cc
  tests/functional/extra-sandbox-profile.nix
  tests/functional/extra-sandbox-profile.sh
Labels: with-tests

#11532 tests/functional/shell: fix test in macOS devshell
  tests/functional/shell.sh
Labels: with-tests

#11538 Use close_range when available
  configure.ac
  src/libutil/meson.build
  src/libutil/unix/file-descriptor.cc
Labels: build-problem, backport 2.24-maintenance

#11540 nix-util / meson: Add -latomic on arm
  src/libutil/meson.build
Labels: build-problem

#11548 Fix missing GC root in zipAttrsWith
  src/libexpr/primops.cc
Labels: bug, backport 2.24-maintenance

#11550 Alias traceable_allocator to std::allocator when building without GC
  src/libcmd/command.cc
  src/libcmd/repl.cc
  src/libexpr-c/nix_api_external.cc
  src/libexpr-c/nix_api_value.cc
  src/libexpr/eval-gc.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/gc-small-vector.hh
  src/libexpr/get-drvs.hh
  src/libexpr/primops.cc
  src/libexpr/value.hh
  src/nix/main.cc
Labels: new-cli, repl, c api

#11558 Fix build without GC
  src/libexpr-c/nix_api_expr.cc
  src/libexpr/eval-gc.hh
Labels: c api

#11523 Ensure error messages don't leak private key
  src/libfetchers/git-utils.cc
  src/libstore/machines.cc
  src/libstore/ssh.cc
  src/libstore/ssh.hh
  src/libutil/hash.cc
  src/libutil/signature/local-keys.cc
  src/libutil/signature/local-keys.hh
  src/libutil/util.cc
  src/libutil/util.hh
  tests/unit/libexpr/nix_api_expr.cc
Labels: release-blocker, fetching, backport 2.24-maintenance

#11578 [2.24-maintainence] Ensure error messages don't leak private key
  src/libfetchers/git-utils.cc
  src/libstore/machines.cc
  src/libstore/ssh.cc
  src/libstore/ssh.hh
  src/libutil/hash.cc
  src/libutil/signature/local-keys.cc
  src/libutil/signature/local-keys.hh
  src/libutil/util.cc
  src/libutil/util.hh
  tests/unit/libexpr/nix_api_expr.cc
Labels: fetching

#11584 docs/testing: add --verbose flag for running single tests
  doc/manual/src/development/testing.md
Labels: documentation

#11585 builtin:fetchurl: Enable TLS verification
  doc/manual/rl-next/verify-tls.md
  src/libstore/builtins/fetchurl.cc
  tests/nixos/default.nix
  tests/nixos/fetchurl.nix
Labels: documentation, backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance, backport 2.24-maintenance

#11593 Fix typo
  doc/manual/rl-next/verify-tls.md
Labels: documentation

#11594 docs: specify that flake.lock files are JSON
  src/nix/flake.md
Labels: documentation, new-cli

#11581 create git caches atomically
  src/libfetchers/git-utils.cc
Labels: documentation, fetching, backport 2.24-maintenance

#11598 Fix reference to HTTP Binary Cache Store in docs
  src/libstore/s3-binary-cache-store.md
Labels: store

#11600 HttpBinaryCacheStore::getFile(): Fix uncaught exception
  src/libstore/http-binary-cache-store.cc
Labels: bug, store, backport 2.24-maintenance

#11613 doc/nix fmt: Do not document behavior we do not control
  src/nix/fmt.md
  tests/functional/fmt.sh
Labels: documentation, new-cli, with-tests

#11611 doc, src: Fix various spelling typos
  doc/manual/src/command-ref/nix-store/query.md
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchTree.cc
  src/libstore/builtins/unpack-channel.cc
  src/libstore/local-overlay-store.md
  src/libstore/local.mk
  src/nix/nix.md
Labels: documentation, new-cli, store

#11601 [2.24] create git caches atomically
  src/libfetchers/git-utils.cc
Labels: fetching

#11602 tests/functional/flakes/run: fix tests in macOS devshell
  tests/functional/flakes/run.sh
Labels: with-tests
