Repository NixOS/nix, pull requests merged in 2024-05, with the labels that each got.

#10625 Test that the root of a tree produces /nix/store/<hash1>-<hash2>-source
  tests/functional/flakes/common.sh
  tests/functional/flakes/flakes.sh
Labels: with-tests

#10555 Add isValid to nix::Value
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  src/libexpr/value.hh
  tests/unit/libexpr/nix_api_value.cc
  tests/unit/libexpr/value/value.cc
  tests/unit/libutil-support/tests/nix_api_util.hh
Labels: language, c api

#10556 Enable the `unix://` store on Windows
  src/libmain/shared.cc
  src/libstore/indirect-root-store.cc
  src/libstore/indirect-root-store.hh
  src/libstore/local.mk
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
  src/libstore/uds-remote-store.md
  src/libstore/unix/gc.cc
  src/libutil/unix-domain-socket.cc
  src/libutil/unix-domain-socket.hh
  src/libutil/unix/unix-domain-socket.hh
Labels: windows, store

#10633 libexpr: Add missing GC root for `baseEnv`
  src/libexpr/eval.cc
  src/libexpr/eval.hh
Labels: bug

#10639 Fix format errors
  maintainers/flake-module.nix
  src/libstore/indirect-root-store.cc
  src/libutil/unix-domain-socket.hh
Labels: store

#10642 Merge InputAccessor into SourceAccessor
  src/libcmd/installables.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/nixexpr.hh
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/value.hh
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/fs-input-accessor.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/memory-input-accessor.cc
  src/libfetchers/memory-input-accessor.hh
  src/libfetchers/mounted-input-accessor.cc
  src/libfetchers/mounted-input-accessor.hh
  src/libfetchers/path.cc
  src/libfetchers/store-path-accessor.cc
  src/libfetchers/store-path-accessor.hh
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
  src/libfetchers/unix/git.cc
  src/libfetchers/unix/mercurial.cc
  src/libutil/input-accessor.hh
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
  src/libutil/posix-source-accessor.cc
  src/libutil/source-accessor.hh
  src/libutil/source-path.cc
  src/libutil/source-path.hh
  src/nix-env/nix-env.cc
  src/nix/main.cc
  tests/unit/libexpr/primops.cc
Labels: new-cli, fetching

#10654 Rename remaining instances of "InputAccessor" to "SourceAccessor"
  maintainers/flake-module.nix
  src/libexpr/eval.cc
  src/libexpr/flake/call-flake.nix
  src/libfetchers/filtering-source-accessor.cc
  src/libfetchers/filtering-source-accessor.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/mounted-input-accessor.hh
  src/libfetchers/mounted-source-accessor.cc
  src/libfetchers/mounted-source-accessor.hh
  src/libfetchers/unix/git.cc
  src/libutil/source-accessor.hh
Labels: fetching

#10560 Improve path value documentation
  doc/manual/src/language/values.md
Labels: documentation, language

#10656 Fix build failure with clang
  src/libfetchers/fetchers.hh
  tests/unit/libfetchers/public-key.cc
Labels: fetching

#10655 Use `SourcePath` in more places
  perl/lib/Nix/Store.xs
  src/libcmd/installables.cc
  src/libexpr/eval.cc
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/unix/mercurial.cc
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/legacy-ssh-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/worker.cc
  src/libstore/unix/local-store.cc
  src/libstore/unix/optimise-store.cc
  src/libutil/archive.cc
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/libutil/git.cc
  src/libutil/git.hh
  src/libutil/posix-source-accessor.cc
  src/libutil/posix-source-accessor.hh
  src/libutil/source-accessor.hh
  src/libutil/source-path.hh
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/hash.cc
  src/nix/prefetch.cc
  tests/unit/libutil/git.cc
Labels: new-cli, store, fetching

#10465 Fetcher cache cleanups
  src/libfetchers/cache.cc
  src/libfetchers/cache.hh
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/github.cc
  src/libfetchers/tarball.cc
  src/libfetchers/unix/git.cc
  src/libfetchers/unix/mercurial.cc
  tests/functional/fetchMercurial.sh
Labels: with-tests, fetching

#10611 Honor the same set of proxy environment variables
  doc/manual/src/installation/env-variables.md
  scripts/install-systemd-multi-user.sh
  src/libcmd/network-proxy.cc
  src/libcmd/network-proxy.hh
  src/libexpr/fetchurl.nix
  src/nix-build/nix-build.cc
  src/nix/main.cc
  tests/nixos/nss-preload.nix
Labels: new-cli

#10658 Use `std::filesystem` functions in more places
  configure.ac
  src/libcmd/repl.cc
  src/libstore/builtins/buildenv.cc
  src/libstore/globals.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/profiles.cc
  src/libstore/unix/builtins/unpack-channel.cc
  src/libstore/unix/gc.cc
  src/libstore/unix/local-store.cc
  src/libstore/unix/local-store.hh
  src/libstore/unix/posix-fs-canonicalise.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/linux/cgroup.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/unix/file-descriptor.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/config-check.cc
  src/nix/flake.cc
  src/nix/prefetch.cc
  src/nix/run.cc
Labels: new-cli, windows, store, repl, portability

#10657 Use `std::filesystem::path` in more places
  src/libstore/ssh-store.cc
  src/libstore/ssh.cc
  src/libstore/unix/local-store.cc
  src/libstore/unix/local-store.hh
  src/libutil/experimental-features.cc
  src/libutil/file-path.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/unix/file-path.cc
  src/libutil/windows/file-path.cc
  src/nix-build/nix-build.cc
  src/nix/develop.cc
  src/nix/prefetch.cc
Labels: new-cli, store

#10665 Remove `isLink` in favor of `std::filesystem::is_link`
  src/libstore/indirect-root-store.cc
  src/libstore/store-api.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/nix/config-check.cc
  src/nix/upgrade-nix.cc
Labels: new-cli, store

#8595 Document string context
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/glossary.md
  doc/manual/src/language/string-context.md
  src/libexpr/primops/context.cc
Labels: documentation, language

#10668 Support unit prefixes in configuration settings
  doc/manual/src/command-ref/conf-file-prefix.md
  src/libutil/config-impl.hh
  src/libutil/util.hh
  tests/functional/config.sh
  tests/functional/gc-auto.sh
Labels: with-tests

#10674 Build the local store on Windows
  maintainers/flake-module.nix
  src/libfetchers/cache.cc
  src/libstore/ca-specific-schema.sql
  src/libstore/gc.cc
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/local-store.md
  src/libstore/local.mk
  src/libstore/optimise-store.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libstore/posix-fs-canonicalise.hh
  src/libstore/schema.sql
  src/libstore/store-api.cc
  src/libstore/unix/build/derivation-goal.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/unix-domain-socket.hh
  src/libutil/unix/file-system.cc
  src/libutil/windows/file-system.cc
Labels: windows, store, fetching

#10686 git putFile: support flake maximalists
  src/libfetchers/unix/git.cc
Labels: fetching

#10685 inline the usage of `nix::renameFile`, `nix::getFileType` and `nix::copyFile`
  src/libstore/gc.cc
  src/libstore/indirect-root-store.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/unix/build/derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/builtins/unpack-channel.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
Labels: store

#10684 Inline the usage of `nix::readDirectory` and remove it
  src/libcmd/repl.cc
  src/libstore/builtins/buildenv.cc
  src/libstore/gc.cc
  src/libstore/globals.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libstore/profiles.cc
  src/libstore/unix/builtins/unpack-channel.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/linux/cgroup.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/unix/file-descriptor.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/flake.cc
  src/nix/prefetch.cc
  src/nix/run.cc
Labels: new-cli, store, repl

#10691 Rename commit-lockfile-summary to commit-lock-file-summary for consistency
  src/libexpr/flake/config.cc
  src/libfetchers/fetch-settings.hh
  src/nix/flake.md
Labels: documentation, new-cli, fetching

#10697 tests/functional/common/init.sh: Make $TEST_ROOT writable before removing it
  tests/functional/common/init.sh
Labels: with-tests

#10698 Revert "manual: fold sidebar sections"
  doc/manual/book.toml
Labels: documentation, backport 2.21-maintenance, backport 2.22-maintenance

#10703 remove link to relocated manual page
  doc/manual/redirects.js
  doc/manual/src/SUMMARY.md.in
Labels: documentation, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance

#10712 reword documentation on `nix-store --import`
  doc/manual/src/command-ref/nix-store/import.md
Labels: documentation

#10718 reword `nix-env` documentation
  doc/manual/src/command-ref/nix-env.md
  doc/manual/src/command-ref/nix-env/install.md
Labels: documentation

#10675 Handle zip files containing symlinks
  src/libfetchers/tarball.cc
  tests/functional/flakes/prefetch.sh
  tests/functional/flakes/tree.zip
  tests/functional/local.mk
Labels: with-tests, fetching, backport 2.21-maintenance, backport 2.22-maintenance

#10479 Document file system object content addressing
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/command-ref/nix-collect-garbage.md
  doc/manual/src/command-ref/nix-env/delete-generations.md
  doc/manual/src/command-ref/nix-env/install.md
  doc/manual/src/command-ref/nix-hash.md
  doc/manual/src/command-ref/nix-store/dump.md
  doc/manual/src/command-ref/nix-store/export.md
  doc/manual/src/command-ref/nix-store/import.md
  doc/manual/src/command-ref/nix-store/optimise.md
  doc/manual/src/command-ref/nix-store/realise.md
  doc/manual/src/command-ref/nix-store/restore.md
  doc/manual/src/contributing/documentation.md
  doc/manual/src/glossary.md
  doc/manual/src/language/advanced-attributes.md
  doc/manual/src/language/derivations.md
  doc/manual/src/language/import-from-derivation.md
  doc/manual/src/language/operators.md
  doc/manual/src/language/string-interpolation.md
  doc/manual/src/language/values.md
  doc/manual/src/protocols/json/store-object-info.md
  doc/manual/src/protocols/nix-archive.md
  doc/manual/src/protocols/store-path.md
  doc/manual/src/protocols/tarball-fetcher.md
  doc/manual/src/store/file-system-object/content-address.md
  doc/manual/src/store/store-path.md
  src/libcmd/misc-store-flags.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libstore/globals.hh
  src/libstore/path.hh
  src/libutil/file-content-address.hh
  src/nix/derivation-show.md
  src/nix/unix/daemon.cc
Labels: documentation, new-cli, contributor-experience

#10725 small c api documentation fixes
  src/libexpr-c/nix_api_external.h
  src/libstore-c/nix_api_store.h
Labels: c api

#10723 fix "Embedding the Nix Evaluator" c api example
  doc/external-api/README.md
Labels: c api

#10729 fix typo in testing documentation
  doc/manual/src/contributing/testing.md
Labels: documentation, contributor-experience

#10735 Add more compiler warnings
  Makefile
  src/libfetchers/tarball.cc
  src/libutil/fmt.hh
  src/libutil/ref.hh
Labels: fetching

#10734 nix3-build: show all FOD errors with `--keep-going`
  doc/manual/rl-next/consistent-nix-build.md
  src/libcmd/installables.cc
  tests/functional/build.sh
  tests/functional/fod-failing.nix
Labels: documentation, with-tests

#10710 add example to `nix-store --import`
  doc/manual/src/command-ref/nix-store/import.md
Labels: documentation

#10711 make a more relevant example for `nix-store --export`
  doc/manual/src/command-ref/nix-store/export.md
Labels: documentation

#10728 small additions to the documentation of `nix_store_open` and `nix_state_create`
  src/libexpr-c/nix_api_expr.h
  src/libstore-c/nix_api_store.h
Labels: c api

#10713 reword documentation on `nix-store --export`
  doc/manual/src/command-ref/nix-store/export.md
Labels: documentation

#10701 Warn on unknown settings when the first positional is an argument
  doc/manual/rl-next/fix-silent-unknown-options
  src/libutil/args.cc
  tests/functional/eval.sh
  tests/functional/misc.sh
Labels: documentation, with-tests

#10722 Content addressing store objects
  doc/manual/rl-next/derivation-json-change.md
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/language/advanced-attributes.md
  doc/manual/src/protocols/json/derivation.md
  doc/manual/src/protocols/store-path.md
  doc/manual/src/store/file-system-object/content-address.md
  doc/manual/src/store/store-object/content-address.md
  src/libcmd/misc-store-flags.cc
  src/libstore/derivations.cc
  src/nix/flake.md
  src/nix/nar-cat.md
  src/nix/nar-dump-path.md
  src/nix/nar-ls.md
  src/nix/nar.md
  src/nix/store-dump-path.md
  src/nix/verify.md
  tests/unit/libstore/data/derivation/output-caFixedFlat.json
  tests/unit/libstore/data/derivation/output-caFixedNAR.json
  tests/unit/libstore/data/derivation/output-caFixedText.json
  tests/unit/libstore/data/derivation/output-caFloating.json
  tests/unit/libstore/data/derivation/output-impure.json
Labels: documentation, new-cli

#10688 fix: don’t expand aliases in develop stdenv setup
  src/nix/develop.cc
Labels: new-cli

#10715 redirect "Copying Closures via SSH" guide to `nix-copy-closure`
  doc/manual/redirects.js
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/_redirects
  doc/manual/src/package-management/copy-closure.md
Labels: documentation

#10714 add cross-references for discoverability
  doc/manual/src/command-ref/nix-store/dump.md
Labels: documentation

#10708 expand example on `nix-copy-closure`
  doc/manual/src/command-ref/nix-copy-closure.md
Labels: documentation

#10749 Query path infos (plural) and handshake version minimum for hydra
  src/libstore/legacy-ssh-store.cc
  src/libstore/serve-protocol-impl.cc
  src/libstore/serve-protocol-impl.hh
  tests/unit/libstore/serve-protocol.cc
Labels: store

#10755 add examples of comments
  doc/manual/src/language/constructs.md
Labels: documentation

#10709 reword documentation on `nix-copy-closure`
  doc/manual/src/command-ref/nix-copy-closure.md
Labels: documentation

#9850 Ensure all store types support "real" URIs
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store-config.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
  src/libstore/ssh.cc
  src/libstore/ssh.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
  src/libstore/unix/local-overlay-store.hh
  tests/functional/read-only-store.sh
Labels: with-tests, store

#10724 remove redundant and outdated example from `libexpr-c` documentation
  doc/external-api/README.md
  src/libexpr-c/nix_api_expr.h
Labels: c api

#10767 C API: Fix custom primops
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_value.cc
  tests/unit/libexpr/nix_api_expr.cc
Labels: bug, c api

#10757 Require `drvPath` attribute to end with `.drv`
  src/libexpr/eval-cache.cc
  src/libexpr/eval-error.cc
  src/libexpr/get-drvs.cc
  src/libexpr/print.cc
  src/libstore/derivations.cc
  src/libstore/path.cc
  src/libstore/path.hh
  src/nix-env/user-env.cc
  src/nix/bundle.cc
  tests/functional/lang.sh
  tests/functional/lang/non-eval-fail-bad-drvPath.nix
Labels: new-cli, with-tests, idea approved

#10737 Implement `setStackSize` on Windows
  src/libutil/current-process.cc
  src/libutil/current-process.hh
  src/nix/local.mk
  src/nix/main.cc
  tests/unit/libexpr/local.mk
  tests/unit/libfetchers/local.mk
  tests/unit/libstore/local.mk
  tests/unit/libutil/local.mk
Labels: new-cli, windows

#10778 repl: do not crash when tab-completing import errors
  src/libcmd/repl.cc
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
Labels: repl

#10754 nix repl: make runNix() isInteractive is true by default
  src/libcmd/repl.cc
Labels: repl

#10785 fix typos
  doc/manual/src/language/operators.md
  src/nix/flake-metadata.md
  src/nix/hash.cc
Labels: documentation, new-cli

#10781 Worker proto use proper serialiser for `BuildMode`
  src/libstore/daemon.cc
  src/libstore/store-api.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  tests/unit/libstore/data/worker-protocol/build-mode.bin
  tests/unit/libstore/worker-protocol.cc
Labels: store

#10678 Start building the scheduler for Windows
  maintainers/flake-module.nix
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/drv-output-substitution-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.cc
  src/libstore/build/goal.hh
  src/libstore/build/substitution-goal.cc
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/local.mk
  src/libstore/unix/build/derivation-goal.cc
  src/libstore/unix/build/derivation-goal.hh
  src/libstore/unix/user-lock.cc
  src/libstore/unix/user-lock.hh
  src/libstore/windows/build.cc
  src/libstore/windows/pathlocks.cc
  src/libutil/error.hh
  src/libutil/serialise.cc
  src/libutil/windows/file-descriptor.cc
  src/libutil/windows/users.cc
  src/libutil/windows/windows-async-pipe.cc
  src/libutil/windows/windows-async-pipe.hh
  src/libutil/windows/windows-error.cc
  src/libutil/windows/windows-error.hh
Labels: windows

#10799 Add repl completion test
  flake.nix
  tests/repl-completion.nix
Labels: repl, tests

#10800 add empty line to documentation comments after `@brief` field
  src/libexpr-c/nix_api_value.h
  src/libstore-c/nix_api_store.h
Labels: c api

#10789 More work on the scheduler for windows
  maintainers/flake-module.nix
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/drv-output-substitution-goal.hh
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libutil/muxable-pipe.hh
  src/libutil/processes.hh
  src/libutil/unix/muxable-pipe.cc
  src/libutil/windows/muxable-pipe.cc
  src/libutil/windows/processes.cc
  src/libutil/windows/windows-async-pipe.hh
Labels: windows

#10768 Create `CommonSSHStoreConfig::createSSHMaster`
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/ssh-store-config.cc
  src/libstore/ssh-store-config.hh
  src/libstore/ssh-store.cc
  src/libstore/ssh.cc
  src/libstore/ssh.hh
Labels: store

#10808 [2.22-maintainance]: backport nix repl edit fixes
  src/libcmd/repl.cc
Labels: repl

#10811 libfetchers: handle nonexistent refs in GitLab repos more gracefully
  src/libfetchers/github.cc
Labels: fetching

#10807 Add `nix env shell`
  doc/manual/rl-next/nix-env-shell.md
  src/nix/env.cc
  src/nix/main.cc
  src/nix/run.cc
  tests/functional/shell.sh
Labels: documentation, new-cli, with-tests

#10812 Remove 100s of CPU time (10%) from build times (1465s -> 1302s)
  src/libexpr/eval.cc
  src/libexpr/lexer.l
  src/libexpr/nixexpr.cc
  src/libexpr/primops.cc
  src/libexpr/print.cc
  src/libmain/progress-bar.cc
  src/libstore/binary-cache-store.cc
  src/libstore/daemon.cc
  src/libstore/machines.cc
  src/libutil/current-process.cc
  src/libutil/file-system.hh
  src/libutil/logging.cc
  src/libutil/processes.hh
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix-env/user-env.cc
  src/nix/develop.cc
Labels: new-cli, store

#10814 Fix nix edit
  src/libfetchers/filtering-source-accessor.cc
  src/libfetchers/filtering-source-accessor.hh
  tests/functional/flakes/edit.sh
  tests/functional/local.mk
  tests/functional/simple.nix
Labels: bug, regression, with-tests, fetching
