Repository NixOS/nix, pull requests merged in 2024-10, with the labels that each got.

#11621 Improve documentation of `nix flake lock`
  src/nix/flake-lock.md
Labels: documentation, new-cli

#11618 Split ignoreException for destructors vs interrupt-safe
  src/libexpr/eval-cache.cc
  src/libmain/shared.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/filetransfer.cc
  src/libstore/gc.cc
  src/libstore/local-store.cc
  src/libstore/optimise-store.cc
  src/libstore/pathlocks.cc
  src/libstore/remote-fs-accessor.cc
  src/libstore/sqlite.cc
  src/libstore/store-api.cc
  src/libstore/unix/build/hook-instance.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/worker-protocol-connection.cc
  src/libutil/current-process.cc
  src/libutil/file-descriptor.cc
  src/libutil/file-system.cc
  src/libutil/logging.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
  src/libutil/thread-pool.cc
  src/libutil/unix/signals.cc
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix/develop.cc
  src/nix/flake.cc
Labels: bug, new-cli, store

#11626 doc: don't use bash substitution in install command
  doc/manual/src/installation/index.md
Labels: documentation

#11629 doc/manual: Fix some broken fragments
  doc/manual/src/command-ref/nix-env.md
  doc/manual/src/language/derivations.md
  doc/manual/src/language/operators.md
  doc/manual/src/release-notes/rl-2.23.md
  src/libcmd/installables.cc
  src/nix/shell.md
Labels: documentation, new-cli

#11631 Cleanup: Remove migrations for ancient CA schemas
  src/libstore/local-store.cc
Labels: store

#11639 experimental-features.hh: Don't include json-utils.hh
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git.cc
  src/libflake/flake/flake.cc
  src/libstore/derivations.cc
  src/libstore/local-store.cc
  src/libstore/nar-info.cc
  src/libutil/config-global.cc
  src/libutil/experimental-features.hh
  src/libutil/json-utils.hh
  src/nix/main.cc
  tests/unit/libstore/derivation-advanced-attrs.cc
Labels: new-cli, store, fetching

#11640 Fix typo in uninstall.md
  doc/manual/src/installation/uninstall.md
Labels: documentation

#11610 fix passing CA files into builtins:fetchurl sandbox
  src/libstore/builtins.hh
  src/libstore/builtins/fetchurl.cc
  src/libstore/unix/build/local-derivation-goal.cc
  tests/nixos/fetchurl.nix
Labels: backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance, backport 2.24-maintenance

#11609 Fix NAR tests on Linux+ZFS+normalize
  tests/functional/nars.sh
Labels: with-tests, idea approved

#11662 Misc changes
  doc/manual/rl-next/build-hook-default.md
  flake.nix
  scripts/meson.build
  src/libcmd/repl.cc
  src/nix/self-exe.cc
  src/nix/self-exe.hh
  tests/functional/meson.build
  tests/functional/package.nix
Labels: documentation, new-cli, with-tests, repl

#11650 Slightly more `std::filesystem` for `nix eval`
  src/nix/eval.cc
Labels: new-cli

#11664 Propagate errors from early sandbox initialization to the parent
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.hh
  tests/functional/supplementary-groups.sh
Labels: with-tests

#11671 Fix deprecated example from distributed-builds.md
  doc/manual/src/advanced-topics/distributed-builds.md
Labels: documentation

#11682 Remove superfluous `std::string` copy operations
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/get-drvs.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fromTOML.cc
  src/libexpr/print.cc
  src/libmain/progress-bar.cc
  src/libstore/daemon.cc
  src/libstore/outputs-spec.cc
  src/libutil/args.cc
  src/libutil/logging.cc
  src/libutil/strings.cc
  src/libutil/strings.hh
  src/nix-build/nix-build.cc
  src/nix-env/user-env.cc
  src/nix/config-check.cc
Labels: new-cli, repl

#11670 doc: note that `nix eval` is eager
  src/nix/eval.md
Labels: documentation, new-cli

#11680 git-utils: fix x86_64-w64-mingw32 build
  src/libfetchers/git-utils.cc
  src/nix/meson.build
Labels: new-cli, fetching

#11677 builtins.fetchurl: Fix segfault on s3:// URLs
  src/libfetchers/tarball.cc
  src/libstore/filetransfer.cc
  src/libstore/s3-binary-cache-store.cc
  tests/nixos/s3-binary-cache-store.nix
Labels: regression, store, fetching, backport 2.24-maintenance

#11690 Handle tarballs where directory entries are not contiguous
  src/libfetchers/git-utils.cc
  tests/functional/tarball.sh
Labels: with-tests, fetching, backport 2.24-maintenance

#11688 Clean up the `package.nix` files
  packaging/dependencies.nix
  src/external-api-docs/package.nix
  src/internal-api-docs/package.nix
  src/libcmd/package.nix
  src/libexpr-c/package.nix
  src/libexpr/package.nix
  src/libfetchers/package.nix
  src/libflake/package.nix
  src/libmain-c/package.nix
  src/libmain/package.nix
  src/libstore-c/package.nix
  src/libstore/package.nix
  src/libutil-c/package.nix
  src/libutil/package.nix
  src/nix/package.nix
  src/perl/package.nix
  tests/functional/package.nix
  tests/unit/libexpr-support/package.nix
  tests/unit/libexpr/package.nix
  tests/unit/libfetchers/package.nix
  tests/unit/libflake/package.nix
  tests/unit/libstore-support/package.nix
  tests/unit/libstore/package.nix
  tests/unit/libutil-support/package.nix
  tests/unit/libutil/package.nix
Labels: new-cli, with-tests, fetching, c api

#11695 path fetcher: Allow the lastModified attribute to be overriden again
  src/libfetchers/path.cc
  tests/functional/fetchPath.sh
Labels: with-tests, fetching

#11665 Fix `Interrupted` falling out of thread crash
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.hh
  src/libutil/thread-pool.cc
Labels: bug

#11718 fix(nix/eval.cc): move call to `fs::create_directory` out of `assert`
  src/nix/eval.cc
Labels: new-cli

#11717 docs: clarify syntax for escaping dollar curlies
  doc/manual/source/language/string-literals.md
Labels: documentation

#11694 Backport #11610 to 2.18 maintenance
  .github/workflows/ci.yml
  flake.nix
  src/libstore/build/local-derivation-goal.cc
  src/libstore/builtins.hh
  src/libstore/builtins/fetchurl.cc
  src/libstore/filetransfer.cc
  tests/functional/build-remote.sh
  tests/nixos/fetchurl.nix
Labels: with-tests

#11693 Backport #11610 to 2.19 maintenance
  src/libstore/build/local-derivation-goal.cc
  src/libstore/builtins.hh
  src/libstore/builtins/fetchurl.cc
  src/libstore/filetransfer.cc
  tests/functional/linux-sandbox.sh
  tests/functional/symlink-derivation.nix
  tests/nixos/fetchurl.nix
Labels: with-tests

#11686 Backport #11610 to 2.20 maintenance
  src/libstore/build/local-derivation-goal.cc
  src/libstore/builtins.hh
  src/libstore/builtins/fetchurl.cc
  src/libstore/filetransfer.cc
  tests/functional/linux-sandbox.sh
  tests/functional/symlink-derivation.nix
  tests/nixos/fetchurl.nix
Labels: with-tests

#11713 fix env-vars beeing written to `/tmp`
  src/nix-build/nix-build.cc
  tests/functional/nix-shell.sh
Labels: with-tests, store, backport 2.24-maintenance

#11641 docs: update distributed-builds.md
  doc/manual/source/advanced-topics/distributed-builds.md
Labels: documentation, idea approved

#11769 Fix 2.24 release notes
  doc/manual/rl-next/filesystem-errors.md
  doc/manual/rl-next/verify-tls.md
  doc/manual/src/release-notes/rl-2.24.md
Labels: documentation

#11770 Expand shellcheck coverage in functional tests
  maintainers/flake-module.nix
  tests/functional/build.sh
  tests/functional/check.sh
  tests/functional/eval.sh
  tests/functional/fetchurl.sh
  tests/functional/flakes/common.sh
  tests/functional/gc.sh
  tests/functional/help.sh
  tests/functional/lang.sh
  tests/functional/nar-access.sh
  tests/functional/shell.sh
  tests/functional/zstd.sh
Labels: with-tests

#11400 maintainers: add checklist for security releases
  maintainers/README.md
  maintainers/release-process.md
  maintainers/security-reports.md
Labels: documentation
