Repository NixOS/nix, pull requests merged in 2024-07, with the labels that each got.

#10992 Fix #10947; don't cache disallowed IFD
  src/libexpr/primops.cc
  tests/functional/flakes/eval-cache.sh
Labels: bug, language, with-tests, backport 2.23-maintenance

#11000 [Backport 2.23-maintenance] Fix #10947; don't cache disallowed IFD
  doc/manual/rl-next/harden-user-sandboxing.md
  src/libexpr/primops.cc
  tests/functional/flakes/eval-cache.sh
  tests/nixos/user-sandboxing/attacker.c
Labels: documentation, with-tests

#11009 Installer tests
  packaging/hydra.nix
Labels: new-cli

#11013 docs: split types from syntax
  doc/manual/redirects.js
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/_redirects
  doc/manual/src/command-ref/env-common.md
  doc/manual/src/command-ref/nix-env/install.md
  doc/manual/src/command-ref/opt-common.md
  doc/manual/src/glossary.md
  doc/manual/src/language/constructs.md
  doc/manual/src/language/constructs/lookup-path.md
  doc/manual/src/language/derivations.md
  doc/manual/src/language/index.md
  doc/manual/src/language/operators.md
  doc/manual/src/language/scope.md
  doc/manual/src/language/string-context.md
  doc/manual/src/language/string-interpolation.md
  doc/manual/src/language/syntax.md
  doc/manual/src/language/types.md
  doc/manual/src/language/values.md
  src/libcmd/common-eval-args.cc
  src/libexpr/primops.cc
Labels: documentation

#11018 Use `CanonPath` in `fs-sink.hh`
  src/libfetchers/git-utils.cc
  src/libstore/nar-accessor.cc
  src/libutil/archive.cc
  src/libutil/archive.hh
  src/libutil/fs-sink.cc
  src/libutil/fs-sink.hh
  src/libutil/git.cc
  src/libutil/git.hh
  src/libutil/memory-source-accessor.cc
  src/libutil/memory-source-accessor.hh
  src/libutil/tarfile.cc
  tests/unit/libutil/git.cc
Labels: fetching

#11022 Use proper struct sockpeercred for SO_PEERCRED for OpenBSD
  src/nix/unix/daemon.cc
Labels: new-cli, backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance

#11020 Tarball fetcher: Fix fetchToStore() and eval caching
  src/libfetchers/fetchers.cc
  src/libfetchers/tarball.cc
  src/libflake/flake/flake.cc
  src/nix/flake.cc
  tests/functional/flakes/flakes.sh
  tests/nixos/tarball-flakes.nix
Labels: new-cli, regression, with-tests, fetching, backport 2.23-maintenance

#11041 getDerivations: add attributes to trace
  src/libexpr/get-drvs.cc
Labels: error-messages, cli

#11031 libstore: fix sandboxed builds on macOS
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.hh
Labels: regression, sandbox, backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance, backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance

#11019 Tarball fetcher: Fix handling of cached tarballs
  src/libutil/tarfile.cc
  tests/nixos/tarball-flakes.nix
Labels: bug, regression

#11046 [Backport 2.21-maintenance] libstore: fix sandboxed builds on macOS
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/local-derivation-goal.hh
Labels: backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance

#11051 src/nix/prefetch: fix prefetch containing current directory instead o…
  src/nix/prefetch.cc
  tests/functional/tarball.sh
Labels: new-cli, with-tests, backport 2.23-maintenance

#11037 use self-descriptive name for config file parser, document
  src/libutil/config.cc
Labels: documentation, contributor-experience, settings

#11050 Explain when `man` is missing
  src/libmain/shared.cc
  tests/functional/misc.sh
Labels: error-messages, cli, with-tests

#11034 Package libnixmain and libnixcmd with Meson
  meson.build
  packaging/components.nix
  packaging/hydra.nix
  src/libcmd/.version
  src/libcmd/meson.build
  src/libcmd/meson.options
  src/libcmd/package.nix
  src/libcmd/repl-interacter.cc
  src/libcmd/repl.cc
  src/libmain/.version
  src/libmain/meson.build
  src/libmain/package.nix
Labels: documentation, contributor-experience, repl, fetching, c api

#11056 Configure aws s3 lib to use system defined proxy, if existent
  src/libstore/s3-binary-cache-store.cc
Labels: store

#11055 Indirections for packaging meson-based granular build for Nixpkgs
  packaging/dependencies.nix
  src/external-api-docs/package.nix
  src/internal-api-docs/package.nix
  src/libcmd/package.nix
  src/libexpr-c/package.nix
  src/libexpr/package.nix
  src/libfetchers/package.nix
  src/libflake/package.nix
  src/libmain/package.nix
  src/libstore-c/package.nix
  src/libstore/package.nix
  src/libutil-c/package.nix
  src/libutil/package.nix
  src/perl/package.nix
  tests/unit/libexpr-support/package.nix
  tests/unit/libexpr/package.nix
  tests/unit/libfetchers/package.nix
  tests/unit/libflake/package.nix
  tests/unit/libstore-support/package.nix
  tests/unit/libstore/package.nix
  tests/unit/libutil-support/package.nix
  tests/unit/libutil/package.nix
Labels: fetching, c api

#11059 docs: merge builtin-constants into builtins
  doc/manual/generate-builtin-constants.nix
  doc/manual/generate-builtins.nix
  doc/manual/local.mk
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/_redirects
  doc/manual/src/language/builtin-constants-prefix.md
  doc/manual/src/language/builtin-constants-suffix.md
  doc/manual/src/language/builtins-prefix.md
  doc/manual/src/language/constructs/lookup-path.md
  doc/manual/src/language/derivations.md
  doc/manual/src/language/types.md
  src/libexpr/eval-settings.hh
  src/libexpr/primops.cc
  src/libstore/globals.hh
  src/libutil/experimental-features.cc
  src/nix/main.cc
Labels: documentation, new-cli

#11057 `nix-shell`: look up `shell.nix` when argument is a directory
  doc/manual/rl-next/nix-shell-looks-for-shell-nix.md
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
  src/libcmd/compatibility-settings.hh
  src/libcmd/meson.build
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/nix-build/nix-build.cc
  tests/functional/nix-shell.sh
  tests/functional/shell.nix
Labels: bug, documentation, cli, with-tests, nix-shell, breaking, significant

#11060 Package the Nix CLI with Meson
  meson.build
  packaging/components.nix
  packaging/hydra.nix
  src/nix/.version
  src/nix/build-remote
  src/nix/build-utils-meson
  src/nix/doc
  src/nix/help-stores.md
  src/nix/local.mk
  src/nix/main.cc
  src/nix/meson.build
  src/nix/nix-build
  src/nix/nix-channel
  src/nix/nix-collect-garbage
  src/nix/nix-copy-closure
  src/nix/nix-env
  src/nix/nix-instantiate
  src/nix/nix-store
  src/nix/package.nix
  src/nix/profile.md
  src/nix/profiles.md
Labels: documentation, new-cli

#11077 Support hardlinks in tarballs
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libutil/fs-sink.hh
  src/libutil/tarfile.cc
  src/libutil/tarfile.hh
  tests/functional/tarball.sh
  tests/functional/tree.tar.gz
  tests/unit/libfetchers/git-utils.cc
  tests/unit/libfetchers/local.mk
  tests/unit/libutil-support/tests/tracing-file-system-object-sink.cc
  tests/unit/libutil-support/tests/tracing-file-system-object-sink.hh
Labels: bug, with-tests, fetching

#11082 SymbolStr: Remove std::string conversion
  src/libcmd/installables.cc
  src/libexpr-c/nix_api_value.cc
  src/libexpr/attr-path.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/get-drvs.cc
  src/libexpr/primops.cc
  src/libexpr/symbol-table.hh
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-xml.cc
  src/libflake/flake/flake.cc
  src/libutil/suggestions.cc
  src/libutil/suggestions.hh
  src/nix/flake.cc
  src/nix/main.cc
Labels: new-cli, c api

#11007 No global settings in `libnixfetchers` and `libnixflake`
  src/libcmd/command.cc
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
  src/libcmd/installable-flake.cc
  src/libcmd/installable-flake.hh
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr-c/local.mk
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_expr_internal.h
  src/libexpr/eval-settings.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetch-settings.cc
  src/libfetchers/fetch-settings.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/registry.cc
  src/libfetchers/registry.hh
  src/libfetchers/tarball.cc
  src/libflake/flake-settings.cc
  src/libflake/flake/config.cc
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/libflake/flake/flakeref.cc
  src/libflake/flake/flakeref.hh
  src/libflake/flake/lockfile.cc
  src/libflake/flake/lockfile.hh
  src/libflake/flake/settings.cc
  src/libflake/flake/settings.hh
  src/libflake/meson.build
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix/bundle.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/prefetch.cc
  src/nix/profile.cc
  src/nix/registry.cc
  src/nix/upgrade-nix.cc
  tests/unit/libexpr-support/tests/libexpr.hh
  tests/unit/libflake/flakeref.cc
Labels: new-cli, repl, fetching, settings, c api

#11089 Fix warnings and optimize includes
  src/libcmd/repl.cc
  src/libexpr-c/nix_api_expr.cc
  src/libexpr/attr-set.hh
  src/libexpr/eval-error.hh
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/pos-table.hh
  src/libexpr/primops.cc
  src/libexpr/value.hh
  src/libfetchers/fetchers.hh
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
  src/libflake/flake/flakeref.hh
  src/libflake/flake/lockfile.cc
  src/libmain/shared.cc
  src/libmain/shared.hh
  src/libstore/derivations.hh
  src/libstore/derived-path.hh
  src/libstore/filetransfer.hh
  src/libstore/gc-store.hh
  src/libstore/machines.hh
  src/libstore/misc.cc
  src/libstore/nar-accessor.cc
  src/libstore/serve-protocol-impl.hh
  src/libstore/store-api.hh
  src/libstore/unix/user-lock.cc
  src/libstore/unix/user-lock.hh
  src/libutil/args.hh
  src/libutil/error.hh
  src/libutil/file-content-address.hh
  src/libutil/fs-sink.hh
  src/libutil/logging.hh
  src/libutil/ref.hh
  src/libutil/source-accessor.hh
  src/libutil/terminal.hh
  src/libutil/types.hh
  src/nix-store/nix-store.cc
  src/nix/config-check.cc
  src/nix/env.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/verify.cc
  tests/unit/libexpr-support/tests/libexpr.hh
Labels: new-cli, contributor-experience, store, repl, fetching, c api

#11090 Fix stackoverflow during doc generation
  doc/manual/generate-manpage.nix
Labels: documentation, build-problem

#11091 Remove unused `operator<=>`'s that darwin can't generate
  src/libstore/content-address.hh
  src/libstore/store-reference.hh
Labels: contributor-experience

#10838 Remove `comparator.hh` and switch to `<=>` in a bunch of places
  src/libcmd/built-path.cc
  src/libcmd/built-path.hh
  src/libexpr-c/nix_api_external.cc
  src/libexpr/attr-set.hh
  src/libexpr/eval.cc
  src/libexpr/pos-idx.hh
  src/libexpr/symbol-table.hh
  src/libexpr/value.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libflake/flake/flakeref.cc
  src/libflake/flake/flakeref.hh
  src/libflake/flake/lockfile.cc
  src/libflake/flake/lockfile.hh
  src/libstore/build-result.cc
  src/libstore/build-result.hh
  src/libstore/content-address.hh
  src/libstore/derivations.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/libstore/nar-info.cc
  src/libstore/nar-info.hh
  src/libstore/outputs-spec.hh
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/libutil/canon-path.hh
  src/libutil/comparator.hh
  src/libutil/error.cc
  src/libutil/error.hh
  src/libutil/experimental-features.hh
  src/libutil/git.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/memory-source-accessor.hh
  src/libutil/position.cc
  src/libutil/position.hh
  src/libutil/ref.hh
  src/libutil/source-accessor.hh
  src/libutil/source-path.cc
  src/libutil/source-path.hh
  src/libutil/suggestions.hh
  src/libutil/url.cc
  src/libutil/url.hh
  src/nix/profile.cc
  tests/unit/libutil/git.cc
Labels: new-cli, fetching, c api

#11080 packaging: Set darwinMinVersion to fix x86_64-darwin build
  packaging/dependencies.nix
Labels: macos, build-problem

#11093 Fix C++ `concatStringsSep`
  src/build-remote/build-remote.cc
  src/libcmd/command.cc
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/nixexpr.cc
  src/libexpr/symbol-table.hh
  src/libflake/flake/config.cc
  src/libflake/flake/lockfile.cc
  src/libmain/shared.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/entry-points.cc
  src/libstore/derivations.cc
  src/libstore/globals.cc
  src/libstore/local-store.cc
  src/libstore/misc.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/nar-info.cc
  src/libstore/outputs-spec.cc
  src/libstore/path-info.cc
  src/libstore/path-info.hh
  src/libstore/path-with-outputs.cc
  src/libstore/store-api.cc
  src/libstore/unix/build/hook-instance.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil/canon-path.cc
  src/libutil/config.cc
  src/libutil/file-system.cc
  src/libutil/meson.build
  src/libutil/strings-inline.hh
  src/libutil/strings.cc
  src/libutil/strings.hh
  src/libutil/util.hh
  src/nix/develop.cc
  src/nix/diff-closures.cc
  src/nix/env.cc
  src/nix/flake.cc
  src/nix/main.cc
  src/nix/path-info.cc
  src/nix/profile.cc
  src/nix/search.cc
  tests/unit/libstore/path-info.cc
  tests/unit/libutil/references.cc
  tests/unit/libutil/strings.cc
  tests/unit/libutil/tests.cc
Labels: bug, new-cli, store, repl

#11072 Doc comments
  doc/manual/rl-next/repl-doc-renders-doc-comments.md
  doc/manual/src/contributing/testing.md
  src/libcmd/repl-interacter.cc
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/lexer-helpers.cc
  src/libexpr/lexer-helpers.hh
  src/libexpr/lexer.l
  src/libexpr/meson.build
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  src/libutil/position.cc
  src/libutil/position.hh
  tests/functional/characterisation/framework.sh
  tests/functional/repl.sh
  tests/functional/repl/characterisation/empty
  tests/functional/repl/doc-comment-curried-args.expected
  tests/functional/repl/doc-comment-curried-args.in
  tests/functional/repl/doc-comment-formals.expected
  tests/functional/repl/doc-comment-formals.in
  tests/functional/repl/doc-comment-function.expected
  tests/functional/repl/doc-comment-function.in
  tests/functional/repl/doc-comment-function.nix
  tests/functional/repl/doc-comments.nix
  tests/functional/repl/doc-compact.expected
  tests/functional/repl/doc-compact.in
  tests/functional/repl/doc-constant.expected
  tests/functional/repl/doc-constant.in
  tests/functional/repl/doc-floatedIn.expected
  tests/functional/repl/doc-floatedIn.in
  tests/functional/repl/doc-lambda-flavors.expected
  tests/functional/repl/doc-lambda-flavors.in
  tests/functional/repl/doc-measurement.expected
  tests/functional/repl/doc-measurement.in
  tests/functional/repl/doc-multiply.expected
  tests/functional/repl/doc-multiply.in
  tests/functional/repl/doc-unambiguous.expected
  tests/functional/repl/doc-unambiguous.in
  tests/unit/libutil/position.cc
Labels: documentation, contributor-experience, with-tests, repl

#11005 Make goals use C++20 coroutines
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/drv-output-substitution-goal.hh
  src/libstore/build/goal.cc
  src/libstore/build/goal.hh
  src/libstore/build/substitution-goal.cc
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.hh
Labels: new-cli, with-tests, scheduling

#11110 tests/functional/repl.sh: fail test on wrong stdout
  tests/functional/repl.sh
Labels: with-tests

#11108 Ensure we can construct remote store configs in isolation
  maintainers/flake-module.nix
  src/libstore/common-ssh-store-config.cc
  src/libstore/common-ssh-store-config.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/meson.build
  src/libstore/ssh-store.cc
  src/libstore/ssh-store.hh
  tests/unit/libstore/legacy-ssh-store.cc
  tests/unit/libstore/meson.build
  tests/unit/libstore/ssh-store.cc
Labels: store

#11116 doc: add example usage for gitea in tarball fetcher
  doc/manual/src/protocols/tarball-fetcher.md
  src/nix/flake.md
Labels: documentation, new-cli

#10931 Test the `run` and `shell` envs for stray variables
  tests/functional/flakes/run.sh
  tests/functional/shell-hello.nix
  tests/functional/shell.sh
Labels: with-tests, tests

#11100 Pretty print idempotently
  src/libexpr/print.cc
  tests/functional/repl/pretty-print-idempotent.expected
  tests/functional/repl/pretty-print-idempotent.in
  tests/functional/repl/pretty-print-idempotent.nix
Labels: bug, documentation, error-messages, language, contributor-experience, with-tests, repl

#11058 Make `#!nix-shell` arguments and options relative to script
  doc/manual/rl-next/shebang-relative.md
  src/libcmd/common-eval-args.cc
  src/libcmd/compatibility-settings.hh
  src/libutil/args/root.hh
  src/nix-build/nix-build.cc
  tests/functional/nix-shell.sh
  tests/functional/shell.nix
  tests/functional/shell.shebang.expr
  tests/functional/shell.shebang.legacy.expr
Labels: bug, documentation, cli, with-tests, breaking

#5088 Evaluate nix-shell -i args relative to script
  doc/manual/rl-next/shebang-relative.md
  src/nix-build/nix-build.cc
  tests/functional/nix-shell.sh
Labels: bug, with-tests, idea approved

#11061 docs: fill out language/types.md#type-path
  doc/manual/src/language/syntax.md
  doc/manual/src/language/types.md
Labels: documentation

#11109 Refactor unix domain socket store config
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/http-binary-cache-store.hh
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-binary-cache-store.hh
  src/libstore/local-fs-store.cc
  src/libstore/local-fs-store.hh
  src/libstore/local-overlay-store.cc
  src/libstore/local-overlay-store.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/meson.build
  src/libstore/s3-binary-cache-store.cc
  src/libstore/s3-binary-cache-store.hh
  src/libstore/ssh-store.cc
  src/libstore/ssh-store.hh
  src/libstore/uds-remote-store.cc
  src/libstore/uds-remote-store.hh
  tests/unit/libstore/http-binary-cache-store.cc
  tests/unit/libstore/local-binary-cache-store.cc
  tests/unit/libstore/local-overlay-store.cc
  tests/unit/libstore/local-store.cc
  tests/unit/libstore/meson.build
  tests/unit/libstore/s3-binary-cache-store.cc
  tests/unit/libstore/ssh-store.cc
  tests/unit/libstore/uds-remote-store.cc
Labels: store

#11112 Move `uriSchemes` to `*StoreConfig`
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/http-binary-cache-store.hh
  src/libstore/legacy-ssh-store.hh
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-binary-cache-store.hh
  src/libstore/local-overlay-store.hh
  src/libstore/local-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/s3-binary-cache-store.hh
  src/libstore/ssh-store.cc
  src/libstore/ssh-store.hh
  src/libstore/store-api.hh
  src/libstore/uds-remote-store.hh
Labels: store

#11086 Eval cache: fix cache regressions
  src/libcmd/installable-value.hh
  src/libexpr/eval-cache.cc
  src/nix/develop.cc
  src/nix/env.cc
  src/nix/fmt.cc
  src/nix/run.cc
  src/nix/run.hh
Labels: new-cli

#11125 Factor out commonality between WorkerProto::Basic{Client,Server}Connection
  src/libstore/daemon.cc
  src/libstore/daemon.hh
  src/libstore/remote-store.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/worker-protocol-connection.cc
  src/libstore/worker-protocol-connection.hh
  src/libstore/worker-protocol.hh
  src/libutil/serialise.hh
  src/nix/unix/daemon.cc
Labels: new-cli, store

#11120 parser: Remove empty multiline string parts earlier
  src/libexpr/parser-state.hh
  tests/functional/lang/parse-okay-ind-string.exp
  tests/functional/lang/parse-okay-ind-string.nix
Labels: language, with-tests

#10975 Progress on Wine CI support, MinGW dev shell with Meson
  flake.nix
  meson.build
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_external.cc
  src/libexpr-c/nix_api_value.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libutil/file-system.cc
  src/libutil/fs-sink.cc
  src/nix/meson.build
Labels: new-cli, windows, c api

#11149 libexpr: Track and show GC time and cycle number
  src/libexpr/eval-gc.cc
  src/libexpr/eval-gc.hh
  src/libexpr/eval.cc
Labels: error-messages, language, performance

#11142 Allow flag aliases
  src/libstore/globals.cc
  src/libutil/config-impl.hh
  src/libutil/config.cc
  tests/functional/build.sh
  tests/functional/eval.sh
Labels: with-tests

#11043 `assert`: Report why values aren't equal
  src/libexpr/eval-error.cc
  src/libexpr/eval-error.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  tests/functional/lang/eval-fail-assert-equal-attrs-names-2.err.exp
  tests/functional/lang/eval-fail-assert-equal-attrs-names-2.nix
  tests/functional/lang/eval-fail-assert-equal-attrs-names.err.exp
  tests/functional/lang/eval-fail-assert-equal-attrs-names.nix
  tests/functional/lang/eval-fail-assert-equal-derivations-extra.err.exp
  tests/functional/lang/eval-fail-assert-equal-derivations-extra.nix
  tests/functional/lang/eval-fail-assert-equal-derivations.err.exp
  tests/functional/lang/eval-fail-assert-equal-derivations.nix
  tests/functional/lang/eval-fail-assert-equal-floats.err.exp
  tests/functional/lang/eval-fail-assert-equal-floats.nix
  tests/functional/lang/eval-fail-assert-equal-function-direct.err.exp
  tests/functional/lang/eval-fail-assert-equal-function-direct.nix
  tests/functional/lang/eval-fail-assert-equal-int-float.err.exp
  tests/functional/lang/eval-fail-assert-equal-int-float.nix
  tests/functional/lang/eval-fail-assert-equal-ints.err.exp
  tests/functional/lang/eval-fail-assert-equal-ints.nix
  tests/functional/lang/eval-fail-assert-equal-list-length.err.exp
  tests/functional/lang/eval-fail-assert-equal-list-length.nix
  tests/functional/lang/eval-fail-assert-equal-paths.err.exp
  tests/functional/lang/eval-fail-assert-equal-paths.nix
  tests/functional/lang/eval-fail-assert-equal-type-nested.err.exp
  tests/functional/lang/eval-fail-assert-equal-type-nested.nix
  tests/functional/lang/eval-fail-assert-equal-type.err.exp
  tests/functional/lang/eval-fail-assert-equal-type.nix
  tests/functional/lang/eval-fail-assert-nested-bool.err.exp
  tests/functional/lang/eval-fail-assert-nested-bool.nix
  tests/functional/lang/eval-fail-assert.err.exp
Labels: error-messages, language, with-tests

#11154 nix ping-store: Redirect to 'nix store info'
  src/nix/main.cc
Labels: new-cli

#10603 Run the flake regressions test suite
  .github/workflows/ci.yml
  scripts/flake-regressions.sh
Labels: flakes, tests

#11155 Two Build system fixes
  configure.ac
  src/libstore/meson.build
  src/libstore/s3-binary-cache-store.cc
Labels: store

#11156 Fix some BSD builds missing pthread functions
  packaging/dependencies.nix
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libfetchers/meson.build
  src/libflake/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libutil-c/meson.build
  src/nix/meson.build
  tests/unit/libexpr-support/meson.build
  tests/unit/libexpr/meson.build
  tests/unit/libfetchers/meson.build
  tests/unit/libflake/meson.build
  tests/unit/libstore-support/meson.build
  tests/unit/libstore/meson.build
  tests/unit/libutil-support/meson.build
  tests/unit/libutil/meson.build
Labels: new-cli, fetching, c api

#11150 Fix issue #11141 broken stack pointer corrector
  src/libexpr/eval-gc.cc
  tests/functional/lang-gc.sh
  tests/functional/lang-gc/issue-11141-gc-coroutine-test.nix
  tests/functional/local.mk
Labels: with-tests

#11163 Rejiggle getGCCycles() for buildNoGc
  src/libexpr/eval-gc.cc
  src/libexpr/eval-gc.hh
Labels: build-problem

#11162 Rename osStackLow -> osStackLimit
  src/libexpr/eval-gc.cc
Labels: language

#11079 fix `NIX_PATH` for real
  src/libexpr/eval-gc.cc
  src/libexpr/eval-settings.cc
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libutil/config.cc
  tests/functional/nix_path.sh
  tests/functional/restricted.sh
Labels: bug, with-tests, settings

#11174 docs: add identifiers
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/language/identifiers.md
  doc/manual/src/language/operators.md
  doc/manual/src/language/syntax.md
Labels: documentation

#9014 manual: Contributing -> Development, Hacking -> Building
  CONTRIBUTING.md
  README.md
  doc/manual/generate-builtins.nix
  doc/manual/generate-manpage.nix
  doc/manual/generate-settings.nix
  doc/manual/generate-store-info.nix
  doc/manual/generate-xp-features-shortlist.nix
  doc/manual/local.mk
  doc/manual/redirects.js
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/_redirects
  doc/manual/src/c-api.md
  doc/manual/src/command-ref/experimental-commands.md
  doc/manual/src/command-ref/nix-store/realise.md
  doc/manual/src/development/building.md
  doc/manual/src/development/cli-guideline.md
  doc/manual/src/development/contributing.md
  doc/manual/src/development/cxx.md
  doc/manual/src/development/documentation.md
  doc/manual/src/development/experimental-features.md
  doc/manual/src/development/index.md
  doc/manual/src/development/json-guideline.md
  doc/manual/src/development/testing.md
  doc/manual/src/glossary.md
  doc/manual/src/installation/installing-binary.md
  doc/manual/src/language/advanced-attributes.md
  doc/manual/src/protocols/derivation-aterm.md
  doc/manual/src/protocols/json/derivation.md
  doc/manual/src/protocols/json/store-object-info.md
  doc/manual/src/release-notes/rl-2.18.md
  doc/manual/src/release-notes/rl-2.19.md
  doc/manual/src/release-notes/rl-2.23.md
  doc/manual/src/release-notes/rl-2.4.md
  doc/manual/src/store/file-system-object/content-address.md
  doc/manual/src/store/store-object/content-address.md
  src/libexpr/eval-settings.hh
  src/libexpr/primops/fetchTree.cc
  src/libstore/globals.hh
  src/libutil/config.hh
  src/nix/nix.md
Labels: documentation, new-cli, contributor-experience

#11175 Deduplicate our many `package.nix` a bit
  packaging/dependencies.nix
  src/external-api-docs/package.nix
  src/internal-api-docs/package.nix
  src/libcmd/package.nix
  src/libexpr-c/package.nix
  src/libexpr/package.nix
  src/libfetchers/package.nix
  src/libflake/package.nix
  src/libmain-c/package.nix
  src/libmain/package.nix
  src/libstore-c/package.nix
  src/libstore/package.nix
  src/libutil-c/package.nix
  src/libutil/package.nix
  src/nix/package.nix
  src/perl/package.nix
  tests/unit/libexpr-support/package.nix
  tests/unit/libexpr/package.nix
  tests/unit/libfetchers/package.nix
  tests/unit/libflake/package.nix
  tests/unit/libstore-support/package.nix
  tests/unit/libstore/package.nix
  tests/unit/libutil-support/package.nix
  tests/unit/libutil/package.nix
Labels: new-cli, contributor-experience, fetching, c api

#11115 Document builtins.derivation
  src/libexpr/primops/derivation.nix
  tests/functional/lang.sh
  tests/functional/lang/eval-fail-derivation-name.err.exp
  tests/functional/lang/eval-fail-derivation-name.postprocess
Labels: documentation, with-tests, repl

#11177 Change skipped test error code from 99 to 77
  mk/run-test.sh
  tests/functional/common/vars-and-functions.sh
Labels: contributor-experience, with-tests

#11176 Put flake functional tests in their own group
  Makefile
  tests/functional/flakes/local.mk
  tests/functional/local.mk
Labels: contributor-experience, with-tests

#11179 Misc fixes
  src/build-remote/build-remote.cc
  src/libexpr/primops/fromTOML.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/s3.hh
Labels: store

#11182 build-remote: only allocate storeUri once
  src/build-remote/build-remote.cc
Labels: store

#11111 Grep newline safety
  tests/functional/common/vars-and-functions.sh
  tests/functional/test-infra.sh
Labels: with-tests

#11131 libexpr: experimental pipe operators
  doc/manual/rl-next/pipe-operators.md
  doc/manual/src/language/operators.md
  src/libexpr/lexer.l
  src/libexpr/parser.y
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  tests/functional/lang/eval-fail-pipe-operators.err.exp
  tests/functional/lang/eval-fail-pipe-operators.nix
  tests/unit/libexpr/main.cc
  tests/unit/libexpr/trivial.cc
Labels: documentation, with-tests

#11186 Fix reference to experimental features docs
  doc/manual/src/language/operators.md
Labels: documentation

#11190 nix repl: Remove unnecessary call to evalString
  src/libcmd/repl.cc
Labels: repl

#11167 Fix repl test for `buildReadlineNoMarkdown`
  src/libcmd/markdown.cc
  src/libcmd/markdown.hh
  src/libcmd/repl-interacter.cc
  src/libcmd/repl.cc
  src/libexpr/attr-path.cc
  src/libexpr/eval-gc.cc
  src/libexpr/eval.cc
  src/libexpr/nixexpr.cc
  src/libexpr/primops.cc
  src/libexpr/print-ambiguous.cc
  src/libexpr/print.cc
  src/libexpr/symbol-table.hh
  src/libexpr/value.hh
  src/libfetchers/attrs.cc
  src/libmain/loggers.cc
  src/libstore/build/drv-output-substitution-goal.hh
  src/libstore/build/goal.hh
  src/libstore/build/substitution-goal.hh
  src/libstore/build/worker.cc
  src/libstore/daemon.cc
  src/libstore/gc.cc
  src/libstore/globals.cc
  src/libstore/nar-info-disk-cache.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/pathlocks.cc
  src/libutil/chunked-vector.hh
  src/libutil/error.cc
  src/libutil/error.hh
  src/libutil/file-content-address.cc
  src/libutil/fs-sink.cc
  src/libutil/git.cc
  src/libutil/hash.cc
  src/libutil/logging.cc
  src/libutil/serialise.cc
  src/libutil/sync.hh
  src/libutil/unix/monitor-fd.hh
  src/libutil/unix/processes.cc
  src/nix-env/nix-env.cc
  src/nix-store/nix-store.cc
  tests/functional/repl.sh
  tests/functional/repl/doc-comment-curried-args.expected
  tests/functional/repl/doc-comment-curried-args.in
  tests/functional/repl/doc-comment-formals.expected
  tests/functional/repl/doc-comment-function.expected
  tests/functional/repl/doc-compact.expected
  tests/functional/repl/doc-constant.expected
  tests/functional/repl/doc-floatedIn.expected
  tests/functional/repl/doc-lambda-flavors.expected
  tests/functional/repl/doc-measurement.expected
  tests/functional/repl/doc-multiply.expected
  tests/functional/repl/doc-unambiguous.expected
  tests/functional/repl/pretty-print-idempotent.expected
Labels: with-tests, repl, fetching

#11192 Store: Use SharedSync
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libutil/lru-cache.hh
Labels: store

#11200 buildNoTests: Disable unit tests
  flake.nix
Labels: build-problem

#11206 libstore: return ENOTSUP for getxattr functions
  src/libstore/unix/build/local-derivation-goal.cc
Labels: derivation-build

#11196 Rename SyncBase::read() -> readLock()
  src/libstore/store-api.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/sync.hh
Labels: store

#11195 Improve handling of tarballs that don't consist of a single top-level directory
  doc/manual/rl-next/tarball-fixes.md
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/github.cc
  src/libfetchers/tarball.cc
  tests/functional/tarball.sh
  tests/unit/libfetchers/git-utils.cc
Labels: documentation, with-tests, fetching

#11219 Make sure we use `-isystem` with Meson on some deps
  src/libexpr/meson.build
  src/libexpr/primops/fromTOML.cc
  src/libstore/meson.build
  src/libstore/s3-binary-cache-store.cc
  src/libutil/meson.build
Labels: store

#11202 doc/command-ref/nix-shell: Shebangs can occur anywhere
  doc/manual/src/command-ref/nix-shell.md
Labels: documentation, cli, nix-shell

#11216 fix: add flake headers
  src/libflake/flake/nix-flake.pc.in
  src/libflake/local.mk
  src/nix/meson.build
Labels: new-cli

#11170 Release notes for 2.24
  doc/manual/rl-next/10564-attrcursor-remove-forceerrors.md
  doc/manual/rl-next/10603-run-the-flake-regressions-test-suite.md
  doc/manual/rl-next/10668-support-unit-prefixes-in-configuration-settings.md
  doc/manual/rl-next/10734-nix3-build-show-all-fod-errors-with-keep-going.md
  doc/manual/rl-next/10855-meson.md
  doc/manual/rl-next/11086-eval-cache-fix-cache-regressions.md
  doc/manual/rl-next/9063-introduce-libnixflake.md
  doc/manual/rl-next/drop-vendored-toml11.md
  doc/manual/rl-next/harden-user-sandboxing.md
  doc/manual/rl-next/nix-shell-looks-for-shell-nix.md
  doc/manual/rl-next/repl-doc-renders-doc-comments.md
  doc/manual/rl-next/shebang-relative.md
  flake.nix
Labels: documentation

#11140 WorkerProto: Support fine-grained protocol feature negotiation
  src/libstore/daemon.cc
  src/libstore/remote-store.cc
  src/libstore/worker-protocol-connection.cc
  src/libstore/worker-protocol-connection.hh
  src/libstore/worker-protocol.hh
  tests/unit/libstore/worker-protocol.cc
Labels: protocol, store

#11220 Credit all contributors in release notes
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
  maintainers/release-credits
  maintainers/release-notes
  maintainers/release-process.md
Labels: contributor-experience

#7772 reword documentation on `nix-path` config option
  doc/manual/src/command-ref/env-common.md
  doc/manual/src/command-ref/opt-common.md
  src/libcmd/common-eval-args.cc
  src/libexpr/eval-settings.hh
  src/libexpr/primops.cc
  tests/functional/nix_path.sh
Labels: documentation, with-tests

#11173 docs: add details on installables
  src/nix/nix.md
Labels: documentation, new-cli, repl

#11231 2.24 release notes
  doc/manual/rl-next/10564-attrcursor-remove-forceerrors.md
  doc/manual/rl-next/10603-run-the-flake-regressions-test-suite.md
  doc/manual/rl-next/10668-support-unit-prefixes-in-configuration-settings.md
  doc/manual/rl-next/10734-nix3-build-show-all-fod-errors-with-keep-going.md
  doc/manual/rl-next/10855-meson.md
  doc/manual/rl-next/11086-eval-cache-fix-cache-regressions.md
  doc/manual/rl-next/9063-introduce-libnixflake.md
  doc/manual/rl-next/drop-vendored-toml11.md
  doc/manual/rl-next/harden-user-sandboxing.md
  doc/manual/rl-next/nix-shell-looks-for-shell-nix.md
  doc/manual/rl-next/pipe-operators.md
  doc/manual/rl-next/repl-doc-renders-doc-comments.md
  doc/manual/rl-next/shebang-relative.md
  doc/manual/rl-next/tarball-fixes.md
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/release-notes/rl-2.24.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
Labels: documentation

#11062 docs: add variables; rework scope
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/language/identifiers.md
  doc/manual/src/language/scope.md
  doc/manual/src/language/variables.md
Labels: documentation
