Repository NixOS/nix, pull requests merged in 2024-02, with the labels that each got.

#9902 builtin:fetchurl: Ensure a fixed-output derivation
  src/libstore/builtins/fetchurl.cc
  tests/functional/fetchurl.sh
Labels: critical, with-tests, backport 2.19-maintenance, backport 2.20-maintenance

#9913 Print positions in `--debugger`, instead of pointers
  src/libcmd/repl.cc
Labels: repl

#9930 print-dev-env: Avoid using unbound shellHook variable
  src/nix/develop.cc
  tests/functional/nix-shell.sh
Labels: new-cli, with-tests

#9939 CanonPath, SourcePath: Change operator + to /
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/fs-input-accessor.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libstore/binary-cache-store.cc
  src/libstore/local-fs-store.cc
  src/libstore/nar-accessor.cc
  src/libutil/archive.cc
  src/libutil/canon-path.cc
  src/libutil/canon-path.hh
  src/libutil/fs-sink.cc
  src/libutil/git.cc
  src/libutil/source-path.cc
  src/libutil/source-path.hh
  src/nix-env/nix-env.cc
  src/nix/ls.cc
  src/nix/run.cc
  src/nix/why-depends.cc
  tests/unit/libutil/canon-path.cc
Labels: new-cli, store, fetching

#9949 fix location of `_redirects` file
  doc/manual/src/_redirects
Labels: backport 2.13-maintenance, backport 2.14-maintenance, backport 2.15-maintenance, backport 2.16-maintenance, backport 2.17-maintenance, backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance

#9919 Reduce visual clutter in the debugger
  doc/manual/rl-next/reduce-debugger-clutter.md
  src/libcmd/repl.cc
  src/libexpr/eval.cc
Labels: repl

#9933 fix debugger crashing while printing envs
  .gitignore
  src/libexpr/eval.cc
  tests/functional/debugger.sh
  tests/functional/local.mk
Labels: with-tests

#9963 manual: fold sidebar sections
  doc/manual/book.toml
Labels: documentation

#9964 move JSON section into Formats and Protocols
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/_redirects
  doc/manual/src/protocols/json/derivation.md
  doc/manual/src/protocols/json/store-object-info.md
  src/nix/derivation-add.md
  src/nix/derivation-show.md
Labels: documentation, new-cli

#9834 Towards structured error classes
  src/libcmd/repl.cc
  src/libexpr/attr-path.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval-error.cc
  src/libexpr/eval-error.hh
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/get-drvs.cc
  src/libexpr/json-to-value.cc
  src/libexpr/json-to-value.hh
  src/libexpr/lexer.l
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  src/libexpr/pos-idx.hh
  src/libexpr/pos-table.hh
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/primops/fromTOML.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value.hh
  src/libmain/shared.cc
  src/libstore/build/entry-points.cc
  src/libstore/daemon.cc
  src/libutil/error.cc
  src/libutil/error.hh
  src/libutil/logging.cc
  src/nix-store/nix-store.cc
  src/nix/eval.cc
  src/nix/flake.cc
  tests/functional/fetchGit.sh
  tests/functional/lang/eval-fail-attr-name-type.err.exp
  tests/functional/lang/eval-fail-fromTOML-timestamps.err.exp
  tests/functional/lang/eval-fail-toJSON.err.exp
  tests/functional/lang/eval-fail-using-set-as-attr-name.err.exp
  tests/unit/libexpr/error_traces.cc
Labels: new-cli, with-tests, repl

#9925 Cleanup `fmt.hh`
  src/build-remote/build-remote.cc
  src/libexpr/eval-error.cc
  src/libexpr/eval-error.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/flake.cc
  src/libexpr/lexer.l
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/print.cc
  src/libexpr/print.hh
  src/libexpr/value-to-json.cc
  src/libexpr/value/context.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/local-derivation-goal.cc
  src/libstore/filetransfer.cc
  src/libstore/sqlite.cc
  src/libstore/sqlite.hh
  src/libutil/current-process.cc
  src/libutil/error.cc
  src/libutil/error.hh
  src/libutil/fmt.hh
  src/libutil/logging.hh
  src/libutil/serialise.cc
  src/nix/daemon.cc
  src/nix/eval.cc
  src/nix/flake.cc
  tests/unit/libexpr/error_traces.cc
  tests/unit/libutil/logging.cc
Labels: new-cli

#9976 Restore manual pages
  Makefile
  mk/lib.mk
Labels: backport 2.18-maintenance, backport 2.19-maintenance, backport 2.20-maintenance

#9992 Fix "may be used uninitialized" warning
  src/libstore/store-api.cc
Labels: store

#9295 Include store path exact spec in the docs
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/protocols/store-path.md
  src/libstore/store-api.cc
Labels: documentation, store

#9498 add instructions to wipe the substituter lookup cache
  src/libstore/globals.hh
Labels: documentation

#9522 reword description of the `cores` setting
  src/libstore/globals.hh
Labels: documentation

#10007 Split `hash.sh` test in two
  tests/functional/hash-convert.sh
  tests/functional/hash-path.sh
  tests/functional/local.mk
Labels: with-tests

#10009 Proper `parse` and `render` functions for `FileIngestionMethod` and `ContentAddressMethod`
  src/libfetchers/fetch-to-store.cc
  src/libstore/content-address.cc
  src/libstore/content-address.hh
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/remote-store.cc
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/nix/add-to-store.cc
  tests/unit/libstore/content-address.cc
  tests/unit/libutil/file-content-address.cc
Labels: new-cli, store, fetching

#10006 <nix/fetchurl.nix>: Restore support for "impure = true"
  src/libstore/builtins/fetchurl.cc
  tests/functional/fetchurl.sh
  tests/functional/impure-derivations.sh
Labels: with-tests, backport 2.19-maintenance, backport 2.20-maintenance

#10001 install-darwin: fix symbolic perms for install cmd
  scripts/install-darwin-multi-user.sh
Labels: installer, macos

#9931 Pretty-print values in the REPL
  src/libcmd/repl.cc
  src/libexpr/print-options.hh
  src/libexpr/print.cc
  tests/functional/lang/eval-fail-bad-string-interpolation-4.err.exp
  tests/functional/repl.sh
  tests/unit/libexpr/value/print.cc
Labels: with-tests, repl

#10018 [2.18] Fix the build
  src/libexpr/parser.y
Labels: build-problem

#9485 Add a Git-based content-addressed tarball cache
  src/libfetchers/attrs.cc
  src/libfetchers/attrs.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/github.cc
  src/libutil/fs-sink.hh
  src/libutil/tarfile.cc
  src/libutil/tarfile.hh
Labels: idea approved, fetching

#9985 Restore `builtins.pathExists` behavior on broken symlinks
  src/libexpr/primops.cc
  src/libutil/source-path.cc
  src/libutil/source-path.hh
  tests/functional/lang/eval-okay-pathexists.nix
  tests/functional/lang/symlink-resolution/broken
Labels: bug, with-tests, backport 2.19-maintenance, backport 2.20-maintenance

#10043 fetchToStore(): Don't always respect settings.readOnlyMode
  src/libcmd/installable-value.cc
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/fetch-to-store.hh
  src/libfetchers/fetchers.cc
  tests/functional/fetchGit.sh
Labels: with-tests, fetching, backport 2.20-maintenance

#10044 Handle empty Git repositories / workdirs
  src/libexpr/eval.cc
  src/libfetchers/filtering-input-accessor.cc
  src/libfetchers/filtering-input-accessor.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  src/libfetchers/memory-input-accessor.cc
  src/libfetchers/memory-input-accessor.hh
  tests/functional/fetchGit.sh
Labels: with-tests, fetching

#10049 Don't send settings that depend on disabled experimental features to the daemon
  src/libutil/config-impl.hh
  src/libutil/config.cc
  tests/functional/experimental-features.sh
Labels: with-tests, backport 2.20-maintenance

#9916 `:quit` in the debugger should quit the whole program
  src/libcmd/repl.cc
  src/libcmd/repl.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libexpr/repl-exit-status.hh
  src/libmain/shared.cc
  src/libmain/shared.hh
  src/libutil/exit.cc
  src/libutil/exit.hh
Labels: repl

#10024 Input: Replace 'locked' bool by isLocked() method
  src/libexpr/flake/call-flake.nix
  src/libexpr/flake/flake.cc
  src/libexpr/flake/flake.hh
  src/libexpr/flake/lockfile.cc
  src/libexpr/flake/lockfile.hh
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/tarball.cc
  src/nix-env/nix-env.cc
  src/nix/flake.cc
  tests/functional/fetchGit.sh
Labels: new-cli, flakes, with-tests, fetching

#10038 Use the Git cache for tarball flakes
  src/libcmd/common-eval-args.cc
  src/libexpr/eval.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
  src/libstore/filetransfer.cc
  src/libstore/filetransfer.hh
  src/libutil/posix-source-accessor.cc
  tests/functional/bad.tar.xz
  tests/functional/fetchTree-file.sh
  tests/functional/tarball.sh
Labels: with-tests, fetching

#10060 profile: suggest removal using profile entry name
  src/nix/profile.cc
  tests/functional/nix-profile.sh
Labels: new-cli, with-tests

#9815 `nix hash path`, text hashing for `nix store add`, and preparatory refactors
  src/libcmd/misc-store-flags.cc
  src/libcmd/misc-store-flags.hh
  src/libutil/args.cc
  src/libutil/args.hh
  src/nix/add-to-store.cc
  src/nix/hash.cc
  src/nix/prefetch.cc
  tests/functional/add.sh
  tests/functional/hash-path.sh
Labels: new-cli, with-tests, store

#10067 `nix`: Fix `haveInternet` to check for proxy
  src/nix/main.cc
Labels: new-cli

#10003 documentation: improve genericClosure
  src/libexpr/primops.cc
Labels: idea approved

#9847 deduplicate inherit-from source expr work
  doc/manual/rl-next/inherit-from-by-need.md
  src/libexpr/eval.cc
  src/libexpr/nixexpr.cc
  src/libexpr/nixexpr.hh
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  tests/functional/lang/eval-okay-inherit-from.err.exp
  tests/functional/lang/eval-okay-inherit-from.exp
  tests/functional/lang/eval-okay-inherit-from.nix
  tests/functional/lang/parse-okay-inherits.exp
  tests/functional/lang/parse-okay-inherits.nix
  tests/functional/lang/parse-okay-subversion.exp
Labels: with-tests

#9767 Support Windows paths in `canonPath` and `absPath`
  src/libutil/canon-path.cc
  src/libutil/file-path-impl.hh
  src/libutil/file-system.cc
  tests/unit/libutil/tests.cc
Labels: windows

#8918 Git object hashing in libstore
  Makefile
  doc/manual/src/protocols/store-path.md
  package.nix
  perl/lib/Nix/Store.xs
  src/libexpr/primops.cc
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/build/worker.cc
  src/libstore/content-address.cc
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/dummy-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/local-fs-store.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/optimise-store.cc
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/uds-remote-store.hh
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/nix-env/user-env.cc
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/develop.cc
  src/nix/hash.cc
  tests/functional/git-hashing/common.sh
  tests/functional/git-hashing/local.mk
  tests/functional/git-hashing/simple.sh
  tests/unit/libstore/content-address.cc
  tests/unit/libutil/file-content-address.cc
Labels: new-cli, with-tests, RFC, store, fetching

#10010 Fix "Failed tcsetattr(TCSADRAIN)" when `nix repl` is not a TTY
  src/libcmd/repl.cc
Labels: repl

#9546 Update to nixos-23.11
  Makefile
  flake.lock
  flake.nix
  package.nix
  src/libstore/local-store.cc
  tests/functional/git-hashing/common.sh
  tests/functional/impure-env.sh
Labels: with-tests, store

#9915 Add position information to `while evaluating the attribute` errors in the debugger
  doc/manual/rl-next/source-location-in-while-evaluating-attribute.md
  src/libexpr/eval.cc
Labels: idea approved

#10090 profile install: warn on installing package twice
  src/nix/profile.cc
  tests/functional/nix-profile.sh
Labels: new-cli, with-tests

#10112 Fix gcc 12 warnings
  src/libstore/build-result.hh
  src/libstore/build/local-derivation-goal.cc
  src/libstore/daemon.cc
  src/libstore/remote-store.cc
  src/libutil/file-content-address.cc
Labels: store
