Repository NixOS/nix, pull requests merged in 2024-08, with the labels that each got.

#11232 docs: editorial quibbles
  doc/manual/src/language/identifiers.md
  doc/manual/src/language/scope.md
Labels: documentation

#11237 Fix the S3 store
  src/libstore/s3-binary-cache-store.cc
Labels: regression, store, backport 2.24-maintenance

#11244 allow to c api with older c versions
  src/libexpr-c/nix_api_expr.h
Labels: c api

#11145 Make parser LALR, conflict-free
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  tests/functional/lang/parse-fail-undef-var-2.err.exp
Labels: documentation, with-tests, idea approved

#11254 docs: installable remove alternate expression flag
  src/nix/nix.md
Labels: documentation, new-cli

#11257 PathSubstitutionGoal: Fix spurious "failed" count in the progress bar
  src/libstore/build/substitution-goal.cc
  src/libstore/build/substitution-goal.hh
Labels: bug, backport 2.24-maintenance

#11233 docs: add language/string-literals.md
  doc/manual/redirects.js
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/language/identifiers.md
  doc/manual/src/language/string-interpolation.md
  doc/manual/src/language/string-literals.md
  doc/manual/src/language/syntax.md
  doc/manual/src/language/types.md
Labels: documentation

#11218 Factor out `lookupExecutable` and other PATH improvements
  .clang-format
  maintainers/flake-module.nix
  src/libutil/environment-variables.cc
  src/libutil/environment-variables.hh
  src/libutil/executable-path.cc
  src/libutil/executable-path.hh
  src/libutil/file-path-impl.hh
  src/libutil/file-path.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/meson.build
  src/libutil/os-string.hh
  src/libutil/strings-inline.hh
  src/libutil/strings.cc
  src/libutil/strings.hh
  src/libutil/unix/environment-variables.cc
  src/libutil/unix/file-path.cc
  src/libutil/unix/meson.build
  src/libutil/unix/os-string.cc
  src/libutil/util.cc
  src/libutil/windows/environment-variables.cc
  src/libutil/windows/file-path.cc
  src/libutil/windows/meson.build
  src/libutil/windows/os-string.cc
  src/nix/config-check.cc
  src/nix/develop.cc
  src/nix/env.cc
  src/nix/search.cc
  src/nix/upgrade-nix.cc
  tests/unit/libutil/executable-path.cc
  tests/unit/libutil/meson.build
  tests/unit/libutil/strings.cc
Labels: new-cli, store

#11188 Ban integer overflow in the Nix language
  doc/manual/rl-next/ban-integer-overflow.md
  doc/manual/src/language/operators.md
  doc/manual/src/language/syntax.md
  src/libcmd/installable-flake.cc
  src/libcmd/installable-value.hh
  src/libexpr-c/nix_api_value.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/get-drvs.cc
  src/libexpr/json-to-value.cc
  src/libexpr/lexer.l
  src/libexpr/nixexpr.hh
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value.hh
  src/libflake/flake/flake.cc
  src/libstore/globals.hh
  src/libstore/names.cc
  src/libstore/names.hh
  src/libutil/checked-arithmetic.hh
  src/libutil/meson.build
  src/nix-env/nix-env.cc
  tests/functional/lang/eval-fail-fetchTree-negative.err.exp
  tests/functional/lang/eval-fail-fetchTree-negative.nix
  tests/functional/lang/eval-fail-flake-ref-to-string-negative-integer.err.exp
  tests/functional/lang/eval-fail-flake-ref-to-string-negative-integer.nix
  tests/functional/lang/eval-fail-fromJSON-overflowing.err.exp
  tests/functional/lang/eval-fail-fromJSON-overflowing.nix
  tests/functional/lang/eval-fail-overflowing-add.err.exp
  tests/functional/lang/eval-fail-overflowing-add.nix
  tests/functional/lang/eval-fail-overflowing-div.err.exp
  tests/functional/lang/eval-fail-overflowing-div.nix
  tests/functional/lang/eval-fail-overflowing-mul.err.exp
  tests/functional/lang/eval-fail-overflowing-mul.nix
  tests/functional/lang/eval-fail-overflowing-sub.err.exp
  tests/functional/lang/eval-fail-overflowing-sub.nix
  tests/unit/libexpr-support/tests/libexpr.hh
  tests/unit/libutil-support/tests/gtest-with-params.hh
  tests/unit/libutil/checked-arithmetic.cc
Labels: documentation, with-tests, c api

#11178 Move `NIX_BIN_DIR` and all logic using it to the Nix executable itself
  doc/manual/rl-next/build-hook-default.md
  src/libcmd/repl.cc
  src/libcmd/repl.hh
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libstore/local.mk
  src/libstore/meson.build
  src/libstore/unix/build/hook-instance.cc
  src/libutil/executable-path.cc
  src/libutil/executable-path.hh
  src/nix-channel/nix-channel.cc
  src/nix/local.mk
  src/nix/main.cc
  src/nix/meson.build
  src/nix/repl.cc
  src/nix/self-exe.cc
  src/nix/self-exe.hh
  src/nix/upgrade-nix.cc
  src/perl/lib/Nix/Config.pm.in
  src/perl/lib/Nix/Store.pm
  src/perl/lib/Nix/Store.xs
Labels: documentation, new-cli, store, repl

#11288 add cross-references to `nix-path` overriding
  doc/manual/src/language/constructs/lookup-path.md
  src/libexpr/primops.cc
Labels: documentation

#11296 doc/manual: fix misaligned icons in custom.css
  doc/manual/custom.css
Labels: documentation

#11241 Fix a few shellcheck tests
  maintainers/flake-module.nix
  tests/functional/signing.sh
  tests/functional/simple.builder.sh
  tests/functional/simple.sh
  tests/functional/ssh-relay.sh
  tests/functional/store-info.sh
  tests/functional/structured-attrs.sh
  tests/functional/substitute-with-invalid-ca.sh
  tests/functional/suggestions.sh
  tests/functional/tarball.sh
  tests/functional/test-infra.sh
  tests/functional/test-libstoreconsumer.sh
  tests/functional/timeout.sh
Labels: with-tests

#11073 Meson functional tests
  flake.nix
  meson.build
  packaging/components.nix
  packaging/hydra.nix
  src/libstore/meson.build
  src/nix-functional-tests
  tests/functional/.version
  tests/functional/ca/meson.build
  tests/functional/common.sh
  tests/functional/common/functions.sh
  tests/functional/common/init.sh
  tests/functional/common/meson.build
  tests/functional/common/paths.sh
  tests/functional/common/subst-vars.sh.in
  tests/functional/common/vars.sh
  tests/functional/derivation-advanced-attributes.sh
  tests/functional/dyn-drv/meson.build
  tests/functional/flakes/meson.build
  tests/functional/git-hashing/meson.build
  tests/functional/local-overlay-store/common.sh
  tests/functional/local-overlay-store/meson.build
  tests/functional/meson.build
  tests/functional/nested-sandboxing/command.sh
  tests/functional/nested-sandboxing/runner.nix
  tests/functional/package.nix
  tests/functional/plugins.sh
  tests/functional/plugins/meson.build
  tests/functional/restricted.sh
  tests/functional/test-libstoreconsumer/meson.build
Labels: documentation, new-cli, with-tests, store, repl, fetching, c api

#11301 No make unittests
  .github/workflows/ci.yml
  Makefile
  Makefile.config.in
  configure.ac
  flake.nix
  package.nix
  packaging/components.nix
  packaging/everything.nix
  packaging/hydra.nix
  tests/functional/package.nix
  tests/nixos/quick-build.nix
  tests/unit/libexpr-support/local.mk
  tests/unit/libexpr/local.mk
  tests/unit/libfetchers/local.mk
  tests/unit/libflake/local.mk
  tests/unit/libstore-support/local.mk
  tests/unit/libstore/local.mk
  tests/unit/libutil-support/local.mk
  tests/unit/libutil/local.mk
Labels: with-tests

#11305 Document function application operator
  doc/manual/src/language/operators.md
  doc/manual/src/language/syntax.md
Labels: documentation

#11303 Use nixosTest.quickBuild behavior by default
  doc/manual/src/development/testing.md
  tests/nixos/default.nix
  tests/nixos/quick-build.nix
Labels: documentation

#11285 fetchers::downloadTarball(): Return a cacheable accessor
  src/libcmd/common-eval-args.cc
  src/libexpr/eval.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/tarball.cc
  src/libfetchers/tarball.hh
Labels: fetching

#11270 libstore: fix port binding in __darwinAllowLocalNetworking sandbox
  src/libstore/unix/build/sandbox-defaults.sb
Labels: backport 2.21-maintenance, backport 2.22-maintenance, backport 2.23-maintenance, backport 2.24-maintenance

#11279 Urge contributors to read the contributing page + link to matrix
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: documentation, contributor-experience

#11297 `nix flake show`: Support `meta` attribute for `apps`
  src/nix/flake.cc
  src/nix/run.md
  tests/functional/flakes/check.sh
Labels: documentation, new-cli, with-tests

#11324 Remove duplicated section
  doc/manual/src/release-notes/rl-2.24.md
Labels: documentation

#10980 nix flake show: add the description if it exists
  src/nix/flake.cc
  tests/functional/flakes/show.sh
Labels: new-cli, flakes, with-tests

#11329 fix: check to see if there are any lines before
  src/nix-build/nix-build.cc
Labels: bug, new-cli, backport 2.22-maintenance, backport 2.23-maintenance, backport 2.24-maintenance

#11341 Fix doc build
  doc/manual/rl-next/build-hook-default.md
Labels: documentation

#11342 Fix umount failure
  tests/functional/local-overlay-store/common.sh
Labels: with-tests

#11322 doc: Manage expectations for eval-cache
  doc/manual/src/release-notes/rl-2.4.md
  src/libexpr/eval-settings.hh
Labels: documentation

#11300 Make $HOME=/proc/homeless-shelter instead of /homeless-shelter
  doc/manual/src/language/derivations.md
  src/libstore/unix/build/local-derivation-goal.cc
Labels: documentation, idea approved, derivation-build

#11344 Release note for nix flake show change
  doc/manual/rl-next/nix-flake-show-description.md
Labels: documentation

#11075 add UID migration script for macOS Sequoia 15
  scripts/bigsur-nixbld-user-migration.sh
  scripts/sequoia-nixbld-user-migration.sh
Labels: macos, significant

#11335 Update documentation to refer to Meson not Make in most places
  doc/manual/src/development/building.md
  doc/manual/src/development/testing.md
  doc/manual/src/installation/building-source.md
  maintainers/format.sh
  maintainers/local.mk
Labels: documentation

#11152 addToStore(): Evaluate on the main stack
  doc/manual/src/installation/prerequisites-source.md
  src/libexpr/eval-gc.cc
  src/libstore/store-api.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Labels: documentation, store

#11281 Use `std::filesystem::path` in end executables
  src/libutil/executable-path.cc
  src/nix-channel/nix-channel.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/build.cc
  src/nix/bundle.cc
  src/nix/eval.cc
  src/nix/flake.cc
  src/nix/profile.cc
  src/nix/run.cc
Labels: new-cli

#11350 Add changelog for homeless-shelter-to-proc
  doc/manual/rl-next/homeless-shelter-to-proc.md
Labels: documentation

#11343 withFramedSink(): Don't use a thread to monitor the other side
  src/libstore/daemon.cc
  src/libstore/remote-store-connection.hh
  src/libstore/remote-store.cc
  src/libstore/worker-protocol-connection.cc
  src/libstore/worker-protocol-connection.hh
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Labels: store

#7126 Add fsync-store-paths option
  doc/manual/rl-next/fsync-store-paths.md
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/libutil/archive.cc
  src/libutil/archive.hh
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/libutil/file-descriptor.cc
  src/libutil/file-descriptor.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/fs-sink.cc
  src/libutil/fs-sink.hh
  tests/nixos/default.nix
  tests/nixos/fsync.nix
Labels: bug, feature, documentation, performance, store

#11348 Remove dead makeMutable() function
  src/libstore/local-store.cc
  src/libstore/local-store.hh
Labels: store

#11360 [Backport 2.24-maintenance] addToStore(): Evaluate on the main stack
  doc/manual/src/installation/prerequisites-source.md
  src/libexpr/eval-gc.cc
  src/libstore/store-api.cc
  src/libutil/serialise.cc
  src/libutil/serialise.hh
Labels: documentation, store

#11356 Add nix_store_copy_closure to libstore-c
  src/libstore-c/nix_api_store.cc
  src/libstore-c/nix_api_store.h
Labels: c api

#11366 Revert: Make $HOME=/proc/homeless-shelter instead of /homeless-shelter
  doc/manual/rl-next/homeless-shelter-to-proc.md
  doc/manual/src/language/derivations.md
  src/libstore/unix/build/local-derivation-goal.cc
Labels: documentation

#10910 C API: `nix_clear_err`
  src/libutil-c/nix_api_util.cc
  src/libutil-c/nix_api_util.h
  src/libutil-c/nix_api_util_internal.h
  tests/unit/libutil/nix_api_util.cc
Labels: c api

#11304 `:doc`: support `__functor`
  src/libexpr/eval-inline.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  tests/functional/repl/doc-functor.expected
  tests/functional/repl/doc-functor.in
  tests/functional/repl/doc-functor.nix
Labels: with-tests

#11362 More `std::filesystem::path` in end executables
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libcmd/repl.cc
  src/libexpr/parser.y
  src/libstore/gc.cc
  src/libstore/local-overlay-store.cc
  src/libutil/args.hh
  src/libutil/exec.hh
  src/libutil/executable-path.cc
  src/libutil/executable-path.hh
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/linux/namespaces.cc
  src/libutil/meson.build
  src/libutil/os-string.hh
  src/libutil/posix-source-accessor.cc
  src/libutil/serialise.cc
  src/libutil/strings.cc
  src/libutil/unix/meson.build
  src/libutil/unix/processes.cc
  src/libutil/unix/users.cc
  src/libutil/windows/processes.cc
  src/nix/bundle.cc
  src/nix/config-check.cc
  src/nix/develop.cc
  src/nix/flake.cc
  src/nix/run.cc
  src/nix/self-exe.cc
  tests/unit/libfetchers/public-key.cc
  tests/unit/libstore-support/tests/nix_api_store.hh
  tests/unit/libstore-support/tests/protocol.hh
  tests/unit/libstore/derivation-advanced-attrs.cc
  tests/unit/libstore/derivation.cc
  tests/unit/libstore/machines.cc
  tests/unit/libstore/nar-info.cc
  tests/unit/libstore/path-info.cc
  tests/unit/libstore/store-reference.cc
  tests/unit/libutil-support/tests/characterization.hh
  tests/unit/libutil/file-system.cc
  tests/unit/libutil/git.cc
  tests/unit/libutil/meson.build
Labels: new-cli, store, repl, fetching

#11379 More `std::filesystem` for `nix-collect-garbage`
  src/nix-collect-garbage/nix-collect-garbage.cc
Labels: new-cli, store, repl

#11302 Misc Meson progress
  build-utils-meson/export/meson.build
  flake.nix
  meson.build
  misc/bash/meson.build
  misc/fish/meson.build
  misc/meson.build
  misc/systemd/meson.build
  misc/zsh/meson.build
  scripts/meson.build
  src/libstore/meson.build
  src/libstore/meson.options
  src/libutil/meson.build
  src/nix/meson.build
  src/nix/meson.options
  src/nix/misc
  src/nix/package.nix
  src/nix/scripts
  subprojects
  tests/unit/libutil-support/meson.build
Labels: new-cli, with-tests

#11371 Fix diskutil deleteVolume command in Uninstall guide
  doc/manual/src/installation/uninstall.md
Labels: documentation

#11381 Fix few duplicate word occurrences
  doc/manual/src/development/json-guideline.md
  doc/manual/src/protocols/store-path.md
  doc/manual/src/release-notes/rl-2.23.md
  package.nix
  src/libstore/local-overlay-store.md
  src/nix/flake.md
Labels: documentation, new-cli, store
