Repository NixOS/nix, pull requests merged in 2024-06, with the labels that each got.

#10824 Misc Windows fixes
  maintainers/flake-module.nix
  src/libfetchers/git.cc
  src/libfetchers/local.mk
  src/libfetchers/mercurial.cc
  src/libstore/builtins/fetchurl.cc
  src/libstore/builtins/unpack-channel.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/local-overlay-store.cc
  src/libstore/local-overlay-store.hh
  src/libstore/local-overlay-store.md
  src/libstore/local.mk
Labels: windows, store, fetching

#10828 improve note in `nix_value_force` documentation of the c api
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_value.h
Labels: c api

#10825 Fix empty outputsToInstall for InstallableAttrPath
  src/libcmd/installable-attr-path.cc
  tests/functional/build.sh
  tests/functional/multiple-outputs.nix
Labels: bug, with-tests

#10827 housekeeping: shellcheck test/functional/add.sh
  maintainers/flake-module.nix
  tests/functional/add.sh
Labels: with-tests

#9995 `ValidPathInfo` JSON format should use `null` not omit field
  doc/manual/rl-next/store-object-info.md
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/contributing/cli-guideline.md
  doc/manual/src/contributing/json-guideline.md
  doc/manual/src/glossary.md
  doc/manual/src/protocols/json/store-object-info.md
  src/libstore/parsed-derivations.cc
  src/libstore/path-info.cc
  src/libutil/json-utils.cc
  src/libutil/json-utils.hh
  tests/functional/signing.sh
  tests/unit/libstore/data/path-info/empty_impure.json
  tests/unit/libstore/data/path-info/empty_pure.json
  tests/unit/libstore/path-info.cc
  tests/unit/libutil/json-utils.cc
Labels: documentation, contributor-experience, with-tests

#10782 Factor our connection code for worker proto like serve proto
  src/libstore/daemon.cc
  src/libstore/legacy-ssh-store.cc
  src/libstore/remote-store-connection.hh
  src/libstore/remote-store.cc
  src/libstore/serve-protocol-connection.cc
  src/libstore/serve-protocol-connection.hh
  src/libstore/serve-protocol-impl.hh
  src/libstore/worker-protocol-connection.cc
  src/libstore/worker-protocol-connection.hh
  src/libstore/worker-protocol.cc
  src/libstore/worker-protocol.hh
  src/nix-store/nix-store.cc
  tests/unit/libstore/data/worker-protocol/client-handshake-info_1_30.bin
  tests/unit/libstore/data/worker-protocol/client-handshake-info_1_33.bin
  tests/unit/libstore/data/worker-protocol/client-handshake-info_1_35.bin
  tests/unit/libstore/data/worker-protocol/handshake-to-client.bin
  tests/unit/libstore/serve-protocol.cc
  tests/unit/libstore/worker-protocol.cc
Labels: protocol, with-tests, store

#10564 AttrCursor: Remove forceErrors
  src/libexpr/eval-cache.cc
  src/libexpr/eval-cache.hh
  src/libexpr/eval-error.cc
  src/libexpr/eval-error.hh
  src/nix/flake.cc
  src/nix/main.cc
  tests/functional/flakes/eval-cache.sh
  tests/functional/local.mk
Labels: new-cli, with-tests

#10028 fetchTree: shallow git fetching by default
  doc/manual/rl-next/shallow-git-fetching-by-default.md
  src/libexpr/primops/fetchTree.cc
  tests/nixos/fetch-git/test-cases/fetchTree-shallow/default.nix
Labels: idea approved

#10834 Fix shellcheck issue
  tests/functional/flakes/eval-cache.sh
Labels: with-tests

#10661 Add setting to warn about copying/hashing large paths
  doc/manual/rl-next/warn-large-path.md
  perl/lib/Nix/Store.xs
  src/libstore/binary-cache-store.cc
  src/libstore/build/worker.cc
  src/libstore/globals.hh
  src/libstore/local-store.cc
  src/libstore/store-api.cc
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/libutil/serialise.hh
  src/libutil/util.cc
  src/libutil/util.hh
  src/nix/path-info.cc
  src/nix/path-info.md
  tests/unit/libutil/tests.cc
Labels: feature, documentation, new-cli, store

#10592 Add `builtins.warn`
  doc/manual/rl-next/builtins-warn.md
  src/libexpr/eval-error.cc
  src/libexpr/eval-error.hh
  src/libexpr/eval-settings.cc
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libutil/error.cc
  src/libutil/error.hh
  tests/functional/lang.sh
Labels: feature, documentation, error-messages, language, with-tests

#10841 docs: fix python nix-shell example
  doc/manual/src/command-ref/nix-shell.md
Labels: documentation

#10842 improve note in `nix_value_force` documentation again
  src/libexpr-c/nix_api_expr.h
Labels: documentation, c api

#10836 2.23 release notes
  doc/manual/rl-next/builtins-warn.md
  doc/manual/rl-next/consistent-nix-build.md
  doc/manual/rl-next/derivation-json-change.md
  doc/manual/rl-next/fix-silent-unknown-options.md
  doc/manual/rl-next/nix-env-shell.md
  doc/manual/rl-next/print-value-in-installable-flake-error.md
  doc/manual/rl-next/shallow-git-fetching-by-default.md
  doc/manual/rl-next/store-object-info.md
  doc/manual/rl-next/warn-large-path.md
  doc/manual/src/SUMMARY.md.in
  doc/manual/src/release-notes/rl-2.23.md
Labels: documentation

#10852 add call to `checkInterrupt` in a bunch of places
  src/libcmd/repl.cc
  src/libstore/builtins/buildenv.cc
  src/libstore/gc.cc
  src/libstore/globals.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libstore/profiles.cc
  src/libutil/linux/cgroup.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/unix/file-descriptor.cc
  src/nix/flake.cc
  src/nix/run.cc
Labels: new-cli, store, repl

#10858 flake check: Recognize well known homeModule/homeModules attribute
  src/nix/flake.cc
Labels: new-cli

#10861 PackageInfo::queryDrvPath(): Don't dereference an empty optional
  src/libexpr/get-drvs.cc
  src/libexpr/print.cc
Labels: backport 2.23-maintenance

#10835 Update to Nixpkgs 24.05
  .clang-format
  build/hydra.nix
  dep-patches/boehmgc-coroutine-sp-fallback.diff
  flake.lock
  flake.nix
  maintainers/release-notes
  misc/changelog-d.cabal.nix
  misc/changelog-d.nix
  src/libexpr-c/nix_api_expr.h
  src/libexpr/eval.cc
  src/libexpr/local.mk
  tests/nixos/default.nix
  tests/unit/libstore/store-reference.cc
  tests/unit/libutil-support/tests/string_callback.hh
Labels: c api

#10880 bdw-gc 8.2.6 has sp corrector
  src/libexpr/eval-cache.hh
  src/libexpr/eval.cc
Labels: language

#10887 [Backport 2.18-maintenance] fix: Treat empty TMPDIR as unset (#10303)
  src/libstore/build/local-derivation-goal.cc
  src/libstore/globals.cc
  src/libstore/http-binary-cache-store.cc
  src/libutil/file-system.hh
  src/libutil/filesystem.cc
  src/nix-build/nix-build.cc
Labels: store

#10888 mention the actual meaning of FODs in the glossary
  doc/manual/src/glossary.md
  doc/manual/src/language/advanced-attributes.md
Labels: documentation

#9871 add more context on the README
  README.md
Labels: documentation

#10857 Shellcheck: test scripts
  .shellcheckrc
  maintainers/flake-module.nix
  tests/functional/bash-profile.sh
  tests/functional/binary-cache-build-remote.sh
  tests/functional/binary-cache.sh
  tests/functional/brotli.sh
  tests/functional/build-delete.sh
  tests/functional/build-dry.sh
  tests/functional/ca/build-cache.sh
  tests/functional/ca/build.sh
  tests/functional/ca/derivation-json.sh
  tests/functional/ca/duplicate-realisation-in-closure.sh
  tests/functional/ca/nix-copy.sh
  tests/functional/ca/nix-run.sh
  tests/functional/ca/signatures.sh
  tests/functional/ca/substitute.sh
  tests/functional/case-hack.sh
  tests/functional/check-refs.sh
  tests/functional/check-reqs.sh
  tests/functional/chroot-store.sh
  tests/functional/common/init.sh
  tests/functional/compression-levels.sh
  tests/functional/dependencies.sh
  tests/functional/derivation-json.sh
  tests/functional/dyn-drv/text-hashed-output.sh
  tests/functional/experimental-features.sh
  tests/functional/fetchGitRefs.sh
  tests/functional/fetchPath.sh
  tests/functional/fetchTree-file.sh
  tests/functional/filter-source.sh
  tests/functional/flakes/absolute-attr-paths.sh
  tests/functional/flakes/build-paths.sh
  tests/functional/flakes/bundle.sh
  tests/functional/flakes/circular.sh
  tests/functional/flakes/flake-in-submodule.sh
  tests/functional/flakes/init.sh
  tests/functional/flakes/inputs.sh
  tests/functional/flakes/mercurial.sh
  tests/functional/flakes/search-root.sh
  tests/functional/flakes/unlocked-override.sh
  tests/functional/function-trace.sh
  tests/functional/gc-concurrent.sh
  tests/functional/gc-runtime.sh
  tests/functional/gc.sh
  tests/functional/hash-path.sh
  tests/functional/import-derivation.sh
  tests/functional/local-overlay-store/gc-inner.sh
  tests/functional/multiple-outputs.sh
  tests/functional/readfile-context.sh
  tests/functional/referrers.sh
  tests/functional/simple.sh
Labels: with-tests

#10855 Build `nix-util` with Meson
  .gitignore
  flake.nix
  maintainers/hydra.nix
  meson.build
  package.nix
  src/libutil/.version
  src/libutil/linux/meson.build
  src/libutil/meson.build
  src/libutil/meson.options
  src/libutil/package.nix
  src/libutil/unix/meson.build
  src/libutil/windows/meson.build
Labels: documentation, contributor-experience, with-tests, c api

#10900 hash: Compare hash algo second for back compat
  src/libutil/hash.cc
Labels: backport 2.23-maintenance

#10904 Document the nix-util Meson build system more extensively
  flake.nix
  src/libutil/meson.build
  src/libutil/package.nix
  src/libutil/unix/file-descriptor.cc
Labels: new-cli

#10902 fix: copy in `install-multi-user.sh`
  scripts/install-multi-user.sh
Labels: documentation, error-messages

#10903 eval-fail-infinite-recursion-lambda: Reduce recursion depth
  tests/functional/lang/eval-fail-infinite-recursion-lambda.err.exp
  tests/functional/lang/eval-fail-infinite-recursion-lambda.flags
Labels: with-tests

#10905 Put some file descriptor functions in unix and windows namespaces
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil/file-descriptor.hh
  src/libutil/file-system.cc
  src/libutil/unix-domain-socket.cc
  src/libutil/unix/file-descriptor.cc
  src/libutil/windows/file-descriptor.cc
  src/nix/unix/daemon.cc
Labels: new-cli

#10907 C API: Use opaque struct instead of void for `nix_value`
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_expr.h
  src/libexpr-c/nix_api_expr_internal.h
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  tests/unit/libexpr-support/tests/nix_api_expr.hh
  tests/unit/libexpr/nix_api_expr.cc
  tests/unit/libexpr/nix_api_external.cc
  tests/unit/libexpr/nix_api_value.cc
Labels: c api

#10916 Don't chown when local-store is read-only
  src/libstore/local-store.cc
Labels: store

#10930 Migrate internal API docs to Meson
  Makefile
  Makefile.config.in
  configure.ac
  doc/internal-api/local.mk
  doc/manual/src/contributing/documentation.md
  flake.nix
  maintainers/hydra.nix
  meson.build
  package.nix
  src/internal-api-docs/.gitignore
  src/internal-api-docs/.version
  src/internal-api-docs/doxygen.cfg.in
  src/internal-api-docs/meson.build
  src/internal-api-docs/package.nix
Labels: documentation, contributor-experience

#10933 Meson for libfetchers
  flake.nix
  maintainers/hydra.nix
  meson.build
  src/libfetchers/.version
  src/libfetchers/meson.build
  src/libfetchers/package.nix
  src/libstore/meson.build
  src/libutil/package.nix
Labels: fetching

#10934 optimize-store.cc: Update macos exclusion comments
  src/libstore/optimise-store.cc
Labels: store

#10935 Use separate paragraphs inside list items
  doc/manual/src/command-ref/nix-build.md
  doc/manual/src/command-ref/nix-channel.md
  doc/manual/src/command-ref/nix-collect-garbage.md
  doc/manual/src/command-ref/nix-copy-closure.md
  doc/manual/src/command-ref/nix-env/delete-generations.md
  doc/manual/src/command-ref/nix-env/env-common.md
  doc/manual/src/command-ref/nix-env/install.md
  doc/manual/src/command-ref/nix-env/opt-common.md
  doc/manual/src/command-ref/nix-env/query.md
  doc/manual/src/command-ref/nix-env/set-flag.md
  doc/manual/src/command-ref/nix-env/upgrade.md
  doc/manual/src/command-ref/nix-hash.md
  doc/manual/src/command-ref/nix-instantiate.md
  doc/manual/src/command-ref/nix-prefetch-url.md
  doc/manual/src/command-ref/nix-shell.md
  doc/manual/src/command-ref/nix-store/add-fixed.md
  doc/manual/src/command-ref/nix-store/gc.md
  doc/manual/src/command-ref/nix-store/query.md
  doc/manual/src/command-ref/nix-store/realise.md
  doc/manual/src/command-ref/nix-store/serve.md
  doc/manual/src/command-ref/nix-store/verify.md
Labels: documentation

#10769 Implement runProgram for Windows
  src/libutil/processes.hh
  src/libutil/windows/processes.cc
  tests/unit/libutil/spawn.cc
Labels: windows

#10874 Tests for derivation "advanced attrs"
  maintainers/flake-module.nix
  tests/functional/characterisation-test-infra.sh
  tests/functional/characterisation/empty
  tests/functional/characterisation/framework.sh
  tests/functional/common/paths.sh
  tests/functional/common/subst-vars.sh.in
  tests/functional/common/test-root.sh
  tests/functional/common/vars-and-functions.sh
  tests/functional/derivation-advanced-attributes.sh
  tests/functional/derivation/advanced-attributes-defaults.drv
  tests/functional/derivation/advanced-attributes-defaults.nix
  tests/functional/derivation/advanced-attributes-structured-attrs-defaults.drv
  tests/functional/derivation/advanced-attributes-structured-attrs-defaults.nix
  tests/functional/derivation/advanced-attributes-structured-attrs.drv
  tests/functional/derivation/advanced-attributes-structured-attrs.nix
  tests/functional/derivation/advanced-attributes.drv
  tests/functional/derivation/advanced-attributes.nix
  tests/functional/lang.sh
  tests/functional/lang/framework.sh
  tests/functional/local.mk
  tests/unit/libstore-support/tests/libstore.hh
  tests/unit/libstore/data/derivation/advanced-attributes-defaults.drv
  tests/unit/libstore/data/derivation/advanced-attributes-defaults.json
  tests/unit/libstore/data/derivation/advanced-attributes-structured-attrs-defaults.drv
  tests/unit/libstore/data/derivation/advanced-attributes-structured-attrs-defaults.json
  tests/unit/libstore/data/derivation/advanced-attributes-structured-attrs.drv
  tests/unit/libstore/data/derivation/advanced-attributes-structured-attrs.json
  tests/unit/libstore/data/derivation/advanced-attributes.drv
  tests/unit/libstore/derivation-advanced-attrs.cc
  tests/unit/libutil-support/tests/characterization.hh
Labels: with-tests, store, tests

#10884 fix: warn and document when advanced attributes will have no impact d…
  doc/manual/src/language/advanced-attributes.md
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libstore/unix/build/local-derivation-goal.cc
  tests/functional/lang/eval-okay-derivation-legacy.err.exp
  tests/functional/lang/eval-okay-derivation-legacy.exp
  tests/functional/lang/eval-okay-derivation-legacy.nix
Labels: documentation, with-tests

#10943 Accept response from gitlab api with more than one entry in json
  src/libfetchers/github.cc
Labels: fetching, backport 2.23-maintenance

#10873 use `std::filesystem::create_directories` for createDirs
  src/libstore/store-api.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
Labels: store

#10745 Cleanup `ContentAddressMethod` to match docs
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetch-to-store.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/mercurial.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/worker.cc
  src/libstore/content-address.cc
  src/libstore/content-address.hh
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/dummy-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/local-store.cc
  src/libstore/make-content-addressed.cc
  src/libstore/optimise-store.cc
  src/libstore/path-info.cc
  src/libstore/remote-store.cc
  src/libstore/remote-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/store-dir-config.hh
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil/file-content-address.cc
  src/libutil/file-content-address.hh
  src/nix-env/user-env.cc
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/develop.cc
  src/nix/hash.cc
  src/nix/prefetch.cc
  src/nix/profile.cc
  src/perl/lib/Nix/Store.xs
  tests/unit/libstore/common-protocol.cc
  tests/unit/libstore/content-address.cc
  tests/unit/libstore/derivation.cc
  tests/unit/libstore/nar-info.cc
  tests/unit/libstore/path-info.cc
  tests/unit/libstore/serve-protocol.cc
  tests/unit/libstore/worker-protocol.cc
  tests/unit/libutil/file-content-address.cc
Labels: documentation, new-cli, contributor-experience, store, fetching

#10951 Small global config refactors
  src/libcmd/repl.cc
  src/libexpr/eval-settings.cc
  src/libexpr/flake/config.cc
  src/libfetchers/fetch-settings.cc
  src/libmain/common-args.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/filetransfer.cc
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libstore/unix/build/hook-instance.cc
  src/libutil-c/nix_api_util.cc
  src/libutil/archive.cc
  src/libutil/config-global.cc
  src/libutil/config-global.hh
  src/libutil/config.cc
  src/libutil/config.hh
  src/libutil/fs-sink.cc
  src/libutil/logging.cc
  src/nix/config.cc
  src/nix/develop.cc
  src/nix/unix/daemon.cc
  tests/functional/plugins/plugintest.cc
  tests/unit/libutil/nix_api_util.cc
Labels: new-cli, with-tests, repl, fetching, c api

#10913 No global eval settings in `libnixexpr`
  .editorconfig
  src/libcmd/command.cc
  src/libcmd/common-eval-args.cc
  src/libcmd/common-eval-args.hh
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_expr_internal.h
  src/libexpr/eval-settings.cc
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/flake/config.cc
  src/libexpr/flake/flake.cc
  src/libexpr/parser-state.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/nix-build/nix-build.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix/main.cc
  src/nix/prefetch.cc
  src/nix/upgrade-nix.cc
  tests/unit/libexpr-support/tests/libexpr.hh
Labels: new-cli, with-tests, repl, fetching, c api

#7048 Guard uses of lutimes, for portability
  src/libcmd/command.cc
  src/libfetchers/git.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
Labels: bug, build-problem, fetching

#10954 ci.yml: Add meson_build
  .github/workflows/ci.yml
  src/libutil/meson.build
Labels: tests

#10941 Improve error messages for invalid derivation names
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libstore/path.cc
  src/libstore/path.hh
  src/libstore/store-dir-config.hh
  src/libutil/error.hh
  src/libutil/fmt.hh
  tests/functional/lang/eval-fail-derivation-name.err.exp
  tests/functional/lang/eval-fail-derivation-name.nix
  tests/functional/lang/eval-fail-fetchurl-baseName-attrs-name.err.exp
  tests/functional/lang/eval-fail-fetchurl-baseName-attrs-name.nix
  tests/functional/lang/eval-fail-fetchurl-baseName-attrs.err.exp
  tests/functional/lang/eval-fail-fetchurl-baseName-attrs.nix
  tests/functional/lang/eval-fail-fetchurl-baseName.err.exp
  tests/functional/lang/eval-fail-fetchurl-baseName.nix
  tests/unit/libstore/path.cc
Labels: error-messages, language, with-tests, tests

#10955 Build nix-util-c with meson + unit tests
  flake.nix
  maintainers/hydra.nix
  meson.build
  src/libutil-c/.version
  src/libutil-c/meson.build
  src/libutil-c/meson.options
  src/libutil-c/nix-util-c.pc.in
  src/libutil-c/package.nix
  src/libutil-test
  src/libutil-test-support
  tests/unit/libutil-support/.version
  tests/unit/libutil-support/meson.build
  tests/unit/libutil-support/package.nix
  tests/unit/libutil/.version
  tests/unit/libutil/meson.build
  tests/unit/libutil/package.nix
Labels: c api

#10960 docs: internal documentation touchup
  doc/manual/redirects.js
  doc/manual/src/_redirects
Labels: documentation

#10963 Build with nixpkgs scope
  dep-patches/boehmgc-traceable_allocator-public.diff
  flake.nix
  package.nix
  packaging/components.nix
  packaging/dependencies.nix
  packaging/hydra.nix
  src/external-api-docs/package.nix
  src/internal-api-docs/package.nix
  src/libfetchers/package.nix
  src/libstore/package.nix
  src/libutil-c/package.nix
  src/libutil/package.nix
  src/perl/package.nix
  tests/unit/libutil-support/package.nix
  tests/unit/libutil/package.nix
Labels: fetching, c api

#10971 Slight fixes to get CI passing again
  doc/manual/rl-next/harden-user-sandboxing.md
  maintainers/flake-module.nix
Labels: documentation

#9063 Introduce `libnixflake`
  Makefile
  maintainers/flake-module.nix
  src/libcmd/common-eval-args.cc
  src/libcmd/local.mk
  src/libexpr/eval-settings.cc
  src/libexpr/eval-settings.hh
  src/libexpr/eval.cc
  src/libexpr/local.mk
  src/libfetchers/fetch-settings.hh
  src/libfetchers/registry.cc
  src/libflake/flake-settings.cc
  src/libflake/flake-settings.hh
  src/libflake/flake/config.cc
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/libflake/flake/flakeref.cc
  src/libflake/flake/flakeref.hh
  src/libflake/flake/lockfile.cc
  src/libflake/flake/lockfile.hh
  src/libflake/flake/url-name.cc
  src/libflake/flake/url-name.hh
  src/libflake/local.mk
  src/nix/local.mk
  tests/unit/libflake/flakeref.cc
  tests/unit/libflake/local.mk
  tests/unit/libflake/url-name.cc
Labels: documentation, new-cli, RFC, fetching

#10972 Stop vendoring toml11
  .gitignore
  configure.ac
  doc/manual/rl-next/drop-vendored-toml11.md
  maintainers/flake-module.nix
  package.nix
  src/libexpr/eval.cc
  src/libexpr/local.mk
  src/libexpr/primops/fromTOML.cc
  src/toml11/LICENSE
  src/toml11/README.md
  src/toml11/toml.hpp
  src/toml11/toml/color.hpp
  src/toml11/toml/combinator.hpp
  src/toml11/toml/comments.hpp
  src/toml11/toml/datetime.hpp
  src/toml11/toml/exception.hpp
  src/toml11/toml/from.hpp
  src/toml11/toml/get.hpp
  src/toml11/toml/into.hpp
  src/toml11/toml/lexer.hpp
  src/toml11/toml/literal.hpp
  src/toml11/toml/macros.hpp
  src/toml11/toml/parser.hpp
  src/toml11/toml/region.hpp
  src/toml11/toml/result.hpp
  src/toml11/toml/serializer.hpp
  src/toml11/toml/source_location.hpp
  src/toml11/toml/storage.hpp
  src/toml11/toml/string.hpp
  src/toml11/toml/traits.hpp
  src/toml11/toml/types.hpp
  src/toml11/toml/utility.hpp
  src/toml11/toml/value.hpp
Labels: documentation

#10966 string interpolation escape example
  doc/manual/src/language/string-interpolation.md
Labels: documentation

#10974 add many more examples on escaping in strings
  doc/manual/src/language/values.md
Labels: documentation

#10988 Restore commit-lock-file-summary rename for consistency
  src/libflake/flake-settings.hh
  tests/functional/flakes/flakes.sh
Labels: with-tests

#10997 doc: fix `directory` definition in nix-archive.md
  doc/manual/src/protocols/nix-archive.md
Labels: documentation
