Repository NixOS/nix, pull requests merged in 2024-12, with the labels that each got.

#11820 Fix cross build (was: fix manual)
  flake.nix
Labels: build-problem

#12000 fix: Add missing manpages to meson.build and more
  doc/manual/meson.build
  misc/launchd/meson.build
  misc/meson.build
Labels: documentation

#12007 s3-binary-cache: show the error's request ID
  src/libstore/s3-binary-cache-store.cc
Labels: store

#12013 nix hash convert: Support SRI hashes that lack trailing '=' characters
  src/libutil/hash.cc
  src/nix/hash.cc
  tests/functional/hash-convert.sh
Labels: new-cli, with-tests, backport 2.24-maintenance, backport 2.25-maintenance

#12030 rename: nix-tests -> nix-daemon-compat-tests
  packaging/hydra.nix
Labels: contributor-experience

#11921 Make @nix json structured build log parsing warn instead of fail
  src/libstore/build/derivation-goal.cc
  src/libutil/logging.cc
  src/libutil/logging.hh
  tests/functional/dependencies.nix
  tests/functional/logging.sh
  tests/functional/logging/unusual-logging.nix
Labels: bug, with-tests, derivation-build, backport 2.24-maintenance, backport 2.25-maintenance

#12009 HttpBinaryCacheStore: Improve error message for unauthorized caches
  src/libstore/binary-cache-store.cc
  src/libstore/binary-cache-store.hh
  src/libstore/http-binary-cache-store.cc
Labels: store

#12024 fromJSON/fromTOML: throw if string contains null byte
  src/libexpr/eval.cc
  src/libexpr/json-to-value.cc
  src/libexpr/primops/fromTOML.cc
  src/libexpr/value.hh
  tests/functional/lang/eval-fail-fromJSON-keyWithNullByte.err.exp
  tests/functional/lang/eval-fail-fromJSON-keyWithNullByte.nix
  tests/functional/lang/eval-fail-fromJSON-valueWithNullByte.err.exp
  tests/functional/lang/eval-fail-fromJSON-valueWithNullByte.nix
  tests/functional/lang/eval-fail-fromTOML-keyWithNullByte.err.exp
  tests/functional/lang/eval-fail-fromTOML-keyWithNullByte.nix
  tests/functional/lang/eval-fail-fromTOML-valueWithNullByte.err.exp
  tests/functional/lang/eval-fail-fromTOML-valueWithNullByte.nix
Labels: with-tests

#12033 Various packaging improvements
  maintainers/flake-module.nix
  src/libstore-test-support/tests/libstore.hh
  tests/nixos/default.nix
Labels: with-tests

#12039 Prune unneeded .gitignore entries
  .gitignore
  tests/functional/repl.sh
Labels: with-tests

#12050 speed up ci by splitting off eval and build + fix ci with restricted namespaces
  .github/workflows/ci.yml
  scripts/binary-tarball.nix
  scripts/build-checks
Labels: with-tests, backport 2.24-maintenance, backport 2.25-maintenance

#12012 tests: derivation-advanced-attributes unset NIX_STORE
  tests/functional/derivation-advanced-attributes.sh
Labels: with-tests

#12020 Implement shellSplitString for proper handling of NIX_SSHOPTS with spaces and quotes
  doc/manual/rl-next/nix-sshopts-parsing.md
  src/libstore/ssh.cc
  src/libutil-tests/strings.cc
  src/libutil/strings.cc
  src/libutil/strings.hh
Labels: documentation

#12044 C API: nix_store_open doc, add storedir, real_path
  src/libstore-c/nix_api_store.cc
  src/libstore-c/nix_api_store.h
  src/libstore-tests/meson.build
  src/libstore-tests/nix_api_store.cc
  src/libutil-c/nix_api_util.h
Labels: c api, merge-queue

#12048 Fix `nix upgrade-nix` profile search
  src/libutil/executable-path.cc
  src/nix/upgrade-nix.cc
Labels: bug, new-cli, backport 2.25-maintenance

#12028 nix flake lock: Fail if there is an unlocked input
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/nix/flake.cc
  tests/functional/flakes/unlocked-override.sh
Labels: new-cli, with-tests

#12068 Ignore local registries for lock file generation
  doc/manual/rl-next/ignore-local-registries.md
  src/libfetchers/registry.cc
  src/libfetchers/registry.hh
  src/libflake/flake/flake.cc
  src/libflake/flake/flakeref.cc
  src/libflake/flake/flakeref.hh
  src/nix/flake.md
  src/nix/registry.md
Labels: documentation, new-cli, fetching

#12051 Skip tests on systems with restricted usernamespaces
  tests/functional/build-remote-trustless-should-fail-0.sh
  tests/functional/build-remote-trustless.sh
  tests/functional/build-remote.sh
  tests/functional/chroot-store.sh
  tests/functional/common/functions.sh
  tests/functional/linux-sandbox.sh
  tests/functional/local-overlay-store/bad-uris.sh
  tests/functional/local-overlay-store/common.sh
  tests/functional/nested-sandboxing.sh
  tests/functional/nested-sandboxing/command.sh
  tests/functional/shell.sh
  tests/functional/supplementary-groups.sh
Labels: with-tests

#12038 lookupInFlakeCache(): Fix O(n) time lookup
  src/libfetchers/fetchers.hh
  src/libflake/flake/flake.cc
  src/libflake/flake/flakeref.hh
  src/libutil/types.hh
Labels: fetching

#12045 EvalState::realiseContext(): Allow access to the entire closure
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  tests/functional/import-from-derivation.nix
  tests/functional/import-from-derivation.sh
Labels: with-tests, backport 2.24-maintenance, backport 2.25-maintenance

#12080 Fix `flake.lock`/`flake.nix` mix-up
  src/nix/flake.md
Labels: documentation, new-cli

#11992 Git fetcher: Calculate a fingerprint for dirty workdirs
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  tests/functional/flakes/flakes.sh
Labels: with-tests, fetching

#12063 packaging: move tests to passthru
  flake.nix
Labels: merge-queue

#12071 Prepare nix to run with clang-tidy
  src/libexpr/lexer-helpers.hh
  src/libexpr/nixexpr.hh
  src/libexpr/print-options.hh
  src/libstore/path-regex.hh
  src/libstore/windows/pathlocks.cc
  src/libutil/callback.hh
  src/libutil/config-impl.hh
  src/libutil/regex-combinators.hh
  src/libutil/unix/signals-impl.hh
  src/libutil/windows/environment-variables.cc
  src/libutil/windows/file-descriptor.cc
  src/libutil/windows/file-system.cc
  src/libutil/windows/muxable-pipe.cc
  src/libutil/windows/os-string.cc
  src/libutil/windows/processes.cc
  src/libutil/windows/users.cc
  src/libutil/windows/windows-async-pipe.cc
  src/libutil/windows/windows-async-pipe.hh
  src/libutil/windows/windows-error.cc
  src/libutil/windows/windows-error.hh
  src/nix/self-exe.hh
  tests/nixos/ca-fd-leak/sender.c
  tests/nixos/ca-fd-leak/smuggler.c
Labels: new-cli

#12091 libstore: fixup unformatted uri when S3 getObject fails
  src/libstore/filetransfer.cc
  tests/nixos/s3-binary-cache-store.nix
Labels: backport 2.25-maintenance

#11566 Nixpkgs upgrade to NixOS 24.11
  doc/manual/package.nix
  flake.lock
  flake.nix
  packaging/dependencies.nix
  tests/nixos/default.nix
Labels: documentation, with-tests, idea approved

#12119 Implement --raw for nix-instantiate --eval
  doc/manual/rl-next/nix-instantiate-raw.md
  doc/manual/source/command-ref/nix-copy-closure.md
  doc/manual/source/command-ref/nix-instantiate.md
  src/nix-instantiate/nix-instantiate.cc
  tests/functional/eval.nix
  tests/functional/eval.sh
Labels: documentation, with-tests

#12127 toJSON: re-throw serialization exception
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-json.hh
  tests/functional/lang/eval-fail-toJSON-non-utf-8.err.exp
  tests/functional/lang/eval-fail-toJSON-non-utf-8.nix
Labels: with-tests
