Repository NixOS/nix, pull requests merged in 2025-07, with the labels that each got.

#13412 libutil: Use caching `directory_entry` API in `PosixSourceAccessor::r…
  src/libutil/posix-source-accessor.cc
Labels: backport 2.28-maintenance, backport 2.29-maintenance

#13416 libfetchers: Add missing include guard to git-lfs-fetch.hh
  src/libfetchers/include/nix/fetchers/git-lfs-fetch.hh
Labels: fetching

#13407 libexpr: Reduce the size of Value down to 16 bytes (on 64 bit systems)
  maintainers/flake-module.nix
  src/libexpr-c/nix_api_value.cc
  src/libexpr-tests/primops.cc
  src/libexpr/attr-path.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval-gc.cc
  src/libexpr/eval.cc
  src/libexpr/get-drvs.cc
  src/libexpr/include/nix/expr/value.hh
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/print-ambiguous.cc
  src/libexpr/print.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-xml.cc
  src/libflake/flake.cc
  src/nix-env/nix-env.cc
  src/nix/prefetch.cc
Labels: new-cli, c api

#13369 Git fetcher: Do not consider a null revision (i.e. workdir) to be locked
  src/libfetchers/git.cc
Labels: fetching

#13420 Introduce MissingPaths struct for queryMissing() / printMissing()
  src/libmain/include/nix/main/shared.hh
  src/libmain/shared.cc
  src/libstore/build/worker.cc
  src/libstore/daemon.cc
  src/libstore/include/nix/store/remote-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/misc.cc
  src/libstore/remote-store.cc
  src/libstore/restricted-store.cc
  src/libstore/store-api.cc
  src/nix-build/nix-build.cc
  src/nix-store/nix-store.cc
Labels: store

#13240 Get rid of `addWantedOutputs`
  src/libfetchers/include/nix/fetchers/input-cache.hh
  src/libstore/build/derivation-building-goal.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-trampoline-goal.cc
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.cc
  src/libstore/build/worker.cc
  src/libstore/derived-path-map.cc
  src/libstore/include/nix/store/build/derivation-building-goal.hh
  src/libstore/include/nix/store/build/derivation-goal.hh
  src/libstore/include/nix/store/build/derivation-trampoline-goal.hh
  src/libstore/include/nix/store/build/goal.hh
  src/libstore/include/nix/store/build/worker.hh
  src/libstore/include/nix/store/derived-path-map.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/meson.build
  src/libstore/meson.build
Labels: with-tests, fetching

#13427 installers, tests: remove --preserve=mode from cp invocations
  scripts/install-multi-user.sh
  scripts/install-nix-from-tarball.sh
  tests/nixos/github-flakes.nix
  tests/nixos/sourcehut-flakes.nix
  tests/nixos/tarball-flakes.nix
Labels: backport 2.30-maintenance

#13433 globals.hh: fix broken link to nspawn example
  src/libstore/include/nix/store/globals.hh
Labels: documentation

#13435 docker: fix nixConf
  docker.nix
Labels: backport 2.30-maintenance

#13437 lockFlake(): When updating a lock, respect the input's lock file
  src/libflake/flake.cc
  tests/functional/flakes/flakes.sh
Labels: with-tests, backport 2.30-maintenance

#13441 fetchClosure: Fix gcc warning
  src/libexpr/primops/fetchClosure.cc
Labels: backport 2.30-maintenance

#13468 libstore: fix Unix sockets in the build directory on sandboxed macOS
  src/libstore/unix/build/darwin-derivation-builder.cc
  src/libstore/unix/build/sandbox-defaults.sb
Labels: backport 2.30-maintenance

#13449 Add error message when git returns non-0 for fetch
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  tests/functional/fetchGit.sh
Labels: with-tests, fetching

#13486 Add helpful messages when file:// used as tarball
  src/libfetchers/tarball.cc
Labels: fetching

#13370 Give unit tests access to a $HOME directory
  src/libflake-tests/meson.build
  src/libflake-tests/package.nix
  src/libstore-tests/meson.build
  src/libstore-tests/nix_api_store.cc
  src/libstore-tests/package.nix
Labels: c api

#13496 Fix `nix help shell` by properly handling command aliases
  src/nix/main.cc
Labels: new-cli

#13501 Require rsync in nix-manual meson.build
  doc/manual/meson.build
Labels: documentation

#13073 First class cross
  flake.nix
  packaging/components.nix
Labels: build-problem

#13510 ci: Add build profiling job
  .github/workflows/ci.yml
  ci/gha/profile-build/default.nix
Labels: contributor-experience

#13512 Reintroduce precompiled headers
  src/libcmd/meson.build
  src/libcmd/pch/precompiled-headers.hh
  src/libexpr/meson.build
  src/libexpr/pch/precompiled-headers.hh
  src/libstore/meson.build
  src/libstore/pch/precompiled-headers.hh
  src/libutil/meson.build
  src/libutil/pch/precompiled-headers.hh
  src/nix/meson.build
  src/nix/pch/precompiled-headers.hh
Labels: new-cli, contributor-experience

#13522 meson: libfetchers needs libgit2 1.9+
  src/libfetchers/meson.build
Labels: fetching

#13521 Unpeel reference for git+file
  src/libfetchers-tests/git-utils.cc
  src/libfetchers/git-utils.cc
  tests/functional/fetchGit.sh
Labels: with-tests, fetching

#13530 Fix documentation of the NAR archive structure
  doc/manual/source/protocols/nix-archive.md
Labels: documentation

#13546 ci: Make it actually possible to disable dogfooding
  .github/actions/install-nix-action/action.yaml
Labels: backport 2.28-maintenance, backport 2.29-maintenance, backport 2.30-maintenance

#13553 Fix documentation link
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/installer.md
  .github/ISSUE_TEMPLATE/missing_documentation.md
  CONTRIBUTING.md
  doc/manual/source/release-notes/rl-2.8.md
  scripts/install-nix-from-tarball.sh
  src/libcmd/include/nix/cmd/common-eval-args.hh
  src/libexpr/eval.cc
  src/libflake/include/nix/flake/flakeref.hh
  src/libstore-c/nix_api_store.h
  src/libutil/include/nix/util/args.hh
  src/nix/nix.md
Labels: documentation, new-cli, contributor-experience, c api

#13557 Sometimes build `nix-manual` when cross compiling
  meson.build
Labels: backport 2.28-maintenance

#13558 meson: Fix `nix_system_cpu` for MIPS and 32 bit ARM systems
  doc/manual/source/development/building.md
  nix-meson-build-support/default-system-cpu/meson.build
Labels: documentation

#13489 Add warn-short-path-literals setting
  src/libexpr/include/nix/expr/eval-settings.hh
  src/libexpr/parser.y
  tests/functional/meson.build
  tests/functional/short-path-literals.sh
Labels: with-tests

#13569 add derivation parser benchmark
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/development/benchmarking.md
  meson.options
  packaging/dev-shell.nix
  src/libstore-tests/data/derivation/firefox.drv
  src/libstore-tests/data/derivation/hello.drv
  src/libstore-tests/derivation-parser-bench.cc
  src/libstore-tests/meson.build
  src/libstore-tests/meson.options
  src/libstore-tests/package.nix
Labels: documentation
