Repository NixOS/nix, pull requests merged in 2025-03, with the labels that each got.

#12591 Once again temporarily revert "Adapt scheduler to work with dynamic derivations"
  src/libstore/build/derivation-creation-and-realisation-goal.cc
  src/libstore/build/derivation-creation-and-realisation-goal.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.cc
  src/libstore/build/goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  src/libstore/meson.build
  tests/functional/dyn-drv/build-built-drv.sh
  tests/functional/dyn-drv/dep-built-drv-2.sh
  tests/functional/dyn-drv/dep-built-drv.sh
  tests/functional/dyn-drv/failing-outer.sh
Labels: with-tests

#12442 Expand manual on derivation outputs
  .gitignore
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/advanced-topics/distributed-builds.md
  doc/manual/source/glossary.md
  doc/manual/source/language/advanced-attributes.md
  doc/manual/source/language/derivations.md
  doc/manual/source/protocols/store-path.md
  doc/manual/source/store/building.md
  doc/manual/source/store/derivation/index.md
  doc/manual/source/store/derivation/outputs/content-address.md
  doc/manual/source/store/derivation/outputs/index.md
  doc/manual/source/store/derivation/outputs/input-address.md
  doc/manual/source/store/store-object/content-address.md
  src/libexpr/primops.cc
Labels: documentation, ca-derivations, backport 2.27-maintenance

#12600 packaging: Typo in setVersionLayer / preConfigure
  packaging/components.nix
Labels: backport 2.26-maintenance, backport 2.27-maintenance

#12604 Fix chopped up repl output
  src/libcmd/repl.cc
  src/libfetchers/git.cc
  src/libmain/progress-bar.cc
  src/libstore/ssh.cc
  src/libutil/logging.cc
  src/libutil/logging.hh
  src/libutil/unix/processes.cc
  src/libutil/windows/processes.cc
Labels: bug, repl, fetching, backport 2.27-maintenance

#12613 Fix double quoting in some error messages
  src/libfetchers/git.cc
  src/libflake/flake/flake.cc
  src/libstore/remote-store.cc
Labels: store, fetching

#12619 rapidcheck: change to working arbitrary instances
  src/libexpr-test-support/tests/value/context.cc
  src/libexpr-tests/derived-path.cc
  src/libexpr-tests/value/context.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libstore-test-support/tests/derived-path.cc
  src/libstore-test-support/tests/outputs-spec.cc
  src/libstore-tests/derived-path.cc
Labels: with-tests

#12620 c-api: fix a few memory leaks
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-tests/nix_api_external.cc
  src/libflake-tests/nix_api_flake.cc
Labels: c api

#12603 libstore: curl retry: reset content-encoding and don't use string after move
  src/libstore/filetransfer.cc
Labels: fetching

#12636 port crash-handler from lix to nix
  src/nix/crash-handler.cc
  src/nix/crash-handler.hh
  src/nix/main.cc
  src/nix/meson.build
Labels: new-cli

#12639 Remove use of $NIX_HELD_LOCKS
  src/libstore/local-store.cc
Labels: store

#12642 libfetchers/git: fix caching head when using shallow clones
  src/libfetchers/git.cc
Labels: fetching

#12567 Rework derivation input resolution
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/goal.hh
  src/libstore/build/worker.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/derived-path.cc
  src/libstore/derived-path.hh
  src/nix/log.cc
Labels: new-cli

#12596 Advanced attributes organize
  doc/manual/source/language/advanced-attributes.md
Labels: documentation

#12630 Clean up derivation goals a bit
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.hh
Labels: documentation, store, repl, fetching

#12645 Make debugger significantly faster
  maintainers/flake-module.nix
  src/libcmd/repl.cc
  src/libexpr/eval-error.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/meson.build
  src/libexpr/nixexpr.cc
  src/libutil/error.hh
  src/libutil/meson.build
  src/libutil/pos-idx.hh
  src/libutil/pos-table.cc
  src/libutil/pos-table.hh
  src/libutil/position.cc
  src/libutil/position.hh
Labels: repl

#12586 {libutil,libstore}: Factor out chmodIfNeeded
  src/libstore/local-store.cc
  src/libutil-tests/file-system.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
Labels: store

#12662 Local derivation goal hide implementation from headers
  src/libstore/build/worker.cc
  src/libstore/local-store.cc
  src/libstore/local-store.hh
  src/libstore/store-api.cc
  src/libstore/store-api.hh
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.hh
Labels: store

#12652 nix-cli: Add --json --pretty / --no-pretty
  src/libmain/common-args.cc
  src/libmain/common-args.hh
  src/nix/build.cc
  src/nix/config.cc
  src/nix/derivation-show.cc
  src/nix/develop.cc
  src/nix/eval.cc
  src/nix/flake.cc
  src/nix/make-content-addressed.cc
  src/nix/path-info.cc
  src/nix/prefetch.cc
  src/nix/profile.cc
  src/nix/realisation.cc
  src/nix/search.cc
  src/nix/store-info.cc
  tests/functional/json.sh
  tests/functional/meson.build
Labels: new-cli, with-tests

#12624 Improve the documentation of the store path protocol
  doc/manual/source/protocols/store-path.md
Labels: documentation

#12677 Improve the documentation of store path
  doc/manual/source/protocols/store-path.md
Labels: documentation

#12682 libfetchers: fix double quote in path printed in logger
  src/libfetchers/path.cc
Labels: fetching

#12687 libutil/file-descriptor: handle EAGAIN in read/write operations
  src/libutil/unix/file-descriptor.cc
Labels: backport 2.27-maintenance

#12701 stack overflow is EvalBaseError
  src/libexpr/eval-inline.hh
  tests/functional/flakes/eval-cache.sh
Labels: with-tests

#12719 rl-2.27.md: Fix GitHub links
  doc/manual/source/release-notes/rl-2.27.md
Labels: documentation, backport 2.27-maintenance

#12723 packaging/everything.nix: Fix doc and man outputs
  packaging/everything.nix
Labels: backport 2.26-maintenance, backport 2.27-maintenance

#12714 `MonitorFdHup`: replace `pthread_cancel` trick with a notification pipe
  maintainers/flake-module.nix
  src/libutil-tests/monitorfdhup.cc
  src/libutil/unix/monitor-fd.hh
Labels: backport 2.24-maintenance, backport 2.26-maintenance, backport 2.27-maintenance, infra

#12730 libcmd/repl: Fix missing runNix in repl
  src/libcmd/repl.cc
  tests/functional/repl.sh
Labels: with-tests, repl

#12736 `MonitorFdHup::~MonitorFdHup`: use proper close method instead of lib…
  src/libutil/unix/monitor-fd.hh
Labels: backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12716 tests/functional: use script flags compatible with macOS
  tests/functional/json.sh
  tests/functional/package.nix
Labels: with-tests

#12105 local-derivation-goal: improve "illegal reference" error
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil-tests/strings.cc
  src/libutil/strings.cc
  src/libutil/strings.hh
  tests/functional/check-refs.nix
  tests/functional/check-refs.sh
Labels: with-tests

#12583 `nix flake show`: Skip IFDs instead of throwing
  src/libexpr/eval-error.cc
  src/libexpr/eval-error.hh
  src/libexpr/primops.cc
  src/nix/flake.cc
  tests/functional/flakes/common.sh
  tests/functional/flakes/show.sh
Labels: new-cli, with-tests

#12766 git-utils: add trace context to writeFull
  src/libfetchers/git-utils.cc
Labels: fetching

#12767 use createDirs consistently everywhere
  src/libstore/builtins/unpack-channel.cc
  src/libutil/tarfile.cc
  src/nix/flake.cc
Labels: new-cli

#12772 Light packaging cleanups
  packaging/dev-shell.nix
  src/libcmd/meson.build
  src/libexpr/meson.build
  src/libexpr/package.nix
  src/libfetchers/meson.build
  src/libflake/meson.build
  src/libmain/meson.build
  src/libstore/meson.build
  src/libstore/package.nix
  src/libutil/package.nix
Labels: fetching, backport 2.26-maintenance, backport 2.27-maintenance

#12771 nix-expr/parser: Suppress warning
  src/libexpr/parser.y
Labels: contributor-experience

#12773 Unexpose config headers (low hanging fruit only)
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libexpr-tests/meson.build
  src/libflake-c/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libstore-tests/meson.build
  src/libstore/meson.build
  src/libutil-c/meson.build
  src/libutil-c/nix_api_util.cc
  src/libutil-tests/meson.build
  src/libutil/meson.build
  src/nix/meson.build
  tests/functional/plugins/meson.build
Labels: new-cli, with-tests, c api, backport 2.26-maintenance, backport 2.27-maintenance

#12789 nix daemon: Don't open the store
  src/nix/unix/daemon.cc
Labels: bug, new-cli, backport 2.26-maintenance, backport 2.27-maintenance

#12794 Fix windows build
  src/libstore/local-store.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
Labels: store, backport 2.24-maintenance, backport 2.26-maintenance, backport 2.27-maintenance

#12813 Revert "Unexpose config headers (low hanging fruit only) (backport #1…
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libexpr-tests/meson.build
  src/libflake-c/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libstore-tests/meson.build
  src/libstore/meson.build
  src/libutil-c/meson.build
  src/libutil-c/nix_api_util.cc
  src/libutil-tests/meson.build
  src/libutil/meson.build
  src/nix/meson.build
  tests/functional/plugins/meson.build
Labels: new-cli, with-tests, c api

#12812 Disable packaging-overriding test
  flake.nix
Labels: backport 2.27-maintenance

#12817 Create script to symlink headers to old location
  maintainers/link-headers
Labels: documentation, new-cli, with-tests, store, repl, fetching, c api, backport 2.28-maintenance
