Repository NixOS/nix, pull requests merged in 2025-04, with the labels that each got.

#12805 nix-daemon: source nix-profile-daemon.sh only once
  scripts/nix-profile-daemon.sh.in
Labels: backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12798 Cleanup config headers
  src/libcmd/meson.build
  src/libcmd/repl-interacter.cc
  src/libexpr-c/meson.build
  src/libexpr-c/nix_api_expr.cc
  src/libexpr-c/nix_api_external.cc
  src/libexpr-c/nix_api_value.cc
  src/libexpr-test-support/meson.build
  src/libexpr-tests/meson.build
  src/libexpr-tests/nix_api_expr.cc
  src/libexpr/eval-gc.cc
  src/libexpr/eval.cc
  src/libexpr/include/nix/eval-gc.hh
  src/libexpr/include/nix/eval-inline.hh
  src/libexpr/include/nix/eval.hh
  src/libexpr/include/nix/meson.build
  src/libexpr/meson.build
  src/libfetchers-tests/meson.build
  src/libfetchers/meson.build
  src/libflake-c/meson.build
  src/libflake-tests/meson.build
  src/libflake/meson.build
  src/libmain-c/meson.build
  src/libmain/include/nix/meson.build
  src/libmain/meson.build
  src/libmain/shared.cc
  src/libstore-c/meson.build
  src/libstore-test-support/meson.build
  src/libstore-tests/meson.build
  src/libstore-tests/nix_api_store.cc
  src/libstore/gc.cc
  src/libstore/globals.cc
  src/libstore/include/nix/globals.hh
  src/libstore/include/nix/meson.build
  src/libstore/linux/include/nix/fchmodat2-compat.hh
  src/libstore/linux/personality.cc
  src/libstore/local-store.cc
  src/libstore/meson.build
  src/libstore/posix-fs-canonicalise.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil-c/meson.build
  src/libutil-test-support/meson.build
  src/libutil-tests/meson.build
  src/libutil-tests/nix_api_util.cc
  src/libutil/compute-levels.cc
  src/libutil/file-system.cc
  src/libutil/fs-sink.cc
  src/libutil/include/nix/meson.build
  src/libutil/meson.build
  src/libutil/unix/file-descriptor.cc
  src/libutil/unix/file-system.cc
  src/libutil/unix/meson.build
  src/libutil/unix/processes.cc
  src/libutil/windows/file-system.cc
  src/nix/main.cc
  src/nix/meson.build
  src/nix/self-exe.cc
  src/perl/lib/Nix/Store.xs
  tests/functional/plugins/meson.build
  tests/functional/test-libstoreconsumer/meson.build
Labels: documentation, new-cli, with-tests, store, repl, fetching, c api, backport 2.28-maintenance

#12809 Throw CachedEvalError if a cached value exists but has type "failed"
  src/libexpr/eval-cache.cc
  src/libexpr/include/nix/eval-cache.hh
Labels: backport 2.27-maintenance, backport 2.28-maintenance

#12853 flake: nixpkgs: 24.11 -> nixos-unstable
  flake.lock
  flake.nix
  src/libfetchers/git-lfs-fetch.cc
  src/libstore-test-support/outputs-spec.cc
  tests/nixos/git-submodules.nix
  tests/nixos/github-flakes.nix
  tests/nixos/nix-copy-closure.nix
  tests/nixos/nix-copy.nix
  tests/nixos/nix-docker.nix
  tests/nixos/nss-preload.nix
  tests/nixos/remote-builds-ssh-ng.nix
  tests/nixos/remote-builds.nix
  tests/nixos/s3-binary-cache-store.nix
  tests/nixos/sourcehut-flakes.nix
Labels: fetching, backport 2.27-maintenance, backport 2.28-maintenance

#12810 Packaging improvements from Nixpkgs
  flake.nix
  packaging/components.nix
  packaging/everything.nix
  src/perl/package.nix
Labels: backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12870 Git fetcher: Improve error message for untracked files
  src/libfetchers/git.cc
Labels: fetching

#12869 Apply makeNotAllowedError to empty Git repos
  src/libexpr/eval.cc
  src/libfetchers/filtering-source-accessor.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/include/nix/fetchers/filtering-source-accessor.hh
  tests/functional/flakes/meson.build
  tests/functional/flakes/source-paths.sh
Labels: with-tests, fetching, backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12888 Fix jobset evaluation
  flake.nix
Labels: backport 2.28-maintenance

#12876 decrease connect-timeout to 5s
  src/libstore/include/nix/store/filetransfer.hh
Labels: backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12863 libgit2: use upstream version if possible
  flake.nix
  packaging/dependencies.nix
Labels: backport 2.27-maintenance, backport 2.28-maintenance

#12897 release notes: 2.28.0
  doc/manual/rl-next/c-api-flake-init.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/release-notes/rl-2.28.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
  maintainers/release-credits
Labels: documentation

#12885 Fix windows build
  src/libfetchers/git.cc
Labels: fetching, backports created

#12886 symlink_exists: wrap exceptions into nix exception
  src/libutil/file-system.cc
  src/libutil/include/nix/util/file-system.hh
Labels: backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12900 Revert "decrease connect-timeout to 5s (backport #12876)"
  src/libstore/filetransfer.hh
Labels: automatic backport

#12846 repl: improve continuation prompt for incomplete expressions
  src/libcmd/repl-interacter.cc
Labels: backports rejected

#12902 Fix -Wsign-compare errors
  nix-meson-build-support/common/meson.build
  src/libexpr-tests/error_traces.cc
  src/libexpr-tests/nix_api_expr.cc
  src/libexpr-tests/nix_api_value.cc
  src/libexpr-tests/primops.cc
  src/libfetchers-tests/git-utils.cc
  src/libstore-tests/derivation-advanced-attrs.cc
  src/libstore-tests/path-info.cc
  src/libstore-tests/worker-protocol.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libutil-tests/args.cc
  src/libutil-tests/chunked-vector.cc
  src/libutil-tests/json-utils.cc
  src/libutil-tests/lru-cache.cc
  src/libutil-tests/pool.cc
  src/libutil-tests/suggestions.cc
  src/libutil-tests/util.cc
Labels: c api, backports rejected

#12907 Revert to Nixpkgs 24.11 [2.28]
  flake.lock
  flake.nix
  src/libfetchers/git-lfs-fetch.cc
  src/libstore-test-support/outputs-spec.cc
  tests/nixos/git-submodules.nix
  tests/nixos/github-flakes.nix
  tests/nixos/nix-copy-closure.nix
  tests/nixos/nix-copy.nix
  tests/nixos/nix-docker.nix
  tests/nixos/nss-preload.nix
  tests/nixos/remote-builds-ssh-ng.nix
  tests/nixos/remote-builds.nix
  tests/nixos/s3-binary-cache-store.nix
  tests/nixos/sourcehut-flakes.nix
Labels: fetching

#12912 Set path display for substituted inputs
  src/libfetchers/fetchers.cc
Labels: fetching, backport 2.27-maintenance, backport 2.28-maintenance

#12919 Reinstate Darwin minversion
  flake.nix
  packaging/dependencies.nix
Labels: macos, backport 2.27-maintenance, backport 2.28-maintenance

#12911 create cache entry for paths already in the nix store
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/include/nix/fetchers/fetch-to-store.hh
  src/libfetchers/path.cc
Labels: fetching

#12931 Add `-Wundef` and fix public headers
  nix-meson-build-support/common/meson.build
  src/build-remote/build-remote.cc
  src/libexpr-tests/main.cc
  src/libexpr/eval-gc.cc
  src/libexpr/expr-config.hh
  src/libexpr/include/nix/expr/config.hh
  src/libexpr/include/nix/expr/meson.build
  src/libexpr/meson.build
  src/libmain/meson.build
  src/libmain/package.nix
  src/libmain/shared.cc
  src/libstore-tests/meson.build
  src/libstore-tests/s3-binary-cache-store.cc
  src/libstore/filetransfer.cc
  src/libstore/gc.cc
  src/libstore/globals.cc
  src/libstore/include/nix/store/globals.hh
  src/libstore/include/nix/store/s3.hh
  src/libstore/local-store.cc
  src/libstore/meson.build
  src/libstore/optimise-store.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/store-api.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/user-lock.cc
  src/libutil/archive.cc
  src/libutil/current-process.cc
  src/libutil/file-descriptor.cc
  src/libutil/file-system.cc
  src/libutil/fs-sink.cc
  src/libutil/include/nix/util/file-descriptor.hh
  src/libutil/terminal.cc
  src/libutil/unix/file-descriptor.cc
  src/libutil/unix/processes.cc
  src/libutil/unix/signals.cc
  src/nix/crash-handler.cc
  src/nix/main.cc
  src/nix/run.cc
  src/nix/unix/daemon.cc
Labels: new-cli, store, backport 2.28-maintenance

#12937 Fix undefined macro errors
  src/libstore/globals.cc
  src/libstore/unix/user-lock.cc
  src/libutil/current-process.cc
Labels: backport 2.28-maintenance

#12939 2.28 release notes for master
  doc/manual/rl-next/c-api-flake-init.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/release-notes/rl-2.28.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
  maintainers/release-credits
Labels: documentation

#12936 libflake: add lock file path to invalid json error
  src/libflake/flake/lockfile.cc
Labels: backport 2.28-maintenance

#12940 Header cleanup
  src/libexpr/expr-config.hh
  src/libexpr/include/nix/expr/config.hh
  src/libexpr/include/nix/expr/meson.build
  src/libexpr/meson.build
  src/libmain/meson.build
  src/libstore-tests/meson.build
  src/libstore-tests/s3-binary-cache-store.cc
  src/libstore/filetransfer.cc
  src/libstore/include/nix/store/s3-binary-cache-store.hh
  src/libstore/include/nix/store/s3.hh
  src/libstore/meson.build
  src/libstore/s3-binary-cache-store.cc
  src/libstore/unix/build/local-derivation-goal.cc
  src/nix/man-pages.cc
  src/nix/meson.build
Labels: new-cli, store, backport 2.28-maintenance

#12944 maintainers/release-notes: Let it fail
  maintainers/release-notes
Labels: backport 2.24-maintenance, backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12951 tests/functional/repl: fix race condition
  tests/functional/repl.sh
Labels: with-tests, backport 2.24-maintenance, backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12956 Fix meson warnings on minimum version
  src/nix/meson.build
Labels: new-cli, backport 2.28-maintenance

#12961 Make lexer-helpers.hh internal to fix a clang-tidy error
  src/libexpr/include/nix/expr/meson.build
  src/libexpr/lexer-helpers.cc
  src/libexpr/lexer-helpers.hh
  src/libexpr/lexer.l
Labels: backport 2.28-maintenance

#12959 Keep fchmodat2-compat.hh private
  src/libstore/linux/fchmodat2-compat.hh
  src/libstore/linux/include/nix/store/meson.build
  src/libstore/unix/build/local-derivation-goal.cc
Labels: backport 2.28-maintenance

#12962 Fix some clang-tidy warnings
  src/libexpr/include/nix/expr/nixexpr.hh
Labels: backport 2.28-maintenance

#12958 Fix some unlinked tests
  src/libutil-test-support/include/nix/util/tests/tracing-file-system-object-sink.hh
  src/libutil-test-support/tracing-file-system-object-sink.cc
  src/libutil-tests/meson.build
  src/libutil-tests/monitorfdhup.cc
Labels: backport 2.28-maintenance

#12967 Add trailing commas on addFlag incantations
  src/libcmd/command.cc
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libmain/common-args.cc
  src/libmain/shared.cc
  src/libstore/globals.cc
  src/nix/build.cc
  src/nix/bundle.cc
  src/nix/copy.cc
  src/nix/derivation-show.cc
  src/nix/develop.cc
  src/nix/env.cc
  src/nix/flake.cc
  src/nix/prefetch.cc
  src/nix/sigs.cc
  src/nix/store-delete.cc
  src/nix/store-gc.cc
  src/nix/upgrade-nix.cc
  src/nix/verify.cc
Labels: new-cli, fetching, backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12979 Actually ignore system/user registries during locking
  src/libflake/flake/flakeref.cc
  tests/functional/flakes/flakes.sh
Labels: with-tests, backport 2.26-maintenance, backport 2.27-maintenance, backport 2.28-maintenance

#12984 Fix `;` and `#` bug in machine file parsing
  src/libstore-tests/machines.cc
  src/libstore/machines.cc
Labels: backport 2.28-maintenance

#12986 Fix another machine config parsing bug
  src/libstore-tests/machines.cc
  src/libstore/machines.cc
Labels: backport 2.24-maintenance, backport 2.28-maintenance

#12531 `Store::getFSAccessor`: Do not include the store dir
  src/libexpr/eval.cc
  src/libexpr/include/nix/expr/eval.hh
  src/libfetchers/store-path-accessor.cc
  src/libstore/build/worker.cc
  src/libstore/dummy-store.cc
  src/libstore/local-fs-store.cc
  src/libstore/local-store.cc
  src/libstore/remote-fs-accessor.cc
  src/libstore/store-api.cc
  src/libutil/include/nix/util/source-accessor.hh
  src/libutil/meson.build
  src/libutil/source-accessor.cc
  src/libutil/subdir-source-accessor.cc
  src/nix-store/nix-store.cc
  src/nix/cat.cc
  src/nix/env.cc
  src/nix/ls.cc
  src/nix/why-depends.cc
Labels: new-cli, with-tests, store, fetching

#12998 glossary: refine the definition of "package"
  doc/manual/redirects.js
  doc/manual/source/glossary.md
Labels: documentation

#12995 glossary: link "building" from "realisation"
  doc/manual/source/glossary.md
Labels: documentation

#12538 libstore S3: fix progress bar and make file transfers interruptible
  src/libstore/filetransfer.cc
  src/libstore/include/nix/store/filetransfer.hh
  src/libstore/s3-binary-cache-store.cc
  src/libutil/include/nix/util/signals.hh
  src/libutil/unix/include/nix/util/signals-impl.hh
  src/libutil/windows/include/nix/util/signals-impl.hh
Labels: store

#12646 S3: opt-in the STSProfileCredentialsProvider
  packaging/dependencies.nix
  src/libstore/meson.build
  src/libstore/s3-binary-cache-store.cc
Labels: idea approved, store

#12999 Nix language reference: highlight characteristic features
  doc/manual/source/language/index.md
  doc/manual/source/language/string-context.md
Labels: documentation

#13008 Move alias support from NixArgs to MultiCommand + test
  doc/manual/meson.build
  src/libutil/args.cc
  src/libutil/include/nix/util/args.hh
  src/nix/main.cc
  src/nix/store-info.cc
  src/nix/store.cc
  tests/functional/store-info.sh
Labels: documentation, new-cli, with-tests

#13009 Fix typo in string context docs
  doc/manual/source/language/string-context.md
Labels: documentation, backport 2.28-maintenance

#13019 Mention BLAKE3 in the Nix 2.27 release notes
  doc/manual/source/release-notes/rl-2.27.md
Labels: documentation, backport 2.27-maintenance, backport 2.28-maintenance

#13022 Test derivation options with content-addressing too
  src/libstore-tests/data/derivation/advanced-attributes-defaults.drv
  src/libstore-tests/data/derivation/advanced-attributes-structured-attrs-defaults.drv
  src/libstore-tests/data/derivation/advanced-attributes-structured-attrs.drv
  src/libstore-tests/data/derivation/advanced-attributes.drv
  src/libstore-tests/data/derivation/ca/advanced-attributes-defaults.drv
  src/libstore-tests/data/derivation/ca/advanced-attributes-defaults.json
  src/libstore-tests/data/derivation/ca/advanced-attributes-structured-attrs-defaults.drv
  src/libstore-tests/data/derivation/ca/advanced-attributes-structured-attrs-defaults.json
  src/libstore-tests/data/derivation/ca/advanced-attributes-structured-attrs.drv
  src/libstore-tests/data/derivation/ca/advanced-attributes-structured-attrs.json
  src/libstore-tests/data/derivation/ca/advanced-attributes.drv
  src/libstore-tests/data/derivation/ca/advanced-attributes.json
  src/libstore-tests/data/derivation/ia/advanced-attributes-defaults.drv
  src/libstore-tests/data/derivation/ia/advanced-attributes-defaults.json
  src/libstore-tests/data/derivation/ia/advanced-attributes-structured-attrs-defaults.drv
  src/libstore-tests/data/derivation/ia/advanced-attributes-structured-attrs-defaults.json
  src/libstore-tests/data/derivation/ia/advanced-attributes-structured-attrs.drv
  src/libstore-tests/data/derivation/ia/advanced-attributes-structured-attrs.json
  src/libstore-tests/data/derivation/ia/advanced-attributes.drv
  src/libstore-tests/data/derivation/ia/advanced-attributes.json
  src/libstore-tests/derivation-advanced-attrs.cc
  src/libstore/derivations.cc
  tests/functional/build-remote-content-addressed-floating.sh
  tests/functional/build-remote.sh
  tests/functional/ca/derivation-advanced-attributes.sh
  tests/functional/ca/meson.build
  tests/functional/ca/nix-shell.sh
  tests/functional/derivation-advanced-attributes.sh
  tests/functional/derivation/advanced-attributes-defaults.nix
  tests/functional/derivation/advanced-attributes-structured-attrs-defaults.nix
  tests/functional/derivation/advanced-attributes-structured-attrs.nix
  tests/functional/derivation/advanced-attributes.nix
  tests/functional/derivation/ca/advanced-attributes-defaults.drv
  tests/functional/derivation/ca/advanced-attributes-structured-attrs-defaults.drv
  tests/functional/derivation/ca/advanced-attributes-structured-attrs.drv
  tests/functional/derivation/ca/advanced-attributes.drv
  tests/functional/derivation/ia/advanced-attributes-defaults.drv
  tests/functional/derivation/ia/advanced-attributes-structured-attrs-defaults.drv
  tests/functional/derivation/ia/advanced-attributes-structured-attrs.drv
  tests/functional/derivation/ia/advanced-attributes.drv
  tests/functional/nix-shell.sh
Labels: with-tests, backport 2.28-maintenance

#12992 Rename FlakeCache to InputCache and move it to libfetchers
  src/libexpr/eval.cc
  src/libexpr/include/nix/expr/eval.hh
  src/libfetchers/include/nix/fetchers/input-cache.hh
  src/libfetchers/include/nix/fetchers/meson.build
  src/libfetchers/input-cache.cc
  src/libfetchers/meson.build
  src/libflake-c/nix_api_flake.cc
  src/libflake/flake/flake.cc
Labels: repl, fetching, c api

#13026 Fix issue #13018, `sourceInfo` strict in `outputs`
  src/libflake/call-flake.nix
  tests/functional/flakes/relative-paths.sh
Labels: flakes, with-tests, backport 2.28-maintenance

#13032 Improve derivation "advanced attrs" test, fix almost-bug
  src/libstore-tests/data/derivation/ca/advanced-attributes-structured-attrs.json
  src/libstore-tests/data/derivation/ca/advanced-attributes.json
  src/libstore-tests/data/derivation/ia/advanced-attributes-structured-attrs.json
  src/libstore-tests/data/derivation/ia/advanced-attributes.json
  src/libstore-tests/derivation-advanced-attrs.cc
  src/libstore/derivation-options.cc
  tests/functional/derivation/advanced-attributes-structured-attrs.nix
  tests/functional/derivation/advanced-attributes.nix
  tests/functional/derivation/ca/advanced-attributes-structured-attrs.drv
  tests/functional/derivation/ca/advanced-attributes.drv
  tests/functional/derivation/ia/advanced-attributes-structured-attrs.drv
  tests/functional/derivation/ia/advanced-attributes.drv
Labels: with-tests, backport 2.28-maintenance

#12663 Separate derivation building from the scheduler
  src/libstore/build/derivation-goal.cc
  src/libstore/include/nix/store/build/derivation-goal.hh
  src/libstore/unix/build/local-derivation-goal.cc
Labels: store

#13043 fix armv7/i686 build
  src/libfetchers/git.cc
Labels: fetching

#13054 Fix non-virtual destructor warning
  src/libfetchers/include/nix/fetchers/input-cache.hh
Labels: fetching

#13060 Fix perl example
  doc/manual/source/command-ref/nix-shell.md
Labels: documentation

#13070 Don't build MonitorFdHup test on Windows
  src/libutil-tests/monitorfdhup.cc
Labels: backport 2.28-maintenance

#13059 Use python3 packages in deps
  doc/manual/source/command-ref/nix-shell.md
Labels: documentation

#13065 Rename `shellEscape` -> `escapeShellArgAlways`
  src/libstore/parsed-derivations.cc
  src/libutil/include/nix/util/util.hh
  src/libutil/util.cc
  src/nix-build/nix-build.cc
  src/nix-store/nix-store.cc
  src/nix/develop.cc
Labels: new-cli

#13079 nix-cli: restore binary-dist artifact to Hydra static builds
  src/nix/package.nix
Labels: new-cli, backport 2.28-maintenance

#13088 Actually ignore system/user registries during locking (2nd attempt)
  src/libcmd/installables.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/include/nix/fetchers/input-cache.hh
  src/libfetchers/include/nix/fetchers/registry.hh
  src/libfetchers/input-cache.cc
  src/libfetchers/registry.cc
  src/libflake/flake.cc
  src/libflake/flakeref.cc
  src/libflake/include/nix/flake/flake.hh
  src/libflake/include/nix/flake/flakeref.hh
  tests/functional/flakes/flakes.sh
Labels: with-tests, fetching

#13082 Actually ignore system/user registries during locking (2nd attempt)
  src/libcmd/installables.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/include/nix/fetchers/input-cache.hh
  src/libfetchers/include/nix/fetchers/registry.hh
  src/libfetchers/input-cache.cc
  src/libfetchers/registry.cc
  src/libflake/flake.cc
  src/libflake/flakeref.cc
  src/libflake/include/nix/flake/flake.hh
  src/libflake/include/nix/flake/flakeref.hh
  tests/functional/flakes/flakes.sh
Labels: with-tests, fetching, backport 2.28-maintenance

#13086 libutil: Fix invalid boost format string in infinite symlink recursion error
  src/libutil/file-system.cc
Labels: backport 2.24-maintenance, backport 2.28-maintenance

#13098 Fix flake-c out of bounds access
  src/libflake-c/nix_api_flake.cc
Labels: c api, backports created

#13100 allocate SimpleLogger before forking
  src/libutil/unix/processes.cc
Labels: backport 2.28-maintenance

#13099 doc/manual: Add language/evaluation
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/language/evaluation.md
Labels: documentation, language

#13105 Factor out `MixOutLinkByDefault`
  src/libcmd/command.cc
  src/libcmd/include/nix/cmd/command.hh
  src/nix/build.cc
Labels: new-cli

#13109 libutil: amend OSC 8 escape stripping for xterm-style separator
  src/libutil-tests/terminal.cc
  src/libutil/terminal.cc
Labels: backport 2.28-maintenance

#13063 Add `nix formatter build` and `nix formatter run` commands
  maintainers/flake-module.nix
  src/libcmd/include/nix/cmd/installable-value.hh
  src/nix/app.cc
  src/nix/fmt.cc
  src/nix/formatter-build.md
  src/nix/formatter-run.md
  src/nix/formatter.cc
  src/nix/meson.build
  tests/functional/fmt.sh
  tests/functional/formatter.sh
  tests/functional/formatter.simple.sh
  tests/functional/meson.build
Labels: documentation, new-cli, with-tests, idea approved, fetching, c api

#13112 bugfix in getInteger(const nlohmann::json &) and add bounds checks
  src/libstore/nar-info.cc
  src/libstore/path-info.cc
  src/libutil-tests/json-utils.cc
  src/libutil/include/nix/util/json-utils.hh
  src/libutil/json-utils.cc
Labels: backport 2.28-maintenance
