Repository NixOS/nix, pull requests merged in 2025-05, with the labels that each got.

#13117 Complain when using --pure-eval with --file
  src/libcmd/installables.cc
  tests/functional/eval.sh
Labels: with-tests

#13107 docs: don't mention Haskell
  doc/manual/source/introduction.md
Labels: documentation

#13122 Replace all instances of std::filesystem::directory_iterator with DirectoryIterator
  src/libcmd/repl.cc
  src/libmain/plugin.cc
  src/libstore/builtins/buildenv.cc
  src/libstore/builtins/unpack-channel.cc
  src/libstore/gc.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/posix-fs-canonicalise.cc
  src/libstore/profiles.cc
  src/libutil-tests/file-system.cc
  src/libutil/file-system.cc
  src/libutil/include/nix/util/file-system.hh
  src/libutil/linux/cgroup.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/unix/file-descriptor.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/prefetch.cc
  src/nix/run.cc
Labels: new-cli, store, repl

#13014 Update `nix fmt` man page with official formatter example
  src/nix/formatter-run.md
Labels: documentation, new-cli, backport 2.28-maintenance

#13123 Drop fs alias in favour of std::filesystem
  src/libcmd/common-eval-args.cc
  src/libcmd/installables.cc
  src/libfetchers-tests/git-utils.cc
  src/libfetchers/git.cc
  src/libflake/flake.cc
  src/libstore-test-support/include/nix/store/tests/nix_api_store.hh
  src/libstore-tests/machines.cc
  src/libstore/builtins/unpack-channel.cc
  src/libstore/unix/build/derivation-builder.cc
  src/libutil/executable-path.cc
  src/libutil/file-system.cc
  src/libutil/include/nix/util/file-system.hh
  src/libutil/tarfile.cc
  src/libutil/unix/file-system.cc
  src/libutil/unix/users.cc
  src/libutil/windows/file-system.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/bundle.cc
  src/nix/config-check.cc
  src/nix/develop.cc
  src/nix/eval.cc
  src/nix/flake.cc
  src/nix/run.cc
  src/nix/self-exe.cc
Labels: new-cli, store, repl, fetching, c api

#13139 Simplify plugin registrations
  src/libcmd/command.cc
  src/libcmd/include/nix/cmd/command.hh
  src/libcmd/include/nix/cmd/legacy.hh
  src/libcmd/legacy.cc
  src/libcmd/meson.build
  src/libexpr/include/nix/expr/primops.hh
  src/libexpr/primops.cc
  src/libfetchers/fetchers.cc
  src/libstore/include/nix/store/store-api.hh
  src/libstore/store-api.cc
  src/libutil/config-global.cc
  src/libutil/include/nix/util/config-global.hh
  src/nix/main.cc
Labels: new-cli, store, fetching

#13169 Improve build failure error messages
  src/libstore/build/derivation-goal.cc
  src/libstore/include/nix/store/build/derivation-building-misc.hh
  src/libstore/unix/build/derivation-builder.cc
  tests/functional/build.sh
Labels: with-tests

#13165 index.md: add warning for installing as root
  doc/manual/source/installation/index.md
Labels: documentation

#13159 Avoid unnecessarily updating old lock files with 'dir' parameters
  src/libflake/flake.cc
  src/libflake/flakeref.cc
  src/libflake/include/nix/flake/flakeref.hh
  tests/functional/flakes/meson.build
  tests/functional/flakes/old-lockfiles.sh
Labels: with-tests, backport 2.28-maintenance

#13161 nix flake prefetch: Remove __final
  src/nix/flake.cc
  tests/functional/tarball.sh
Labels: new-cli, with-tests

#13184 Document more references concepts
  doc/manual/source/command-ref/nix-store/query.md
  doc/manual/source/glossary.md
  doc/manual/source/language/advanced-attributes.md
  doc/manual/source/store/store-object.md
Labels: documentation

#13180 nix repl: remember :load-flake calls for :reload
  src/libcmd/repl.cc
Labels: repl

#13154 Stores no longer inherit from their configs
  doc/manual/generate-store-info.nix
  src/build-remote/build-remote.cc
  src/libcmd/include/nix/cmd/command.hh
  src/libstore-c/nix_api_store.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/common-ssh-store-config.cc
  src/libstore/derivation-options.cc
  src/libstore/dummy-store.cc
  src/libstore/filetransfer.cc
  src/libstore/gc.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/include/nix/store/binary-cache-store.hh
  src/libstore/include/nix/store/common-ssh-store-config.hh
  src/libstore/include/nix/store/http-binary-cache-store.hh
  src/libstore/include/nix/store/legacy-ssh-store.hh
  src/libstore/include/nix/store/local-binary-cache-store.hh
  src/libstore/include/nix/store/local-fs-store.hh
  src/libstore/include/nix/store/local-overlay-store.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/profiles.hh
  src/libstore/include/nix/store/remote-fs-accessor.hh
  src/libstore/include/nix/store/remote-store.hh
  src/libstore/include/nix/store/restricted-store.hh
  src/libstore/include/nix/store/s3-binary-cache-store.hh
  src/libstore/include/nix/store/ssh-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/store-dir-config.hh
  src/libstore/include/nix/store/uds-remote-store.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-fs-store.cc
  src/libstore/local-overlay-store.cc
  src/libstore/local-store.cc
  src/libstore/meson.build
  src/libstore/optimise-store.cc
  src/libstore/path.cc
  src/libstore/remote-store.cc
  src/libstore/restricted-store.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store.cc
  src/libstore/store-api.cc
  src/libstore/store-dir-config.cc
  src/libstore/uds-remote-store.cc
  src/libstore/unix/build/derivation-builder.cc
  src/nix/main.cc
  src/nix/unix/daemon.cc
Labels: documentation, new-cli, store, c api

#12977 Docs: fix "building" documentation w.r.t. meson
  doc/manual/generate-deps.py
  doc/manual/meson.build
  doc/manual/source/command-ref/nix-env/delete-generations.md
  doc/manual/source/development/building.md
  doc/manual/source/development/cli-guideline.md
  doc/manual/source/glossary.md
  doc/manual/source/language/string-context.md
  doc/manual/source/protocols/json/derivation.md
  doc/manual/source/protocols/tarball-fetcher.md
  doc/manual/source/release-notes/rl-2.19.md
  doc/manual/source/release-notes/rl-2.23.md
  doc/manual/source/release-notes/rl-2.24.md
  doc/manual/source/store/derivation/outputs/content-address.md
  doc/manual/source/store/derivation/outputs/index.md
  doc/manual/source/store/store-object.md
  doc/manual/source/store/store-object/content-address.md
Labels: documentation, new-cli, fetching, backport 2.28-maintenance

#13190 Render upcoming notes
  doc/manual/package.nix
  doc/manual/rl-next/c-api.md
  packaging/components.nix
Labels: documentation

#13188 Split out `store-open.hh` and `store-registration.hh`
  src/build-remote/build-remote.cc
  src/libcmd/command.cc
  src/libcmd/common-eval-args.cc
  src/libcmd/repl.cc
  src/libexpr/primops/fetchClosure.cc
  src/libstore-c/nix_api_store.cc
  src/libstore-test-support/include/nix/store/tests/libstore.hh
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/include/nix/store/meson.build
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/store-open.hh
  src/libstore/include/nix/store/store-registration.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-overlay-store.cc
  src/libstore/local-store.cc
  src/libstore/machines.cc
  src/libstore/meson.build
  src/libstore/misc.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store.cc
  src/libstore/store-api.cc
  src/libstore/store-registration.cc
  src/libstore/uds-remote-store.cc
  src/nix-build/nix-build.cc
  src/nix-channel/nix-channel.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix-copy-closure/nix-copy-closure.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix-store/nix-store.cc
  src/nix/flake.cc
  src/nix/log.cc
  src/nix/main.cc
  src/nix/make-content-addressed.cc
  src/nix/prefetch.cc
  src/nix/repl.cc
  src/nix/sigs.cc
  src/nix/unix/daemon.cc
  src/nix/verify.cc
  src/perl/lib/Nix/Store.xs
  tests/functional/test-libstoreconsumer/main.cc
Labels: new-cli, with-tests, store, repl, c api

#13193 libutil: Less unnecessary copying in `LRUCache`
  maintainers/flake-module.nix
  src/libstore/store-api.cc
  src/libutil/include/nix/util/lru-cache.hh
Labels: store

#13189 Add release notes
  doc/manual/rl-next/c-api.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/release-notes/rl-2.29.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
Labels: release-blocker, documentation

#13176 Revert #77
  doc/manual/rl-next/revert-77.md
  src/libstore/build/derivation-goal.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/include/nix/store/build/derivation-goal.hh
  src/libstore/include/nix/store/build/goal.hh
  tests/functional/binary-cache.sh
Labels: documentation, with-tests

#13195 Remove otherNixes.nix_2_18
  tests/nixos/default.nix
Labels: backport 2.29-maintenance

#13196 rename StoreDirConfigItself to StoreDirConfigBase
  src/libstore/include/nix/store/store-dir-config.hh
  src/libstore/store-dir-config.cc
Labels: backport 2.29-maintenance

#13197 Update Nixpkgs to fix static builds
  flake.lock
Labels: backport 2.29-maintenance

#13202 Fix nix-copy-closure VM test
  tests/nixos/nix-copy-closure.nix
Labels: backport 2.29-maintenance

#13207 dev-shell: Drop bear dependency
  packaging/dev-shell.nix
Labels: backport 2.27-maintenance, backport 2.28-maintenance, backport 2.29-maintenance

#13213 docs: fix duplicate anchor
  doc/manual/source/store/derivation/index.md
Labels: documentation

#13212 docs: remove repeated "allowedReferences" and other lexical illusion
  doc/manual/source/language/advanced-attributes.md
  doc/manual/source/store/derivation/outputs/content-address.md
  doc/manual/source/store/derivation/outputs/index.md
Labels: documentation

#13221 doc: Render verbatim `@docroot@` on contributing page
  doc/manual/source/development/contributing.md
  doc/manual/substitute.py
Labels: documentation, backport 2.29-maintenance

#13223 Remove global fetcher cache
  src/libcmd/common-eval-args.cc
  src/libcmd/installable-value.cc
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/cache.cc
  src/libfetchers/fetch-to-store.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/include/nix/fetchers/cache.hh
  src/libfetchers/include/nix/fetchers/fetch-settings.hh
  src/libfetchers/include/nix/fetchers/fetch-to-store.hh
  src/libfetchers/include/nix/fetchers/git-utils.hh
  src/libfetchers/include/nix/fetchers/tarball.hh
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libfetchers/registry.cc
  src/libfetchers/tarball.cc
  src/libflake/flake.cc
  src/libutil/include/nix/util/sync.hh
  src/nix-channel/nix-channel.cc
  src/nix/flake.cc
Labels: new-cli, fetching

#13228 libutil-tests/json-utils: fix -Werror=sign-compare error
  src/libutil-tests/json-utils.cc
Labels: backport 2.29-maintenance

#13232 docs: add another equivalence for the implication operator
  doc/manual/source/language/operators.md
Labels: documentation

#13231 docs: clarify attrset __functor
  doc/manual/source/language/syntax.md
Labels: documentation

#13181 Split `DerivationGoal` in two
  maintainers/flake-module.nix
  src/libstore/build/derivation-building-goal.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/goal.cc
  src/libstore/build/worker.cc
  src/libstore/include/nix/store/build/derivation-building-goal.hh
  src/libstore/include/nix/store/build/derivation-goal.hh
  src/libstore/include/nix/store/build/goal.hh
  src/libstore/include/nix/store/build/worker.hh
  src/libstore/include/nix/store/meson.build
  src/libstore/meson.build
Labels: documentation, with-tests

#13186 Restore dynamic derivations!
  src/libstore/build/derivation-building-goal.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/entry-points.cc
  src/libstore/build/worker.cc
  src/libstore/derived-path-map.cc
  src/libstore/include/nix/store/build/derivation-goal.hh
  src/libstore/include/nix/store/build/worker.hh
  src/libstore/include/nix/store/derived-path-map.hh
  tests/functional/dyn-drv/build-built-drv.sh
  tests/functional/dyn-drv/dep-built-drv-2.sh
  tests/functional/dyn-drv/dep-built-drv.sh
  tests/functional/dyn-drv/failing-outer.sh
Labels: documentation, with-tests

#13143 Expose flake directory to `nix fmt` as `PRJ_ROOT` env var
  src/nix/formatter-run.md
  src/nix/formatter.cc
  src/nix/run.cc
  src/nix/run.hh
  tests/functional/formatter.sh
  tests/functional/formatter.simple.sh
Labels: documentation, new-cli, with-tests

#13220 Stack sampling flamegraph profiler
  doc/manual/rl-next/eval-profiler.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/advanced-topics/eval-profiler.md
  src/libexpr/eval-profiler-settings.cc
  src/libexpr/eval-profiler.cc
  src/libexpr/eval.cc
  src/libexpr/include/nix/expr/eval-profiler-settings.hh
  src/libexpr/include/nix/expr/eval-profiler.hh
  src/libexpr/include/nix/expr/eval-settings.hh
  src/libexpr/include/nix/expr/eval.hh
  src/libexpr/include/nix/expr/meson.build
  src/libexpr/meson.build
  tests/functional/flamegraph-profiler.sh
  tests/functional/meson.build
Labels: documentation, with-tests

#13256 Fix nlohmann error in fromStructuredAttrs()
  src/libstore/derivation-options.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/misc.cc
  tests/functional/structured-attrs-shell.nix
Labels: with-tests, store, backport 2.29-maintenance

#13265 Improve errors when we are trying to access a git repository with partial history (+ fix fetchGit on these repos)
  src/libfetchers/git-utils.cc
  src/libfetchers/git.cc
  tests/functional/fetchGit.sh
  tests/functional/fetchGitShallow.sh
  tests/functional/meson.build
Labels: with-tests, fetching, backport 2.28-maintenance, backport 2.29-maintenance

#13279 Emit warnings for IFDs with new `trace-import-from-derivation` option
  src/libexpr/include/nix/expr/eval-settings.hh
  src/libexpr/primops.cc
  tests/functional/flakes/meson.build
  tests/functional/flakes/trace-ifd.sh
Labels: with-tests
