Repository NixOS/nix, pull requests merged in 2025-08, with the labels that each got.

#13678 meson: Disable PCH for GCC
  nix-meson-build-support/common/meson.build
  src/libcmd/meson.build
  src/libexpr/meson.build
  src/libstore/meson.build
  src/libutil/meson.build
  src/nix/meson.build
Labels: new-cli

#13445 libutil: Use Boost.URL for URI parsing
  doc/manual/rl-next/rfc4007-zone-id-in-uri-rfc6874.md
  packaging/dependencies.nix
  src/libflake-tests/flakeref.cc
  src/libstore-tests/data/store-reference/local_3.txt
  src/libstore-tests/store-reference.cc
  src/libutil-test-support/include/nix/util/tests/gmock-matchers.hh
  src/libutil-test-support/include/nix/util/tests/meson.build
  src/libutil-tests/url.cc
  src/libutil/include/nix/util/url-parts.hh
  src/libutil/include/nix/util/url.hh
  src/libutil/meson.build
  src/libutil/url.cc
Labels: documentation, with-tests

#13686 ci: Collect code coverage in tests
  .github/workflows/ci.yml
  ci/gha/tests/default.nix
  ci/gha/tests/wrapper.nix
  nix-meson-build-support/common/meson.build
  tests/functional/flakes/run.sh
  tests/functional/shell.sh
Labels: with-tests

#13687 nix-cli: Move nix2 binaries sources properly into nix subproject
  src/internal-api-docs/doxygen.cfg.in
  src/nix/build-remote
  src/nix/build-remote/build-remote.cc
  src/nix/nix-build
  src/nix/nix-build/nix-build.cc
  src/nix/nix-channel
  src/nix/nix-channel/nix-channel.cc
  src/nix/nix-channel/unpack-channel.nix
  src/nix/nix-collect-garbage
  src/nix/nix-collect-garbage/nix-collect-garbage.cc
  src/nix/nix-copy-closure
  src/nix/nix-copy-closure/nix-copy-closure.cc
  src/nix/nix-env
  src/nix/nix-env/buildenv.nix
  src/nix/nix-env/nix-env.cc
  src/nix/nix-env/user-env.cc
  src/nix/nix-env/user-env.hh
  src/nix/nix-instantiate
  src/nix/nix-instantiate/nix-instantiate.cc
  src/nix/nix-store
  src/nix/nix-store/dotgraph.cc
  src/nix/nix-store/dotgraph.hh
  src/nix/nix-store/graphml.cc
  src/nix/nix-store/graphml.hh
  src/nix/nix-store/nix-store.cc
  src/nix/package.nix
Labels: new-cli

#13697 Base64 trailing test (from Snix, thanks)
  src/libutil-tests/base-n.cc
Labels: new-cli, fetching

#13705 Move some `MixStoreDirMethods` members to the right `.cc` file
  src/libstore/path.cc
  src/libstore/store-api.cc
  src/libstore/store-dir-config.cc
Labels: store

#13715 libutil: Make HashResult a proper struct
  src/libfetchers/git.cc
  src/libstore/binary-cache-store.cc
  src/libstore/export-import.cc
  src/libstore/local-store.cc
  src/libstore/make-content-addressed.cc
  src/libstore/optimise-store.cc
  src/libstore/store-api.cc
  src/libstore/unix/build/derivation-builder.cc
  src/libutil-tests/git.cc
  src/libutil/file-content-address.cc
  src/libutil/git.cc
  src/libutil/hash.cc
  src/libutil/include/nix/util/hash.hh
  src/libutil/references.cc
  src/libutil/source-accessor.cc
  src/nix/hash.cc
  src/nix/nix-store/nix-store.cc
  src/nix/verify.cc
Labels: new-cli, store, fetching

#13714 libutil: Move references.{hh,cc} to libstore, remove unused scanForReferences
  src/libstore-tests/ref-scan-bench.cc
  src/libstore-tests/references.cc
  src/libstore/include/nix/store/meson.build
  src/libstore/include/nix/store/path-references.hh
  src/libstore/include/nix/store/references.hh
  src/libstore/local-store.cc
  src/libstore/make-content-addressed.cc
  src/libstore/meson.build
  src/libstore/path-references.cc
  src/libstore/references.cc
  src/libstore/store-api.cc
  src/libutil-tests/meson.build
  src/libutil-tests/references.cc
  src/libutil/include/nix/util/meson.build
  src/libutil/meson.build
  src/nix/hash.cc
Labels: new-cli, store

#13716 Inline printHash16or32 and remove redundant helper
  src/libutil/hash.cc
  src/libutil/include/nix/util/hash.hh
  src/nix/prefetch.cc
Labels: new-cli

#13713 add freebsd multi-user installer
  doc/manual/source/installation/uninstall.md
  packaging/binary-tarball.nix
  scripts/install-freebsd-multi-user.sh
  scripts/install-multi-user.sh
  scripts/install-nix-from-tarball.sh
Labels: documentation

#13736 `getUri` should be `const` and on `Store::Config` not `Store`
  src/libcmd/repl.cc
  src/libstore-c/nix_api_store.cc
  src/libstore-tests/legacy-ssh-store.cc
  src/libstore-tests/nix_api_store.cc
  src/libstore-tests/ssh-store.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/include/nix/store/http-binary-cache-store.hh
  src/libstore/include/nix/store/legacy-ssh-store.hh
  src/libstore/include/nix/store/local-binary-cache-store.hh
  src/libstore/include/nix/store/local-overlay-store.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/s3-binary-cache-store.hh
  src/libstore/include/nix/store/ssh-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/store-cast.hh
  src/libstore/include/nix/store/uds-remote-store.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-store.cc
  src/libstore/remote-store.cc
  src/libstore/restricted-store.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store.cc
  src/libstore/store-api.cc
  src/libstore/uds-remote-store.cc
  src/nix/config-check.cc
  src/nix/log.cc
  src/nix/run.cc
  src/nix/store-info.cc
Labels: new-cli, store, repl, c api

#13743 Fix Git LFS SSH issues
  doc/manual/rl-next/git-lfs-ssh.md
  src/libfetchers/git-lfs-fetch.cc
  src/libstore/include/nix/store/ssh.hh
  src/libstore/ssh.cc
  tests/nixos/fetch-git/test-cases/lfs/default.nix
  tests/nixos/fetch-git/testsupport/gitea-repo.nix
  tests/nixos/fetch-git/testsupport/gitea.nix
Labels: documentation, fetching

#13741 libexpr: Canonicalize TOML timestamps for toml11 > 4.0
  packaging/dependencies.nix
  src/libexpr/meson.build
  src/libexpr/primops/fromTOML.cc
  tests/functional/lang/eval-okay-fromTOML-timestamps.exp
  tests/functional/lang/eval-okay-fromTOML-timestamps.nix
Labels: with-tests

#13748 Revert "Merge pull request #13741 from xokdvium/toml-timestamps"
  packaging/dependencies.nix
  src/libexpr/meson.build
  src/libexpr/primops/fromTOML.cc
  tests/functional/lang/eval-okay-fromTOML-timestamps.exp
  tests/functional/lang/eval-okay-fromTOML-timestamps.nix
Labels: with-tests

#13739 Rewrite `StoreConfig::getUri` in terms of new `StoreConfig::getReference`
  src/libstore-tests/http-binary-cache-store.cc
  src/libstore-tests/nix_api_store.cc
  src/libstore/dummy-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/include/nix/store/http-binary-cache-store.hh
  src/libstore/include/nix/store/legacy-ssh-store.hh
  src/libstore/include/nix/store/local-binary-cache-store.hh
  src/libstore/include/nix/store/local-overlay-store.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/s3-binary-cache-store.hh
  src/libstore/include/nix/store/ssh-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/uds-remote-store.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-binary-cache-store.cc
  src/libstore/local-overlay-store.cc
  src/libstore/local-store.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/ssh-store.cc
  src/libstore/store-api.cc
  src/libstore/uds-remote-store.cc
  tests/functional/store-info.sh
Labels: with-tests, store, c api

#13755 treewide: Remove getUri and replace with getHumanReadableURI where appropriate
  src/libcmd/repl.cc
  src/libstore-c/nix_api_store.cc
  src/libstore-tests/legacy-ssh-store.cc
  src/libstore-tests/nix_api_store.cc
  src/libstore-tests/ssh-store.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/store-cast.hh
  src/libstore/include/nix/store/store-reference.hh
  src/libstore/remote-store.cc
  src/libstore/s3-binary-cache-store.cc
  src/libstore/store-api.cc
  src/libstore/store-reference.cc
  src/nix/config-check.cc
  src/nix/log.cc
  src/nix/run.cc
  src/nix/store-info.cc
Labels: new-cli, store, repl, c api

#13777 Fix doc code example
  src/nix/shell.md
Labels: documentation, new-cli

#13775 treewide: Futher improve compile times for clangStdenv builds
  src/libexpr-tests/meson.build
  src/libexpr-tests/pch/precompiled-headers.hh
  src/libfetchers/git-lfs-fetch.cc
  src/libfetchers/meson.build
  src/libfetchers/pch/precompiled-headers.hh
  src/libstore-tests/meson.build
  src/libstore-tests/pch/precompiled-headers.hh
  src/libutil-tests/meson.build
  src/libutil-tests/pch/precompiled-headers.hh
  src/nix/pch/precompiled-headers.hh
Labels: new-cli, contributor-experience, fetching

#13779 Fix NIX_CONF_DIR description
  doc/manual/source/command-ref/env-common.md
Labels: documentation

#13784 Fix client disconnect when queryPathInfo() returns a negative result
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/worker-protocol-connection.hh
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/libstore/worker-protocol-connection.cc
Labels: store

#13793 treewide: Bump C++ standard version to C++23
  doc/manual/source/installation/prerequisites-source.md
  nix-meson-build-support/export/meson.build
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libexpr-test-support/meson.build
  src/libexpr-test-support/tests/value/context.cc
  src/libexpr-tests/derived-path.cc
  src/libexpr-tests/meson.build
  src/libexpr/meson.build
  src/libfetchers-c/meson.build
  src/libfetchers-tests/meson.build
  src/libfetchers/meson.build
  src/libflake-c/meson.build
  src/libflake-tests/meson.build
  src/libflake/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libstore-test-support/derived-path.cc
  src/libstore-test-support/include/nix/store/tests/outputs-spec.hh
  src/libstore-test-support/meson.build
  src/libstore-test-support/path.cc
  src/libstore-tests/meson.build
  src/libstore/meson.build
  src/libutil-c/meson.build
  src/libutil-test-support/hash.cc
  src/libutil-test-support/meson.build
  src/libutil-tests/meson.build
  src/libutil/meson.build
  src/nix/meson.build
  tests/functional/meson.build
Labels: documentation, new-cli, with-tests, fetching, c api

#13799 Make `sandbox-settings` better typed, get `globals.hh` out of other headers
  src/libcmd/common-eval-args.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchClosure.cc
  src/libfetchers-tests/git.cc
  src/libfetchers/cache.cc
  src/libstore-test-support/include/nix/store/tests/libstore.hh
  src/libstore/build/derivation-building-goal.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/goal.cc
  src/libstore/build/substitution-goal.cc
  src/libstore/build/worker.cc
  src/libstore/builtins/fetchurl.cc
  src/libstore/daemon.cc
  src/libstore/derivation-options.cc
  src/libstore/globals.cc
  src/libstore/include/nix/store/build/derivation-builder.hh
  src/libstore/include/nix/store/globals.hh
  src/libstore/include/nix/store/local-fs-store.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/meson.build
  src/libstore/include/nix/store/restricted-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/store-dir-config.hh
  src/libstore/include/nix/store/store-open.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/local-fs-store.cc
  src/libstore/local-store.cc
  src/libstore/profiles.cc
  src/libstore/restricted-store.cc
  src/libstore/store-api.cc
  src/libstore/store-registration.cc
  src/libstore/uds-remote-store.cc
  src/libstore/unix/build/chroot-derivation-builder.cc
  src/libstore/unix/build/darwin-derivation-builder.cc
  src/libstore/unix/build/derivation-builder.cc
  src/libstore/unix/include/nix/store/meson.build
  src/nix/build-remote/build-remote.cc
  src/nix/bundle.cc
  src/nix/config-check.cc
  src/nix/develop.cc
  src/nix/env.cc
  src/nix/flake.cc
  src/nix/formatter.cc
  src/nix/log.cc
  src/nix/nix-store/nix-store.cc
  src/nix/prefetch.cc
  src/nix/run.cc
  src/nix/upgrade-nix.cc
Labels: new-cli, store, fetching

#13565 Add `nix flake prefetch-inputs` command
  src/nix/flake-prefetch-inputs.cc
  src/nix/flake-prefetch-inputs.md
  src/nix/meson.build
Labels: documentation, new-cli

#13806 Fix meson formatting error
  src/nix/meson.build
Labels: new-cli

#13804 Release notes for Nix 2.31
  doc/manual/rl-next/build-cores-auto-detect.md
  doc/manual/rl-next/git-lfs-ssh.md
  doc/manual/rl-next/port-in-store-uris.md
  doc/manual/rl-next/rfc4007-zone-id-in-uri-rfc6874.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/release-notes/rl-2.31.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
  maintainers/release-process.md
Labels: documentation

#13826 SQLite: fsync db.sqlite-shm before opening the database
  src/libstore/sqlite.cc
Labels: backport 2.31-maintenance

#13873 libfetchers: Fix mingw build
  src/libfetchers/tarball.cc
Labels: fetching

#13875 libfetchers: Restore path separator ignoring behavior for indirect an…
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libflake-tests/flakeref.cc
  src/libutil-tests/url.cc
  src/libutil/include/nix/util/url.hh
Labels: fetching

#13879 libexpr: Statically allocate commonly used symbols
  src/libcmd/installable-flake.cc
  src/libexpr-tests/value/print.cc
  src/libexpr/eval-cache.cc
  src/libexpr/eval-profiler.cc
  src/libexpr/eval.cc
  src/libexpr/get-drvs.cc
  src/libexpr/include/nix/expr/eval.hh
  src/libexpr/include/nix/expr/parser-state.hh
  src/libexpr/include/nix/expr/symbol-table.hh
  src/libexpr/parser.y
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchMercurial.cc
  src/libexpr/primops/fetchTree.cc
  src/libexpr/print.cc
  src/libexpr/value-to-json.cc
  src/libexpr/value-to-xml.cc
  src/libflake/flake.cc
  src/nix/app.cc
  src/nix/bundle.cc
  src/nix/flake.cc
  src/nix/nix-env/user-env.cc
  src/nix/search.cc
Labels: new-cli
