Repository NixOS/nix, pull requests merged in 2025-01, with the labels that each got.

#12109 ci: lock Ubuntu and macOS runners and update Ubuntu runner
  .github/workflows/ci.yml
  .github/workflows/labels.yml
  .mergify.yml
  doc/manual/source/development/testing.md
Labels: documentation

#12097 packaging: use release builds and LTO by default
  nix-meson-build-support/common/meson.build
  packaging/dependencies.nix
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libexpr-test-support/meson.build
  src/libexpr-tests/meson.build
  src/libexpr/meson.build
  src/libfetchers-tests/meson.build
  src/libfetchers/meson.build
  src/libflake-c/meson.build
  src/libflake-tests/meson.build
  src/libflake/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libstore-test-support/meson.build
  src/libstore-tests/meson.build
  src/libstore/meson.build
  src/libutil-c/meson.build
  src/libutil-test-support/meson.build
  src/libutil-tests/meson.build
  src/libutil/meson.build
  src/nix/meson.build
  tests/functional/meson.build
Labels: new-cli, with-tests, fetching, c api

#12137 windows: fix conditional compilation variable
  src/libstore/windows/pathlocks.cc
  src/libutil/windows/environment-variables.cc
  src/libutil/windows/file-descriptor.cc
  src/libutil/windows/file-system.cc
  src/libutil/windows/muxable-pipe.cc
  src/libutil/windows/os-string.cc
  src/libutil/windows/processes.cc
  src/libutil/windows/users.cc
  src/libutil/windows/windows-async-pipe.cc
  src/libutil/windows/windows-async-pipe.hh
  src/libutil/windows/windows-error.cc
  src/libutil/windows/windows-error.hh
  src/nix/flake.cc
Labels: new-cli

#12135 correctly parse strings with null bytes and throw error
  src/libexpr/eval.cc
  src/libexpr/lexer.l
  src/libexpr/value.hh
  tests/functional/lang/eval-fail-string-nul-1.err.exp
  tests/functional/lang/eval-fail-string-nul-1.nix
  tests/functional/lang/eval-fail-string-nul-2.err.exp
  tests/functional/lang/eval-fail-string-nul-2.nix
Labels: with-tests

#12046 CLI symlink fixes
  doc/manual/source/command-ref/nix-store/add-fixed.md
  doc/manual/source/command-ref/nix-store/add.md
  src/libutil-tests/file-system.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/posix-source-accessor.hh
  src/nix-store/nix-store.cc
  src/nix/add-to-store.cc
  src/nix/hash.cc
  tests/functional/add.sh
  tests/functional/hash-path.sh
  tests/nixos/default.nix
  tests/nixos/functional/symlinked-home.nix
Labels: bug, documentation, new-cli, regression, with-tests

#12149 ParsedURL: Remove 'url' and 'base' fields
  src/libfetchers/fetchers.cc
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/indirect.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libflake/flake/flakeref.cc
  src/libutil-tests/url.cc
  src/libutil/url.cc
  src/libutil/url.hh
Labels: fetching

#12155 Document `--max-freed` for `nix-collect-garbage`
  doc/manual/source/command-ref/nix-collect-garbage.md
Labels: documentation

#12157 parsePathFlakeRefWithFragment(): Handle 'path?query' without a fragment
  src/libflake-tests/flakeref.cc
  src/libflake/flake/flakeref.cc
  src/libutil/config.hh
  src/libutil/url.cc
  tests/functional/flakes/flake-in-submodule.sh
Labels: bug, flakes, with-tests, backport 2.25-maintenance

#12166 nix upgrade-nix: Give a better error message if the profile is using 'nix profile'
  src/nix/upgrade-nix.cc
Labels: new-cli

#12167 nix flake: clarify error message when file is an unknown type
  src/libstore/nar-accessor.cc
  src/libutil/fs-sink.cc
  src/libutil/git.cc
  src/libutil/posix-source-accessor.cc
  src/libutil/source-accessor.cc
  src/libutil/source-accessor.hh
  src/nix/flake.cc
Labels: new-cli

#12237 Reject merge conflicts
  maintainers/flake-module.nix
Labels: backport 2.24-maintenance, backport 2.25-maintenance

#12235 libutil: thread-pool: ensure threads finished on error
  src/libstore/store-api.cc
  src/libutil/thread-pool.hh
Labels: store

#12229 Add LLVM to Flake
  flake.nix
  src/libcmd/package.nix
  src/libexpr/package.nix
  src/libfetchers/package.nix
  src/libflake/package.nix
  src/libmain/package.nix
  src/libstore/package.nix
  src/libutil/package.nix
  src/nix/package.nix
Labels: new-cli, fetching

#12107 fetchers/git: make relative path absolute for local repo
  src/libfetchers/git.cc
  tests/functional/flakes/flake-in-submodule.sh
  tests/functional/flakes/flakes.sh
Labels: with-tests, fetching, backport 2.24-maintenance, backport 2.25-maintenance

#12220 Add setting 'allow-dirty-locks'
  src/libcmd/installables.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetch-settings.hh
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/libflake/flake/lockfile.cc
  src/libflake/flake/lockfile.hh
  src/libflake/flake/settings.hh
  src/nix/flake.cc
  tests/functional/flakes/unlocked-override.sh
Labels: new-cli, with-tests, fetching, backport 2.24-maintenance, backport 2.25-maintenance

#12254 Fix relative 'path:' flakerefs in the CLI
  src/libexpr/eval.cc
  src/libfetchers/path.cc
  src/libfetchers/registry.cc
  src/libflake/flake/flakeref.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/source-accessor.cc
  tests/functional/flakes/flakes.sh
Labels: regression, with-tests, fetching, backport 2.25-maintenance

#12261 Packaging cleanups, add RossComputerGuy as `-llvm` maintainer
  packaging/dependencies.nix
  src/libcmd/package.nix
  src/libexpr-c/package.nix
  src/libexpr-test-support/package.nix
  src/libexpr-tests/package.nix
  src/libexpr/package.nix
  src/libfetchers-tests/package.nix
  src/libfetchers/package.nix
  src/libflake-c/package.nix
  src/libflake-tests/package.nix
  src/libflake/package.nix
  src/libmain-c/package.nix
  src/libmain/package.nix
  src/libstore-c/package.nix
  src/libstore-test-support/package.nix
  src/libstore-tests/package.nix
  src/libstore/package.nix
  src/libutil-c/package.nix
  src/libutil-test-support/package.nix
  src/libutil-tests/package.nix
  src/libutil/package.nix
  src/nix/package.nix
Labels: new-cli, fetching, c api

#10089 Improve support for relative path inputs
  doc/manual/rl-next/relative-path-flakes.md
  src/libexpr/call-flake.nix
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/path.cc
  src/libflake/flake/flake.cc
  src/libflake/flake/flakeref.cc
  src/libflake/flake/flakeref.hh
  src/libflake/flake/lockfile.cc
  src/libflake/flake/lockfile.hh
  src/nix/flake.md
  tests/functional/flakes/follow-paths.sh
  tests/functional/flakes/meson.build
  tests/functional/flakes/relative-paths.sh
Labels: documentation, new-cli, flakes, with-tests, idea approved, fetching

#12275 nix-env: add a --priority flag to --install
  doc/manual/source/command-ref/nix-env/install.md
  src/nix-env/nix-env.cc
  tests/functional/user-envs-test-case.sh
Labels: documentation, with-tests

#12277 Warn against the use of relative 'git+file:' flake inputs
  src/libfetchers/git.cc
Labels: fetching

#12280 Don't absolutize 'git+file:' in parseURLFlakeRef()
  src/libflake/flake/flakeref.cc
  tests/functional/flakes/flakes.sh
Labels: with-tests, backport 2.24-maintenance

#12283 Git fetcher: Replace RepoInfo::url by a std::variant
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libfetchers/git.cc
  src/libfetchers/mercurial.cc
  src/libfetchers/path.cc
  src/libflake/flake/flake.cc
  src/nix/develop.cc
Labels: new-cli, fetching

#12302 tests: Wait for network *online* and multi-user targets
  tests/nixos/git-submodules.nix
  tests/nixos/nix-copy-closure.nix
  tests/nixos/nix-copy.nix
  tests/nixos/remote-builds-ssh-ng.nix
  tests/nixos/remote-builds.nix
Labels: tests

#12297 Fix static build of nix
  packaging/dependencies.nix
  packaging/everything.nix
Labels: new-cli, build-problem, with-tests, fetching, c api

#12303 More mingw build fixes
  src/libfetchers/git.cc
  src/libflake/flake/flake.cc
  src/nix/upgrade-nix.cc
Labels: new-cli, fetching

#12293 Remove character not needed for a command
  doc/manual/source/installation/uninstall.md
Labels: documentation

#12315 tests: Wait for network *online* targets and/or multi-user targets (more)
  tests/nixos/git-submodules.nix
  tests/nixos/github-flakes.nix
  tests/nixos/nix-docker.nix
  tests/nixos/nss-preload.nix
  tests/nixos/s3-binary-cache-store.nix
  tests/nixos/sourcehut-flakes.nix
Labels: tests, backport 2.24-maintenance, backport 2.25-maintenance

#12317 Add unit of measurement for download-buffer-size
  src/libstore/filetransfer.hh
Labels: documentation

#12287 Backport git+file:./ fixes to 2.24 (#12107 + #12277)
  src/libexpr/eval.cc
  src/libfetchers/git.cc
  src/libfetchers/path.cc
  src/libfetchers/registry.cc
  src/libflake/flake/flakeref.cc
  src/libutil/file-system.cc
  src/libutil/file-system.hh
  src/libutil/source-accessor.cc
  tests/functional/flakes/flake-in-submodule.sh
  tests/functional/flakes/flakes.sh
Labels: with-tests, fetching

#12326 Nix 2.26 release notes
  doc/manual/rl-next/ignore-local-registries.md
  doc/manual/rl-next/nix-copy-flags.md
  doc/manual/rl-next/nix-instantiate-raw.md
  doc/manual/rl-next/nix-sshopts-parsing.md
  doc/manual/rl-next/relative-path-flakes.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/release-notes/rl-2.26.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
Labels: documentation

#12327 Update the release script
  maintainers/upload-release.pl
Labels: backport 2.26-maintenance

#12331 GitRepo::fetch(): Ignore $GIT_DIR
  src/libfetchers/git-utils.cc
  src/libutil/util.hh
  tests/functional/common/vars.sh
Labels: with-tests, fetching, backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#11900 Fix help test in dev shell
  tests/functional/help.sh
  tests/functional/meson.build
Labels: with-tests

#12338 Rename InputPath -> InputAttrPath
  src/libcmd/command.hh
  src/libcmd/installables.cc
  src/libexpr/call-flake.nix
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/libflake/flake/lockfile.cc
  src/libflake/flake/lockfile.hh
  src/nix/flake.cc
Labels: new-cli

#12336 libstore: Fix progress bars
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
Labels: bug, store, backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12348 doc/building: Update for #11799
  doc/manual/source/development/building.md
Labels: documentation

#12347 EvalState::resolveLookupPathPath(): Call resolveSymlinks() before pathExists()
  src/libexpr/eval.cc
  tests/functional/restricted.sh
Labels: regression, with-tests, backport 2.26-maintenance

#12351 Add a test for #12339
  tests/functional/nix-channel.sh
Labels: with-tests

#12356 Improve "illegal path references in fixed output derivation" error
  src/libstore/unix/build/local-derivation-goal.cc
Labels: backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12251 local-store: fix infinite loop on Windows
  src/libstore/local-store.cc
Labels: store

#12362 refactor: Extract EvalState::realiseString
  src/libexpr-c/nix_api_value.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
Labels: c api, backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12363 Issue #12161, add `meta.mainProgram`
  packaging/everything.nix
  src/nix/package.nix
Labels: backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12372 tests/functional/characterisation/framework: Log to stderr
  tests/functional/characterisation/framework.sh
Labels: with-tests
