Repository NixOS/nix, pull requests merged in 2025-06, with the labels that each got.

#13305 add documentation of tarball-ttl to nix-channel
  doc/manual/source/command-ref/nix-channel.md
Labels: documentation

#13323 GitSourceAccessor: Make thread-safe
  src/libfetchers/git-utils.cc
Labels: fetching

#13334 repl: Don't wait on incomplete parses from imported file
  src/libcmd/repl.cc
  tests/functional/repl.sh
Labels: with-tests, repl

#13348 Make the repl test more robust
  tests/functional/repl.sh
Labels: with-tests

#13361 Fix a minor typo
  doc/manual/source/installation/installing-binary.md
Labels: documentation

#12623 Switch builtins.sort to a custom stable PeekSort
  src/libexpr/primops.cc
  src/libutil-tests/meson.build
  src/libutil-tests/sort.cc
  src/libutil/include/nix/util/meson.build
  src/libutil/include/nix/util/sort.hh
  tests/functional/lang/eval-okay-sort.exp
  tests/functional/lang/eval-okay-sort.nix
Labels: with-tests, idea approved

#13371 tests: fixup with jq-1.8.0
  tests/functional/flakes/flakes.sh
  tests/functional/flakes/relative-paths.sh
Labels: with-tests, backport 2.29-maintenance

#13349 Introduce top-level `structuredAttrs` field in JSON derivation format
  doc/manual/source/language/advanced-attributes.md
  doc/manual/source/protocols/json/derivation.md
  doc/manual/source/store/derivation/index.md
  src/libstore-tests/data/derivation/ca/advanced-attributes-structured-attrs-defaults.json
  src/libstore-tests/data/derivation/ca/advanced-attributes-structured-attrs.json
  src/libstore-tests/data/derivation/ia/advanced-attributes-structured-attrs-defaults.json
  src/libstore-tests/data/derivation/ia/advanced-attributes-structured-attrs.json
  src/libstore/derivations.cc
  tests/functional/structured-attrs.sh
Labels: documentation, with-tests

#13353 Rework future tense in user-facing messages
  src/libcmd/installables.cc
  src/libexpr/include/nix/expr/eval-settings.hh
  src/libexpr/primops.cc
  src/libexpr/primops/context.cc
  src/libexpr/primops/fetchClosure.cc
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/include/nix/fetchers/fetch-settings.hh
  src/libflake/flake.cc
  src/libmain/plugin.cc
  src/libstore/include/nix/store/filetransfer.hh
  src/libstore/include/nix/store/globals.hh
  src/libstore/include/nix/store/local-fs-store.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/s3-binary-cache-store.hh
  src/libutil/experimental-features.cc
  src/libutil/include/nix/util/logging.hh
  src/nix-build/nix-build.cc
  src/nix/unix/daemon.cc
  tests/functional/fetchGit.sh
  tests/functional/fetchGitShallow.sh
  tests/functional/flakes/unlocked-override.sh
  tests/nixos/github-flakes.nix
Labels: new-cli, with-tests, fetching

#13383 Restore multiline formatting of lists in meson files
  meson.build
  src/libexpr-test-support/include/nix/expr/tests/meson.build
  src/libstore/linux/include/nix/store/meson.build
  src/libstore/linux/meson.build
  src/libutil/freebsd/include/nix/util/meson.build
  src/libutil/freebsd/meson.build
  src/libutil/linux/include/nix/util/meson.build
  src/libutil/linux/meson.build
  src/libutil/windows/include/nix/util/meson.build
  src/perl/t/meson.build
  tests/functional/plugins/meson.build
  tests/functional/test-libstoreconsumer/meson.build
Labels: with-tests

#13393 Fix typo: remove an extra word
  doc/manual/source/store/derivation/index.md
Labels: documentation

#13395 libstore-tests: Don't leak memory in tests
  src/libstore-test-support/include/nix/store/tests/nix_api_store.hh
  src/libstore-tests/nix_api_store.cc
Labels: c api
