Repository NixOS/nix, pull requests merged in 2025-10, with the labels that each got.

#14129 Remove all shellcheck exclusions
  maintainers/flake-module.nix
  tests/functional/pass-as-file.sh
  tests/functional/path-from-hash-part.sh
  tests/functional/path-info.sh
  tests/functional/placeholders.sh
  tests/functional/post-hook.sh
  tests/functional/pure-eval.sh
  tests/functional/read-only-store.sh
  tests/functional/readfile-context.sh
  tests/functional/recursive.sh
  tests/functional/referrers.sh
  tests/functional/remote-store.sh
  tests/functional/repair.sh
  tests/functional/restricted.sh
  tests/functional/secure-drv-outputs.sh
  tests/functional/selfref-gc.sh
  tests/functional/shell.shebang.sh
  tests/functional/simple.builder.sh
  tests/functional/supplementary-groups.sh
  tests/functional/toString-path.sh
  tests/functional/user-envs-migration.sh
  tests/functional/user-envs-test-case.sh
  tests/functional/user-envs.builder.sh
  tests/functional/why-depends.sh
Labels: with-tests

#14128 Expose some core implementation details and write a basic unit test for the dummy store
  src/libstore-tests/dummy-store.cc
  src/libstore-tests/meson.build
  src/libstore/dummy-store.cc
  src/libstore/include/nix/store/dummy-store-impl.hh
  src/libstore/include/nix/store/dummy-store.hh
  src/libstore/include/nix/store/meson.build
Labels: store

#14136 link to jitsi meeting in the PR docs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: contributor-experience

#14119 libexpr: Move derivation-internal.nix from corepkgsFS to internalFS
  src/libexpr/eval.cc
  tests/functional/lang/eval-fail-derivation-name.err.exp
Labels: language, with-tests

#14097 Realisation improvements, dummy store support, unit testing
  src/libcmd/built-path.cc
  src/libstore-tests/common-protocol.cc
  src/libstore-tests/dummy-store.cc
  src/libstore-tests/realisation.cc
  src/libstore-tests/serve-protocol.cc
  src/libstore-tests/worker-protocol.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/derivation-building-goal.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/daemon.cc
  src/libstore/dummy-store.cc
  src/libstore/include/nix/store/binary-cache-store.hh
  src/libstore/include/nix/store/build/derivation-goal.hh
  src/libstore/include/nix/store/build/drv-output-substitution-goal.hh
  src/libstore/include/nix/store/dummy-store-impl.hh
  src/libstore/include/nix/store/dummy-store.hh
  src/libstore/include/nix/store/legacy-ssh-store.hh
  src/libstore/include/nix/store/local-overlay-store.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/realisation.hh
  src/libstore/include/nix/store/remote-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/local-overlay-store.cc
  src/libstore/local-store.cc
  src/libstore/misc.cc
  src/libstore/realisation.cc
  src/libstore/remote-store.cc
  src/libstore/restricted-store.cc
  src/libstore/store-api.cc
  src/libstore/unix/build/derivation-builder.cc
  src/libutil/include/nix/util/hash.hh
Labels: new-cli, with-tests, store, c api

#14154 treewide: Remove toView() because it leads to segfaults when compiled…
  src/libcmd/repl.cc
  src/libexpr/eval.cc
  src/libexpr/primops.cc
  src/libexpr/primops/fromTOML.cc
  src/libexpr/print.cc
  src/libmain/progress-bar.cc
  src/libstore/daemon.cc
  src/libutil/include/nix/util/strings.hh
  src/libutil/logging.cc
  src/libutil/strings.cc
  src/nix/config-check.cc
  src/nix/nix-build/nix-build.cc
  src/nix/nix-env/user-env.cc
Labels: new-cli, repl, backport 2.28-maintenance, backport 2.30-maintenance, backport 2.31-maintenance

#14159 Revert #14097, #14022
  src/libcmd/built-path.cc
  src/libstore-tests/common-protocol.cc
  src/libstore-tests/dummy-store.cc
  src/libstore-tests/realisation.cc
  src/libstore-tests/serve-protocol.cc
  src/libstore-tests/worker-protocol.cc
  src/libstore/binary-cache-store.cc
  src/libstore/build/derivation-building-goal.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-resolution-goal.cc
  src/libstore/build/drv-output-substitution-goal.cc
  src/libstore/build/worker.cc
  src/libstore/daemon.cc
  src/libstore/dummy-store.cc
  src/libstore/include/nix/store/binary-cache-store.hh
  src/libstore/include/nix/store/build/derivation-building-goal.hh
  src/libstore/include/nix/store/build/derivation-goal.hh
  src/libstore/include/nix/store/build/derivation-resolution-goal.hh
  src/libstore/include/nix/store/build/drv-output-substitution-goal.hh
  src/libstore/include/nix/store/build/worker.hh
  src/libstore/include/nix/store/dummy-store-impl.hh
  src/libstore/include/nix/store/dummy-store.hh
  src/libstore/include/nix/store/legacy-ssh-store.hh
  src/libstore/include/nix/store/local-overlay-store.hh
  src/libstore/include/nix/store/local-store.hh
  src/libstore/include/nix/store/meson.build
  src/libstore/include/nix/store/realisation.hh
  src/libstore/include/nix/store/remote-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/local-overlay-store.cc
  src/libstore/local-store.cc
  src/libstore/meson.build
  src/libstore/misc.cc
  src/libstore/realisation.cc
  src/libstore/remote-store.cc
  src/libstore/restricted-store.cc
  src/libstore/store-api.cc
  src/libstore/unix/build/derivation-builder.cc
  src/libutil/include/nix/util/hash.hh
  tests/functional/build.sh
  tests/functional/ca/issue-13247.sh
Labels: with-tests, store

#14145 External derivation builders
  src/libstore/globals.cc
  src/libstore/include/nix/store/globals.hh
  src/libstore/unix/build/derivation-builder.cc
  src/libstore/unix/build/external-derivation-builder.cc
  src/libutil/experimental-features.cc
  src/libutil/include/nix/util/experimental-features.hh
  tests/functional/external-builders.sh
  tests/functional/meson.build
Labels: with-tests

#14166 docs(release-notes): note fix for fetchTarball/fetchurl substitution
  doc/manual/source/release-notes/rl-2.32.md
Labels: documentation

#14164 Release notes for Nix 2.32
  doc/manual/rl-next/c-api-byidx.md
  doc/manual/rl-next/c-api-lazy-accessors.md
  doc/manual/rl-next/cached-substituted-inputs.md
  doc/manual/rl-next/derivation-json.md
  doc/manual/rl-next/dropped-compat.md
  doc/manual/rl-next/faster-nix-flake-check.md
  doc/manual/rl-next/http-binary-cache-compression.md
  doc/manual/rl-next/shorter-build-dir-names.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/release-notes/rl-2.32.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
Labels: documentation
