Repository NixOS/nix, pull requests merged in 2025-02, with the labels that each got.

#12249 Remove broken stack size logic from Windows
  src/libutil/current-process.cc
  src/libutil/current-process.hh
  src/nix/main.cc
Labels: new-cli

#12376 Allow fetching using NAR hash without --allow-dirty-locks
  src/libexpr/primops/fetchTree.cc
  src/libfetchers/fetchers.cc
  src/libfetchers/fetchers.hh
  src/libflake/flake/lockfile.cc
  tests/functional/fetchGit.sh
  tests/functional/flakes/unlocked-override.sh
Labels: with-tests, fetching

#12385 Fix duplicate setPathDisplay()
  src/libfetchers/git-utils.cc
  src/libfetchers/git-utils.hh
  src/libfetchers/git.cc
  src/libfetchers/github.cc
  src/libfetchers/tarball.cc
  tests/functional/fetchGit.sh
Labels: with-tests, fetching, backport 2.26-maintenance

#12286 Fix flakes follow symlinks
  src/libflake/flake/flakeref.cc
  tests/functional/flakes/meson.build
  tests/functional/flakes/symlink-paths.sh
Labels: with-tests

#12405 nix-profile.fish: Typo NIX_SS{H => L}_CERT_FILE
  scripts/nix-profile.fish.in
Labels: backport 2.26-maintenance

#12408 More debugging documentation
  doc/manual/source/development/building.md
  doc/manual/source/development/debugging.md
  doc/manual/source/development/testing.md
Labels: documentation

#12415 Fix shellcheck lints
  tests/functional/flakes/symlink-paths.sh
Labels: with-tests

#12386 Git fetcher: Don't create refs when fetching by revision
  src/libfetchers/git.cc
Labels: fetching

#12379 Add BLAKE3 hashing algorithm
  doc/manual/source/command-ref/nix-hash.md
  doc/manual/source/command-ref/nix-prefetch-url.md
  doc/manual/source/language/advanced-attributes.md
  doc/manual/source/protocols/json/derivation.md
  src/libcmd/misc-store-flags.cc
  src/libexpr-tests/error_traces.cc
  src/libutil-tests/hash.cc
  src/libutil/experimental-features.cc
  src/libutil/experimental-features.hh
  src/libutil/hash.cc
  src/libutil/hash.hh
  src/libutil/meson.build
  src/libutil/package.nix
Labels: documentation

#12373 pre-commit/check-merge-conflicts-2: fix use outside dev shell
  maintainers/flake-module.nix
  tests/functional/git-hashing/fixed.sh
  tests/functional/git-hashing/simple.sh
  tests/functional/help.sh
Labels: with-tests, backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12290 Document Store Derivations and Deriving Paths
  doc/manual/redirects.js
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/architecture/architecture.md
  doc/manual/source/command-ref/nix-env/install.md
  doc/manual/source/command-ref/nix-env/query.md
  doc/manual/source/command-ref/nix-instantiate.md
  doc/manual/source/glossary.md
  doc/manual/source/language/derivations.md
  doc/manual/source/language/import-from-derivation.md
  doc/manual/source/language/string-interpolation.md
  doc/manual/source/protocols/derivation-aterm.md
  doc/manual/source/protocols/json/store-object-info.md
  doc/manual/source/release-notes/rl-0.8.md
  doc/manual/source/release-notes/rl-2.0.md
  doc/manual/source/store/building.md
  doc/manual/source/store/drv.md
  src/libcmd/misc-store-flags.cc
  src/libexpr/primops.cc
  src/libstore/globals.hh
  src/nix/derivation-show.cc
  src/nix/search.md
Labels: documentation, new-cli

#12441 Rename to "content-address*ing* derivation"
  doc/manual/redirects.js
  doc/manual/source/command-ref/nix-store/realise.md
  doc/manual/source/development/testing.md
  doc/manual/source/glossary.md
  doc/manual/source/store/drv.md
  src/libexpr-tests/nix_api_expr.cc
  src/libstore/build/derivation-goal.cc
  src/libstore/ca-specific-schema.sql
  src/libstore/daemon.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
  src/libstore/remote-store.cc
  src/libstore/store-api.hh
  src/libstore/unix/build/local-derivation-goal.cc
  src/libstore/unix/build/local-derivation-goal.hh
  src/nix-store/nix-store.cc
  tests/functional/ca/content-addressed.nix
  tests/functional/ca/derivation-json.sh
  tests/functional/dyn-drv/old-daemon-error-hack.nix
  tests/functional/dyn-drv/text-hashed-output.nix
Labels: documentation, with-tests, store, c api

#12421 Add `inputs.self.submodules` flake attribute
  doc/manual/rl-next/self-submodules-attr.md
  src/libcmd/common-eval-args.cc
  src/libfetchers/fetchers.cc
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/libflake/flake/flakeref.cc
  src/libflake/flake/flakeref.hh
  src/nix/flake.cc
  tests/functional/flakes/flake-in-submodule.sh
Labels: documentation, new-cli, with-tests, fetching

#12255 SinkToSource: avoid heap allocation
  src/libutil/serialise.cc
Labels: store

#12450 packaging/components.nix: Don't import a symlink
  packaging/components.nix
Labels: backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12439 Set FD_CLOEXEC on sockets created by curl
  doc/manual/rl-next/curl-cloexec.md
  src/libstore/filetransfer.cc
Labels: documentation

#12458 lockFlake(): When refetching a locked flake, use the locked ref
  src/libflake/flake/flake.cc
Labels: regression, flakes, backport 2.26-maintenance

#6346 Get rid of `impureOutputHash`; fix possible bug
  src/libstore/build/derivation-goal.cc
  src/libstore/derivations.cc
  src/libstore/derivations.hh
Labels: store

#12443 nix flake prefetch: Add --out-link option
  src/nix/flake-prefetch.md
  src/nix/flake.cc
  tests/functional/tarball.sh
Labels: documentation, new-cli, with-tests

#12468 Add `inputs.self.lfs` flake attribute
  doc/manual/rl-next/git-lfs-support.md
  src/libflake/flake/flake.cc
  tests/nixos/fetch-git/test-cases/lfs/default.nix
Labels: documentation

#12400 Add Rosetta 2 Info Message
  src/libstore/unix/build/local-derivation-goal.cc
Labels: documentation, new-cli, with-tests, store, fetching, c api

#10748 Expose a bunch of things in the Legacy SSH Store for Hydra
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
Labels: store, backport 2.26-maintenance

#9415 Revert "Revert "Adapt scheduler to work with dynamic derivations
  src/libstore/build/derivation-creation-and-realisation-goal.cc
  src/libstore/build/derivation-creation-and-realisation-goal.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.cc
  src/libstore/build/goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  src/libstore/meson.build
  tests/functional/dyn-drv/build-built-drv.sh
  tests/functional/dyn-drv/dep-built-drv.sh
  tests/functional/dyn-drv/failing-outer.sh
  tests/functional/dyn-drv/meson.build
  tests/functional/dyn-drv/text-hashed-output.nix
Labels: with-tests, RFC, scheduling

#12425 More interesting dyn drv test case
  tests/functional/dyn-drv/dep-built-drv-2.sh
  tests/functional/dyn-drv/meson.build
  tests/functional/dyn-drv/non-trivial.nix
Labels: with-tests

#12482 dep-built-drv-2.sh: Don't fail with "cannot create symlink"
  tests/functional/dyn-drv/dep-built-drv-2.sh
Labels: with-tests

#10765 Add `SSHMaster::Connection::trySetBufferSize`
  src/libstore/legacy-ssh-store.cc
  src/libstore/legacy-ssh-store.hh
  src/libstore/ssh.cc
  src/libstore/ssh.hh
Labels: store, backport 2.26-maintenance

#12481 resolveLookupPathPath(): Fix caching of negative lookups
  src/libexpr/eval-settings.cc
  src/libexpr/eval.cc
Labels: backport 2.26-maintenance

#5640 [backport 2.3] Separate auth and logic for the daemon
  src/nix-daemon/nix-daemon.cc
  tests/remote-store.sh
Labels: contributor-experience

#12490 Fix a few warnings
  src/libexpr/eval-settings.hh
  src/libfetchers/meson.build
  src/libutil/file-descriptor.cc
  src/nix/meson.build
  src/perl/meson.build
  tests/functional/meson.build
Labels: new-cli, with-tests, fetching

#12492 Move code related to NIX_MAN_DIR from libstore to nix-cli
  src/libmain/shared.cc
  src/libmain/shared.hh
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/nix-build/nix-build.cc
  src/nix-channel/nix-channel.cc
  src/nix-collect-garbage/nix-collect-garbage.cc
  src/nix-copy-closure/nix-copy-closure.cc
  src/nix-env/nix-env.cc
  src/nix-instantiate/nix-instantiate.cc
  src/nix-store/nix-store.cc
  src/nix/hash.cc
  src/nix/man-pages.cc
  src/nix/man-pages.hh
  src/nix/meson.build
  src/nix/prefetch.cc
  src/nix/unix/daemon.cc
Labels: new-cli

#12495 windows: fix compilation after recent changes
  src/libstore/build/derivation-creation-and-realisation-goal.hh
  src/libstore/build/worker.cc
  src/libstore/legacy-ssh-store.cc
Labels: store

#6962 Make 'logger' a std::unique_ptr
  src/libexpr-tests/primops.cc
  src/libmain/loggers.cc
  src/libmain/progress-bar.cc
  src/libmain/progress-bar.hh
  src/libstore/daemon.cc
  src/libutil/logging.cc
  src/libutil/logging.hh
  src/libutil/unix/processes.cc
  src/nix/main.cc
Labels: bug, new-cli, contributor-experience

#12504 repl: suppress progress bar in printValue()
  src/libcmd/repl.cc
Labels: repl

#12498 Restore detailed Nix CLI version
  packaging/dependencies.nix
  src/libcmd/package.nix
  src/libexpr-c/package.nix
  src/libexpr-test-support/package.nix
  src/libexpr-tests/package.nix
  src/libexpr/package.nix
  src/libfetchers-tests/package.nix
  src/libfetchers/package.nix
  src/libflake-c/package.nix
  src/libflake-tests/package.nix
  src/libflake/package.nix
  src/libmain-c/package.nix
  src/libmain/package.nix
  src/libstore-c/package.nix
  src/libstore-test-support/package.nix
  src/libstore-tests/package.nix
  src/libstore/globals.cc
  src/libstore/globals.hh
  src/libstore/package.nix
  src/libutil-c/package.nix
  src/libutil-test-support/package.nix
  src/libutil-tests/package.nix
  src/libutil/package.nix
  src/nix/main.cc
  src/nix/meson.build
  src/nix/package.nix
  tests/functional/misc.sh
  tests/functional/package.nix
Labels: new-cli, build-problem, with-tests, fetching, c api, backport 2.26-maintenance

#12513 doc: Fix `ccacheStdenvPackages` typo
  doc/manual/source/development/building.md
Labels: documentation

#12503 Overriding the componentized build
  flake.nix
  packaging/components.nix
  packaging/dependencies.nix
Labels: feature, new-cli, build-problem, with-tests, fetching, c api

#12518 packaging: Restore libgit2 USE_SSH=exec
  packaging/dependencies.nix
Labels: fetching, backport 2.25-maintenance, backport 2.26-maintenance

#12525 MountedSourceAccessor: Move to libutil
  src/libfetchers/git.cc
  src/libfetchers/meson.build
  src/libfetchers/mounted-source-accessor.hh
  src/libutil/meson.build
  src/libutil/mounted-source-accessor.cc
  src/libutil/source-accessor.hh
Labels: fetching

#12512 Use a union source accessor to put chroot stores in the logical location
  src/libcmd/common-eval-args.cc
  src/libexpr/eval.cc
  src/libexpr/eval.hh
  src/libexpr/primops.cc
  src/libflake/flake/flake.cc
  src/libflake/flake/flake.hh
  src/libutil/meson.build
  src/libutil/mounted-source-accessor.cc
  src/libutil/source-accessor.hh
  src/libutil/union-source-accessor.cc
  src/nix/flake.cc
  tests/functional/chroot-store.sh
Labels: new-cli, with-tests, fetching

#12391 Only try to chmod /nix/var/nix/profiles/per-user when necessary
  src/libstore/local-store.cc
Labels: store, backport 2.24-maintenance, backport 2.25-maintenance, backport 2.26-maintenance

#12543 Fix perl store bindings
  src/perl/lib/Nix/Store.xs
Labels: backport 2.26-maintenance

#12510 libstore: fix expected bytes in progress bar
  src/libstore/store-api.cc
Labels: store, backport 2.26-maintenance

#12553 nix flake archive: Skip relative path inputs
  src/nix/flake.cc
  tests/functional/flakes/relative-paths.sh
Labels: new-cli, with-tests, backport 2.26-maintenance

#12557 packaging: Use correct stdenv for x86_64-darwin
  flake.nix
  packaging/components.nix
Labels: build-problem

#12546 Include the Nix version in the title of the manual
  doc/manual/book.toml.in
  doc/manual/meson.build
Labels: documentation

#12559 nix flake archive: Recurse into relative path inputs
  src/nix/flake.cc
  tests/functional/flakes/common.sh
  tests/functional/flakes/relative-paths.sh
Labels: new-cli, with-tests, backport 2.26-maintenance

#12465 Fine-grained access-tokens
  src/libfetchers-tests/access-tokens.cc
  src/libfetchers-tests/meson.build
  src/libfetchers/fetch-settings.hh
  src/libfetchers/fetchers.hh
  src/libfetchers/github.cc
Labels: fetching

#12501 Remove {start,stop}ProgressBar()
  src/libmain/loggers.cc
  src/libmain/loggers.hh
  src/libmain/progress-bar.cc
  src/libmain/progress-bar.hh
  src/libmain/shared.cc
  src/nix/build.cc
  src/nix/cat.cc
  src/nix/develop.cc
  src/nix/edit.cc
  src/nix/eval.cc
  src/nix/log.cc
  src/nix/prefetch.cc
  src/nix/run.cc
  src/nix/sigs.cc
  src/nix/upgrade-nix.cc
  src/nix/why-depends.cc
Labels: new-cli

#12574 2.27 release notes
  doc/manual/rl-next/curl-cloexec.md
  doc/manual/rl-next/git-lfs-support.md
  doc/manual/rl-next/self-submodules-attr.md
  doc/manual/source/SUMMARY.md.in
  doc/manual/source/release-notes/rl-2.27.md
  maintainers/data/release-credits-email-to-handle.json
  maintainers/data/release-credits-handle-to-name.json
Labels: documentation

#12576 [2.27] Once again revert "Adapt scheduler to work with dynamic derivations"
  src/libstore/build/derivation-creation-and-realisation-goal.cc
  src/libstore/build/derivation-creation-and-realisation-goal.hh
  src/libstore/build/derivation-goal.cc
  src/libstore/build/derivation-goal.hh
  src/libstore/build/entry-points.cc
  src/libstore/build/goal.cc
  src/libstore/build/goal.hh
  src/libstore/build/worker.cc
  src/libstore/build/worker.hh
  src/libstore/derived-path-map.cc
  src/libstore/derived-path-map.hh
  src/libstore/meson.build
  tests/functional/dyn-drv/build-built-drv.sh
  tests/functional/dyn-drv/dep-built-drv-2.sh
  tests/functional/dyn-drv/dep-built-drv.sh
  tests/functional/dyn-drv/failing-outer.sh
Labels: with-tests

#12580 Add host attribute of github/gitlab flakerefs to URL serialization
  src/libfetchers/github.cc
Labels: fetching, backport 2.27-maintenance

#12582 packaging/everything.nix: Use a multi-output derivation
  packaging/everything.nix
Labels: build-problem
