Repository NixOS/nix, pull requests merged in 2025-09, with the labels that each got.

#13883 Reapply "Merge pull request #13741 from xokdvium/toml-timestamps"
  packaging/dependencies.nix
  src/libexpr/meson.build
  src/libexpr/primops/fromTOML.cc
  tests/functional/lang/eval-fail-fromTOML-overflow.err.exp
  tests/functional/lang/eval-fail-fromTOML-overflow.nix
  tests/functional/lang/eval-fail-fromTOML-underflow.err.exp
  tests/functional/lang/eval-fail-fromTOML-underflow.nix
  tests/functional/lang/eval-okay-fromTOML-timestamps.exp
  tests/functional/lang/eval-okay-fromTOML-timestamps.nix
Labels: with-tests

#13881 lib{store,fetchers}: Pass URLs specified directly verbatim to FileTra…
  src/libfetchers/tarball.cc
  src/libstore/builtins/fetchurl.cc
  src/libstore/filetransfer.cc
  src/libstore/include/nix/store/filetransfer.hh
  src/libutil/include/nix/util/url.hh
  src/libutil/url.cc
  src/nix/prefetch.cc
  tests/functional/fetchurl.sh
Labels: new-cli, with-tests, fetching

#13839 don't include derivation name in temporary build directories
  doc/manual/rl-next/shorter-build-dir-names.md
  src/libstore/unix/build/derivation-builder.cc
  tests/functional/check.sh
  tests/nixos/user-sandboxing/default.nix
Labels: documentation, with-tests

#13900 Fix downstream MinGW build by not looking for Boost Regex
  src/libexpr/meson.build
  src/libstore/meson.build
  src/libutil/meson.build
Labels: backport 2.28-maintenance, backport 2.29-maintenance, backport 2.30-maintenance, backport 2.31-maintenance

#13919 libexpr: Slim down Bindings to 8 bytes (on 64 bit systems)
  src/libexpr-c/nix_api_value.cc
  src/libexpr-tests/value/print.cc
  src/libexpr/attr-set.cc
  src/libexpr/eval.cc
  src/libexpr/include/nix/expr/attr-set.hh
  src/libexpr/include/nix/expr/eval.hh
Labels: c api

#13911 libstore: Do not normalize daemon -> unix://, local -> local://
  src/libstore-tests/data/store-reference/daemon_shorthand.txt
  src/libstore-tests/data/store-reference/local_shorthand_3.txt
  src/libstore-tests/local-store.cc
  src/libstore-tests/store-reference.cc
  src/libstore-tests/uds-remote-store.cc
  src/libstore/include/nix/store/store-reference.hh
  src/libstore/local-store.cc
  src/libstore/store-api.cc
  src/libstore/store-reference.cc
  src/libstore/uds-remote-store.cc
  tests/functional/store-info.sh
Labels: with-tests, store, backport 2.31-maintenance

#13845 Add a test for `nix flake check` building checks
  tests/functional/flakes/check.sh
Labels: with-tests

#13925 Generalize recognized git url schemas
  src/libfetchers/git.cc
Labels: fetching

#13933 LocalStore::State: Put behind a ref to reduce false sharing
  src/libstore/gc.cc
  src/libstore/include/nix/store/local-store.hh
  src/libstore/local-store.cc
Labels: store

#13939 Pass `dir` in extraAttrs when overriding the registry
  src/libcmd/installables.cc
  tests/functional/flakes/flakes.sh
Labels: with-tests

#13932 Reduce false sharing between pathInfoCache and Store
  src/libstore/binary-cache-store.cc
  src/libstore/include/nix/store/store-api.hh
  src/libstore/local-store.cc
  src/libstore/remote-store.cc
  src/libstore/store-api.cc
  src/libutil/include/nix/util/ref.hh
  src/libutil/include/nix/util/sync.hh
Labels: store

#13956 Drop unused LegacySSHStore::addMultipleToStoreLegacy()
  src/libstore/include/nix/store/legacy-ssh-store.hh
  src/libstore/legacy-ssh-store.cc
Labels: store

#13957 Remove support for serve protocol version < 5
  src/libstore-tests/data/serve-protocol/handshake-to-client.bin
  src/libstore-tests/serve-protocol.cc
  src/libstore/include/nix/store/serve-protocol-connection.hh
  src/libstore/include/nix/store/serve-protocol.hh
  src/libstore/legacy-ssh-store.cc
  src/libstore/serve-protocol-connection.cc
  src/nix/nix-store/nix-store.cc
Labels: new-cli, store

#13959 Move exportPaths() / importPaths() out of the Store class
  src/libstore/export-import.cc
  src/libstore/include/nix/store/export-import.hh
  src/libstore/include/nix/store/meson.build
  src/libstore/include/nix/store/store-api.hh
  src/nix/nix-store/nix-store.cc
  src/perl/lib/Nix/Store.xs
Labels: new-cli

#13811 doc: Rephrase store-object.md
  doc/manual/source/store/store-object.md
Labels: documentation

#13991 libexpr: Remove Bindings::find
  src/libexpr/eval.cc
  src/libexpr/get-drvs.cc
  src/libexpr/include/nix/expr/attr-set.hh
  src/libexpr/include/nix/expr/eval.hh
  src/libexpr/primops.cc
  src/nix/nix-env/user-env.cc
Labels: new-cli

#13995 meson: add soversion with nix version to give SONAME to libs
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libexpr-test-support/meson.build
  src/libexpr/meson.build
  src/libfetchers-c/meson.build
  src/libfetchers/meson.build
  src/libflake-c/meson.build
  src/libflake/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libstore-test-support/meson.build
  src/libstore/meson.build
  src/libutil-c/meson.build
  src/libutil-test-support/meson.build
  src/libutil/meson.build
Labels: fetching, c api

#13998 nix flake check: Skip substitutable derivations
  doc/manual/rl-next/faster-nix-flake-check.md
  src/nix/flake.cc
  tests/functional/flakes/check.sh
Labels: documentation, new-cli, with-tests

#10915 Use `MemorySourceAccessor` in `DummyStore` so writes work
  src/libfetchers-tests/git.cc
  src/libstore/dummy-store.cc
  src/libstore/dummy-store.md
  src/libstore/include/nix/store/dummy-store.hh
  src/libstore/include/nix/store/meson.build
  src/libutil/include/nix/util/memory-source-accessor.hh
Labels: store

#14013 Revert "Merge pull request #13938 from NixOS/import-thunk"
  src/libexpr/eval.cc
  src/libexpr/include/nix/expr/eval.hh
  src/libfetchers/filtering-source-accessor.cc
  src/libfetchers/git-utils.cc
  src/libfetchers/include/nix/fetchers/filtering-source-accessor.hh
  src/libutil/include/nix/util/canon-path.hh
  src/libutil/include/nix/util/source-path.hh
  src/libutil/include/nix/util/util.hh
  src/libutil/posix-source-accessor.cc
Labels: fetching

#14014 libexpr-c: Fix mismatched new/delete
  src/libexpr-c/nix_api_expr.cc
Labels: c api

#14015 doc: document global builtins
  doc/manual/source/language/builtins-prefix.md
Labels: documentation

#14016 treewide: Support builds with ASAN, enable in CI
  ci/gha/tests/default.nix
  doc/manual/meson.build
  doc/manual/source/command-ref/meson.build
  doc/manual/source/development/debugging.md
  doc/manual/source/development/meson.build
  meson.build
  nix-meson-build-support/asan-options/meson.build
  nix-meson-build-support/common/meson.build
  src/libcmd/meson.build
  src/libexpr-c/meson.build
  src/libexpr-test-support/meson.build
  src/libexpr-tests/meson.build
  src/libexpr-tests/package.nix
  src/libexpr/meson.build
  src/libfetchers-c/meson.build
  src/libfetchers-tests/meson.build
  src/libfetchers-tests/package.nix
  src/libfetchers/meson.build
  src/libflake-c/meson.build
  src/libflake-tests/meson.build
  src/libflake-tests/package.nix
  src/libflake/meson.build
  src/libmain-c/meson.build
  src/libmain/meson.build
  src/libstore-c/meson.build
  src/libstore-test-support/meson.build
  src/libstore-tests/meson.build
  src/libstore-tests/package.nix
  src/libstore/meson.build
  src/libutil-c/meson.build
  src/libutil-test-support/meson.build
  src/libutil-tests/meson.build
  src/libutil-tests/package.nix
  src/libutil/meson.build
  src/nix/asan-options.cc
  src/nix/meson.build
  tests/functional/meson.build
  tests/functional/test-libstoreconsumer/main.cc
  tests/functional/test-libstoreconsumer/meson.build
  tests/functional/test-libstoreconsumer/nix-meson-build-support
Labels: documentation, new-cli, with-tests, fetching, c api

#14020 libstore: Set display prefix for dummy store
  src/libstore/dummy-store.cc
Labels: store

#14023 Make dummy store also store path info
  src/libstore/dummy-store.cc
  src/libstore/dummy-store.md
  src/libstore/include/nix/store/dummy-store.hh
  src/libutil-tests/git.cc
  src/libutil/include/nix/util/memory-source-accessor.hh
  src/libutil/memory-source-accessor.cc
  tests/functional/eval-store.sh
  tests/functional/flakes/flakes.sh
  tests/nixos/github-flakes.nix
Labels: with-tests, store

#14038 libstore: Make writable dummy store thread-safe
  src/libstore/dummy-store.cc
  src/libstore/include/nix/store/path.hh
  src/libutil-tests/git.cc
  src/libutil/include/nix/util/memory-source-accessor.hh
  src/libutil/memory-source-accessor.cc
Labels: store

#14048 Shellcheck
  maintainers/flake-module.nix
  misc/bash/completion.sh
  packaging/dev-shell.nix
  src/nix/get-env.sh
  tests/functional/ca/build-with-garbage-path.sh
  tests/functional/ca/common.sh
  tests/functional/characterisation-test-infra.sh
Labels: new-cli, with-tests

#14027 More floating content-addressing derivation tests
  maintainers/flake-module.nix
  tests/functional/build-delete.sh
  tests/functional/ca/build-delete.sh
  tests/functional/ca/meson.build
  tests/functional/ca/multiple-outputs.sh
  tests/functional/multiple-outputs.sh
Labels: with-tests

#14049 Create a second `Store::getFSAccessor` for a single store object
  src/libfetchers/fetchers.cc
  src/libfetchers/github.cc
  src/libfetchers/include/nix/fetchers/meson.build
  src/libfetchers/include/nix/fetchers/store-path-accessor.hh
  src/libfetchers/mercurial.cc
  src/libfetchers/meson.build
  src/libfetchers/path.cc
  src/libfetchers/store-path-accessor.cc
  src/libfetchers/tarball.cc
  src/libstore/binary-cache-store.cc
  src/libstore/dummy-store.cc
  src/libstore/include/nix/store/binary-cache-store.hh
  src/libstore/include/nix/store/legacy-ssh-store.hh
  src/libstore/include/nix/store/local-fs-store.hh
  src/libstore/include/nix/store/remote-fs-accessor.hh
  src/libstore/include/nix/store/remote-store.hh
  src/libstore/include/nix/store/store-api.hh
  src/libstore/include/nix/store/uds-remote-store.hh
  src/libstore/local-fs-store.cc
  src/libstore/remote-fs-accessor.cc
  src/libstore/remote-store.cc
  src/libstore/ssh-store.cc
  src/libstore/store-api.cc
  src/nix/cat.cc
  src/nix/ls.cc
  src/nix/nix-store/nix-store.cc
Labels: new-cli, store, fetching

#14061 libexpr: Preparation for more k-way updates of attribute sets (NFC)
  src/libexpr/eval.cc
  src/libexpr/include/nix/expr/gc-small-vector.hh
  src/libexpr/include/nix/expr/nixexpr.hh
  src/libexpr/include/nix/expr/primops.hh
  tests/functional/lang/eval-fail-recursion.err.exp
Labels: with-tests

#14057 Modernize and test derived path JSON
  src/libcmd/built-path.cc
  src/libstore-tests/data/derived-path/multi_built_built.json
  src/libstore-tests/data/derived-path/multi_built_built_wildcard.json
  src/libstore-tests/data/derived-path/multi_opaque.json
  src/libstore-tests/data/derived-path/mutli_built.json
  src/libstore-tests/data/derived-path/single_built.json
  src/libstore-tests/data/derived-path/single_built_built.json
  src/libstore-tests/data/derived-path/single_opaque.json
  src/libstore-tests/derived-path.cc
  src/libstore/derived-path.cc
  src/libstore/include/nix/store/derived-path.hh
  src/nix/build.cc
Labels: new-cli

#14068 shellcheck fix tests/functional/completions.sh
  maintainers/flake-module.nix
  tests/functional/completions.sh
Labels: with-tests

#14070 shellcheck fix functional/config.sh
  maintainers/flake-module.nix
  tests/functional/config.sh
Labels: with-tests

#14077 shellcheck fix functional/dyn-drv/common.sh
  maintainers/flake-module.nix
  tests/functional/dyn-drv/common.sh
Labels: with-tests

#14074 shellcheck fix functional/dependencies.sh
  maintainers/flake-module.nix
  tests/functional/dependencies.sh
Labels: with-tests

#14076 shellcheck fix functional/dyn-drv/build-built-drv.sh
  maintainers/flake-module.nix
  tests/functional/dyn-drv/build-built-drv.sh
Labels: with-tests

#14030 C API: Various improvements to attribute/item access
  doc/manual/rl-next/c-api-lazy-accessors.md
  src/libexpr-c/nix_api_value.cc
  src/libexpr-c/nix_api_value.h
  src/libexpr-tests/nix_api_expr.cc
  src/libexpr-tests/nix_api_value.cc
  src/libutil-c/nix_api_util.h
Labels: documentation, c api

#14071 shellcheck fix functional/db-migration.sh
  maintainers/flake-module.nix
  tests/functional/db-migration.sh
Labels: with-tests

#14041 libfetchers: avoid re-copying substituted inputs
  doc/manual/rl-next/cached-substituted-inputs.md
  src/libfetchers/fetchers.cc
Labels: documentation, fetching

#14082 shellcheck: multiple file fixes
  maintainers/flake-module.nix
  tests/functional/dyn-drv/old-daemon-error-hack.sh
  tests/functional/dyn-drv/recursive-mod-json.sh
  tests/functional/eval-store.sh
  tests/functional/export-graph.sh
  tests/functional/export.sh
  tests/functional/fetchClosure.sh
  tests/functional/fetchGit.sh
  tests/functional/fetchGitRefs.sh
Labels: with-tests

#14092 doc: Fix invalid devshell attrpath
  doc/manual/source/development/building.md
Labels: documentation

#14098 libstore: Make all StoreConfig::getReference implementations return s…
  src/libstore-tests/http-binary-cache-store.cc
  src/libstore-tests/uds-remote-store.cc
  src/libstore/http-binary-cache-store.cc
  src/libstore/include/nix/store/dummy-store.hh
  src/libstore/s3-binary-cache-store.cc
  src/libstore/uds-remote-store.cc
Labels: store

#14099 libstore: Call canonPath for constructing LocalFSStoreConfig::rootDir
  src/libstore/include/nix/store/local-fs-store.hh
  src/libstore/local-fs-store.cc
Labels: store

#14090 nixexpr: introduce arena to hold ExprString strings
  src/libexpr/eval.cc
  src/libexpr/include/nix/expr/eval.hh
  src/libexpr/include/nix/expr/nixexpr.hh
  src/libexpr/include/nix/expr/parser-state.hh
  src/libexpr/nixexpr.cc
  src/libexpr/parser.y
Labels: new-cli, repl, c api

#14108 shellcheck fixes for tests/functional/local-overlay-store
  maintainers/flake-module.nix
  tests/functional/local-overlay-store/add-lower.sh
  tests/functional/local-overlay-store/bad-uris.sh
  tests/functional/local-overlay-store/build-inner.sh
  tests/functional/local-overlay-store/build.sh
  tests/functional/local-overlay-store/check-post-init-inner.sh
  tests/functional/local-overlay-store/check-post-init.sh
  tests/functional/local-overlay-store/common.sh
  tests/functional/local-overlay-store/delete-duplicate.sh
  tests/functional/local-overlay-store/delete-refs-inner.sh
  tests/functional/local-overlay-store/delete-refs.sh
  tests/functional/local-overlay-store/gc-inner.sh
  tests/functional/local-overlay-store/gc.sh
  tests/functional/local-overlay-store/optimise-inner.sh
  tests/functional/local-overlay-store/optimise.sh
  tests/functional/local-overlay-store/redundant-add-inner.sh
  tests/functional/local-overlay-store/redundant-add.sh
  tests/functional/local-overlay-store/stale-file-handle.sh
  tests/functional/local-overlay-store/verify-inner.sh
  tests/functional/local-overlay-store/verify.sh
Labels: with-tests

#14058 C API: add log format and verbosity functions
  src/libmain-c/nix_api_main.cc
  src/libmain-c/nix_api_main.h
  src/libutil-c/nix_api_util.cc
  src/libutil-c/nix_api_util.h
Labels: c api

#14111 Prevent infinite symlink loop in followLinksToStore()
  src/libstore/store-api.cc
Labels: store

#14116 shellcheck fixes CA functional tests
  maintainers/flake-module.nix
  tests/functional/ca/build-delete.sh
  tests/functional/ca/build-dry.sh
  tests/functional/ca/eval-store.sh
  tests/functional/ca/gc.sh
  tests/functional/ca/import-from-derivation.sh
  tests/functional/ca/multiple-outputs.sh
  tests/functional/ca/new-build-cmd.sh
  tests/functional/ca/nix-shell.sh
  tests/functional/ca/post-hook.sh
  tests/functional/ca/recursive.sh
  tests/functional/ca/repl.sh
  tests/functional/ca/selfref-gc.sh
  tests/functional/ca/why-depends.sh
Labels: with-tests

#14114 shellcheck fixes continued
  maintainers/flake-module.nix
  tests/functional/flakes/prefetch.sh
  tests/functional/flakes/run.sh
  tests/functional/flakes/show.sh
  tests/functional/formatter.sh
  tests/functional/gc-auto.sh
  tests/functional/gc-concurrent.builder.sh
  tests/functional/gc-concurrent.sh
  tests/functional/gc-concurrent2.builder.sh
  tests/functional/gc-non-blocking.sh
  tests/functional/hash-convert.sh
  tests/functional/impure-derivations.sh
  tests/functional/install-darwin.sh
  tests/functional/linux-sandbox.sh
  tests/functional/logging.sh
  tests/functional/misc.sh
  tests/functional/multiple-outputs.sh
  tests/functional/nested-sandboxing.sh
  tests/functional/nested-sandboxing/command.sh
  tests/functional/nix-build.sh
  tests/functional/nix-channel.sh
  tests/functional/nix-collect-garbage-d.sh
  tests/functional/nix-copy-ssh-common.sh
  tests/functional/nix-copy-ssh-ng.sh
  tests/functional/nix-profile.sh
  tests/functional/nix-shell.sh
  tests/functional/nix_path.sh
  tests/functional/optimise-store.sh
  tests/functional/output-normalization.sh
  tests/functional/parallel.builder.sh
  tests/functional/parallel.sh
Labels: with-tests

#14120 feat(libstore/http-binary-cache-store): narinfo/ls/log compression
  doc/manual/rl-next/http-binary-cache-compression.md
  src/libstore/http-binary-cache-store.cc
  src/libstore/include/nix/store/binary-cache-store.hh
  tests/nixos/content-encoding.nix
  tests/nixos/default.nix
  tests/nixos/gzip-content-encoding.nix
Labels: documentation, store
